@each $color, $value in $theme-colors {
    .btn-#{$color} {
        &:focus{
            color: color-yiq(darken($value, 7.5%));
        }
    }
}

.btn{
    &:disabled,
    &.disabled,
    &[disabled="disabled"]{
        cursor: not-allowed;
    }

    &.btn-inline{
        margin: 0px;
        padding: 0px;
        border: none;
    }
}

.btn-primary{
    &.selected{
        border-color: darken($primary-color, 7.5%);
        background: darken($primary-color, 7.5%);
        color: color-yiq(darken($primary-color, 7.5%));
    }
}

.btn-warning{
    color: $white !important;
}

.btn-dashboard{
    display: block;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.btn-form-no-label{
    margin-top: 2.3rem;
}

.btn-outline-primary{
    background: $white;

    &:hover,
    &:focus,
    &:focus:active{
        border-color: $white;
    }
}

.btn-info{
    &.active{
        .text-info{
            color: $white !important;
        }
    }
}