.dropdown-item{
    font-size: 1.2rem;
    overflow: hidden;

    &:active,
    &:active:focus{
        background: $primary-color;
        color: $white !important;
    }

    &.disabled,
    &:disabled{
        background: none !important;
        color: $gray !important;

        &:hover{
            cursor: not-allowed;
        }
    }
}

.dropdown-toggle{
    position: relative;
    padding-right: 2.5rem;

    &.only-icon{
        padding-right: 1.7rem;

        &:after{
            margin-left: 0px;
        }
    }

    &:after{
        position: absolute;
        right: 1rem;
        top: 50%;
        display: block;
        margin-top: -2px;
    }
}

.dropdown-menu{
    min-width: 100%;
    max-width: 320px;
    overflow: hidden;

    &.right{
        right: 0px;
        left: auto;
    }
}

.add-scroll{
    .dropdown-menu{
        max-height: 100px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.dropdown-container{
    position: relative;
}
