.edit-profile{
    padding-bottom: 4rem;

    .desktop-actions{
        display: none;
    }

    .mobile-section-selector-container{
        display: block;

        .select-wrapper{
            display: inline-block;
        }
    }
    
    .profile-tabs{
        & > .nav-tabs{
            display: none;
        }
    }

    .mobile-actions{
        margin-bottom: 2rem;
        border-bottom: 2px solid $gray-100;

        & > ul{
            @include normalize-listing;
        }

        .btn{
            display: block;
            width: 100%;

            &.btn-link{
                text-align: right;
            }
        }
    }

    .card-listing{
        @include normalize-listing;
        display: grid;
        margin-right: -1.5rem;
        margin-left: -1.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        & > li{
            padding-right: 1.5rem;
            padding-left: 1.5rem;

            &:nth-child(3) {
                margin-top: 3rem;
                @include set-grid(2,1,1,2);
            }
            &:nth-child(4) {
                margin-top: 3rem;
                @include set-grid(3,1,1,2);
            }
            &:nth-child(5) {
                margin-top: 3rem;
                @include set-grid(4,1,1,2);
            }
            &:nth-child(6) {
                margin-top: 3rem;
                @include set-grid(5,1,1,2);
            }
            &:nth-child(7) {
                margin-top: 3rem;
                @include set-grid(6,1,1,2);
            }
            &:nth-child(8) {
                margin-top: 3rem;
                @include set-grid(7,1,1,2);
            }
            &:nth-child(9) {
                margin-top: 3rem;
                @include set-grid(8,1,1,2);
            }
        }

        .card{
            min-height: 100%;
        }
    }

    .enable-listing{
        @include normalize-listing;
        @include clearfix;
        display: grid;
        margin-left: -.75rem;
        margin-right: -.75rem;
        grid-template-columns: 1fr 40px;
        grid-template-rows: auto;

        & > li{
            padding: 0px .75rem;

            &:nth-child(1) {
                //padding-right: 6rem;
            }

            &:nth-child(2){
                align-self: start;
                text-align: center;

                .form-privacy{
                    input{
                        & + span{
                            padding-top: .8rem;
                            padding-bottom: .8rem;
                        }
                    }
                }
            }

            &.center{
                align-self: center;
            }
        }

        &.no-labels{
            & > li{
                &:nth-child(2){
                    label {
                        margin-top: 0rem;
                    }
                }
            }
        }

        .checkbox-container{
            display: inline-block;
            min-height: 100%;

            vertical-align: top;

            &.add-background{
                background: $gray-100;
            }

            &.privacy{
                margin-top: 2.3rem;
            }

            .form-checkbox{
                //line-height: 1;

                input{
                    & + span {
                        //line-height: 1;

                        &:before{
                            margin: 0px;
                        }
                    }
                }
            }
        }

        .checkbox-legend{
            margin-bottom: .5rem;
            font-size: .9rem;
            line-height: 1rem;
            text-align: center;
        }
    }

    .listing-title{
        @include h4;
    }

    .item-listing{
        @include normalize-listing;

        &.add-lines{
            & > li{
                & + li{
                    margin-top: 2rem;
                    padding-top: 2rem;
                    border-top: 2px solid $gray-100;
                }
            }
        }
    }

    .title-listing{
        margin-bottom: 2rem;
    }

    .field-listing,
    .certificate-field-listing,
    .skill-field-listing,
    .skill-category-field-listing,
    .experience-form,
    .education-form{
        @include normalize-listing;
    }

    .category-skills{
        @include normalize-listing;
        padding-left: 5rem;
    }

    .enable-about-label{
        display: block;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .form-actions{
        @include normalize-listing;
        @include clearfix;
        margin: 3rem -.75rem 0px -.75rem;

        & > li{
            display: block;
            float: left;
            padding-right: .75rem;
            padding-left: .75rem;
        }
    }



    .iit-website-options{
        @include normalize-listing;

        & > li{
            margin-bottom: 1rem;
        }
    }

    .profile-legend{
        margin-top: 2rem;
        font-size: 1rem;
        color: $gray-600;

        ul{
            @include normalize-listing;
        }

        .fas{
            min-width: 1.5rem;
        }
    }

    .image-container{
        position: relative;
        max-width: 150px;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;

        .btn-remove-image{
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            padding: 0px;
            background: rgba(0,0,0,0.2);
            border: none;
            cursor: pointer;
            color: $white;
        }
    }
}

@include media-breakpoint-up(sm) {
    .edit-profile{
        .mobile-actions{
            border-bottom: 0px;

            & > ul{
                display: grid;
                margin-right: -1.5rem;
                margin-left: -1.5rem;
                grid-template-columns: 1fr 1fr 1fr;

                & > li{
                    padding-right: 1.5rem;
                    padding-left: 1.5rem;

                    &:nth-child(1) {
                        @include set-grid(1,1,1,1);
                    }

                    &:nth-child(2) {
                        @include set-grid(1,2,1,1);
                    }

                    &:nth-child(3) {
                        @include set-grid(1,3,1,1);
                    }
                }
            }

            &.has-4-actions{
                & > ul{
                    grid-template-columns: 1fr 1fr 1fr 1fr;

                    & > li{
                        &:nth-child(1) {
                            @include set-grid(1,1,1,1);
                        }

                        &:nth-child(2) {
                            @include set-grid(1,2,1,1);
                        }

                        &:nth-child(3) {
                            @include set-grid(1,3,1,1);
                        }

                        &:nth-child(4) {
                            @include set-grid(1,4,1,1);
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .edit-profile{

        .desktop-actions{
            display: block;
        }

        .mobile-actions,
        .mobile-section-selector-container{
            display: none;
        }

        .profile-tabs{
            & > .nav-tabs{
                display: flex;
            }
        }

        .enable-listing {
            grid-template-columns: 1fr 80px;
        }

        .field-listing{
            @include normalize-listing;
            display: grid;
            margin: 0px -.75rem;
            grid-template-columns: 1fr auto auto;
            grid-template-rows: auto;

            & > li{
                padding-right: .75rem;
                padding-left: .75rem;
            }
        }

        .experience-form{
            display: grid;
            margin: 0px -.75rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            & > li{
                padding-right: .75rem;
                padding-left: .75rem;

                &:nth-child(7) {
                    @include set-grid(4,1,1, 2);
                }
            }
        }

        .education-form{
            display: grid;
            margin: 0px -.75rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            & > li {
                padding-right: .75rem;
                padding-left: .75rem;
            }
        }

        .certificate-field-listing,
        .skill-field-listing,
        .skill-category-field-listing{
            display: grid;
            margin: 0px -.75rem;
            grid-template-columns: 1fr auto auto auto;
            grid-template-rows: auto;

            & > li{
                padding-right: .75rem;
                padding-left: .75rem;
            }
        }

        .action-column{
            padding-top: 2.3rem;
        }
    }
}