label{
    display: block;
    font-weight: bold;
}

.form-group{
    margin-bottom: 2rem;
}

.form-control{
    height: auto;
    min-height: 3rem;

    &:disabled,
    &.disabled{
        cursor: not-allowed;
        color: $base-gray;
        background: $gray-100;
    }

    &.is-invisible{
        background: $gray-50;
    }
}

.form-control,
.select-wrapper,
.input-group{
    &.is-invalid{
        border-color: $error-color;

        & ~ .error-messages{
            .invalid-feedback{
                display: block;
            }
        }
    }
}

.has-error{
    .form-control,
    .select-wrapper,
    .input-group{
        &.is-invalid{
            border-color: $apple-blossom;
        }
    }
}

.has-warning{
    .form-control,
    .select-wrapper,
    .input-group{
        &.is-invalid{
            border-color: $neon-carrot;
        }
    }

    label,
    i,
    .invalid-feedback{
        color: $neon-carrot;
    }
}

.form-checkbox{
    &,
    label{
        margin-bottom: 0px;
        font-weight: normal;
        line-height: 1;
    }

    input{
        display: none;

        & + span{
            position: relative;
            display: inline-block;
            vertical-align: top;
            line-height: 1;

            &:before{
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 5px;
                vertical-align: top;
                border-radius: 0.25rem;
                border: 1px solid $gray-300;
                background: $white;
                content: '';
            }
        }

        &:checked{
            & + span{
                &:after{
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    font-family: $font-awesome;
                    font-size: .8rem;
                    font-weight: 900;
                    content: '\f00c';
                }
            }
        }

        &:disabled{
            & + span{
                cursor: not-allowed;
                color: $base-gray;

                &:before{
                    background: $gray-100;
                }
            }
        }
    }

    + .form-checkbox-description{
        display: block;
        margin-top: .5rem;
    }
}

.form-privacy {
    &,
    label {
        margin-bottom: 0px;
        font-weight: normal;
        line-height: 1;
    }

    input {
        display: none;

        & + span {
            position: relative;
            display: inline-block;
            padding: 2rem;
            vertical-align: top;
            line-height: 1;
            cursor: pointer;

            &:before {
                display: block;
                width: 14px;
                font-family: $font-awesome;
                font-size: 1.4rem;
                font-weight: 900;
                content: '\f023';
                text-align: center;
            }
        }

        &:checked {
            & + span {
                &:before {
                    content: '\f57c';
                }
            }
        }

        &:disabled{
            & + span{
                cursor: not-allowed;

                &:before{
                    color: $gray;
                }
            }
        }
    }
}

.privacy-selector{
    @include normalize-listing;
    margin-top: 2.3rem;

    &.no-label{
        margin-top: 0px;
    }

    & > li {
        display: block;
    }

    label{
        margin: 0px;
    }

    input[type='radio'] {
        display: none;

        & + span {
            position: relative;
            display: none;
            padding: .8rem 2rem;
            vertical-align: top;
            line-height: 1;
            cursor: pointer;

            &:before {
                display: block;
                //width: 14px;
                font-family: $font-awesome;
                font-size: 1.4rem;
                font-weight: 900;
                //content: '\f023';
                text-align: center;
            }
        }

        &[value='public'] {
            & + span {
                &:before {
                    content: '\f57c';
                }
            }
        }

        &[value='locked'] {
            & + span {
                &:before {
                    content: '\f023';
                }
            }
        }

        &[value='invisible'] {
            & + span {
                &:before {
                    content: '\f070';
                }
            }
        }

        &:checked {
            & + span {
                display: block;
            }
        }
    }
}

.form-favorite {
    &,
    label {
        margin-bottom: 0px;
        font-weight: normal;
        line-height: 1;
    }

    input {
        display: none;

        & + span {
            position: relative;
            display: inline-block;
            padding: 0.8rem 0px;
            vertical-align: middle;
            line-height: 1;
            cursor: pointer;

            &:before {
                display: block;
                width: 14px;
                font-family: $font-awesome;
                font-size: 1.4rem;
                font-weight: normal;
                content: '\f005';
                text-align: center;
            }
        }

        &:checked {
            & + span {
                &:before {
                    font-weight: 900;
                }
            }
        }

        &:disabled{
            & + span{
                cursor: not-allowed;

                &:before{
                    color: $gray;
                }
            }
        }
    }
}

.radio-options{
    @include normalize-listing;

    & > li {
        & + li {
            margin-top: 1rem;
        }
    }
}

.form-radiobutton{
    &,
    label{
        margin-bottom: 0px;
        font-weight: normal;
        line-height: 1;
    }

    input{
        display: none;

        & + span{
            position: relative;
            display: inline-block;
            vertical-align: top;
            line-height: 1;

            &:before{
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 5px;
                vertical-align: top;
                border-radius: 50%;
                border: 1px solid $gray-300;
                background: $white;
                content: '';
            }
        }

        &:checked{
            & + span{
                &:after{
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    display: block;
                    height: 6px;
                    width: 6px;
                    border-radius: 50%;
                    content: '';
                    background: $mine-shaft;
                }
            }
        }

        &:disabled{
            & + span{
                cursor: not-allowed;
                color: $base-gray;

                &:before{
                    background: $gray-100;
                }
            }
        }
    }
}

.multiselect-list{
    @include normalize-listing;

    .list-group-item{
        border-color: $gray-300;
    }
}

.select-wrapper{
    position: relative;

    &:before{
        position: absolute;
        right: 10px;
        top: 50%;
        z-index: 1;
        margin-top: -6px;
        font-family: $font-awesome;
        font-weight: 900;
        line-height: 1;
        content: '\f0d7';
    }

    select{
        position: relative;
        z-index: 2;
        display: block;
        width: 100%;
        height: 30px;
        padding-right: 2rem;
        color: $base-gray;
        border: 1px solid $gray-300;
        border-radius: 0.25rem;
        background: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:focus,
        &:active:focus{
            background: none;
        }
    }

    select::-ms-expand {
        display: none;
    }

    option{
        &:disabled{
            cursor: not-allowed;
            background: lighten($silver, 15%);
        }
    }

    &.has-error{
        &:before{
            color: $error-color;
        }
    }
}

.has-feedback{
    position: relative;

    & > label{
        padding-right: 10px;
    }

    .form-control-feedback{
        position: absolute;
        top: 32px;
        right: 8px;
    }
}

.has-error{
    label,
    i{
        color: $error-color;
    }
}

.invalid-feedback{
    display: block;
    margin-top: .5rem;
    font-size: 100%;
    line-height: 1;
    color: $error-color;

    ul{
        @include normalize-listing;

        & > li {
            margin-bottom: .5rem;
        }
    }
}

.filter-form-container{
    .filter-mobile-title{
        @include h4;
        position: relative;
        display: none;

        &,
        &:hover,
        &:focus,
        &:active:focus{
            color: $mine-shaft;
        }

        &:after{
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            font-family: $font-awesome;
            font-weight: 900;
            content: '\f107';
        }

        .open-collapse,
        .close-collapse{
            font-size: 1.2rem;
            color: $gray-300;
        }

        .open-collapse{
            display: none;
        }

        .close-collapse{
            display: inline-block;
        }

        &.is-collapsed{
            &:after{
                content: '\f104';
            }

            .open-collapse{
                display: inline-block;
            }

            .close-collapse{
                display: none;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .filter-form-container{

        .filter-mobile-title{
            display: block;
        }

        .button-container,
        .btn{
            display: block;
            width: 100%;
        }
    }
}

@include media-breakpoint-up(md) {
    .filter-form-container{
        .collapse{
            display: block;
            height: auto !important;
        }
    }
}
