.group-detail-listing{
    @include normalize-listing;

    strong{
        display: block;
    }

    ul{
        @include normalize-listing;
        padding-top: 1rem;

        li{
            position: relative;
            padding-left: 2rem;

            &:before{
                position: absolute;
                top: 0px;
                left: .5rem;
                display: block;
                height: 100%;
                content: '';
                border-left: 1px dotted $gray-400;
            }

            &:after{
                position: absolute;
                top: 1rem;
                left: .5rem;
                width: 1rem;
                content: '';
                border-bottom: 1px dotted $gray-400;
            }

            &:last-child {
                &:before{
                    top: 0px;
                    height: 1rem;
                }
            }
        }
    }

    strong + ul{
        padding-top: 0px;
    }

    a + ul{
        position: relative;

        &:before{
            position: absolute;
            top: 0rem;
            left: .5rem;
            display: block;
            height: 1rem;
            content: '';
            border-left: 1px dotted $gray-400;
        }
    }

    .subgroup-listing{
        padding-bottom: 1rem;
    }
}