.icon-iit {
    display: inline-block;
    width: 16px;
    height: auto;
    vertical-align: middle;
}

.icon-scopus {
    display: inline-block;
    width: 16px;
    height: auto;
    vertical-align: middle;
}

.icon-open-access {
    display: inline-block;
    width: auto;
    height: 17px;
    vertical-align: top;
}

.icon-scopus-deleted {
    display: inline-block;
    width: 16px;
    height: auto;
    vertical-align: middle;
}

.icon-wos {
    display: inline-block;
    width: 16px;
    height: auto;
    vertical-align: middle;
}

.icon-documents{
    color: $document-color;
}

.icon-h-index{
    color: $h-index-color;
}

.icon-citations{
    color: $citation-color;
}

.icons-if{
    line-height: 2rem;
    color: $impact-factor-color;
}

.icon-if{
    &:before{
        font-family: $roboto-slab;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: bold;
        font-style: normal;
        content: 'IF';
    }
}