.icon-iit {
    display: inline-block;
    width: 16px;
    height: auto;
    vertical-align: middle;
}

.icon-scopus {
    display: inline-block;
    width: 16px;
    height: auto;
    vertical-align: middle;
}

.icon-scopus-deleted {
    display: inline-block;
    width: 16px;
    height: auto;
    vertical-align: middle;
}

.icon-wos {
    display: inline-block;
    width: 16px;
    height: auto;
    vertical-align: middle;
}

.icon-documents{
    color: $primary-color;
}

.icon-h-index{
    color: $error-color;
}

.icon-citations{
    color: $warning-color;
}

.icons-if{
    line-height: 2rem;
    color: $success-color;
}

.icon-if{
    &:before{
        @include h4;
        line-height: 2rem;
        font-weight: bold;
        font-style: normal;
        content: 'IF';
    }
}