.list-group-item{
    padding: 1rem 1rem;
    font-size: 1.2rem;
    border-color: $gray-300;
    transition: .1s all;

    &,
    a:not(.badge):not(.btn){
        color: color-yiq($gray-300);
    }

    &.active{
        border-color: $primary-color;
        background: $primary-color;
        color: color-yiq($primary-color);

        &:hover,
        &:focus,
        &:active:focus{
            background: darken($primary-color, 7.5%);

            &,
            a:not(.badge):not(.btn){
                color: color-yiq($primary-color);
            }
        }
    }

    &:hover,
    &:active:focus{
        background: $gray-300;

        &,
        a:not(.badge):not(.btn){
            color: color-yiq($gray-300);
        }
    }
}