.pagination{
    @include clearfix;
    font-size: 1.2rem;
    justify-content: center;

    .page-link{
        color: $primary-color;
    }

    .page-item{
        &.active{
            .page-link{
                background: $primary-color;
                border-color: $primary-color;
            }
        }
    }
}