.profile{
    .profile-blocks{
        @include normalize-listing;

        & > li{
            margin-bottom: 3rem;
        }
    }

    .profile-block{
        display: block;
        min-height: 100%;
        padding: 2rem;
        border: 1px solid $gray-300;
        border-radius: 0.25rem;
    }

    .block-basic-info{
        position: relative;

        .profile-block{
            text-align: center;
        }

        .profile-image{
            margin-bottom: .5rem;
        }

        .name,
        .job-title,
        .position{
            margin-bottom: .5rem;
        }

        .research-lines,
        .centers{
            @include normalize-listing;
            @include clearfix;
            margin-bottom: .5rem;

            & > li {
                display: inline;

                & + li{
                    &:before{
                        content: ', ';
                    }
                }
            }
        }

        .titles{
            @include normalize-listing;
            @include clearfix;
            color: $gray-500;

            & > li {
                display: block;
                float: left;

                & + li{
                    &:before{
                        content: ', ';
                    }
                }
            }
        }

        .card-container{
            @include normalize-listing;

            .profile-block{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            &,
            .main-card,
            .contact-card{
                display: block;
                height: 100%;
            }
        }

        .contact-card{
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            background: $gray-100;
            opacity: 0;
            transition: .2s all;
        }
    }

    .block-export{
        ul{
            @include normalize-listing;

            & > li{
                display: block;
                margin-bottom: 1rem;
            }
        }

        .btn{
            width: 100%;
        }

        .export-options{
            margin-bottom: 2rem;

            & > li{
                margin-bottom: .5rem;
            }
        }
    }

    .block-experiences,
    .block-educations,
    .block-certificates,
    .block-skills,
    .block-documents,
    .block-accomplishments{
        .profile-block {
            display: flex;
            flex-direction: column;
        }

        .button-container{
            margin-top: auto;
            margin-left: auto;
        }
    }

    .contact-listing{
        @include normalize-listing;

        & > li{
            display: block;
            margin-bottom: 1rem;
        }

        .fas,
        .fab{
            font-size: 1.5rem;
        }

        .fas{
            margin-right: .5rem;
        }
    }

    .socials-listing{
        @include normalize-listing('true');
        @include clearfix;

        & > li{
            display: block;
            float: left;
            padding: .5rem;
        }

        a{
            display: block;
            line-height: 1;
        }
    }

    .profile-about{
        & + .profile-interests{
            margin-bottom: 4rem;
        }
    }

    .profile-interests{
        .block-title{
            margin-bottom: 1rem;
        }
    }

    .show-more{
        display: inline-block;
        margin-top: auto;
        margin-left: auto;
        padding: 0px;
        background: none;
        border: 0px;

        &:after{
            margin-left: .5rem;
            font-family: $font-awesome;
            content: '\f054';
            font-weight: 900;
            font-style: normal;
        }
    }

    .skill-listing,
    .interest-listing{
        @include normalize-listing;
        @include clearfix;
        margin: 0px -.5rem;

        li{
            display: block;
            margin: .5rem;
            padding: .5rem 1rem;
            float: left;
            border: 1px solid $gray-300;
            border-radius: 1.5rem;
        }
    }

    .block-title{
        font-size: 2rem;
        line-height: 2.4rem;
    }

    .title-icon{
        color: $primary-color;
    }

    .block-documents,
    .block-accomplishments{
        .amount{
            font-family: $roboto-slab;
            font-size: 6rem;
            line-height: 6rem;
        }

        .title-icon{
            margin-left: .5rem;
            font-size: 2rem;
        }

        .last-item-container{
            margin-top: 2rem;
        }
    }

    .block-experiences,
    .block-educations,
    .block-certificates{
        .block-title{
            margin-top: .5rem;
        }
    }

    .block-experiences,
    .block-educations,
    .block-certificates,
    .block-skills{
        .title-icon{
            margin-right: .5rem;
            font-size: 2rem;
        }
    }

    .favorite-certificates-listing{
        @include normalize-listing;
        margin-top: .5rem;
        margin-bottom: 1rem;

        & > li{
            & + li{
                margin-top: 1rem;
            }
        }
    }

    .company-listing{
        @include normalize-listing;

        & > li{
            @include clearfix;
            margin-bottom: 3rem;
        }

        .company{
            @include h4;
        }

        .company-description{
            display: block;
            margin-bottom: 1rem;
            color: $gray-300;
        }
    }

    .job-listing{
        @include normalize-listing;

        & > li{
            margin-bottom: 2rem;
        }

        &.multiple{
            & > li{
                position: relative;
                padding-left: 2rem;

                &:before{
                    position: absolute;
                    top: 1rem;
                    left: 0px;
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: $gray-300;
                    content: '';
                }

                &:after{
                    position: absolute;
                    top: 3rem;
                    left: .3rem;
                    display: block;
                    height: calc(100% - 2rem);
                    content: '';
                    border-left: 1px solid $gray-300;
                }

                &:last-child{
                    &:after{
                        display: none;
                    }
                }
            }
        }

        .job-title,
        .period,
        .location,
        .description {
            display: block;
        }

        .period,
        .location{
            color: $gray-300;
        }

        .job-title{
            @include h6;
        }
    }

    .education-listing{
        @include normalize-listing;

        & > li{
            @include clearfix;
            margin-bottom: 3rem;
        }

        .institute,
        .title,
        .period,
        .location{
            display: block;
        }

        .institute{
            //@include h5;
        }

        .title{
            @include h6;
        }

        .period,
        .location{
            color: $gray-300;
        }
    }

    .certificate-listing{
        @include normalize-listing;

        & > li{
            margin-bottom: 3rem;
        }

        .title{
            @include h6;
        }

        .description{
            margin-bottom: 0px;
        }

        .date{
            color: $gray-300;
        }
    }

    .skill-categories,
    .document-categories,
    .document-listing,
    .accomplishment-categories,
    .accomplishment-listing{
        @include normalize-listing;

        & > li{
            & + li{
                margin-top: 3rem;
            }
        }
    }

    .skill-category,
    .document-category,
    .accomplishment-category{
        display: block;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid $gray-100;
        color: $gray-300;
    }

    .document-details,
    .accomplishment-details{
        @include normalize-listing;
        margin-top: .5rem;
    }

    .document-title,
    .accomplishment-title{
        margin-bottom: 0px;
    }

    .favorite-listing{
        @include normalize-listing;
        margin-bottom: 4rem;

        .block-title{
            margin-bottom: .5rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    .profile {
        .profile-blocks {
            display: grid;
            margin: 0px -1.5rem;
            grid-template-columns: repeat(12, [col] 1fr);
            grid-template-rows: auto;

            & > li {
                margin-bottom: 3rem;
                padding: 0px 1.5rem;
            }
        }

        .profile-block{
            padding: 4rem;
        }

        .block-documents,
        .block-accomplishments{
            .content-container{
                align-self: center;
            }
        }
    }
}

@include media-breakpoint-between(lg, xl) {
    .profile {
        .profile-blocks {
            &.top {
                &.has-about-me {
                    & > li {
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 12);
                        }

                        &:nth-child(2) {
                            @include set-grid(2, 1, 1, 8);
                        }

                        &:nth-child(3) {
                            @include set-grid(2, 9, 1, 4);
                        }
                    }
                }

                &.has-not-about-me {
                    & > li {
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 8);
                        }

                        &:nth-child(2) {
                            @include set-grid(1, 9, 1, 4);
                        }
                    }
                }
            }

            &.bottom {

                &.items-1 {
                    & > li {
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 6);
                        }
                    }
                }

                &.items-2 {
                    & > li {
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 6);
                        }

                        &:nth-child(2) {
                            @include set-grid(1, 7, 1, 6);
                        }
                    }
                }

                &.items-3 {
                    & > li {
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 4);
                        }

                        &:nth-child(2) {
                            @include set-grid(1, 5, 1, 4);
                        }

                        &:nth-child(3) {
                            @include set-grid(1, 9, 1, 4);
                        }
                    }
                }

                &.items-4 {
                    & > li {
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 6);
                        }

                        &:nth-child(2) {
                            @include set-grid(1, 7, 1, 6);
                        }

                        &:nth-child(3) {
                            @include set-grid(2, 1, 1, 6);
                        }

                        &:nth-child(4) {
                            @include set-grid(2, 7, 1, 6);
                        }
                    }
                }

                &.items-5 {
                    & > li {
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 6);
                        }

                        &:nth-child(2) {
                            @include set-grid(1, 7, 1, 6);
                        }

                        &:nth-child(3) {
                            @include set-grid(2, 1, 1, 12);
                        }

                        &:nth-child(4) {
                            @include set-grid(3, 1, 1, 6);
                        }

                        &:nth-child(5) {
                            @include set-grid(3, 7, 1, 6);
                        }
                    }
                }

                &.items-6 {
                    & > li {
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 6);
                        }

                        &:nth-child(2) {
                            @include set-grid(1, 7, 1, 6);
                        }

                        &:nth-child(3) {
                            @include set-grid(2, 1, 1, 6);
                        }

                        &:nth-child(4) {
                            @include set-grid(2, 7, 1, 6);
                        }

                        &:nth-child(5) {
                            @include set-grid(3, 1, 1, 12);
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-between(xl, xxl) {
    .profile {
        .profile-blocks {
            &.top {
                &.has-about-me {
                    & > li {
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 4);
                        }

                        &:nth-child(2) {
                            @include set-grid(1, 5, 1, 4);
                        }

                        &:nth-child(3) {
                            @include set-grid(1, 9, 1, 4);
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .profile {
        .profile-blocks {
            &.top{
                &.has-not-about-me{
                    & > li{
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 8);
                        }

                        &:nth-child(2) {
                            @include set-grid(1, 9, 1, 4);
                        }
                    }
                }
            }

            &.bottom{

                &.items-1{
                    & > li{
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 6);
                        }
                    }
                }

                &.items-2{
                    & > li{
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 6);
                        }

                        &:nth-child(2) {
                            @include set-grid(1, 7, 1, 6);
                        }
                    }
                }

                &.items-3{
                    & > li{
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 4);
                        }

                        &:nth-child(2) {
                            @include set-grid(1, 5, 1, 4);
                        }

                        &:nth-child(3) {
                            @include set-grid(1, 9, 1, 4);
                        }
                    }
                }

                &.items-4{
                    & > li{
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 6);
                        }

                        &:nth-child(2) {
                            @include set-grid(1, 7, 1, 6);
                        }

                        &:nth-child(3) {
                            @include set-grid(2, 1, 1, 6);
                        }

                        &:nth-child(4) {
                            @include set-grid(2, 7, 1, 6);
                        }
                    }
                }

                &.items-5{
                    & > li{
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 4);
                        }

                        &:nth-child(2) {
                            @include set-grid(1, 5, 1, 4);
                        }

                        &:nth-child(3) {
                            @include set-grid(1, 9, 1, 4);
                        }

                        &:nth-child(4) {
                            @include set-grid(2, 1, 1, 6);
                        }

                        &:nth-child(5) {
                            @include set-grid(2, 7, 1, 6);
                        }
                    }
                }

                &.items-6{
                    & > li{
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 3);
                        }

                        &:nth-child(2) {
                            @include set-grid(1, 4, 1, 3);
                        }

                        &:nth-child(3) {
                            @include set-grid(1, 7, 1, 3);
                        }

                        &:nth-child(4) {
                            @include set-grid(1, 10, 2, 3);
                        }

                        &:nth-child(5) {
                            @include set-grid(2, 1, 1, 9);
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xxl) {
    .profile {
        .profile-blocks {
            &.top {
                &.has-about-me {
                    & > li {
                        &:nth-child(1) {
                            @include set-grid(1, 1, 1, 5);
                        }

                        &:nth-child(2) {
                            @include set-grid(1, 6, 1, 5);
                        }

                        &:nth-child(3) {
                            @include set-grid(1, 11, 1, 2);
                        }
                    }
                }
            }
        }
    }
}

@media (pointer:coarse) {
    .profile {
        .block-basic-info {
            .contact-card{
                display: none;
            }
        }

        .block-about{
            .contact-listing{
                display: block;
            }
        }
    }
}

@media (pointer:fine) {
    .profile {
        .block-basic-info {
            .card-container {
                position: relative;

                &:after {
                    position: absolute;
                    bottom: 6px;
                    right: 10px;
                    font-family: $font-awesome;
                    font-style: normal;
                    font-weight: 900;
                    content: '\f25a';
                    color: $gray-200;
                }

                &:hover,
                &:focus {
                    .contact-card {
                        opacity: 1;
                    }

                    &:after {
                        color: $white;
                    }
                }
            }
            
            .contact-card{
                display: block;
            }
        }

        .block-about{
            .contact-listing{
                display: none;
            }
        }
    }
}