.progress-bar{
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 4px 0px 5px 0px;
    background-color: $curious-blue;
    border-radius: 0.25rem;
    vertical-align: top;
}