.tab-pane{
    padding: 2rem 0px 0px 0px;
}

.profile-tabs{
    .nav-link {
        display: block;
    }

    .nav-tabs{
        margin-left: -1rem;
        margin-right: -1rem;
        border: none;

        .nav-link{
            position: relative;
            padding: 0px 0px 5px 0px;
            border: none;
            border-radius: 0px;
            font-weight: bold;
            color: $gray-300;
            overflow: hidden;

            &:after{
                position: absolute;
                bottom: 0px;
                display: block;
                width: 100%;
                height: 2px;
                content: '';
                background-color: $gray-300;
                opacity: 0;
                transition: .1s all;
            }

            &.active{
                color: $primary-color;

                &:after{
                    opacity: 1;
                    background-color: $primary-color;
                }
            }

            &:hover,
            &:active,
            &:active:focus{
                &:after{
                    opacity: 1;
                }
            }
        }

        .nav-item{
            padding: 0.5rem 1rem;

            &.show{
                .nav-link{
                    color: $primary-color;

                    &:after{
                        opacity: 1;
                    }
                }
            }

            &.has-error{
                .nav-link{
                    color: $error-color;

                    &:after{
                        background-color: $error-color;
                    }
                }
            }
        }
    }
}