.toolbar{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 6;
    width: 100%;
}

.top-toolbar{
    min-height: 7rem;
    padding: 1.5rem 0px;
    background: $header-background-color;
    color: color-yiq($header-background-color);

    .top-toolbar-listing{
        @include normalize-listing;
        width: 100%;

        & > li{
            position: relative;
            display: flex;
            align-self: center;

            &:nth-child(2),
            &:nth-child(3){
                display: none;
            }
        }
    }

    .logo-link{
        display: inline-block;
        vertical-align: top;
    }

    .btn-link{
        max-width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.5rem;
        color: color-yiq($header-background-color);

        &:hover,
        &:focus,
        &:active:focus{
            background: rgba(0,0,0,.2);
            color: color-yiq($header-background-color);
            text-decoration: none;
        }
    }

    .toolbar-right-menu{
        @include normalize-listing;

        & > li{
            display: block;
            padding: 0px .5rem;
            float: left;
        }
    }

    .group-type-listing{
        @include normalize-listing;

        .group-type{
            display: block;
            margin-top: .5rem;
            padding-left: 1.5rem;
            font-weight: bold;
        }
    }

    .group-listing{
        @include normalize-listing;

        .dropdown-item{
            padding-left: 2.5rem;
        }
    }
}

@include media-breakpoint-up(md){
    .top-toolbar{
        .top-toolbar-listing{
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto 1fr auto;

            & > li{
                text-align: center;

                &:nth-child(2),
                &:nth-child(3){
                    display: block;
                }

                &:nth-child(1){
                    @include set-grid(1,1,1,1);
                }

                &:nth-child(2){
                    @include set-grid(1,2,1,1);
                }

                &:nth-child(3){
                    @include set-grid(1,3,1,1);
                }
            }
        }
    }
}
