html{
    font-size: 62.5%;
}

body{
    font-family: $open-sans;
    font-size: 1.2rem;
    color: $mine-shaft;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin-top: 0px;
    margin-bottom: 2rem;
}

@mixin h1() {
    font-family: $roboto-slab;
    font-size: 2.4rem;
    line-height: 2.6rem;

    @include media-breakpoint-up(sm) {
        font-size: 3rem;
        line-height: 3.2rem;
    }
}

@mixin h2() {
    font-family: $roboto-slab;
    font-size: 2.2rem;
    line-height: 2.4rem;

    @include media-breakpoint-up(sm) {
        font-size: 2.6rem;
        line-height: 2.8rem;
    }
}

@mixin h3() {
    font-family: $roboto-slab;
    font-size: 2rem;
    line-height: 2.2rem;

    @include media-breakpoint-up(sm) {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }
}

@mixin h4() {
    font-family: $roboto-slab;
    font-size: 1.8rem;
    line-height: 2rem;

    @include media-breakpoint-up(sm) {
        font-size: 2rem;
        line-height: 2.2rem;
    }
}

@mixin h5() {
    font-family: $roboto-slab;
    font-size: 1.6rem;
    line-height: 1.8rem;

    @include media-breakpoint-up(sm) {
        font-size: 1.8rem;
        line-height: 2rem;
    }
}

@mixin h6() {
    font-family: $roboto-slab;
    font-size: 1.4rem;
    line-height: 1.6rem;

    @include media-breakpoint-up(sm) {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
}

@mixin default-text() {
    margin-bottom: 3rem;

    &,
    p,
    ol,
    ul{
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    p,
    ol,
    ul{
        margin-bottom: 3rem;

        &:last-child{
            margin-bottom: 0px;
        }
    }

    ol,
    ul{
        padding-left: 20px;

         & > li{
            margin-bottom: 10px;
        }
    }

    a{
        color: $mine-shaft;
        text-decoration: underline;
    }
}

@mixin intro-text() {
    margin-bottom: 3rem;

    &,
    p,
    ol,
    ul{
        font-size: 2rem;
        line-height: 2.8rem;
    }

    p,
    ol,
    ul{
        margin-bottom: 3rem;

        &:last-child{
            margin-bottom: 0px;
        }
    }

    ol,
    ul{
        padding-left: 20px;

        & > li{
            margin-bottom: 10px;
        }
    }
}

.default-text,
.text{
    @include clearfix;
    @include default-text;
}

.intro-text{
    @include clearfix;
    @include intro-text;
}

h1,
.h1{
    @include h1;
}

h2,
.h2{
    @include h2;
}

h3,
.h3{
    @include h3;
}

h4,
.h4{
    @include h4;
}

h5,
.h5{
    @include h5;
}

h6,
.h6{
    @include h6;
}

::selection{
    background: $mine-shaft;
    color: $white;
}

::-moz-selection {
    background: $mine-shaft;
    color: $white;
}

a,
.has-action{
    color: $curious-blue;
    cursor: pointer;
    word-wrap: break-word;
    word-break: break-word;

    &:hover,
    &:focus,
    &:active:focus{
        color: $deep-cerulean;
        text-decoration: none;
    }
}

ol,
ul{
    padding-left: 2rem;
}