.ui-notification{
    width: 220px;
    border-radius: .25rem;
    box-shadow: none;
    pointer-events: none;

    .message{
        &::first-letter{
            text-transform: capitalize;
        }
    }

    &.warning {
        color: color-yiq($warning-color);
        background: $warning-color;
    }

    &.error {
        color: color-yiq($error-color);
        background: $error-color;
    }

    &.success {
        color: color-yiq($success-color);
        background: $success-color;
    }

    &.info {
        color: color-yiq($info-color);
        background: $info-color;
    }
}
