<div class="modal-header">
    <h3>{{ !!vm.collaborator ? 'Edit collaborator' : 'Collaborators' }}</h3>
    <button
        type="button"
        class="close"
        ng-click="vm.cancel()">
        <i class="fas fa-times"></i>
    </button>
</div>

<div class="modal-body">
    <table
        class="table"
        ng-if="!vm.collaborator"
    >
        <tr>
            <th>User</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="membership in vm.collaborators track by $index">
            <td>{{membership.user.getDisplayName()}}</td>
            <td>
                <i class="fa fa-times" ng-if="!membership.active"></i>
                <i class="fa fa-check" ng-if="membership.active"></i>
            </td>
            <td>
                <button
                    ng-click="vm.edit(membership)"
                    type="button"
                    class="btn btn-inline"
                    ng-disabled="vm.isDoingSomething"
                >
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button
                    ng-click="vm.remove(membership)"
                    type="button"
                    class="btn btn-inline"
                    ng-disabled="vm.isDoingSomething"
                >
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </table>

    <h4 ng-if="!vm.collaborator">{{ !!vm.isAlreadyACollaborator ? 'Edit' : 'Add' }} collaborator</h4>
    <div
        class="dropdown-container add-scroll add-collaborator-field-container"
        ng-if="!vm.collaborator"
    >
        <input
            type="text"
            class="form-control add-collaborator-field"
            ng-model="vm.selectedUser"
            uib-typeahead="user as user.getDisplayName() for user in vm.getUsers($viewValue)"
            typeahead-loading="searching"
            typeahead-no-results="noResults"
            data-ng-required="true"
            placeholder="Search User"
            ng-model-options="{ allowInvalid: true }"
            typeahead-editable="false"
            typeahead-select-on-blur="false"
            ng-disabled="vm.isDoingSomething"
        />
    </div>

    <div ng-if="vm.errorMessage" class="error-message text-warning">{{vm.errorMessage}}</div>

    <ul
        class="selected-user"
        ng-show="vm.selectedCollaborator"
    >
        <li>{{ vm.selectedCollaborator.getDisplayName() }}</li>
        <li>
            <label class="form-checkbox">
                <input
                    type="checkbox"
                    ng-model="vm.selectedUserActive"
                    ng-disabled="vm.userActiveDisabled"
                />
                <span>Active collaborator</span>
            </label>
        </li>
    </ul>

    <ul class="modal-buttons">
        <li>
            <button
                type="button"
                class="btn btn-primary"
                ng-disabled="!vm.selectedCollaborator || vm.isDoingSomething"
                ng-click="vm.addCollaborator(vm.group, vm.selectedCollaborator, vm.selectedUserActive)"
                title="Save"
            >
                Save
            </button>
        </li>
        <li>
            <scientilla-button
                type="cancel"
                click="vm.cancel"
            >Close</scientilla-button>
        </li>
    </ul>
</div>
