<div>
    <md-content>
        <md-list>
            <md-subheader class="md-no-sticky">
                <h3>Groups</h3>
            </md-subheader>
            <md-button ng-click="vm.createNew($event)" class="md-primary">Create New Group</md-button>
            <md-list-item class="md-2-line scientilla-main-list" ng-repeat="g in vm.groups">
                <md-divider class="top-divider"></md-divider> 
                <div>
                    <h3>{{ g.getDisplayName()}}</h3>
                </div>
                <md-button class="list-elem-button md-icon-button" ng-href="#/groups/{{g.id}}" aria-label="Details"><ng-md-icon icon="group"></ng-md-icon></md-button>
                <md-button class="list-elem-button md-icon-button" ng-show="vm.user.isAdmin() || vm.user.admins(g)" ng-click="vm.editGroup($event, g)" aria-label="Edit"><ng-md-icon icon="edit"></ng-md-icon></md-button>
                <md-button  ng-show="vm.user.isAdmin() || vm.user.admins(g)" class="list-elem-button md-icon-button" ng-click="vm.deleteGroup(g)" aria-label="Delete"><ng-md-icon icon="clear"></ng-md-icon></md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>
