<div>
    <h1>{{vm.group.getDisplayName()}}</h1>

    <hr>
    
    <div ng-if="vm.references.length">
        <h2>
            Document List
        </h2>
        <div ng-repeat="r in vm.references">
            <div class="row">
                <div class="col-md-8">
                    <scientilla-document document="r"></scientilla-document>
                </div>
                <div  class="col-md-4 text-right">
                    <h3>
                        <!-- buttons -->
                    </h3>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
