<div>
    <md-content>
        <md-list>
            <md-subheader class="md-no-sticky">Groups</md-subheader>
            <md-list-item class="md-2-line scientilla-main-list" ng-repeat="g in vm.groups">
                <div>
                    <h3>
                        <a ng-href="#/groups/{{g.id}}">{{ g.name}}</a>
                    </h3>
                </div>
                <md-button class="list-elem-button md-icon-button" ng-click="vm.deleteGroup(g)" aria-label="Delete"><ng-md-icon icon="delete"></ng-md-icon></md-button>
            </md-list-item>
        </md-list>
    </md-content>
    <md-button ng-href="#/groups/new" class="md-primary">Create New Group</md-button>
</div>
