<scientilla-backend-layout>
    <div class="groups groups-browsing">
        <div class="title-container">
            <h1 class="title">Groups</h1>

            <button
                ng-if="vm.user.isAdmin()"
                ng-click="vm.createNew()"
                class="btn btn-primary btn-add-group">
                Create New Group<i class="fas fa-plus fa-right"></i>
            </button>
        </div>

        <scientilla-filter
            category="group"
            on-filter="vm.onFilter"
            elements="vm.groups"
        >
            <ul class="group-listing">
                <li ng-repeat="g in vm.groups">
                    <div class="group-info-container">
                        <h3 class="group-title">
                            <a ng-href="#{{ g.getProfileUrl() }}">{{ g.getDisplayName() }}</a>
                            <span ng-if="vm.isAdmin() && g.code"> | {{ g.code }}</span>
                        </h3>

                        <ul class="group-info-listing">
                            <li>
                                {{ g.type }}
                                <span ng-if="g.pis.length > 0"> - </span>
                                <ul ng-if="g.pis.length">
                                    <li ng-repeat="pi in g.pis">
                                        <a ng-href="#{{ pi.getProfileUrl() }}">
                                            {{ pi.getDisplayName() }}
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li ng-if="g.getResearchDomain() || g.getInteractions().length">
                                Research domain:

                                <span ng-if="g.getResearchDomain()">
                                    <i class="fas fa-circle"></i> {{ g.getResearchDomain().name }}
                                </span>

                                <ul ng-if="g.getInteractions().length">
                                    <li ng-repeat="interaction in g.getInteractions()">
                                        <i class="far fa-circle fa-left"></i>{{ interaction.name }}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="group-action-container">
                        <div
                            class="btn-group"
                            ng-if="vm.user.isAdmin() || vm.user.admins(g)"
                            uib-dropdown>
                            <button
                                ng-click="vm.editGroup(g)"
                                type="button"
                                class="btn btn-primary">
                                    <i class="fas fa-edit fa-left"></i>Edit
                                </button>

                                <button
                                    type="button"
                                    class="btn btn-primary only-icon"
                                    uib-dropdown-toggle>
                                </button>

                                <div uib-dropdown-menu>
                                    <button
                                        class="dropdown-item"
                                        scientilla-click-confirm="Are you sure?"
                                        ng-click="vm.deleteGroup(g)"
                                        href="javascript:void(0)">
                                        <i class="fas fa-trash fa-left"></i>Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </scientilla-filter>
    </div>
</scientilla-backend-layout>
