<scientilla-backend-layout>
    <div>
        <h1>{{vm.group.getDisplayName()}}</h1>
        <small>
            <a ng-href="https://www.scopus.com/affil/profile.uri?afid={{vm.group.scopusId}}" target="_blank">
                Scopus
            </a>
        </small>
    </div>
    <br/>
    <div>
        <uib-tabset active="active">
            <uib-tab index="0">
                <uib-tab-heading>Members</uib-tab-heading>
                <h2>Members</h2>
                <div ng-repeat="m in vm.group.getActiveMembers()">
                    <div class="row">
                        <div class="col-md-10">
                            <a ng-href="#{{m.getProfileUrl()}}">
                                {{m| fullname}}
                            </a>
                            <small>{{m.jobTitle}}</small>
                        </div>
                        <div class="col-md-2 text-right">
                        </div>
                    </div>
                    <hr>
                    <div ng-if="vm.group.getActiveMembers().length === 0">No Members</div>
                </div>
                <h2>Collaborators</h2>
                <div ng-repeat="m in vm.group.getCollaborators()">
                    <div class="row">
                        <div class="col-md-10">
                            <a ng-href="#{{m.getProfileUrl()}}">
                                {{m| fullname}}
                            </a>
                            <small>{{m.jobTitle}}</small>
                        </div>
                        <div class="col-md-2 text-right">
                        </div>
                    </div>
                    <hr>
                </div>
                <div ng-if="vm.group.getCollaborators().length === 0">No Collaborators</div>
                <h2>Former Members</h2>
                <div ng-repeat="m in vm.group.getFormerMembers()">
                    <div class="row">
                        <div class="col-md-10">
                            <a ng-href="#{{m.getProfileUrl()}}">
                                {{m| fullname}}
                            </a>
                            <small>{{m.jobTitle}}</small>
                        </div>
                        <div class="col-md-2 text-right">
                        </div>
                    </div>
                    <hr>
                </div>
                <div ng-if="vm.group.getFormerMembers().length === 0">No Formers Members</div>

            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>Documents</uib-tab-heading>
                <scientilla-documents-list
                        research-entity="vm.group"
                        section="vm.documentListSections.GROUP"></scientilla-documents-list>
            </uib-tab>
        </uib-tabset>
    </div>
</scientilla-backend-layout>