<div class="modal-header">
    <h3>Edit group profile</h3>

    <button
        type="button"
        class="close"
        ng-click="vm.cancel()">
        <i class="fas fa-times"></i>
    </button>
</div>

<div class="modal-body edit-profile edit-group-profile">

    <div class="mobile-section-selector-container">
        <label for="mobile-section-selector">Select section:</label>
        <div class="select-wrapper">
            <select
                class="form-control"
                id="mobile-section-selector"
                name="mobile-section-selector"
                ng-change="vm.selectChanged()"
                ng-model="vm.selectedItem">
                <option value="0">Basic profile</option>
                <option value="1">Complete profile</option>
            </select>
        </div>
    </div>

    <uib-tabset
        active="vm.active"
        class="profile-tabs js-profile-tabs"
        ng-if="vm.group.type !== vm.groupTypes.DIRECTORATE"
    >
        <uib-tab
            index="0"
            heading="Basic information"
            ng-class="{'has-error' : vm.basicInformationHasErrors, 'changed' : vm.changed['basic-info']}"
        >
            <group-form-fields
                group="vm.group"
                profile="vm.profile"
                cover-image="vm.coverImage"
                type="basic"
            ></group-form-fields>

            <strong>My favorite documents</strong>
            <div ng-if="vm.favoriteDocuments.length > 0">
                <ul class="favorite-listing">
                    <li ng-repeat="document in vm.favoriteDocuments track by $index">
                        <a
                            href="{{ vm.urlAllDocuments }}?title={{ document.title }}"
                            ng-if="vm.urlAllDocuments"
                            ng-click="vm.cancel()"
                        >
                            {{ document.title }}
                        </a>
                        <span ng-if="!vm.urlAllDocuments">{{ document.title }}</span>
                    </li>
                </ul>
                <p>Click <a
                    href="{{ vm.urlFavoriteDocuments }}"
                    class="show-more has-action"
                    ng-click="vm.cancel()"
                >here</a> to see all favorite documents.
            </div>
            <div ng-if="vm.favoriteDocuments.length === 0">
                <p>You currently do not have any favorite documents, click <a
                    href="{{ vm.urlAllDocuments }}"
                    class="show-more has-action"
                    ng-click="vm.cancel()"
                >here</a> to see my documents.</p>

            </div>


        </uib-tab>

        <uib-tab
            index="1"
            heading="Complete profile"
            ng-class="{'has-error' : vm.completeProfileHasErrors, 'changed' : vm.changed['complete-profile']}"
        >
            <group-form-fields
                group="vm.group"
                profile="vm.profile"
                cover-image="vm.coverImage"
                type="complete-profile"
            ></group-form-fields>
        </uib-tab>
    </uib-tabset>

    <group-form-fields
        group="vm.group"
        profile="vm.profile"
        cover-image="vm.coverImage"
        type="complete-profile"
        ng-if="vm.group.type === vm.groupTypes.DIRECTORATE"
    ></group-form-fields>

    <profile-legend profile="vm.profile"></profile-legend>

    <ul class="form-actions">
        <li>
            <button
                class="btn btn-primary"
                ng-click="vm.save(true)"
                ng-disabled="!vm.areSaveButtonsEnabled"
            >
                <i class="fas fa-save fa-left"></i>Save & close
            </button>
        </li>
        <li>
            <button
                class="btn btn-outline-secondary"
                ng-click="vm.save()"
                ng-disabled="!vm.areSaveButtonsEnabled"
            >
                <i class="fas fa-save fa-left"></i>Save
            </button>
        </li>
        <li>
            <scientilla-button
                type="cancel"
                click="vm.cancel()">Close</scientilla-button>
        </li>
    </ul>
</div>
