
<label for="shortDescription">Short description<span class="max-length">{{ vm.remaining(vm.profile.shortDescription.value) }}/1000 characters left</span></label>
<ul class="enable-listing">
    <li>
        <scientilla-privacy-selector
            context-string="shortDescription"
            profile="vm.profile"
            errors="vm.profile.shortDescription.errors.privacy"
            model="vm.profile.shortDescription.privacy"></scientilla-privacy-selector>
    </li>
    <li>
        <div
            class="form-group"
            ng-class="{'has-error': vm.profile.shortDescription.errors.value}">
            <textarea
                name="shortDescription"
                id="shortDescription"
                class="form-control"
                cols="30"
                rows="10"
                ng-model="vm.profile.shortDescription.value"
                ng-class="{
                    'is-invalid': vm.profile.shortDescription.errors.value
                }"
            ></textarea>
            <scientilla-field-errors
                errors="vm.profile.shortDescription.errors.value"></scientilla-field-errors>
        </div>
    </li>
</ul>

<label for="achievements">Achievements<span class="max-length">{{ vm.remaining(vm.profile.achievements.value) }}/1000 characters left</span></label>
<ul class="enable-listing">
    <li>
        <scientilla-privacy-selector
            context-string="achievements"
            profile="vm.profile"
            errors="vm.profile.achievements.errors.privacy"
            model="vm.profile.achievements.privacy"></scientilla-privacy-selector>
    </li>
    <li>
        <div
            class="form-group"
            ng-class="{'has-error': vm.profile.achievements.errors.value}">
            <textarea
                name="achievements"
                id="achievements"
                class="form-control"
                cols="30"
                rows="10"
                ng-model="vm.profile.achievements.value"
                ng-class="{
                    'is-invalid': vm.profile.achievements.errors.value
                }"
            ></textarea>
            <scientilla-field-errors
                errors="vm.profile.achievements.errors.value"></scientilla-field-errors>
        </div>
    </li>
</ul>

<ng-container ng-if="vm.type === 'complete-profile'">
    <label for="description">Description</label>
    <ul class="enable-listing">
        <li>
            <scientilla-privacy-selector
                context-string="description"
                profile="vm.profile"
                errors="vm.profile.description.errors.privacy"
                model="vm.profile.description.privacy"></scientilla-privacy-selector>
        </li>
        <li>
            <div
                class="form-group"
                ng-class="{'has-error': vm.profile.description.errors.value}">
                <text-angular
                    name="description"
                    id="description"
                    cols="30"
                    rows="10"
                    ng-model="vm.profile.description.value"
                    ng-class="{
                        'is-invalid': vm.profile.description.errors.value,
                        'is-invisible' : vm.profile.description.privacy === 'invisible'
                    }"
                    ta-paste="vm.format($html)"
                ></text-angular>
                <scientilla-field-errors
                    errors="vm.profile.description.errors.value"></scientilla-field-errors>
            </div>
        </li>
    </ul>

    <label for="collaborations">Collaborations</label>
    <ul class="enable-listing">
        <li>
            <scientilla-privacy-selector
                context-string="collaborations"
                profile="vm.profile"
                errors="vm.profile.collaborations.errors.privacy"
                model="vm.profile.collaborations.privacy"></scientilla-privacy-selector>
        </li>
        <li>
            <div
                class="form-group"
                ng-class="{'has-error': vm.profile.collaborations.errors.value}">
                <text-angular
                    name="collaborations"
                    id="collaborations"
                    cols="30"
                    rows="10"
                    ng-model="vm.profile.collaborations.value"
                    ng-class="{
                        'is-invalid': vm.profile.collaborations.errors.value,
                        'is-invisible' : vm.profile.collaborations.privacy === 'invisible'
                    }"
                    ta-paste="vm.format($html)"
                ></text-angular>
                <scientilla-field-errors
                    errors="vm.profile.collaborations.errors.value"></scientilla-field-errors>
            </div>
        </li>
    </ul>

    <label for="laboratories">Laboratories</label>
    <ul class="enable-listing">
        <li>
            <scientilla-privacy-selector
                context-string="laboratories"
                profile="vm.profile"
                errors="vm.profile.laboratories.errors.privacy"
                model="vm.profile.laboratories.privacy"></scientilla-privacy-selector>
        </li>
        <li>
            <div
                class="form-group"
                ng-class="{'has-error': vm.profile.laboratories.errors.value}">
                <text-angular
                    name="laboratories"
                    id="laboratories"
                    cols="30"
                    rows="10"
                    ng-model="vm.profile.laboratories.value"
                    ng-class="{
                        'is-invalid': vm.profile.laboratories.errors.value,
                        'is-invisible' : vm.profile.laboratories.privacy === 'invisible'
                    }"
                    ta-paste="vm.format($html)"
                ></text-angular>
                <scientilla-field-errors
                    errors="vm.profile.laboratories.errors.value"></scientilla-field-errors>
            </div>
        </li>
    </ul>

    <label for="url">URL</label>
    <ul class="enable-listing">
        <li>
            <scientilla-privacy-selector
                context-string="url"
                profile="vm.profile"
                errors="vm.profile.url.errors.privacy"
                model="vm.profile.url.privacy"></scientilla-privacy-selector>
        </li>
        <li>
            <div
                class="form-group"
                ng-class="{'has-error': vm.profile.url.errors.value}"
            >
                <input
                    type="text"
                    class="form-control"
                    id="url"
                    placeholder="URL"
                    ng-model="vm.profile.url.value"
                    ng-class="{
                        'is-invalid': vm.profile.url.errors.value,
                        'is-invisible' : vm.profile.url.privacy === 'invisible'
                    }">
                <scientilla-field-errors
                    errors="vm.profile.url.errors.value"></scientilla-field-errors>
            </div>
        </li>
    </ul>

    <label class="label-topic">Topics</label>
    <ul class="item-listing topic-listing" ui-sortable="vm.options" ng-model="vm.profile.topics">
        <li ng-repeat="(key, topic) in vm.profile.topics track by $index">
            <ul class="enable-listing no-labels">
                <li>
                    <scientilla-privacy-selector
                        context-string="topics[{{ key }}]"
                        model="vm.profile.topics[key].privacy"
                        errors="vm.profile.topics[key].errors.privacy"
                        profile="vm.profile"></scientilla-privacy-selector>
                </li>
                <li>
                    <ul class="field-listing">
                        <li>
                            <div
                                class="form-group"
                                ng-class="{'has-error': vm.profile.topics[key].errors.value}">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Topic"
                                    ng-model="topic.value"
                                    ng-class="{
                                        'is-invalid': vm.profile.topics[key].errors.value,
                                        'is-invisible' : vm.profile.topics[key].privacy === 'invisible'
                                    }">
                                <scientilla-field-errors
                                    errors="vm.profile.topics[key].errors.value"></scientilla-field-errors>
                            </div>
                        </li>
                        <li class="desktop-actions">
                            <div class="form-group">
                                <div class="btn btn-outline-secondary">
                                    <i class="fas fa-arrows-alt"></i>
                                </div>
                            </div>
                        </li>
                        <li class="desktop-actions">
                            <div class="form-group">
                                <button
                                    class="btn btn-outline-secondary"
                                    ng-click="vm.removeItem({
                                        property: vm.profile.topics,
                                        index: key
                                    })">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </li>
                        <li class="mobile-actions">
                            <ul>
                                <li>
                                    <div class="form-group">
                                        <div
                                            class="btn btn-outline-secondary"
                                            ng-class="{'disabled': $index === 0}"
                                            ng-disabled="$index === 0"
                                            ng-click="vm.moveUpTopic(key, topic)" >
                                            <i class="fas fa-arrow-up fa-left"></i>Move up
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <div
                                            class="btn btn-outline-secondary"
                                            ng-class="{'disabled': $index === vm.profile.topics.length -1}"
                                            ng-disabled="$index === vm.profile.topics.length -1"
                                            ng-click="vm.moveDownTopic(key, topic)">
                                            <i class="fas fa-arrow-down fa-left"></i>Move down
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <button
                                            class="btn btn-outline-secondary"
                                            ng-click="vm.removeItem({
                                                property: vm.profile.topics,
                                                index: key
                                            })">
                                            <i class="fas fa-trash fa-left"></i>Delete
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <button
                class="btn btn-link btn-inline"
                ng-click="vm.addItem({
                    property: vm.profile.topics
                })">
                <i class="fas fa-plus fa-left"></i>Add topic
            </button>
        </li>
    </ul>

    <label for="image">Cover image</label>
    <ul class="enable-listing">
        <li>
            <scientilla-privacy-selector
                context-string="coverImage"
                model="vm.profile.coverImage.privacy"
                errors="vm.profile.coverImage.errors.privacy"
                profile="vm.profile"></scientilla-privacy-selector>
        </li>
        <li>
            <div
                class="form-group"
                ng-class="{'has-error': vm.profile.coverImage.errors.value}">
                <input
                    type="file"
                    class="form-control"
                    id="image"
                    placeholder="Cover image"
                    accept="image/*"
                    ng-if="!vm.profile.coverImage.value"
                    ng-class="{
                        'is-invalid': vm.profile.coverImage.errors,
                        'is-invisible' : vm.profile.coverImage.privacy === 'invisible'
                    }"
                    valid-file>
                <div
                    ng-if="vm.profile.coverImage.value"
                    class="image-container">
                    <img ng-src="{{ vm.pathProfileImages + vm.profile.coverImage.value }}" alt="" class="img-fluid cover-image">
                    <button class="btn-remove-image" ng-click="vm.profile.coverImage.value = vm.coverImage = ''"><i class="fas fa-trash"></i></button>
                </div>
                <em
                    class="image-info"
                    ng-if="!vm.profile.coverImage.value">We suggest to upload an image with the minimum resolution of 750px by 500px and a maximum file size of 500KB.</em>
                <scientilla-field-errors
                    errors="vm.profile.coverImage.errors.value"></scientilla-field-errors>
            </div>
        </li>
    </ul>
</ng-container>