<scientilla-backend-layout>
    <div class="groups group-detail">
        <h1>{{ vm.group.getDisplayName() }}</h1>

        <uib-tabset active="vm.activeTabIndex">
            <uib-tab
                index="0"
                heading="Info">
                <scientilla-group-info
                    ng-if="vm.group"
                    group="vm.group"></scientilla-group-info>
            </uib-tab>
            <uib-tab
                index="1"
                heading="Members">
                <scientilla-group-members
                    ng-if="vm.group"
                    group="vm.group"
                    refresh-group="vm.refreshGroup"></scientilla-group-members>
            </uib-tab>
            <uib-tab
                index="2"
                ng-show="vm.group.childGroups.length || vm.subResearchEntity.isAdmin()"
                heading="Groups">
                <scientilla-group-groups
                    ng-if="vm.group"
                    group="vm.group"
                    refresh-group="vm.refreshGroup"></scientilla-group-groups>
            </uib-tab>
            <uib-tab
                index="3"
                heading="Documents">
                <scientilla-documents-list
                    ng-if="vm.group"
                    research-entity="vm.group"
                    section="vm.documentListSections.GROUP"></scientilla-documents-list>
            </uib-tab>
            <uib-tab
                index="4"
                heading="Accomplishments">
                <scientilla-accomplishments-list
                    ng-if="vm.researchEntity"
                    research-entity="vm.researchEntity"
                    section="vm.accomplishmentListSections.GROUP"></scientilla-accomplishments-list>
            </uib-tab>
            <uib-tab
                index="5"
                heading="Documents Overview"
                ng-if="vm.loggedUser.isSuperViewer()">
                <summary-overview charts-data="vm.chartsData"></summary-overview>
            </uib-tab>
            <uib-tab
                index="6"
                heading="Bibliometric Charts"
                ng-if="vm.loggedUser.isSuperViewer()">
                <summary-metrics charts-data="vm.chartsData"></summary-metrics>
            </uib-tab>
        </uib-tabset>
    </div>
</scientilla-backend-layout>