<div class="group-info-tab">
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <tr>
                <td><strong>Type:</strong></td>
                <td>{{ vm.group.type }}</td>
            </tr>
            <tr ng-if="vm.group.pis.length">
                <td><strong>PI:</strong></td>
                <td>
                    <ul class="pi">
                        <li ng-repeat="pi in vm.group.pis">
                            <a ng-href="#{{ pi.getProfileUrl() }}">{{ pi.getDisplayName() }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr ng-if="vm.group.starting_date">
                <td><strong>Starting date:</strong></td>
                <td>{{ vm.group.starting_date | date : 'd LLLL yyyy' }}</td>
            </tr>
            <tr ng-if="vm.researchDomain">
                <td><strong>Research domain:</strong></td>
                <td>{{ vm.researchDomain.name }}</td>
            </tr>
            <tr ng-if="vm.interactions.length">
                <td><strong>Interactions:</strong></td>
                <td>
                    <ul class="interactions">
                        <li ng-repeat="interaction in vm.interactions">
                            {{ interaction.name }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr ng-if="vm.group.scopusId">
                <td><strong>Scopus:</strong></td>
                <td>
                    <a
                        ng-href="https://www.scopus.com/affil/profile.uri?afid={{vm.group.scopusId}}"
                        target="_blank">
                        Scopus profile
                    </a>
                </td>
            </tr>
            <tr>
                <td><strong>Current members*:</strong></td>
                <td>{{ vm.totalMembers }}</td>
            </tr>
        </table>
    </div>

    <div class="chart-container">
        <nvd3 options="vm.chart.options" data="vm.chart.data" class="chart"></nvd3>
        <p class="chart-info">* This representation of group members may not be accurate or up-to-date. 
            If you need to use this data, please contact the <a href="mailto:hr_servicedesk@iit.it">HCOD</a>.</p>
    </div>
</div>