<scientilla-filter
    category="group-member"
    on-filter="vm.onFilter"
    elements="vm.members"
    empty-list-message="No members found">

    <item-list>
        <ul class="group-member-listing">
            <li ng-repeat="m in vm.members" ng-class="m.cssClass">
                <div>
                    <a
                        ng-href="#{{ m.getProfileUrl() }}"
                        class="group-member-fullname"
                        >
                        {{ m | fullname }}
                    </a>
                    <ul class="member-info">
                        <li><strong>Job title:</strong> {{ m.jobTitle }}</li>
                        <li><strong>Label:</strong> {{ m.membership.type.label }}</li>
                    </ul>
                    <!-- TODO -->
                    <span
                        ng-if="m.membership.level>0"
                        title="Inherited from subgroups"
                        class="fa fa-user-times"></span>
                </div>
                <div>
                    <button
                        ng-click="vm.removeCollaborator(m)"
                        ng-if="vm.isAdmin() && m.membership.level === 0 && [vm.membershipTypes.COLLABORATOR.id,vm.membershipTypes.FORMER_COLLABORATOR.id].includes(m.membership.type.id)"
                        class="btn btn-primary"
                        title="Remove collaborator">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </li>
        </ul>
    </item-list>
</scientilla-filter>

<div
    ng-if="vm.isAdmin()"
    class="card">
    <div class="card-body d-print-none">
        <h2>Add collaborator</h2>
        <div class="dropdown-container add-scroll add-collaborator-field-container">
            <input
            type="text"
            class="form-control add-collaborator-field"
            ng-model="vm.selectedUser"
            uib-typeahead="user as user.getDisplayName() for user in vm.getUsers($viewValue)"
            typeahead-loading="searching"
            typeahead-no-results="noResults"
            data-ng-required="true"
            placeholder="Search User"
            ng-model-options="{ allowInvalid: true }"
            typeahead-editable="false"
            typeahead-select-on-blur="true"/>
        </div>

        <ul 
            class="selected-user";
            ng-show="vm.selectedUser">
            <li>{{ vm.selectedUser.getDisplayName() }}</li>
            <li>
                <label class="form-checkbox">
                    <input type="checkbox" ng-model="vm.selectedUserActive"/>
                    <span>Active member?</span>
                </label>
            </li>
            <li>
                <button
                    type="button"
                    class="btn btn-primary"
                    ng-click="vm.addCollaborator(vm.group, vm.selectedUser, vm.selectedUserActive)"
                    title="Add {{vm.selectedUser.getDisplayName()}} as a collaborator">
                    <i class="fas fa-plus fa-left"></i>Add collaborator
                </button>
            </li>
        </ul>
    </div>
</div>