<scientilla-backend-layout>
    <div>
        <h1>{{vm.group.getDisplayName()}}</h1>
        <small ng-if="vm.group.scopusId">
            <a ng-href="https://www.scopus.com/affil/profile.uri?afid={{vm.group.scopusId}}" target="_blank">
                Scopus profile
            </a>
        </small>
    </div>
    <br/>
    <div>
        <uib-tabset active="active">
            <uib-tab index="0">
                <uib-tab-heading>Members</uib-tab-heading>
                <scientilla-group-members ng-if="vm.group" group="vm.group" refresh-group="vm.getGroup"></scientilla-group-members>
            </uib-tab>
            <uib-tab index="1" ng-show="vm.group.childGroups.length || vm.researchEntity.isAdmin()">
                <uib-tab-heading>Groups</uib-tab-heading>
                <scientilla-group-groups ng-if="vm.group" group="vm.group" refresh-group="vm.getGroup"></scientilla-group-groups>
            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading>Documents</uib-tab-heading>
                <scientilla-documents-list
                        ng-if="vm.group"
                        research-entity="vm.group"
                        section="vm.documentListSections.GROUP"></scientilla-documents-list>
            </uib-tab>
        </uib-tabset>
    </div>
</scientilla-backend-layout>