<scientilla-filter
    category="group-member"
    on-filter="vm.onFilter"
    elements="vm.members"
    empty-list-message="No members found">

    <item-list>
        <ul class="group-member-listing">
            <li ng-repeat="m in vm.members" ng-class="m.cssClass">
                <img src="{{ m.image }}" alt="{{ u | fullname }}" class="img-fluid">

                <div class="user-content">
                    <a
                        ng-href="#{{ m.getProfileUrl() }}"
                        class="group-member-fullname"
                        >
                        {{ m | fullname }}
                    </a>
                    <div class="job-title">
                        {{ m.jobTitle }}
                    </div>
                    <div
                        class="socials-container"
                        ng-if="m.username || m.socials.length > 0 || m.phone">
                        <ul
                            class="socials">
                            <li ng-if="m.username && m.active">
                                <a
                                    target="_blank"
                                    href="mailto:{{ m.username }}">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </li>
                            <li ng-if="m.phone && m.active">
                                <a
                                    target="_blank"
                                    href="tel:{{ m.phone }}">
                                    <i class="fas fa-phone"></i>
                                </a>
                            </li>
                            <li ng-repeat="(social, url) in m.socials">
                                <a
                                    target="_blank"
                                    href="{{ url }}">
                                    <i class="{{ vm.socialClass(social) }}"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <ul
                        class="badges"
                        ng-if="!m.active ||
                            (m.membership && m.membership.type && !m.membership.isMember) ||
                            m.membership.level > 0
                        "
                    >
                        <li ng-if="!m.active">
                            <div>
                                Former employee
                            </div>
                        </li>
                        <li ng-if="m.membership && m.membership.type && !m.membership.isMember">
                            <div>
                                {{ m.membership.type.label }}
                            </div>
                        </li>
                        <li ng-if="m.membership.level > 0">
                            <div>
                                <i class="fa fa-user-times fa-left"></i>Inherited from subgroups
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="memberships-container">
                    <ul
                        ng-if="m"
                        class="memberships">
                        <li ng-repeat="center in m.centers">
                            <a
                                title="Center: {{ center.getDisplayName() }}"
                                ng-href="#{{ center.getProfileUrl() }}">{{ center.getDisplayName() }}</a>
                        </li>
                        <li ng-repeat="group in m.groups">
                            <a
                                title="{{ group.type }}: {{ group.getDisplayName() }}"
                                ng-href="#{{ group.getProfileUrl() }}">{{ group.getDisplayName() }}</a>
                        </li>
                        <li ng-repeat="office in m.offices">
                            <div title="Office: {{ office }}">{{ office }}</div>
                        </li>
                    </ul>
                </div>

                <div class="dropdown-container">
                    <div
                        ng-if="vm.showCollaboratorButton(m)"
                        class="btn-group"
                        uib-dropdown
                    >
                        <button
                            type="button"
                            class="btn btn-primary only-icon"
                            uib-dropdown-toggle>
                            <i class="fas fa-user fa-left"></i>Collaborator
                        </button>

                        <div uib-dropdown-menu>
                            <button
                                class="dropdown-item"
                                ng-click="vm.editCollaborator(m)">
                                <i class="fas fa-edit fa-left"></i>Edit
                            </button>

                            <button
                                ng-click="vm.removeCollaborator(m)"
                                class="dropdown-item"
                                title="Remove collaborator">
                                <i class="fas fa-times fa-left"></i>Remove
                            </button>
                        </div>
                    </div>

                    <div
                        ng-if="!vm.showCollaboratorButton(m)"
                        class="btn-group"
                        uib-dropdown
                    >
                        <button
                            type="button"
                            class="btn btn-primary only-icon invisible"
                            uib-dropdown-toggle
                            ng-disabled="true"
                        >
                            <i class="fas fa-user fa-left"></i>Collaborator
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </item-list>
</scientilla-filter>