
<div>
    <h3>Child group overview:
        <span class="badge badge-light">{{vm.group.childGroups.length}}</span>
    </h3>
    <ul
        class="child-group-listing"
        ng-if="vm.group.childGroups.length > 0">
        <li ng-repeat="cg in vm.group.childGroups">
            <a ng-href="#{{ cg.getProfileUrl() }}">
                {{ cg.getDisplayName() }}
            </a>
            <a
                href=""
                ng-if="vm.isAdmin()"
                ng-click="vm.removeChild(cg)"
                class="btn btn-primary"
                title="Removes {{ cg.getDisplayName() }} from the child groups">
                <i class="fas fa-minus fa-left"></i>Remove group
            </a>
        </li>
    </ul>
</div>

<div
    ng-if="vm.isAdmin()"
    class="card">
    <div class="card-body d-print-none">
        <h2>Add group</h2>
        <div class="dropdown-container add-scroll add-group-field-container">
            <input
                type="text"
                class="form-control"
                ng-model="vm.selectedGroup"
                uib-typeahead="group as group.getDisplayName() for group in vm.getGroups($viewValue)"
                typeahead-loading="searching"
                typeahead-no-results="noResults"
                data-ng-required="true"
                placeholder="Search group"
                ng-model-options="{ allowInvalid: true }"
                typeahead-editable="false"
                typeahead-select-on-blur="true"/>
        </div>

        <ul
            class="selected-group"
            ng-show="vm.selectedGroup">
            <li>{{ vm.selectedGroup.getDisplayName() }}</li>
            <li>
                 <button
                    class="btn btn-primary"
                    ng-click="vm.addChild()"
                    title="Add {{vm.selectedGroup.getDisplayName()}} as a child group">
                    <span class="fas fa-plus fa-left"></span> Add group
                </button>
            </li>
        </ul>
    </div>
</div>