<ul class="project">
    <li class="project-info">
        <span class="project-year">{{ vm.project.startYear + ' - ' + vm.project.endYear }}</span>
    </li>
    <li class="project-metadata">
        <div>
            <scientilla-project-type-badge type="vm.project.type"></scientilla-project-type-badge>
            <scientilla-project-members project="vm.project"></scientilla-project-members>
        </div>

        <h2 class="project-title has-action"
            ng-click="vm.openDetails()"
            ng-bind-html='vm.project | title'></h2>

        <ng-container ng-if="vm.project.startDate">
            <strong>Start date:</strong>
            {{ vm.project.startDate }}<br>
        </ng-container>

        <ng-container ng-if="vm.project.endDate">
            <strong>End date:</strong>
            {{ vm.project.endDate }}<br>
        </ng-container>

        <ng-container ng-if="vm.project.role">
            <strong>Role:</strong>
            {{ vm.project.role }}<br>
        </ng-container>

        <ng-container ng-if="vm.project.status">
            <strong>Status:</strong>
            {{ vm.project.status }}<br>
        </ng-container>

        <ul class="project-actions">
            <li
                ng-if="vm.project.verified.length"
                class="project-verified"
                uib-tooltip-html="vm.getVerifiedNamesHTML()"
                tooltip-class="text-left">
                <i class="fas fa-check"></i> {{ vm.project.verified.length }}
            </li>
            <li
                ng-if="vm.isPrivacyToShow()"
                class="project-privacy-actions">
                <i ng-click="vm.changePrivacy()"
                   ng-if="vm.isPublic()"
                   class="fas fa-globe-africa has-action"
                   uib-tooltip-html="'The project is visible to everyone, click to change it'"></i>
                <i ng-click="vm.changePrivacy()"
                   ng-if="!vm.isPublic()"
                   class="fas fa-lock has-action"
                   uib-tooltip-html="'The project is visible only to scientilla users, click to change it'"></i>
            </li>
            <li
                ng-if="vm.isFavoriteToShow()"
                class="project-favorite-actions">
                <i ng-click="vm.changeFavorite()"
                   ng-if="vm.isFavorite()"
                   class="fas fa-star has-action"
                   uib-tooltip-html="'This project is one of your favorite'"></i>
                <i ng-click="vm.changeFavorite()"
                   ng-if="!vm.isFavorite()"
                   class="far fa-star has-action"
                   uib-tooltip-html="'Click here to make it favorite'"></i>
            </li>
        </ul>
    </li>
</ul>