<span class="project-member" ng-repeat="member in vm.members">
    <a
        ng-if="member.username"
        ng-href="#{{ member.getProfileUrl() }}">{{ vm.getAlias(member) }}</a>
    <span ng-if="!member.username">{{ vm.getAlias(member) }}</span>
</span>

<span
    class="badge badge-light badge-click"
    ng-click="vm.toggleCollapse()"
    ng-if="vm.project.members.length > vm.project.getMemberLimit()">
    <span ng-if="vm.collapsed">Show all members</span>
    <span ng-if="!vm.collapsed">Show less members</span>
</span>