<scientilla-backend-layout>
    <h1>Draft PhD trainings</h1>
    <scientilla-filter
        category="phd-training-draft"
        on-filter="vm.onFilter"
        elements="vm.drafts"
        empty-list-message="No drafts found"
    >
        <scientilla-multicheck>
            <buttons>
                <scientilla-multicheck-button
                    subject="Verify draft"
                    on-click="vm.verifyDrafts"
                >
                    <i class="fas fa-check fa-left"></i>Verify
                </scientilla-multicheck-button>
                <scientilla-multicheck-button
                    subject="Delete draft"
                    on-click="vm.deleteDrafts"
                >
                    <i class="far fa-trash-alt fa-left"></i>Delete
                </scientilla-multicheck-button>
            </buttons>
            <item-list>
                <scientilla-checkable
                    ng-repeat="d in vm.drafts"
                    item="d"
                    class="scientilla-checkable"
                >

                    <phd-training
                        phd-training="d"
                        section="vm.phdTrainingListSections.DRAFT"
                        class="phd-training-container"
                    ></phd-training>

                    <div class="phd-training-row-actions">
                        <div
                            class="btn-group"
                            uib-dropdown
                        >
                            <button
                                ng-click="vm.edit(d)"
                                type="button"
                                class="btn btn-primary"
                                title="Let you edit the PhD training"
                            >
                                <i class="fas fa-edit fa-left"></i>Edit
                            </button>

                            <button
                                type="button"
                                class="btn dropdown-toggle only-icon"
                                ng-class="{'btn-warning': d.isComparable, 'btn-primary': !d.isComparable}"
                                uib-dropdown-toggle
                            >
                            </button>

                            <div
                                uib-dropdown-menu
                                class="dropdown-menu"
                            >

                                <button
                                    ng-click="vm.verify(d)"
                                    ng-disabled="!vm.isValid(d)"
                                    class="dropdown-item"
                                >
                                    <i class="fas fa-check fa-left"></i>Verify
                                </button>

                                <button
                                    ng-click="vm.editAffiliations(d)"
                                    ng-disabled="!d.authors.length"
                                    class="dropdown-item"
                                >
                                    <i class="fas fa-university fa-left"></i>Edit affiliations
                                </button>

                                <button
                                    ng-click="vm.deleteDraft(vm.researchEntity, d)"
                                    class="dropdown-item"
                                >
                                    <i class="fas fa-trash-alt fa-left"></i>Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </scientilla-checkable>
            </item-list>
        </scientilla-multicheck>

    </scientilla-filter>
</scientilla-backend-layout>
