<div class="modal-header">
    <h3>{{ !!vm.phdTraining.id ? 'Edit' : 'New' }} PhD training</h3>
    <button
        type="button"
        class="close"
        ng-click="vm.cancel()"
    >
        <i class="fas fa-times"></i>
    </button>
</div>

<div class="modal-body">
    <form
        name="form"
        class="{{vm.status.class}}"
        autocomplete="off"
    >
        <div
            ng-class="{
                'has-error' : vm.errors.authorsStr && vm.mode == 'verify',
                'has-warning' : vm.errors.authorsStr && vm.mode == 'draft'
            }"
            class="form-group has-feedback"
        >
            <label for="teachers">
                Teachers (must be in the form "Doe J., Smith Simpson J. V.") *
            </label>
            <input
                id="teachers"
                type="text"
                name="authors"
                class="form-control"
                placeholder="Teachers"
                ng-model="vm.phdTraining.teachers"
                ng-pattern="vm.fieldsRules.authorsStr.regex"
                data-ng-required="true"
                ng-model-options="{ allowInvalid: true }"
                ng-class="{'is-invalid' : vm.errors.teachers}"
                ng-blur="vm.checkValidation('teachers')"
                ng-change="vm.fieldValueHasChanged('teachers')"
            >
            <scientilla-error-messages
                class="error-messages"
                errors="vm.errors.teachers"
            ></scientilla-error-messages>
        </div>

        <div class="form-group">
            <label for="referent">Referent *</label>
            <input
                type="text"
                id="referent"
                name="referent"
                placeholder="Referent"
                class="form-control"
                ng-model="vm.phdTraining.referent"
                ng-class="{'is-invalid' : vm.errors.referent}"
                ng-blur="vm.checkValidation('referent')"
                ng-change="vm.fieldValueHasChanged('referent')"
            >
            <scientilla-error-messages
                class="error-messages"
                errors="vm.errors.referent"
            ></scientilla-error-messages>
        </div>

        <div class="form-group">
            <label for="title">Title *</label>
            <input
                type="text"
                id="title"
                name="title"
                placeholder="Title"
                class="form-control"
                ng-model="vm.phdTraining.title"
                ng-class="{'is-invalid' : vm.errors.title}"
                ng-blur="vm.checkValidation('title')"
                ng-change="vm.fieldValueHasChanged('title')"
            >
            <scientilla-error-messages
                class="error-messages"
                errors="vm.errors.title"
            ></scientilla-error-messages>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea
                id="description"
                rows="6"
                class="form-control"
                placeholder="Description"
                ng-model="vm.phdTraining.description"
            ></textarea>
        </div>

        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="form-group">
                    <label for="hours">Number of hours</label>
                    <input
                        type="number"
                        id="hours"
                        name="hours"
                        placeholder="Number of hours"
                        class="form-control"
                        ng-model="vm.phdTraining.hours"
                        ng-class="{'is-invalid' : vm.errors.hours}"
                        ng-blur="vm.checkValidation('hours')"
                        ng-change="vm.fieldValueHasChanged('hours')"
                    >
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.hours"
                    ></scientilla-error-messages>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="form-group">
                    <label for="lectures">Number of lectures</label>
                    <input
                        type="number"
                        id="lectures"
                        name="lectures"
                        placeholder="Number of lectures"
                        class="form-control"
                        ng-model="vm.phdTraining.lectures"
                        ng-class="{'is-invalid' : vm.errors.lectures}"
                        ng-blur="vm.checkValidation('lectures')"
                        ng-change="vm.fieldValueHasChanged('lectures')"
                    >
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.lectures"
                    ></scientilla-error-messages>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div
                    ng-class="{
                            'has-error' : vm.errors.year && vm.mode == 'verify',
                            'has-warning' : vm.errors.year && vm.mode == 'draft'
                        }"
                    class="form-group has-feedback"
                >
                    <label for="year">Academic year (YYYY format) *</label>
                    <input
                        id="year"
                        type="text"
                        name="year"
                        class="form-control"
                        placeholder="Year"
                        ng-model="vm.phdTraining.year"
                        data-ng-required="true"
                        ng-pattern="/^(19|20)\d{2}$/"
                        ng-model-options="{ allowInvalid: true }"
                        ng-class="{'is-invalid' : vm.errors.year}"
                        ng-blur="vm.checkValidation('year')"
                        ng-change="vm.fieldValueHasChanged('year')"
                    >
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.year"
                    ></scientilla-error-messages>
                </div>
            </div>
        </div>

        <div
            ng-class="{
                'has-error' : vm.errors.eventType && vm.mode == 'verify',
                'has-warning' : vm.errors.eventType && vm.mode == 'draft'
            }"
            class="form-group has-feedback"
        >
            <label for="organized-event-event-type">Location</label>
            <div class="select-wrapper" ng-class="{'is-invalid' : vm.errors.location}">
                <select
                    id="organized-event-event-type"
                    class="form-control"
                    ng-class="{'is-invalid' : vm.errors.location}"
                    ng-model="vm.phdTraining.location"
                    ng-init="vm.phdTraining.location = vm.phdTraining.location || vm.eventTypes[0].key"
                    ng-options="option.key as option.label for option in vm.centers"
                    ng-blur="vm.checkValidation('location')"
                    ng-change="vm.fieldValueHasChanged('location')">
                </select>
            </div>
            <scientilla-error-messages
                class="error-messages"
                errors="vm.errors.location"
            ></scientilla-error-messages>
        </div>

        <div class="form-group">
            <label>Delivery</label>
            <label class="form-checkbox inline-block">
                <input
                    type="checkbox"
                />
                <span></span>Online
            </label>
            <label class="form-checkbox inline-block">
                <input
                    type="checkbox"
                />
                <span></span>In presence
            </label>
        </div>

        <ul class="modal-buttons">
            <li>
                <scientilla-button
                    type="button"
                    click="vm.save"
                    ng-disabled="vm.formStatus.saveState !== 'ready to save' || !vm.unsavedData"
                >
                    {{ vm.formStatus.saveMessage }}
                </scientilla-button>
            </li>
            <li>
                <scientilla-button
                    type="submit"
                    ng-disabled="vm.formStatus.verifyState !== 'ready to verify'"
                    click="vm.verify"
                >{{ vm.formStatus.verifyMessage }}
                </scientilla-button>
            </li>
            <li>
                <scientilla-button
                    type="cancel"
                    click="vm.cancel"
                >Close
                </scientilla-button>
            </li>
        </ul>

        <div
            ng-if="vm.errorText"
            class="modal-error"
            ng-class="{
                'text-danger' : vm.formStatus.mode == 'verify',
                'text-warning': vm.formStatus.mode == 'draft'
            }"
        >
            {{ vm.errorText }}
        </div>
    </form>
</div>
