<scientilla-research-item-authors
    research-item="vm.researchItem"
    collapsed="vm.collapsed"
    type="default"
></scientilla-research-item-authors>

<h3 class="phd-training-title"
    ng-click="vm.openDetails()"
    ng-bind-html='vm.researchItem | title'></h3>

<hr/>

<div ng-if="vm.researchItem.description">
    <h4>Description</h4>
    <div>
        {{ vm.researchItem.description }}
    </div>
</div>

<br/><br/>

<div>
    <div ng-if="vm.researchItem.year">
        <label class="inline-block">Year:</label> {{vm.researchItem.year}}
    </div>
    <div ng-if="vm.researchItem.referent">
        <label class="inline-block">Referent:</label> {{vm.researchItem.referent}}
    </div>
    <div ng-if="vm.researchItem.institute">
        <label class="inline-block">Institute:</label> {{vm.researchItem.institute}}
    </div>
    <div ng-if="vm.researchItem.other_course">
        <label class="inline-block">Other course:</label> {{vm.researchItem.other_course}}
    </div>
    <div ng-if="vm.researchItem.hours">
        <label class="inline-block">Hours:</label> {{vm.researchItem.hours}}
    </div>
    <div ng-if="vm.researchItem.lectures">
        <label class="inline-block">Lectures:</label> {{vm.researchItem.lectures}}
    </div>
    <div ng-if="vm.researchItem.research_domains">
        <label class="inline-block">Research domains:</label> {{vm.researchItem.research_domains}}
    </div>
    <div ng-if="vm.researchItem.location">
        <label class="inline-block">Location:</label> {{vm.researchItem.location}}
    </div>
    <div ng-if="vm.researchItem.delivery">
        <label class="inline-block">Delivery:</label> {{vm.researchItem.delivery}}
    </div>
</div>
