<div class="scientilla-footer">
    <div class="row">
        <div class="col-xs-6" style="padding-top: 0.8em;">
            <span>&copy; Istituto Italiano di Tecnologia | Data Analysis Office - Need help? Write to
                <a style="color:white" href="mailto:data.analysis@iit.it?Subject=Scientilla%20request"
                   target="_top">data.analysis@iit.it</a>
            </span>
        </div>
        <div class="col-xs-6 text-right">
            <div>
                <img src="/images/iit-logo-40.png">
            </div>
        </div>
    </div>
</div>