<p><strong class="text-uppercase">Scientilla</strong> is designed for both research and administrative staff.</p>

<ul>
    <li><p>If monitoring your scientific production is meaningless or of no relevance for you, below you can choose to <strong>hide</strong> the sections related to the Scientific Production.</p></li>
    <li><p>If you are a research staff member, you can choose instead to <strong>show</strong> the sections related to your Scientific Production (publications, accomplishments, ...).</p></li>
</ul>

<ul class="modal-buttons">
    <li>
        <button ng-click="vm.chooseType()(true)" class="btn btn-outline-secondary">Yes, I have.</button>
    </li>
    <li>
        <button ng-click="vm.chooseType()(false)" class="btn btn-outline-secondary">No, I don't have.</button>
    </li>
</ul>