<div class="row">
    <div class="col-12 col-sm-4">
        <img
            src="/images/scientilla-logo-grey.png"
            class="img-fluid scientilla-logo">
    </div>
    <div class="col-12 col-sm-8">
        <strong>Do you have Scientific Production?</strong>

        <ul class="modal-buttons">
            <li>
                <button ng-click="vm.chooseType()(true)" class="btn btn-outline-secondary">Yes</button>
            </li>
            <li>
                <button ng-click="vm.chooseType()(false)" class="btn btn-outline-secondary">No</button>
            </li>
        </ul>
    </div>
</div>