<div class="row">
    <div class="col-12 col-sm-6">
        <youtube-embed video="b3UTGJbeftA" class="scopus-video"></youtube-embed>
    </div>
    <div class="col-12 col-sm-6">
        <p>By setting a Scopus identifier (Author ID), you will allow <strong>Scientilla</strong> for finding automatically most of your publications, including metadata. The Scopus ID is used in the <strong>external</strong> section to import documents.</p>
        <p>Learn how to retrieve your personal Scopus identifier watching the video and fill the Scopus identifier field. <a href="https://www.scopus.com/search/form.uri?display=authorLookup" target="_blank">Click here</a> to look for your identifier.</p>

        <form ng-submit="vm.save()" name="idsForm">
            <div class="form-group has-feedback">
                <label for="scopusId">Scopus id</label>
                <input
                    type="text"
                    class="form-control"
                    id="scopusId"
                    placeholder="Scopus id"
                    ng-model="vm.user.scopusId">
            </div>

            <p>If you have also an ORCID identifier, you can insert it below.</p>
            
            <div class="form-group has-feedback">
                <label for="orcidId">Orcid id</label>
                <input
                    type="text"
                    class="form-control"
                    id="orcidId"
                    placeholder="Orcid id"
                    ng-model="vm.user.orcidId">
            </div>

            <scientilla-button 
                type="submit"
                ng-disabled="vm.saveStatus.state !== 'ready to save'">{{ vm.saveStatus.message }}</scientilla-button>
        </form>
    </div>
</div>