<div class="modal-header">
    <h3 ng-if="vm.isStep('welcome')">Welcome to Scientilla!</h3>
    <h3 ng-if="vm.isStep('scopus-edit')">Automatically find your publications</h3>
    <h3 ng-if="vm.isStep('alias-edit')">Suggested and aliases</h3>
    <h3 ng-if="vm.isStep('tutorial')">Start using Scientilla!</h3>
    <h3 ng-if="vm.isStep('admin-tutorial')">Administration of your research line</h3>
    <h3 ng-if="vm.isStep('summary-overview')">Details about the “Overview” tab</h3>
    <h3 ng-if="vm.isStep('summary-metrics')">Details about the “Metrics” tab</h3>
    <button
        type="button"
        class="close"
        ng-if="vm.resolve.data.isClosable"
        ng-click="vm.close()">
        <i class="fas fa-times"></i>
    </button>
</div>

<div class="modal-body">
    <wizard-welcome ng-if="vm.isStep('welcome')"></wizard-welcome>

    <wizard-scopus-edit
        ng-if="vm.isStep('scopus-edit')"
        user="vm.researchEntity"></wizard-scopus-edit>

    <wizard-alias-edit
        ng-if="vm.isStep('alias-edit')"
        user="vm.researchEntity"></wizard-alias-edit>

    <wizard-tutorial ng-if="vm.isStep('tutorial')"></wizard-tutorial>

    <wizard-admin-tutorial ng-if="vm.isStep('admin-tutorial')"></wizard-admin-tutorial>

    <wizard-summary-overview ng-if="vm.isStep('summary-overview')"></wizard-summary-overview>
    <wizard-summary-metrics ng-if="vm.isStep('summary-metrics')"></wizard-summary-metrics>

    <ul class="modal-buttons fluid" ng-if="vm.getStepsNumber() > 1 || !vm.isEnd()">
        <li ng-if="vm.getStepsNumber() > 1">
            <scientilla-button
                ng-disabled="vm.isNotPrev()"
                click="vm.checkStep('previous')">
                Previous
            </scientilla-button>
        </li>
        <li ng-if="!vm.isEnd()">
            <scientilla-button
                click="vm.checkStep('next')">
                Next
            </scientilla-button>
        </li>
        <li ng-if="vm.isEnd()">
            <scientilla-button
                ng-click="vm.closeModal()">
                Close
            </scientilla-button>
        </li>
    </ul>
</div>