<div
    ng-if="vm.types.length > 1"
    class="btn-group btn-add-research-item"
    uib-dropdown>
    <button
        type="button"
        class="btn btn-light"
        uib-dropdown-toggle
        ng-disabled="disabled">
        <i class="fas fa-plus fa-left"></i>Add
    </button>
    <ul uib-dropdown-menu
        class="dropdown-menu dropdown-menu-right">
        <li ng-repeat="type in vm.types">
            <a ng-click="vm.openResearchItemForm(type)"
               class="dropdown-item">{{type.label}}</a>
        </li>
    </ul>
</div>
<button
    ng-if="vm.types.length === 1"
    ng-click="vm.openResearchItemForm(vm.types[0])"
    type="button"
    class="btn btn-light btn-add-research-item"
    ng-disabled="disabled">
    <i class="fas fa-plus fa-left"></i>Add
</button>