<scientilla-backend-layout>
    <div class="summary summary-profile">
        <uib-tabset
            active="vm.activeTabIndex"
            ng-if="vm.subResearchEntity.isScientific()">
            <uib-tab
                index="0"
                heading="Profile"
                ng-if="vm.subResearchEntity.getType() === 'user'">
                <summary-profile
                    profile="vm.profile"
                    ng-if="vm.profile"></summary-profile>
                <user-profile-table
                    user="vm.subResearchEntity"
                    ng-if="!vm.profile"></user-profile-table>
            </uib-tab>

            <uib-tab
                index="1"
                heading="Documents Overview">
                <summary-overview charts-data="vm.chartsData"></summary-overview>
            </uib-tab>

            <uib-tab
                index="2"
                heading="Metrics">
                <summary-metrics charts-data="vm.chartsData"></summary-metrics>
            </uib-tab>

            <uib-tab
                ng-if="vm.isMainGroup()"
                index="3"
                heading="Data calculated on {{vm.lastRefresh | date:'yyyy-MM-dd HH:mm'}}">
                <scientilla-button click="vm.recalculate">Recalculate data</scientilla-button>
                <scientilla-loading
                    is-loading="vm.recalculating"
                    text="Recalculating ..."></scientilla-loading>
            </uib-tab>
        </uib-tabset>

        <summary-profile
            profile="vm.profile"
            ng-if="vm.subResearchEntity.getType() === 'user' && !vm.subResearchEntity.isScientific() && vm.profile">
        </summary-profile>

        <div ng-if="vm.subResearchEntity.getType() === 'user' && !vm.subResearchEntity.isScientific() && !vm.profile">
            <h1 class="user-fullname">{{vm.subResearchEntity.getDisplayName()}}</h1>
            <a
                href="mailto:{{vm.subResearchEntity.username}}"
                class="user-email">{{vm.subResearchEntity.username}}</a>
            <br><br>
            <user-profile-table user="vm.subResearchEntity"></user-profile-table>
        </div>
    </div>
</scientilla-backend-layout>