<scientilla-backend-layout>
    <div class="summary summary-profile">
        <uib-tabset active="vm.activeTabIndex">
            <uib-tab
                index="0"
                heading="Profile"
                ng-if="vm.subResearchEntity.getType() === 'user' && vm.profile !== false">
                <summary-profile profile="vm.profile"></summary-profile>
            </uib-tab>

            <uib-tab
                index="1"
                heading="Profile v2"
                ng-if="vm.subResearchEntity.getType() === 'user' && vm.profile !== false">
                <summary-profile-v2></summary-profile-v2>
            </uib-tab>

            <uib-tab
                index="2"
                heading="Documents Overview">
                <summary-overview charts-data="vm.chartsData"></summary-overview>
            </uib-tab>

            <uib-tab
                index="3"
                heading="Metrics">
                <summary-metrics charts-data="vm.chartsData"></summary-metrics>
            </uib-tab>

            <uib-tab
                ng-if="vm.isMainGroup()"
                index="4"
                heading="Data calculated on {{vm.lastRefresh | date:'yyyy-MM-dd HH:mm'}}">
                <scientilla-button click="vm.recalculate">Recalculate data</scientilla-button>
                <scientilla-loading
                    is-loading="vm.recalculating"
                    text="Recalculating ..."></scientilla-loading>
            </uib-tab>
        </uib-tabset>
    </div>
</scientilla-backend-layout>