<div class="metric-widget">
    <ul class="top-listing">
        <li>
            <div class="btn-group">
                <button
                    ng-repeat="chart in vm.charts"
                    ng-click="vm.select(chart)"
                    ng-class="{selected: vm.selectedChart === chart}"
                    class="btn btn-primary"
                    title="{{ chart.title }}">
                        <i class="{{ chart.icon }}"></i>
                    </button>
            </div>
        </li>
        <li>
            <h3>{{ vm.selectedChart.chartSettings.title }}</h3>
        </li>
    </ul>

    <div class="chart-container">
        <nvd3
            ng-repeat="chart in vm.charts"
            ng-if="vm.selectedChart === chart"
            options="chart.chartSettings.options"
            data="chart.chartSettings.data"
            ng-attr-id="{{ chart.id }}"
            class="chart"></nvd3>
    </div>
</div>