<div class="info-button-container">
    <a href="" title="" ng-click="vm.showInfo()" class="btn btn-primary info-button">
        <i class="fas fa-info-circle fa-left"></i>Info
    </a>

    <div class="btn-group">
        <button
            ng-click="vm.selectLayout('smaller')"
            ng-class="{selected: vm.selectedLayout === 'smaller'}"
            class="btn btn-primary"
            title="Show all graphs in one view">
            <i class="fas fa-th"></i>
        </button>

        <button
            ng-click="vm.selectLayout('small')"
            ng-class="{selected: vm.selectedLayout === 'small'}"
            class="btn btn-primary"
            title="Show all graphs in one view">
            <i class="fas fa-th"></i>
        </button>

        <button
            ng-click="vm.selectLayout('big')"
            ng-class="{selected: vm.selectedLayout === 'big'}"
            class="btn btn-primary"
            title="Show big graphs">
            <i class="fas fa-th-large"></i>
        </button>

        <button
            ng-click="vm.selectLayout('bigger')"
            ng-class="{selected: vm.selectedLayout === 'bigger'}"
            class="btn btn-primary"
            title="Show big graphs">
            <i class="fas fa-th-large"></i>
        </button>
    </div>
</div>

<div class="layout layout-smaller" ng-if="vm.selectedLayout === 'smaller'">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-4">
            <div class="index-container">
                <div class="index-inner-container">
                    <h2 class="index-title">Statistics</h2>
                    <ul class="index-listing items-{{ vm.indexes.length }}">
                        <li ng-repeat="index in vm.indexes">
                            <div class="outer-index">
                                <div class="index">
                                    <div class="index-icon-container">
                                        <i ng-class="icon" ng-repeat="icon in index.icons"></i>
                                    </div>
                                    <span class="index-label">{{ index.label }}</span>
                                    <span class="index-value">{{ index.value | scientillaNumber:index.format }}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
            <div class="document-totals-chart-container">
                <h3>{{ vm.charts.documentTotals.title }}</h3>
                <div class="chart-container">
                    <nvd3
                        options="vm.charts.documentTotals.options"
                        data="vm.charts.documentTotals.data"
                        class="chart"></nvd3>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
            <div class="h-index-chart-container">
                <h3>{{ vm.charts.hindexPerYear.title }}</h3>
                <div class="chart-container">
                    <nvd3
                        options="vm.charts.hindexPerYear.options"
                        data="vm.charts.hindexPerYear.data"
                        class="chart"></nvd3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
            <scientilla-chart-selector
                charts="vm.documentsCharts"
                class="metric-chart-container">
            </scientilla-chart-selector>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
            <scientilla-chart-selector
                charts="vm.citationsCharts"
                class="metric-chart-container">
            </scientilla-chart-selector>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
            <scientilla-chart-selector
                charts="vm.metricsCharts"
                class="metric-chart-container">
            </scientilla-chart-selector>
        </div>
    </div>
</div>

<div class="layout layout-small" ng-if="vm.selectedLayout === 'small'">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-6">
            <div class="index-container">
                <div class="index-inner-container">
                    <h2 class="index-title">Statistics</h2>
                    <ul class="index-listing items-{{ vm.indexes.length }}">
                        <li ng-repeat="index in vm.indexes">
                            <div class="outer-index">
                                <div class="index">
                                    <div class="index-icon-container">
                                        <i ng-class="icon" ng-repeat="icon in index.icons"></i>
                                    </div>
                                    <span class="index-label">{{ index.label }}</span>
                                    <span class="index-value">{{ index.value | scientillaNumber:index.format }}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-3">
            <div class="document-totals-chart-container">
                <h3>{{ vm.charts.documentTotals.title }}</h3>
                <div class="chart-container">
                    <nvd3
                        options="vm.charts.documentTotals.options"
                        data="vm.charts.documentTotals.data"
                        class="chart"></nvd3>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-3">
            <div class="h-index-chart-container">
                <h3>{{ vm.charts.hindexPerYear.title }}</h3>
                <div class="chart-container">
                    <nvd3
                        options="vm.charts.hindexPerYear.options"
                        data="vm.charts.hindexPerYear.data"
                        class="chart"></nvd3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
            <scientilla-chart-selector
                charts="vm.documentsCharts"
                class="metric-chart-container">
            </scientilla-chart-selector>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
            <scientilla-chart-selector
                charts="vm.citationsCharts"
                class="metric-chart-container">
            </scientilla-chart-selector>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
            <scientilla-chart-selector
                charts="vm.metricsCharts"
                class="metric-chart-container">
            </scientilla-chart-selector>
        </div>
    </div>
</div>

<div class="layout layout-big" ng-if="vm.selectedLayout === 'big'">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-6">
            <div class="outer-stats-container">
                <div class="index-container">
                    <div class="index-inner-container">
                        <h2 class="index-title">Statistics</h2>
                        <ul class="index-listing items-{{ vm.indexes.length }}">
                            <li ng-repeat="index in vm.indexes">
                                <div class="outer-index">
                                    <div class="index">
                                        <div class="index-icon-container">
                                            <i ng-class="icon" ng-repeat="icon in index.icons"></i>
                                        </div>
                                        <span class="index-label">{{ index.label }}</span>
                                        <span class="index-value">{{ index.value | scientillaNumber:index.format }}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="document-totals-chart-container">
                            <h3>{{ vm.charts.documentTotals.title }}</h3>
                            <div class="chart-container">
                                <nvd3
                                    options="vm.charts.documentTotals.options"
                                    data="vm.charts.documentTotals.data"
                                    class="chart"></nvd3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="h-index-chart-container">
                            <h3>{{ vm.charts.hindexPerYear.title }}</h3>
                            <div class="chart-container">
                                <nvd3
                                    options="vm.charts.hindexPerYear.options"
                                    data="vm.charts.hindexPerYear.data"
                                    class="chart"></nvd3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <scientilla-chart-selector
                charts="vm.documentsCharts"
                class="metric-chart-container">
            </scientilla-chart-selector>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <scientilla-chart-selector
                charts="vm.citationsCharts"
                class="metric-chart-container">
            </scientilla-chart-selector>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <scientilla-chart-selector
                charts="vm.metricsCharts"
                class="metric-chart-container">
            </scientilla-chart-selector>
        </div>
    </div>
</div>

<div class="layout layout-bigger" ng-if="vm.selectedLayout === 'bigger'">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-6">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-6">
                    <div class="outer-stats-container">
                        <div class="index-container">
                            <div class="index-inner-container">
                                <h2 class="index-title">Statistics</h2>
                                <ul class="index-listing items-{{ vm.indexes.length }}">
                                    <li ng-repeat="index in vm.indexes">
                                        <div class="outer-index">
                                            <div class="index">
                                                <div class="index-icon-container">
                                                    <i ng-class="icon" ng-repeat="icon in index.icons"></i>
                                                </div>
                                                <span class="index-label">{{ index.label }}</span>
                                                <span class="index-value">{{ index.value | scientillaNumber:index.format }}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-6">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-12">
                            <div class="document-totals-chart-container">
                                <h3>{{ vm.charts.documentTotals.title }}</h3>
                                <div class="chart-container">
                                    <nvd3
                                        options="vm.charts.documentTotals.options"
                                        data="vm.charts.documentTotals.data"
                                        class="chart"></nvd3>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-12">
                            <div class="h-index-chart-container">
                                <h3>{{ vm.charts.hindexPerYear.title }}</h3>
                                <div class="chart-container">
                                    <nvd3
                                        options="vm.charts.hindexPerYear.options"
                                        data="vm.charts.hindexPerYear.data"
                                        class="chart"></nvd3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <scientilla-chart-selector
                charts="vm.documentsCharts"
                class="metric-chart-container">
            </scientilla-chart-selector>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <scientilla-chart-selector
                charts="vm.citationsCharts"
                class="metric-chart-container">
            </scientilla-chart-selector>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <scientilla-chart-selector
                charts="vm.metricsCharts"
                class="metric-chart-container">
            </scientilla-chart-selector>
        </div>
    </div>
</div>