<div class="summary-profile-container profile">
    <ul class="profile-blocks">
        <li class="block-basic-info">
            <ul class="card-container">
                <li class="main-card">
                    <div class="profile-block">
                        <img src="https://via.placeholder.com/150" alt="" class="img-fluid rounded-circle profile-image">
                        <h2 class="name">Firstname Lastname</h2>
                        <p class="company">Company - Jobtitle / Role</p>
                        <p class="position">Research Line or Administration Organization - Office</p>
                        <ul class="titles">
                            <li>Title</li>
                            <li>Title</li>
                        </ul>
                    </div>
                </li>
                <li class="contact-card">
                    <div class="profile-block">
                        <ul class="contact-listing">
                            <li>
                                <a href="#"><i class="fas fa-envelope"></i> example@domain.com</a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-phone"></i> +39 123 456 789</a>
                            </li>
                            <li>
                                <ul class="socials-listing">
                                    <li>
                                        <a href="#"><i class="fab fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-github-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="block-about">
            <div class="profile-block">
                <h2 class="block-title">About</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </li>
        <li class="block-experiences">
            <div class="profile-block">
                <div class="content-container">
                    <i class="fas fa-briefcase title-icon"></i><span>My current/last experience:</span>
                    <h2 class="block-title">Title experience</h2>
                </div>
                <div class="button-container">
                    <button class="show-more has-action" ng-click="vm.showExperiencesModal()">Show all experiences</button>
                </div>
            </div>
        </li>
        <li class="block-educations">
            <div class="profile-block">
                <div class="content-container">
                    <i class="fas fa-graduation-cap title-icon"></i><span>My current/last education:</span>
                    <h2 class="block-title">Title education</h2>
                </div>
                <div class="button-container">
                    <button class="show-more has-action" ng-click="vm.showEducationsModal()">Show all educations</button>
                </div>
            </div>
        </li>
        <li class="block-certificates">
            <div class="profile-block">
                <div class="content-container">
                    <i class="fas fa-certificate title-icon"></i><span>My current/last certificate:</span>
                    <h2 class="block-title">Title certificate</h2>
                </div>
                <div class="button-container">
                    <button class="show-more has-action" ng-click="vm.showCertificatesModal()">Show all certificates</button>
                </div>
            </div>
        </li>
        <li class="block-skills">
            <div class="profile-block">
                <div class="content-container">
                    <h2 class="block-title"><i class="fas fa-bolt title-icon"></i>Skills</h2>
                    <ul class="skill-listing">
                        <li>Leadership</li>
                        <li>Databases</li>
                        <li>C#</li>
                        <li>C++</li>
                        <li>HTML</li>
                        <li>JavaScript</li>
                        <li>CSS</li>
                    </ul>
                </div>
                <div class="button-container">
                    <button class="show-more has-action" ng-click="vm.showSkillsModal()">Show all skills</button>
                </div>
            </div>
        </li>
        <li class="block-publications-and-accomplishments">
            <ul class="profile-blocks">
                <li class="block-publications">
                    <div class="profile-block">
                        <div class="content-container">
                            <span class="amount">15</span>
                            <i class="fas fa-file title-icon"></i>
                            <h2 class="block-title">Publications</h2>
                        </div>
                        <div class="content-container last-item-container">
                            <span>My favorite publications:</span>
                            <ul class="favorite-listing">
                                <li><h2 class="block-title">Title publication</h2></li>
                                <li><h2 class="block-title">Title publication</h2></li>
                                <li><h2 class="block-title">Title publication</h2></li>
                            </ul>
                        </div>
                        <div class="button-container">
                            <button class="show-more has-action" ng-click="vm.showPublicationsModal()">Show all publications</button>
                        </div>
                    </div>
                </li>
                <li class="block-accomplishments">
                    <div class="profile-block">
                        <div class="content-container">
                            <span class="amount">5</span>
                            <i class="fas fa-trophy title-icon"></i>
                            <h2 class="block-title">Accomplishments</h2>
                        </div>
                        <div class="content-container last-item-container">
                            <span>My favorite accomplishments:</span>
                            <ul class="favorite-listing">
                                <li><h2 class="block-title">Title accomplishment</h2></li>
                                <li><h2 class="block-title">Title accomplishment</h2></li>
                                <li><h2 class="block-title">Title accomplishment</h2></li>
                            </ul>
                        </div>
                        <div class="button-container">
                            <button class="show-more has-action" ng-click="vm.showAccomplishmentsModal()">Show all accomplishments</button>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

    <button class="btn btn-primary" ng-click="vm.exportProfile('pdf')"><i class="fas fa-download fa-left"></i>Export profile</button>
</div>