<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2" ng-repeat="index in vm.indexes">
                <div class="scientilla-chart-widget">
                    <span ng-bind-html="index.icon" class="scientilla-chart-icon"></span>
                    <br>
                    {{index.label}}
                    <br>
                    <b>{{index.value | number:index.format}}</b>
                </div>
            </div>
            <div class="col-xs-1 text-right">
                <span ng-click="vm.showInfo()"
                      class="fa fa-info-circle"
                      style="font-size: 30px;cursor:pointer"></span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="scientilla-chart-widget"
             id="scientilla-chart-totals">
            <table class="table table-condensed">
                <tr>
                    <th ng-repeat="total in vm.documentTotals"
                        class="text-center">
                        {{total.title}}
                    </th>
                </tr>
                <tr>
                    <td ng-repeat="total in vm.documentTotals"
                        class="text-center">
                        {{total.value}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="scientilla-chart-widget">
            <h3>{{vm.charts.hindexPerYear.title}}</h3>
            <nvd3 id="scientilla-chart-hindexPerYear"
                  options="vm.charts.hindexPerYear.options"
                  data="vm.charts.hindexPerYear.data"></nvd3>
        </div>
    </div>
    <div class="col-md-8">
        <scientilla-chart-selector
                charts="vm.documentsCharts"
        ></scientilla-chart-selector>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <scientilla-chart-selector
                charts="vm.citationsCharts"
        ></scientilla-chart-selector>
    </div>
    <div class="col-xs-6">
        <scientilla-chart-selector
                charts="vm.metricsCharts"
        ></scientilla-chart-selector>
    </div>
</div>