<scientilla-loading is-loading="vm.loading"></scientilla-loading>

<div
    class="summary-metrics-container"
    ng-if="!vm.loading && vm.charts"
>
    <div class="info-button-container">
        <button ng-click="vm.showInfo()" class="btn btn-primary info-button">
            <i class="fas fa-info-circle fa-left"></i>Info
        </button>
        <h2 ng-if="vm.title" class="title">{{ vm.title }}</h2>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-4">
            <div class="index-container">
                <div class="index-inner-container">
                    <h2 class="index-title">Statistics</h2>
                    <ul class="index-listing items-{{ vm.indexes.length }}">
                        <li ng-repeat="index in vm.indexes">
                            <div class="outer-index">
                                <div class="index">
                                    <div class="index-icon-container">
                                        <i ng-class="icon" ng-repeat="icon in index.icons"></i>
                                    </div>
                                    <span class="index-label">{{ index.label }}</span>
                                    <span class="index-value">{{ index.value | scientillaNumber:index.format }}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
            <div class="document-totals-chart-container">
                <h3>{{ vm.charts.documentTotals.title }}</h3>
                <div class="chart-container">
                    <nvd3
                        options="vm.charts.documentTotals.options"
                        data="vm.charts.documentTotals.data"
                        class="chart"
                    ></nvd3>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
            <div class="h-index-chart-container">
                <h3>{{ vm.charts.hindexPerYear.title }}</h3>
                <div class="chart-container">
                    <nvd3
                        options="vm.charts.hindexPerYear.options"
                        data="vm.charts.hindexPerYear.data"
                        class="chart"
                    ></nvd3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
            <scientilla-chart-selector
                charts="vm.documentsCharts"
                class="metric-chart-container"
            >
            </scientilla-chart-selector>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
            <scientilla-chart-selector
                charts="vm.citationsCharts"
                class="metric-chart-container"
            >
            </scientilla-chart-selector>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
            <scientilla-chart-selector
                charts="vm.metricsCharts"
                class="metric-chart-container"
            >
            </scientilla-chart-selector>
        </div>
    </div>

    <div ng-if="vm.isMainGroup()">
        <div class="calculate-text">Data calculated on {{vm.lastRefresh | date:'yyyy-MM-dd HH:mm'}}</div>
        <scientilla-button click="vm.recalculate">Recalculate data</scientilla-button>
        <scientilla-loading
            is-loading="vm.recalculating"
            text="Recalculating ..."></scientilla-loading>
    </div>
</div>
