<scientilla-backend-layout>
    <div class="summary summary-dashboard">
        <uib-tabset active="vm.activeTabIndex">
            <uib-tab
                index="0"
                heading="Document Charts"
            >
                <summary-overview research-entity="vm.subResearchEntity"></summary-overview>
            </uib-tab>
            <uib-tab
                index="1"
                heading="Bibliometric Charts"
            >
                <summary-metrics research-entity="vm.subResearchEntity"></summary-metrics>
            </uib-tab>
            <uib-tab
                index="2"
                heading="Projects and Technology Transfer"
            >
                <summary-projects-technology-transfer research-entity="vm.subResearchEntity"></summary-projects-technology-transfer>
            </uib-tab>
            <uib-tab
                index="3"
                heading="Scientific production"
                ng-if="vm.showScientificProduction() && vm.isSuperUser()"
            >
                <scientific-production
                    ng-if="vm.group"
                    group="vm.group"
                    active="vm.activeTabIndex === 3"
                ></scientific-production>
            </uib-tab>
        </uib-tabset>
    </div>
</scientilla-backend-layout>
