<div class="summary-profile-container profile">
    <ul class="profile-blocks">
        <li class="block-basic-info">
            <ul class="card-container">
                <li class="main-card">
                    <div class="profile-block">
                        <img src="https://via.placeholder.com/150" alt="" class="img-fluid rounded-circle profile-image">
                        <h2 class="name" ng-if="vm.profile.name || vm.profile.surname">
                            {{ vm.profile.name }} {{ vm.profile.surname }}
                        </h2>
                        <p class="job-title" ng-if="vm.profile.jobTitle || vm.profile.role">
                            {{ vm.joinStrings([vm.profile.jobTitle, vm.profile.role], ' - ') }}
                        </p>
                        <p class="position" ng-if="vm.profile.administrativeOrganization || vm.profile.office">
                            {{ vm.joinStrings([vm.profile.administrativeOrganization, vm.profile.office], ' - ') }}
                        </p>
                        <ul class="research-lines" ng-if="vm.profile.researchLines.length > 0">
                            <li ng-repeat="(key, researchLine) in vm.profile.researchLines">{{ researchLine }}</li>
                        </ul>
                        <ul class="centers" ng-if="vm.profile.centers.length > 0">
                            <li ng-repeat="(key, center) in vm.profile.centers">{{ center }}</li>
                        </ul>
                        <ul class="titles" ng-if="vm.profile.titles.length > 0">
                            <li ng-repeat="(key, title) in vm.profile.titles">{{ title }}</li>
                        </ul>
                    </div>
                </li>
                <li class="contact-card">
                    <div class="profile-block">
                        <ul class="contact-listing">
                            <li ng-if="vm.profile.address">
                                <i class="fas fa-home"></i> {{ vm.profile.address }}
                            </li>
                            <li ng-if="vm.profile.username">
                                <a href="#"><i class="fas fa-envelope"></i> {{ vm.profile.username }}</a>
                            </li>
                            <li ng-if="vm.profile.telephone">
                                <a href="#"><i class="fas fa-phone"></i> {{ vm.profile.telephone }}</a>
                            </li>
                            <li ng-if="vm.profile.socials">
                                <ul class="socials-listing">
                                    <li ng-if="vm.profile.socials.linkedin">
                                        <a ng-href="{{ vm.profile.socials.linkedin }}" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li ng-if="vm.profile.socials.twitter">
                                        <a ng-href="{{ vm.profile.socials.twitter }}" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li ng-if="vm.profile.socials.facebook">
                                        <a ng-href="{{ vm.profile.socials.facebook }}" target="_blank">
                                            <i class="fab fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li ng-if="vm.profile.socials.instagram">
                                        <a ng-href="{{ vm.profile.socials.instagram }}" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li ng-if="vm.profile.socials.researchgate">
                                        <a ng-href="{{ vm.profile.socials.researchgate }}" target="_blank">
                                            <i class="fab fa-researchgate"></i>
                                        </a>
                                    </li>
                                    <li ng-if="vm.profile.socials.github">
                                        <a ng-href="{{ vm.profile.socials.github }}" target="_blank">
                                            <i class="fab fa-github-square"></i>
                                        </a>
                                    </li>
                                    <li ng-if="vm.profile.socials.bitbucket">
                                        <a ng-href="{{ vm.profile.socials.bitbucket }}" target="_blank">
                                            <i class="fab fa-bitbucket"></i>
                                        </a>
                                    </li>
                                    <li ng-if="vm.profile.socials.youtube">
                                        <a ng-href="{{ vm.profile.socials.youtube }}" target="_blank">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li ng-if="vm.profile.socials.flickr">
                                        <a ng-href="{{ vm.profile.socials.flickr }}" target="_blank">
                                            <i class="fab fa-flickr"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li ng-if="vm.profile.website">
                                <a href="{{ vm.profile.website }}" target="_blank">
                                    <i class="fas fa-external-link-alt"></i> {{ vm.profile.website }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="block-about" ng-if="vm.profile.description || vm.profile.interests">
            <div class="profile-block">
                <div class="profile-about" ng-if="vm.profile.description">
                    <h2 class="block-title">About</h2>
                    <p>{{ vm.profile.description }}</p>
                </div>

                <div class="profile-interests" ng-if="vm.profile.interests">
                    <h2 class="block-title">Interests</h2>
                    <ul class="interest-listing">
                        <li ng-repeat="interest in vm.profile.interests">{{ interest }}</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="block-experiences" ng-if="vm.profile.experiences">
            <div class="profile-block" ng-repeat="(company, experiences) in vm.profile.experiences" ng-if="$index < 1">
                <div class="content-container" ng-repeat="experience in experiences | limitTo: 1">
                    <i class="fas fa-briefcase title-icon"></i><span>My {{ experience.to ? 'last' : 'current' }} experience:</span>
                    <h2 class="block-title">
                        {{ vm.joinStrings([experience.jobTitle, company]) }}
                    </h2>
                </div>
                <div class="button-container">
                    <button class="show-more has-action" ng-click="vm.showExperiencesModal()">Show all experiences</button>
                </div>
            </div>
        </li>
        <li class="block-educations" ng-if="vm.profile.education">
            <div class="profile-block" ng-repeat="education in vm.profile.education | limitTo: 1">
                <div class="content-container">
                    <i class="fas fa-graduation-cap title-icon"></i><span>My {{ education.to ? 'last' : 'current' }} education:</span>
                    <h2 class="block-title">{{ vm.joinStrings([education.title, education.institute]) }}</h2>
                </div>
                <div class="button-container">
                    <button class="show-more has-action" ng-click="vm.showEducationsModal()">Show all educations</button>
                </div>
            </div>
        </li>
        <li class="block-certificates" ng-if="vm.favoriteCertificates.length > 0">
            <div class="profile-block">
                <div class="content-container">
                    <i class="fas fa-certificate title-icon"></i><span>My certificates:</span>
                    <ul class="favorite-certificates-listing">
                        <li ng-repeat="certificate in vm.favoriteCertificates">
                            {{ certificate }}
                        </li>
                    </ul>
                </div>
                <div class="button-container">
                    <button class="show-more has-action" ng-click="vm.showCertificatesModal()">Show all certificates</button>
                </div>
            </div>
        </li>
        <li class="block-skills" ng-if="vm.favoriteSkills.length > 0">
            <div class="profile-block">
                <div class="content-container">
                    <h2 class="block-title"><i class="fas fa-bolt title-icon"></i>Skills</h2>
                    <ul class="skill-listing">
                        <li ng-repeat="skill in vm.favoriteSkills">{{ skill }}</li>
                    </ul>
                </div>
                <div class="button-container">
                    <button class="show-more has-action" ng-click="vm.showSkillsModal()">Show all skills</button>
                </div>
            </div>
        </li>
        <li class="block-documents-and-accomplishments" ng-if="vm.profile.documents || vm.profile.accomplishments">
            <ul class="profile-blocks">
                <li class="block-documents" ng-if="vm.profile.documents">
                    <div class="profile-block">
                        <div class="content-container">
                            <span class="amount">{{ vm.getNumberOfItems(vm.profile.documents) }}</span>
                            <i class="fas fa-file title-icon"></i>
                            <h2 class="block-title">Documents</h2>
                        </div>
                        <div class="content-container last-item-container">
                            <span>My favorite documents:</span>
                            <ul class="favorite-listing">
                                <li><h2 class="block-title">Title document</h2></li>
                                <li><h2 class="block-title">Title document</h2></li>
                                <li><h2 class="block-title">Title document</h2></li>
                            </ul>
                        </div>
                        <div class="button-container">
                            <button class="show-more has-action" ng-click="vm.showDocumentsModal()">Show all documents</button>
                        </div>
                    </div>
                </li>
                <li class="block-accomplishments" ng-if="vm.profile.accomplishments">
                    <div class="profile-block">
                        <div class="content-container">
                            <span class="amount">{{ vm.getNumberOfItems(vm.profile.accomplishments) }}</span>
                            <i class="fas fa-trophy title-icon"></i>
                            <h2 class="block-title">Accomplishments</h2>
                        </div>
                        <div class="content-container last-item-container">
                            <span>My favorite accomplishments:</span>
                            <ul class="favorite-listing">
                                <li><h2 class="block-title">Title accomplishment</h2></li>
                                <li><h2 class="block-title">Title accomplishment</h2></li>
                                <li><h2 class="block-title">Title accomplishment</h2></li>
                            </ul>
                        </div>
                        <div class="button-container">
                            <button class="show-more has-action" ng-click="vm.showAccomplishmentsModal()">Show all accomplishments</button>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>