<div class="summary-profile-container profile">
    <div
        class="loading-container"
        ng-if="vm.loading">
        <span>Loading ...</span>
        <i class="fas fa-spinner fa-spin"></i>
    </div>
    <ul
        class="profile-blocks top"
        ng-class="vm.profile.description || vm.profile.interests ? 'has-about-me' : 'has-not-about-me'"
        ng-if="!vm.loading">
        <li class="block-basic-info">
            <ul class="card-container">
                <li class="main-card">
                    <div class="profile-block">
                        <img src="https://via.placeholder.com/150" alt="" class="img-fluid rounded-circle profile-image">
                        <h2 class="name" ng-if="vm.profile.name || vm.profile.surname">
                            {{ vm.profile.name }} {{ vm.profile.surname }}
                        </h2>
                        <p class="job-title" ng-if="vm.profile.jobTitle || vm.profile.role">
                            {{ vm.joinStrings([vm.profile.jobTitle, vm.profile.role], ' - ') }}
                        </p>
                        <p class="position" ng-if="vm.profile.administrativeOrganization || vm.profile.office">
                            {{ vm.joinStrings([vm.profile.administrativeOrganization, vm.profile.office], ' - ') }}
                        </p>
                        <ul class="research-lines" ng-if="vm.profile.researchLines.length > 0">
                            <li ng-repeat="researchLine in vm.profile.researchLines track by $index">{{ researchLine }}</li>
                        </ul>
                        <ul class="centers" ng-if="vm.profile.centers.length > 0">
                            <li ng-repeat="center in vm.profile.centers track by $index">{{ center }}</li>
                        </ul>
                        <ul class="titles" ng-if="vm.profile.titles.length > 0">
                            <li ng-repeat="title in vm.profile.titles track by $index">{{ title }}</li>
                        </ul>
                    </div>
                </li>
                <li class="contact-card">
                    <div class="profile-block">
                        <profile-contact-listing profile="vm.profile"></profile-contact-listing>
                    </div>
                </li>
            </ul>
        </li>
        <li class="block-about" ng-if="vm.profile.description || vm.profile.interests">
            <div class="profile-block">
                <div class="profile-about" ng-if="vm.profile.description">
                    <h2 class="block-title">About</h2>
                    <p>{{ vm.profile.description }}</p>
                </div>

                <div class="profile-interests" ng-if="vm.profile.interests">
                    <h2 class="block-title">Interests</h2>
                    <ul class="interest-listing">
                        <li ng-repeat="interest in vm.profile.interests track by $index">{{ interest }}</li>
                    </ul>
                </div>

                <profile-contact-listing profile="vm.profile"></profile-contact-listing>
            </div>
        </li>
        <li class="block-export">
            <div class="profile-block">
                <h2 class="block-title">Export</h2>
                <p>Export your profile to:</p>
                <ul>
                    <li>
                        <button
                            class="btn btn-outline-primary"
                            ng-click="vm.exportProfile('doc')">
                            <i class="far fa-file-word fa-left"></i>DOCX
                        </button>
                    </li>
                    <li>
                        <button
                            class="btn btn-outline-primary"
                            ng-click="vm.exportProfile('pdf')">
                            <i class="far fa-file-pdf fa-left"></i>PDF
                        </button>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul
        class="profile-blocks bottom"
        ng-class="'items-' + vm.numberOfItems"
        ng-if="!vm.loading">
        <li
            class="block-experiences"
            ng-if="vm.profile.experiences && vm.profile.experiences.length > 0">
            <div class="profile-block">
                <div class="content-container" ng-repeat="experience in vm.profile.experiences | limitTo: 1">
                    <i class="fas fa-briefcase title-icon"></i><span>My {{ experience.to ? 'last' : 'current' }} experience:</span>
                    <h2 class="block-title">
                        {{ vm.joinStrings([experience.jobTitle, experience.company], ' at ') }}
                    </h2>
                </div>
                <div class="button-container">
                    <button class="show-more has-action" ng-click="vm.showExperiencesModal()">Show all experiences</button>
                </div>
            </div>
        </li>
        <li
            class="block-educations"
            ng-if="vm.profile.education && vm.profile.education.length > 0">
            <div class="profile-block" ng-repeat="education in vm.profile.education | limitTo: 1">
                <div class="content-container">
                    <i class="fas fa-graduation-cap title-icon"></i><span>My {{ education.to ? 'last' : 'current' }} education:</span>
                    <h2 class="block-title">{{ vm.joinStrings([education.title, education.institute]) }}</h2>
                </div>
                <div class="button-container">
                    <button class="show-more has-action" ng-click="vm.showEducationsModal()">Show all educations</button>
                </div>
            </div>
        </li>
        <li
            class="block-certificates"
            ng-if="vm.profile.certificates && vm.profile.certificates.length > 0">
            <div class="profile-block">
                <div class="content-container">
                    <i class="fas fa-certificate title-icon"></i><span>My certificates:</span>
                    <ul class="favorite-certificates-listing">
                        <li ng-repeat="certificate in vm.favoriteCertificates track by $index">
                            {{ certificate }}
                        </li>
                    </ul>
                </div>
                <div class="button-container">
                    <button class="show-more has-action" ng-click="vm.showCertificatesModal()">Show all certificates</button>
                </div>
            </div>
        </li>
        <li
            class="block-skills"
            ng-if="vm.profile.skillCategories && vm.profile.skillCategories.length > 0">
            <div class="profile-block">
                <div class="content-container">
                    <h2 class="block-title"><i class="fas fa-bolt title-icon"></i>Skills</h2>
                    <ul class="skill-listing">
                        <li ng-repeat="skill in vm.favoriteSkills track by $index">{{ skill }}</li>
                    </ul>
                </div>
                <div class="button-container">
                    <button class="show-more has-action" ng-click="vm.showSkillsModal()">Show all skills</button>
                </div>
            </div>
        </li>
        <li
            class="block-documents"
            ng-if="vm.profile.documents && vm.profile.documents.length > 0 && vm.numberOfItems < 6">
            <profile-documents-block
                profile="vm.profile"
                documents-by-source-type="vm.documentsBySourceType"
                favorite-documents="vm.favoriteDocuments"></profile-documents-block>
        </li>
        <li
            class="block-accomplishments"
            ng-if="vm.profile.accomplishments && vm.profile.accomplishments.length > 0 && vm.numberOfItems < 6">
            <profile-accomplishments-block
                profile="vm.profile"
                accomplishments-by-type="vm.accomplishmentsByType"></profile-accomplishments-block>
        </li>
        <li ng-if="vm.numberOfItems == 6 && (
            (vm.profile.documents && vm.profile.documents.length > 0) ||
            (vm.profile.accomplishments && vm.profile.accomplishments.length > 0)
        )">
            <ul class="profile-blocks bottom items-2">
                <li
                    class="block-documents"
                    ng-if="vm.profile.documents && vm.profile.documents.length > 0"></profile-documents-block>
                    <profile-documents-block
                        profile="vm.profile"
                        documents-by-source-type="vm.documentsBySourceType"
                        favorite-documents="vm.favoriteDocuments">
                </li>
                <li
                    class="block-accomplishments"
                    ng-if="vm.profile.accomplishments && vm.profile.accomplishments.length > 0">
                    <profile-accomplishments-block
                        profile="vm.profile"
                        accomplishments-by-type="vm.accomplishmentsByType"></profile-accomplishments-block>
                </li>
            </ul>
        </li>
    </ul>
</div>