<scientilla-research-item-authors
    research-item="vm.patent"
    collapsed="vm.collapsed"
    type="default"></scientilla-research-item-authors>

<h3 class="patent-title" ng-bind-html='vm.patent.patentData | title'></h3>

<scientilla-research-item-affiliations
    research-item="vm.patent"
    collapsed="vm.collapsed"></scientilla-research-item-affiliations>

<hr/>

<ng-container ng-if="vm.patent.familyDocket">
    <strong>Docket:</strong> {{ vm.patent.familyDocket }}<br>
</ng-container>

<ng-container ng-if="vm.patent.patentData.application">
    <strong>Application:</strong> {{ vm.patent.patentData.application }}<br>
</ng-container>

<ng-container ng-if="vm.patent.patentData.filingDate">
    <strong>Filing date:</strong>  {{ vm.patent.patentData.filingDate }}<br>
</ng-container>

<ng-container ng-if="vm.patent.patentData.priority">
    <strong>Priority:</strong> {{ vm.patent.patentData.priority }}<br>
</ng-container>

<br ng-if="vm.patent.familyDocket || vm.patent.patentData.application || vm.patent.patentData.filingDate || vm.patent.patentData.priority">

<ng-container ng-if="vm.patent.patentData.inventors.length > 0">
    <strong ng-if="vm.patent.patentData.inventors.length === 1">Inventor:</strong>
    <strong ng-if="vm.patent.patentData.inventors.length > 1">Inventors:</strong>
    <ul>
        <li ng-repeat="inventor in vm.patent.patentData.inventors">
            {{ inventor.surname + ' ' + inventor.name }}<br>
        </li>
    </ul>
</ng-container>

<ng-container ng-if="vm.patent.patentData.assignees">
    <strong ng-if="vm.patent.patentData.assignees.length === 1">Assignee:</strong>
    <strong ng-if="vm.patent.patentData.assignees.length > 1">Assignees:</strong>
    <ul>
        <li ng-repeat="assignee in vm.patent.patentData.assignees">
            {{ assignee.name }}<br>
        </li>
    </ul>
</ng-container>

<ng-container ng-if="vm.patent.patentData.researchLines.length > 0">
    <strong ng-if="vm.patent.patentData.researchLines.length === 1">Research line:</strong>
    <strong ng-if="vm.patent.patentData.researchLines.length > 1">Research lines:</strong>
    <ul>
        <li ng-repeat="researchLine in vm.patent.patentData.researchLines">
            <a
                ng-if="vm.getGroupUrl(researchLine)"
                ng-click="vm.closeModal()"
                href="{{ vm.getGroupUrl(researchLine) }}"
            >
                {{ researchLine.name }}
            </a>
            <span ng-if="!vm.getGroupUrl(researchLine)">
                {{ researchLine.name }}
            </span>
        </li>
    </ul>
</ng-container>

<ng-container ng-if="vm.patent.patentData.patent">
    <strong>Patent:</strong> {{ vm.patent.patentData.patent }}<br>
</ng-container>

<ng-container ng-if="vm.patent.patentData.issueDate">
    <strong>Issue date:</strong> {{ vm.patent.patentData.issueDate }}<br>
</ng-container>

<br ng-if="vm.patent.patentData.patent || vm.patent.patentData.issueDate">

<ng-container ng-if="vm.patent.patentData.publication">
    <strong>Publication number:</strong> {{ vm.patent.patentData.publication }}<br>
</ng-container>

<ng-container ng-if="vm.patent.patentData.publicationDate">
    <strong>Publication date:</strong> {{ vm.patent.patentData.publicationDate }}<br>
</ng-container>

<br ng-if="vm.patent.patentData.publication || vm.patent.patentData.publicationDate">

<ng-container ng-if="vm.patent.patentData.abandonedExpiredAssignedDate">
    <strong>Abandoned expired assigned date:</strong> {{ vm.patent.patentData.abandonedExpiredAssignedDate }}<br>
</ng-container>

<ng-container ng-if="vm.patent.patentData.priorityPctExpirationDate">
    <strong>Priority pct expiration date:</strong> {{ vm.patent.patentData.priorityPctExpirationDate }}<br>
</ng-container>

<br ng-if="vm.patent.patentData.abandonedExpiredAssignedDate || vm.patent.patentData.priorityPctExpirationDate">

<ng-container ng-if="vm.patent.patentData.espacenetUrl">
    <strong>Espacenet URL:</strong> {{ vm.patent.patentData.espacenetUrl }}<br>
</ng-container>