<scientilla-backend-layout>
    <h1>Suggested patents</h1>
    <scientilla-filter
        category="patent-suggested"
        on-filter="vm.onFilter"
        elements="vm.patents"
        empty-list-message="No suggested patents found"
        on-change="vm.onChange"
    >

        <scientilla-multicheck>
            <buttons>
                <scientilla-multicheck-button
                    subject="Verify patents"
                    on-click="vm.multipleVerify"
                >
                    <i class="fas fa-check fa-left"></i>Verify
                </scientilla-multicheck-button>
                <scientilla-multicheck-button
                    subject="Discard patents"
                    on-click="vm.multipleDiscard"
                >
                    <i class="fas fa-ban fa-left"></i>Discard
                </scientilla-multicheck-button>
            </buttons>
            <item-list>
                <scientilla-checkable
                    ng-repeat="p in vm.patents"
                    item="p"
                    class="scientilla-checkable"
                >

                    <scientilla-patent
                        patent="p"
                        section="vm.patentListSections.SUGGESTED"
                        class="patent-container"
                    ></scientilla-patent>

                    <div class="patent-row-actions">
                        <button
                            ng-click="vm.verify(p)"
                            type="button"
                            class="btn btn-primary"
                            title="Verify the suggested patent"
                            ng-if="p.isDiscarded()"
                        >
                            <i class="fas fa-check fa-left"></i>Verify
                        </button>

                        <div
                            class="btn-group"
                            uib-dropdown
                            ng-if="!p.isDiscarded()"
                        >
                            <button
                                ng-click="vm.verify(p)"
                                type="button"
                                class="btn btn-primary"
                                title="Verify the suggested patent"
                            >
                                <i class="fas fa-check fa-left"></i>Verify
                            </button>

                            <button
                                type="button"
                                class="btn btn-primary dropdown-toggle only-icon"
                                uib-dropdown-toggle
                            >
                            </button>

                            <div
                                uib-dropdown-menu
                                class="dropdown-menu"
                            >
                                <button
                                    ng-click="vm.discard(p)"
                                    class="dropdown-item"
                                >
                                    <i class="fas fa-ban fa-left"></i>Discard
                                </button>
                            </div>
                        </div>
                    </div>
                </scientilla-checkable>
            </item-list>
        </scientilla-multicheck>

    </scientilla-filter>
</scientilla-backend-layout>
