<scientilla-toolbar></scientilla-toolbar>
<div layout="column">
    <section layout="row" flex>
        <scientilla-menu></scientilla-menu>
        <md-content flex layout-padding style="position: absolute; top:64px; bottom:0; left: 260px; width: 800px;">
            <div layout="column" layout-fill layout-align="top center">
                <div class="main-view" ng-view></div>
            </div>
        </md-content>
  </section>
</div>
