<!DOCTYPE html>
<html>
  <head>
    <title>Scientilla</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/dependencies/angular-ui-notification/dist/angular-ui-notification.min.css">
    <link rel="stylesheet" href="/styles/dependencies/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/dependencies/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/dependencies/nvd3/build/nv.d3.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
  </head>

  <body ng-app="app">
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->
    <% if (typeof host!== 'undefined') { %>
    <script src="//<%= host %>:35732/livereload.js"></script>
    <% } %>
    <!--SCRIPTS-->
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/ui-bootstrap.min.js"></script>
    <script src="/js/dependencies/d3.js"></script>
    <script src="/js/dependencies/nv.d3.js"></script>
    <script src="/js/dependencies/angular-animate.min.js"></script>
    <script src="/js/dependencies/angular-aria.min.js"></script>
    <script src="/js/dependencies/angular-local-storage.min.js"></script>
    <script src="/js/dependencies/angular-nvd3.min.js"></script>
    <script src="/js/dependencies/angular-route.min.js"></script>
    <script src="/js/dependencies/angular-sanitize.min.js"></script>
    <script src="/js/dependencies/angular-ui-notification.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/form-for.bootstrap-templates.js"></script>
    <script src="/js/dependencies/form-for.min.js"></script>
    <script src="/js/dependencies/lodash.min.js"></script>
    <script src="/js/dependencies/restangular.min.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/app/app.module.js"></script>
    <script src="/js/app/auth/auth.module.js"></script>
    <script src="/js/app/components/components.module.js"></script>
    <script src="/js/app/core/app.core.module.js"></script>
    <script src="/js/app/documents/documents.module.js"></script>
    <script src="/js/app/groups/groups.module.js"></script>
    <script src="/js/app/services/services.module.js"></script>
    <script src="/js/app/users/users.module.js"></script>
    <script src="/js/app/app.config.js"></script>
    <script src="/js/app/app.controller.js"></script>
    <script src="/js/app/auth/AuthService.js"></script>
    <script src="/js/app/auth/auth.config.js"></script>
    <script src="/js/app/auth/login.controller.js"></script>
    <script src="/js/app/auth/logout.controller.js"></script>
    <script src="/js/app/auth/register.controller.js"></script>
    <script src="/js/app/components/home.controller.js"></script>
    <script src="/js/app/components/research-entity.service.js"></script>
    <script src="/js/app/components/scientilla-backend-layout.component.js"></script>
    <script src="/js/app/components/scientilla-button.js"></script>
    <script src="/js/app/components/scientilla-checkable.component.js"></script>
    <script src="/js/app/components/scientilla-filter.component.js"></script>
    <script src="/js/app/components/scientilla-menu.component.js"></script>
    <script src="/js/app/components/scientilla-multicheck-button.component.js"></script>
    <script src="/js/app/components/scientilla-multicheck.component.js"></script>
    <script src="/js/app/components/scientilla-multicomplete.component.js"></script>
    <script src="/js/app/components/scientilla-toolbar.component.js"></script>
    <script src="/js/app/components/scientilla.constants.js"></script>
    <script src="/js/app/core/ifEmpty.filter.js"></script>
    <script src="/js/app/documents/authors-affiliations.filter.js"></script>
    <script src="/js/app/documents/authors-corresponding.filter.js"></script>
    <script src="/js/app/documents/authors-main-group.filter.js"></script>
    <script src="/js/app/documents/authors-verified.filter.js"></script>
    <script src="/js/app/documents/document-types.service.js"></script>
    <script src="/js/app/documents/documents.config.js"></script>
    <script src="/js/app/documents/documents.service.js"></script>
    <script src="/js/app/documents/documentusertags.filter.js"></script>
    <script src="/js/app/documents/doi.filter.js"></script>
    <script src="/js/app/documents/profile-summary.component.js"></script>
    <script src="/js/app/documents/scientilla-button-new-document.component.js"></script>
    <script src="/js/app/documents/scientilla-document-affiliations.component.js"></script>
    <script src="/js/app/documents/scientilla-document-details.component.js"></script>
    <script src="/js/app/documents/scientilla-document-form.directive.js"></script>
    <script src="/js/app/documents/scientilla-document-label.component.js"></script>
    <script src="/js/app/documents/scientilla-document-source.component.js"></script>
    <script src="/js/app/documents/scientilla-document-verification-form.component.js"></script>
    <script src="/js/app/documents/scientilla-document.component.js"></script>
    <script src="/js/app/documents/scientilla-documents-list.component.js"></script>
    <script src="/js/app/documents/scientilla-drafts-list.directive.js"></script>
    <script src="/js/app/documents/scientilla-external-documents.component.js"></script>
    <script src="/js/app/documents/scientilla-suggested-documents.component.js"></script>
    <script src="/js/app/documents/scientilla-tag-form.component.js"></script>
    <script src="/js/app/documents/scientilla-verified-list.component.js"></script>
    <script src="/js/app/documents/title.filter.js"></script>
    <script src="/js/app/groups/GroupsService.js"></script>
    <script src="/js/app/groups/group-browsing.controller.js"></script>
    <script src="/js/app/groups/group-details.controller.js"></script>
    <script src="/js/app/groups/group-documents.service.js"></script>
    <script src="/js/app/groups/group-forms.service.js"></script>
    <script src="/js/app/groups/groups.config.js"></script>
    <script src="/js/app/groups/scientilla-group-form.component.js"></script>
    <script src="/js/app/services/ContextService.js"></script>
    <script src="/js/app/services/ModalService.js"></script>
    <script src="/js/app/services/events.service.js"></script>
    <script src="/js/app/services/path.service.js"></script>
    <script src="/js/app/services/prototyper.service.js"></script>
    <script src="/js/app/services/research-entity-forms-factory.js"></script>
    <script src="/js/app/services/settings.service.js"></script>
    <script src="/js/app/services/trust.filter.js"></script>
    <script src="/js/app/users/UsersService.js"></script>
    <script src="/js/app/users/aliases.directive.js"></script>
    <script src="/js/app/users/fullname.filter.js"></script>
    <script src="/js/app/users/scientilla-user-form.component.js"></script>
    <script src="/js/app/users/user-browsing.controller.js"></script>
    <script src="/js/app/users/user-details.controller.js"></script>
    <script src="/js/app/users/user-documents.service.js"></script>
    <script src="/js/app/users/user-forms.service.js"></script>
    <script src="/js/app/users/users.config.js"></script>
    <script src="/js/polyfills.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
