.groups {
    &.groups-browsing {
        .title-container {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr auto;
        }

        .btn-add-group {
            height: fit-content;
        }

        .group-listing {
            @include normalize-listing;

            & > li {
                & + li {
                    margin-top: 2rem;
                    padding-top: 2rem;
                    border-top: 1px solid $gray-300;
                }
            }

            .user-fullname {
                margin-bottom: 0px;
            }
        }

        .group-info-listing {
            @include normalize-listing;
            margin-bottom: 1rem;

            ul {
                @include normalize-listing('true');
                @include clearfix;
                margin-left: -.5rem;
                margin-right: -.5rem;

                & > li {
                    display: block;
                    padding: 0px .5rem;
                    float: left;
                }
            }
        }

        .group-title {
            margin-bottom: .5rem;
        }
    }

    &.group-detail {
        padding-bottom: 3rem;

        .title-container {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr auto;
        }

        .btn-add-collaborator {
            height: fit-content;
        }

        .group-info-tab {
            .group-card {
                margin-bottom: 2rem;

                h2 {
                    margin-bottom: 0px;
                }

                .group-info-listing {
                    @include normalize-listing;
                    margin-bottom: 2rem;

                    .pi,
                    .interactions {
                        @include normalize-listing('true');

                        & > li {
                            display: inline-block;
                            vertical-align: top;

                            & + li {
                                &:before {
                                    display: inline-block;
                                    content: ',';
                                    vertical-align: top;
                                }
                            }
                        }
                    }
                }
            }

            .role-card {
                margin-bottom: 2rem;

                em {
                    display: block;
                    color: $gray;
                }
            }

            .checkbox-container {
                margin-bottom: 2rem;
            }

            .count {
                color: $gray-400;
            }

            .legend-info {
                margin-bottom: 2rem;

                .subtotal {
                    font-size: 4rem;
                    line-height: 1;
                }

                .category-subtitle {
                    font-size: 1.6rem;
                }
            }

            &.has-gender-chart{
                .column-countries {
                    margin-top: 3rem;
                }

                .column-by-role,
                .column-by-gender,
                .column-by-age-range {
                    &:after {
                        @include bottom-line;
                    }
                }

                .column-by-gender {
                    .inner-column-by-gender {
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: auto 1fr;
                        height: 100%;
                    }
                }
            }

            &.has-no-gender-chart{
                .column-countries {
                    margin-top: 3rem;
                }

                .column-by-gender,
                .column-by-age-range {
                    &:after {
                        @include bottom-line;
                    }
                }

                .column-by-age-range {
                    &:before{
                        @include top-line;
                    }
                }
            }
        }

        .group-member-listing {
            @include normalize-listing;

            & > li {
                display: grid;
                grid-template-columns: 80px 1fr;
                grid-template-rows: auto;

                & + li {
                    margin-top: 2rem;
                    padding-top: 2rem;
                    border-top: 1px solid $gray-300;
                }
            }

            img {
                @include set-grid(1, 1, 1, 1);
                border-radius: .5rem;
            }

            .user-content {
                @include set-grid(1, 2, 1, 1);
                padding: 0px 1rem;
            }

            .memberships-container {
                @include set-grid(2, 1, 1, 2);
            }

            .dropdown-container {
                @include set-grid(3, 1, 1, 2);
                margin-top: 1rem;
            }

            .group-member-fullname {
                @include h5;
                margin-bottom: .5rem;
                line-height: 1 !important;
            }

            .job-title {
                margin-bottom: .5rem;
                color: $gray;
            }

            .memberships {
                @include normalize-listing;
                @include clearfix;
                margin: 1rem -.5rem -1rem -.5rem;
                overflow: hidden;

                li {
                    display: block;
                    float: left;
                    padding-right: .5rem;
                    padding-left: .5rem;
                }

                div,
                a {
                    display: block;
                    margin-bottom: 1rem;
                    padding: .5rem 1rem;
                    font-size: 1rem;
                    line-height: 1;
                    border-radius: 1rem;
                }

                div {
                    background: $gray-100;
                    color: $gray;
                }

                a {
                    background-color: $primary-color;
                    color: color-yiq($primary-color);
                }
            }

            .socials {
                @include normalize-listing;
                @include clearfix;
                margin-right: -.5rem;
                margin-left: -.5rem;

                & > li {
                    display: block;
                    float: left;
                    padding-right: .5rem;
                    padding-left: .5rem;
                }

                a {
                    display: block;
                    line-height: 1;
                }
            }

            .badges {
                @include normalize-listing;
                @include clearfix;
                margin-right: -.5rem;
                margin-left: -.5rem;

                & > li {
                    display: block;
                    float: left;
                    padding-right: .5rem;
                    padding-left: .5rem;
                }

                div {
                    display: inline-block;
                    padding: .5rem 1rem;
                    font-size: 1rem;
                    line-height: 1;
                    border-radius: 1rem;
                    background: $gray-100;
                    color: $gray;
                }
            }

            .socials-container {
                & + .badges {
                    margin-top: .8rem;
                }
            }
        }

        .add-collaborator-field-container,
        .add-group-field-container {
            position: relative;
            width: 100%;
            max-width: 400px;

            .form-control {
                padding-right: 3rem;
            }

            &:after {
                position: absolute;
                top: 7px;
                right: 10px;
                display: block;
                font-family: $font-awesome;
                font-size: 1.2rem;
                font-weight: 900;
                content: '\f002';
            }
        }

        .selected-group {
            @include normalize-listing;

            & > li {
                padding: 1rem 0px;
            }
        }

        .child-group-listing {
            @include normalize-listing;
            margin-bottom: 2rem;

            & > li {
                display: grid;
                margin: 1rem -1rem 0px -1rem;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto;
                align-items: center;
            }

            a,
            button{
                display: block;
                margin: 0px 1rem;
            }
        }
    }
}

.group-scientific-production-tab,
.group-info-tab{
    .chart-container {
        max-width: 30rem;
        margin-right: auto;
        margin-bottom: 2rem;
        margin-left: auto;

        .chart {
            position: relative;
            display: block;
            padding-bottom: 50%;

            &.chart-full {
                padding-bottom: 100%;
            }
        }

        svg {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100% !important;
            height: 100% !important;
        }

        .nvd3.nv-pie path {
            fill-opacity: 1;
        }
    }

    .chart-title {
        margin-bottom: 1rem;
    }
}

.group-scientific-production-tab{
    overflow: hidden;

    .legend-with-bar-chart{
        max-height: 55rem;
    }

    .row{
        margin-left: -6rem;
        margin-right: -6rem;

        & > div{
            padding-left: 6rem;
            padding-right: 6rem;

            &:nth-child(odd){
                border-right: .1rem solid $gray-100;
            }

            &:last-child{
                border-right: none;

                .scientific-production-chart{
                    min-height: auto;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
        }
    }

    .scientific-production-chart{
        min-height: calc(100% - 6rem);
        margin-bottom: 6rem;
        padding-bottom: 6rem;
        border-bottom: .1rem solid $gray-100;
    }
}

@include media-breakpoint-down(xl) {
    .group-scientific-production-tab{
        .row{
            & > div{
                &:nth-child(odd){
                    border-right: none;
                }
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .groups {
        &.groups-browsing {
            .group-listing {
                & > li{
                    display: grid;
                    grid-template-columns: 1fr auto;
                    grid-template-rows: auto;
                }
            }
        }

        &.group-detail {
            .selected-group {
                display: grid;
                margin: 2rem -1rem 0px -1rem;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto;
                align-items: center;

                & > li {
                    padding: 1rem;
                }
            }

            .group-member-listing {
                & > li {
                    grid-template-columns: 80px 1fr auto;
                }

                img {
                    @include set-grid(1, 1, 1, 1);
                }

                .user-content {
                    @include set-grid(1, 2, 1, 1);
                    margin-top: 0px;
                }

                .memberships-container {
                    @include set-grid(2, 1, 1, 2);
                }

                .dropdown-container {
                    @include set-grid(1, 3, 2, 1);
                    margin-top: 0rem;
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .groups {
        &.group-detail {
            .group-member-listing {
                & > li {
                    grid-template-columns: 80px 2fr 3fr auto;
                }

                img {
                    @include set-grid(1, 1, 1, 1);
                }

                .user-content {
                    @include set-grid(1, 2, 1, 1);
                }

                .memberships-container {
                    @include set-grid(1, 3, 1, 1);
                    padding: 0px 1rem;

                    .memberships{
                        margin-top: 0rem;
                    }
                }

                .dropdown-container {
                    @include set-grid(1, 4, 1, 1);
                }
            }
        }
    }
}

@include media-breakpoint-between(lg, xl) {
    .groups {
        &.group-detail {
            .group-info-tab {
                &.has-gender-chart {
                    .column-by-role,
                    .column-by-gender,
                    .column-by-age-range {
                        &:after {
                            display: none;
                        }
                    }

                    .column-legend,
                    .column-by-role {
                        margin-bottom: 3rem;
                    }

                    .column-by-gender {
                        padding-right: 3rem;

                        &:after {
                            position: absolute;
                            right: 0px;
                            top: 3rem;
                            display: block;
                            width: 1px;
                            height: calc(100% - 3rem);
                            content: '';
                            border-right: .1rem solid $gray-100;
                            border-bottom: 0px;
                        }

                        &:before {
                            @include top-line;
                            margin-top: 0px;
                        }
                    }

                    .column-by-age-range {
                        padding-left: 3rem;

                        &:before {
                            @include top-line;
                            margin-top: 0px;
                        }
                    }

                    .column-by-country {
                        &:before {
                            @include bottom-line;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xxl) {
    .groups {
        &.group-detail {
            .group-info-tab {
                &.has-gender-chart {
                    .column-by-role,
                    .column-by-gender,
                    .column-by-age-range {
                        &:after {
                            display: none;
                        }
                    }

                    .column-by-gender {
                        padding-left: 3rem;
                    }

                    .column-by-role,
                    .column-by-age-range {
                        position: relative;
                        padding-right: 3rem;

                        &:after {
                            position: absolute;
                            right: 0px;
                            top: 1rem;
                            display: block;
                            width: 1px;
                            height: calc(100% - 1rem);
                            content: '';
                            border-right: .1rem solid $gray-100;
                            border-bottom: 0px;
                        }
                    }

                    .column-by-age-range {
                        &:after{
                            top: 6rem;
                            height: calc(100% - 6rem);
                        }

                        &:before {
                            @include bottom-line;
                        }
                    }

                    .column-by-country {
                        padding-left: 3rem;

                        &:before {
                            @include bottom-line;
                        }
                    }

                    .column-by-gender,
                    .column-by-country-sub {
                        .legend {
                            display: inline-block;
                            width: auto;
                            margin-top: 2rem;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }

                    .inner-column-by-gender {
                        .chart-by-gender-outer-container {
                            display: flex;
                            height: 100%;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }

                &.has-no-gender-chart{
                    .column-by-role,
                    .column-by-age-range {
                        &:after {
                            display: none;
                        }
                    }

                    .column-by-role,
                    .column-by-age-range {
                        position: relative;
                        padding-right: 3rem;

                        &:after {
                            position: absolute;
                            right: 0px;
                            top: 1rem;
                            display: block;
                            width: 1px;
                            height: calc(100% - 1rem);
                            content: '';
                            border-right: .1rem solid $gray-100;
                            border-bottom: 0px;
                        }
                    }

                    .column-by-age-range {
                        &:after{
                            top: 6rem;
                            height: calc(100% - 6rem);
                        }

                        &:before {
                            margin-top: 0px;
                            padding-top: 0px;
                            border-top: 0px;
                            @include bottom-line;
                        }
                    }

                    .column-by-country {
                        padding-left: 3rem;

                        &:before {
                            @include bottom-line;
                        }
                    }
                }
            }
        }
    }
}
