.groups{
    &.groups-browsing{
        .title-container{
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr auto;
        }

        .btn-add-group{
            height: fit-content;
        }

        .group-listing{
            @include normalize-listing;

            & > li{
                & + li{
                    margin-top: 2rem;
                    padding-top: 2rem;
                    border-top: 1px solid $silver;
                }
            }

            .user-fullname{
                margin-bottom: 0px;
            }
        }

        .group-info-listing{
            @include normalize-listing;
            margin-bottom: 1rem;

            ul{
                @include normalize-listing('true');
                @include clearfix;

                & > li{
                    display: block;
                    padding: 0px .5rem;
                    float: left;
                }
            }
        }

        .group-title{
            margin-bottom: .5rem;
        }
    }

    &.group-detail{

        .group-info-tab{
            .pi,
            .interactions{
                @include normalize-listing;

                & > li{
                    display: inline-block;
                    vertical-align: top;

                    & + li{
                        &:before{
                            display: inline-block;
                            content: ',';
                            vertical-align: top;
                        }
                    }
                }
            }

            .chart-container{
                max-width: 800px;
                margin-top: 5rem;
                margin-left: auto;
                margin-right: auto;

                .chart{
                    position: relative;
                    display: block;
                    padding-bottom: 50%;
                }

                svg{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100% !important;
                    height: 100% !important;
                }

                .chart-info{
                    max-width: 500px;
                    margin-right: auto;
                    margin-left: auto;
                    font-style: italic;
                    text-align: center;
                }
            }
        }

        .group-member-listing{
            @include normalize-listing;
            margin: 0px -1rem;

            & > li{
                display: grid;
                margin: 0px 1rem 2rem 1rem;
                padding: 1rem 1rem 1rem 1.5rem;
                grid-template-rows: auto;
                grid-template-columns: 1fr auto;
                border: 1px solid $silver;
                border-radius: .25rem;
            }

            .group-member-fullname{
                @include h3;
                display: inline-block;
                margin-bottom: 1rem;
                vertical-align: top;
            }

            .collaborator{
                border-color: $silver;
                background: lighten($silver, 10%);
            }

            .former-collaborator{
                border-color: $half-baked;
                background: lighten($half-baked, 10%);
            }

            .member-info{
                @include normalize-listing;
            }
        }

        .add-collaborator-field-container,
        .add-group-field-container{
            position: relative;
            width: 100%;
            max-width: 400px;

            .form-control{
                padding-right: 3rem;
            }

            &:after{
                position: absolute;
                top: 7px;
                right: 10px;
                display: block;
                font-family: $font-awesome;
                font-size: 1.2rem;
                font-weight: 900;
                content: '\f002';
            }
        }

        .selected-user,
        .selected-group{
            @include normalize-listing;

            & > li{
                padding: 1rem 0px;
            }
        }

        .child-group-listing{
            @include normalize-listing;
            margin-bottom: 2rem;

            & > li{
                display: grid;
                margin: 1rem -1rem 0px -1rem;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto;
                align-items: center;
            }

            a{
                display: block;
                margin: 0px 1rem;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .groups{
        &.groups-browsing{
            .group-listing{
                & > li{
                    display: grid;
                    grid-template-columns: 1fr auto;
                    grid-template-rows: auto;
                }
            }
        }

        &.group-detail{
            .selected-user{
                display: grid;
                margin: 2rem -1rem 0px -1rem;
                grid-template-columns: 1fr auto auto;
                grid-template-rows: auto;
                align-items: center;

                & > li{
                    padding: 1rem;
                }

                .form-checkbox{
                    margin: 0px;
                }
            }

            .selected-group{
                display: grid;
                margin: 2rem -1rem 0px -1rem;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto;
                align-items: center;

                & > li{
                    padding: 1rem;
                }
            }

            .group-member-listing{
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}
