.groups{
    &.groups-browsing{
        .title-container{
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr auto;
        }

        .btn-add-group{
            height: fit-content;
        }

        .group-listing{
            @include normalize-listing;

            & > li{
                & + li{
                    margin-top: 2rem;
                    padding-top: 2rem;
                    border-top: 1px solid $gray-300;
                }
            }

            .user-fullname{
                margin-bottom: 0px;
            }
        }

        .group-info-listing{
            @include normalize-listing;
            margin-bottom: 1rem;

            ul{
                @include normalize-listing('true');
                @include clearfix;
                margin-left: -.5rem;
                margin-right: -.5rem;

                & > li{
                    display: block;
                    padding: 0px .5rem;
                    float: left;
                }
            }
        }

        .group-title{
            margin-bottom: .5rem;
        }
    }

    &.group-detail{
        padding-bottom: 3rem;

        .group-info-tab{

            .group-card{
                margin-bottom: 2rem;

                h2{
                    margin-bottom: 1rem;
                }

                .group-info-listing{
                    @include normalize-listing;
                    margin-bottom: 2rem;

                    .pi,
                    .interactions{
                        @include normalize-listing('true');

                        & > li{
                            display: inline-block;
                            vertical-align: top;

                            & + li{
                                &:before{
                                    display: inline-block;
                                    content: ',';
                                    vertical-align: top;
                                }
                            }
                        }
                    }
                }
            }

            .role-card{
                margin-bottom: 2rem;

                em{
                    display: block;
                    margin-top: 1rem;
                    color: $gray;
                }
            }

            .checkbox-container{
                margin-bottom: 2rem;
            }

            .chart-container{
                max-width: 300px;
                margin-right: auto;
                margin-bottom: 2rem;
                margin-left: auto;

                .chart{
                    position: relative;
                    display: block;
                    padding-bottom: 50%;

                    &.chart-full{
                        padding-bottom: 100%;
                    }
                }

                svg{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100% !important;
                    height: 100% !important;
                }

                .nvd3.nv-pie path{
                    fill-opacity: 1;
                }
            }

            .chart-title{
                margin-bottom: 1rem;
            }

            .count{
                color: $gray-400;
            }

            .legend-info{
                margin-bottom: 2rem;

                .subtotal {
                    font-size: 4rem;
                    line-height: 1;
                }

                .category-subtitle{
                    font-size: 1.6rem;
                }
            }

            .column-countries{
                margin-top: 3rem;
            }

            .column-by-role,
            .column-by-gender,
            .column-by-age-range{
                &:after{
                    @include bottom-line;
                }
            }

            .column-by-gender{
                .inner-column-by-gender{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto 1fr;
                    height: 100%;
                }
            }
        }

        .group-member-listing{
            @include normalize-listing;
            margin: 0px -1rem;

            & > li{
                display: grid;
                margin: 0px 1rem 2rem 1rem;
                padding: 1rem 1rem 1rem 1.5rem;
                grid-template-rows: auto;
                grid-template-columns: 1fr auto;
                border: 1px solid $gray-300;
                border-radius: .25rem;
            }

            .group-member-fullname{
                @include h3;
                display: inline-block;
                margin-bottom: 1rem;
                vertical-align: top;
            }

            .collaborator{
                border-color: $gray-300;
                background: $gray-200;
            }

            .former-collaborator{
                border-color: lighten($primary-color, 10%);
                background: lighten($primary-color, 20%);
            }

            .member-info{
                @include normalize-listing;
            }
        }

        .add-collaborator-field-container,
        .add-group-field-container{
            position: relative;
            width: 100%;
            max-width: 400px;

            .form-control{
                padding-right: 3rem;
            }

            &:after{
                position: absolute;
                top: 7px;
                right: 10px;
                display: block;
                font-family: $font-awesome;
                font-size: 1.2rem;
                font-weight: 900;
                content: '\f002';
            }
        }

        .selected-user,
        .selected-group{
            @include normalize-listing;

            & > li{
                padding: 1rem 0px;
            }
        }

        .child-group-listing{
            @include normalize-listing;
            margin-bottom: 2rem;

            & > li{
                display: grid;
                margin: 1rem -1rem 0px -1rem;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto;
                align-items: center;
            }

            a{
                display: block;
                margin: 0px 1rem;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .groups{
        &.groups-browsing{
            .group-listing{
                & > li{
                    display: grid;
                    grid-template-columns: 1fr auto;
                    grid-template-rows: auto;
                }
            }
        }

        &.group-detail{
            .selected-user{
                display: grid;
                margin: 2rem -1rem 0px -1rem;
                grid-template-columns: 1fr auto auto;
                grid-template-rows: auto;
                align-items: center;

                & > li{
                    padding: 1rem;
                }

                .form-checkbox{
                    margin: 0px;
                }
            }

            .selected-group{
                display: grid;
                margin: 2rem -1rem 0px -1rem;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto;
                align-items: center;

                & > li{
                    padding: 1rem;
                }
            }

            .group-member-listing{
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@include media-breakpoint-between(lg, xl) {
    .groups{
        &.group-detail{
            .group-info-tab{
                .column-by-role,
                .column-by-gender,
                .column-by-age-range{
                    &:after{
                        display: none;
                    }
                }

                .column-legend,
                .column-by-role{
                    margin-bottom: 3rem;
                }

                .column-by-gender{
                    padding-right: 3rem;

                    &:after{
                        position: absolute;
                        right: 0px;
                        top: 3rem;
                        display: block;
                        width: 1px;
                        height: calc(100% - 3rem);
                        content: '';
                        border-right: .1rem solid $gray-100;
                        border-bottom: 0px;
                    }

                    &:before{
                        @include top-line;
                        margin-top: 0px;
                    }
                }

                .column-by-age-range{
                    padding-left: 3rem;

                    &:before{
                        @include top-line;
                        margin-top: 0px;
                    }
                }

                .column-by-country{
                    &:before{
                        @include bottom-line;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xxl) {
    .groups{
        &.group-detail {
            .group-info-tab {
                .column-by-role,
                .column-by-gender,
                .column-by-age-range {
                    &:after {
                        display: none;
                    }
                }

                .column-by-gender{
                    padding-left: 3rem;
                }

                .column-by-role,
                .column-by-age-range{
                    position: relative;
                    padding-right: 3rem;

                    &:after{
                        position: absolute;
                        right: 0px;
                        top: 1rem;
                        display: block;
                        width: 1px;
                        height: calc(100% - 1rem);
                        content: '';
                        border-right: .1rem solid $gray-100;
                        border-bottom: 0px;
                    }
                }

                .column-by-age-range{
                    &:after{
                        top: 6rem;
                        height: calc(100% - 6rem);
                    }

                    &:before{
                        @include bottom-line;
                    }
                }

                .column-by-country{
                    padding-left: 3rem;

                    &:before{
                        @include bottom-line;
                    }
                }

                .column-by-gender,
                .column-by-country-sub{
                    .legend{
                        display: inline-block;
                        width: auto;
                        margin-top: 2rem;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }

                .inner-column-by-gender{
                    .chart-by-gender-outer-container{
                        display: flex;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}