.summary{
    &.summary-profile{
        @include clearfix;

        .info-button-container{
            @include clearfix;
            margin-bottom: 2rem;

            .info-button{
                float: right;
            }
        }

        .summary-charts{
            @include normalize-listing;
            margin: 0px -1.5rem;
            text-align: center;
            overflow: none;

            & > li{
                margin-bottom: 5rem;
                padding: 0px 1.5rem;
            }

            .chart-outer-container{
                border: 1px solid $mercury;
                border-radius: .25rem;
            }

            .chart{
                position: relative;
                display: block;
                padding-bottom: 65.925%;
            }

            svg{
                position: absolute;
                width: 100% !important;
                height: 100% !important;
            }

            .chart-title{
                margin-bottom: 1rem;
            }

            .main-chart-container{
                display: none;
            }
        }

        .index-container{
            margin-bottom: 3rem;
            padding: 2rem 5rem;
            border: 1px solid $mercury;
            border-radius: .25rem;

            .index-title{
                text-align: center;
            }
        }

        .index-listing{
            @include normalize-listing;
            margin-bottom: 3rem;

            & > li{
                margin-bottom: .5rem;
            }

            i{
                display: inline-block;
                margin-bottom: .5rem;
                font-size: 2rem;
                vertical-align: top;

                & + i {
                    position: relative;
                    margin-left: 4px;
                    padding-left: 10px;

                    &:after{
                        @include h6;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        display: inline-block;
                        font-weight: bold;
                        content: '/';
                        vertical-align: middle;
                    }
                }
            }

            .index-label,
            .index-value{
                font-family: $roboto-slab;
                font-size: 1.4rem;
                line-height: 2rem;
            }

            .index-value{
                font-weight: bold;

                &:before{
                    margin-left: -4px;
                    margin-right: 4px;
                    content: ':';
                }
            }
        }

        .document-totals{
            display: flex;
            min-height: calc(100% - 3rem);
            margin-bottom: 3rem;
            padding: 2rem;
            border: 1px solid $mercury;
            border-radius: .25rem;
            align-items: center;
        }

        .metric-chart-container{
            display: block;
            min-height: calc(100% - 3rem);
            margin-bottom: 3rem;
            padding: 1rem;
            text-align: center;
            border: 1px solid $mercury;
            border-radius: .25rem;

            .chart{
                position: relative;
                display: block;
                padding-bottom: 65.925%;
            }

            svg{
                position: absolute;
                width: 100% !important;
                height: 100% !important;
            }
        }

        .top-listing{
            @include normalize-listing;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto 1fr;
            text-align: center;
        }
    }
}

@include media-breakpoint-between(sm, lg) {
    .summary{
        &.summary-profile{
            .metric-chart-container{
                .chart{
                    padding-bottom: 43.95%;
                }
            }
        }
    }
}

@include media-breakpoint-between(sm, md) {
    .summary{
        &.summary-profile{
            .index-listing{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .summary{
        &.summary-profile{
            .summary-charts{
                display: grid;
                grid-template-rows: auto;

                .preview-chart-container{
                    .chart-outer-container{
                        position: relative;
                        z-index: 1;
                        cursor: pointer;

                        &:before{
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            z-index: 2;
                            width: 100%;
                            height: 100%;
                            background: lighten($mercury, 8%);
                            opacity: .5;
                            content: '';
                            transition: .2s all;
                        }

                        &:after{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            z-index: 3;
                            display: block;
                            margin-top: -10px;
                            margin-left: -10px;
                            font-family: $font-awesome;
                            font-size: 2rem;
                            font-weight: 900;
                            color: $silver;
                            content: '\f06e';
                            transition: .2s all;
                        }
                    }

                    .chart-preview{
                        &.chart-selected{
                            .chart-outer-container{
                                cursor: default;

                                &:before,
                                &:after{
                                    opacity: 0;
                                    visiblity: hidden;
                                }
                            }
                        }
                    }
                }

                .main-chart-container{
                    display: block;

                    .chart-container{
                        padding: 5rem 15rem;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-between(lg, xl) {
    .summary{
        &.summary-profile{
            .summary-charts{
                grid-template-columns: 1fr 1fr 1fr;

                .main-chart-container{
                    @include set-grid(1,1,1,3);
                }

                .preview-chart-container{
                    &:nth-child(2){
                        @include set-grid(2,1,1,1);
                        padding-top: 1.2rem;
                    }

                    &:nth-child(3){
                        @include set-grid(2,2,1,1);
                    }

                    &:nth-child(3){
                        @include set-grid(2,3,1,1);
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .summary{
        &.summary-profile{
            .summary-charts{
                grid-template-columns: 4fr 1fr;

                & > li{
                    margin-bottom: 0px;
                }

                .main-chart-container{
                    @include set-grid(1,1,3,1);

                    .chart-container{
                        padding: 4rem 15rem;
                    }
                }

                .chart{
                    padding-bottom: 50%;
                }

                .preview-chart-container{
                    &:nth-child(2){
                        @include set-grid(1,2,1,1);
                        padding-top: 1.2rem;
                    }

                    &:nth-child(3){
                        @include set-grid(2,2,1,1);
                        align-self: center;
                    }

                    &:nth-child(3){
                        @include set-grid(3,2,1,1);
                        align-self: end;
                    }

                    .chart-title{
                        @include h6;
                    }
                }
            }

            .index-listing{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
            }
        }
    }
}