<scientilla-frontend-layout>
    <div class="login-view">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 align-self-center">
                    <div class="login-description">
                        <h1 class="login-title"><strong class="text-uppercase">Scientilla is our platform to access and
                            manage both career and research information.</strong></h1>

                        <p><strong class="text-uppercase">Scientilla</strong> is designed for both
                            <strong class="text-uppercase">research</strong> and
                            <strong class="text-uppercase">administrative</strong> staff.</p>

                        <p>In <strong class="text-uppercase">Scientilla</strong>, research and administrative staff can
                            keep track of their previous and current career steps and/or check and certify their
                            scientific production. Research staff can keep the scientific production up-to-date
                            independently and have a complete overview of the past and present activities.
                            Group leaders can find the data of the team easily accessible and can better design their
                            strategy.</p>

                        <p>Ultimately, information about scientific output including publications, fund raising,
                            technology transfer and HR data will be available in
                            <strong-uppercase>Scientilla</strong-uppercase>.</p>

                        <p><strong class="text-uppercase">Scientilla</strong> ensures the data driving our strategic
                            decisions are trusted, comprehensive and accessible in real-time. By collecting in a single
                            place varied information, it offers a wide and detailed view of the activities of groups,
                            research lines and all staff.</p>

                        <p>Please use <strong class="text-uppercase">Scientilla</strong> with the latest versions of
                            Chrome, Firefox, Opera, Safari or Edge.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 align-self-center">
                    <div class="login-form-container">
                        <div class="card">
                            <div class="card-body">
                                <form ng-keyup="$event.keyCode == 13 && vm.submit()">
                                    <div ng-class="vm.user.error ? 'has-error' : ''"
                                         class="form-group has-feedback">
                                        <label for="username">Username</label>
                                        <input name="username"
                                               type="text"
                                               class="form-control"
                                               id="username"
                                               ng-model="vm.user.username"
                                               data-ng-required="true"
                                               ng-class="vm.user.error ? 'is-invalid' : ''"
                                               autocomplete="username">
                                    </div>

                                    <div
                                            ng-class="vm.user.error ? 'has-error' : ''"
                                            class="form-group has-feedback">
                                        <label for="username">Password</label>
                                        <input name="password"
                                               type="password"
                                               class="form-control"
                                               id="password"
                                               ng-model="vm.user.password"
                                               data-ng-required="true"
                                               ng-class="vm.user.error ? 'is-invalid' : ''"
                                               autocomplete="current-password">
                                        <div ng-if="vm.user.error"
                                             class="invalid-feedback">
                                            {{ vm.user.error }}
                                        </div>
                                    </div>

                                    <scientilla-button type="button"
                                                       click="vm.submit()"
                                                       ng-disabled="vm.status == vm.STATUS_LOADING">Login
                                    </scientilla-button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</scientilla-frontend-layout>