<h1>Document Verification</h1>
<div>
    <small class="scientilla-document-authors">
        <span ng-bind-html='vm.document.authorsStr | authorsCorresponding:vm.document | authorsVerified:vm.document | authorsAffiliations:vm.document'></span>
    </small>
</div>
<div>
    <span class="scientilla-document-title" ng-bind-html='vm.document | title'></span>
</div>
<div>
    <small class="scientilla-document-institutes">
        <div ng-repeat='(i, institute) in vm.document.institutes'>{{vm.document.getInstituteIdentifier(i)}} -
            {{institute.name}}
        </div>
    </small>
</div>
<div>
    <small class="scientilla-document-source">
        <span ng-if="vm.document.sourceType === 'journal' ">
            {{vm.document.journal}}
        </span>
        <span ng-if="vm.document.sourceType === 'conference' ">
            {{vm.document.acronym}} {{vm.document.conferenceName}} {{vm.document.conferenceLocation}}
        </span>
        <span ng-if="vm.document.sourceType === 'book' ">
            {{vm.document.bookTitle}}
        </span>
    </small>
</div>
<form>
    <div class="form-group">
        <label for="position">Who are you?</label>
        <select class="form-control" id="position"
                ng-model="vm.verificationData.position"
                ng-options="+index as author for (index, author) in vm.document.getAuthors()">
        </select>
    </div>
    <div class="form-group">
        <scientilla-multicomplete
                items="vm.verificationData.affiliations"
                query="vm.getInstitutesQuery"
                filter="vm.getInstitutesFilter"
                title="What are your affiliations for this document?">
        </scientilla-multicomplete>
    </div>
    <div class="form-group">
        <label>
            Are you the corresponding author?
            <input type="checkbox"
                   style="display:block;"
                   ng-model="vm.verificationData.corresponding"/>
        </label>
    </div>
    <hr>
    <div class="form-group" ng-if="vm.document.kind === 'v' && vm.document.origin && vm.document.synchronized">
        <label>
            Keep the document sincronized with {{vm.document.origin}}?
            <input type="checkbox"
                   style="display:block;"
                   ng-model="vm.verificationData.synchronize"/>
        </label>
    </div>
    <scientilla-button type="submit" click="vm.submit()">Verify</scientilla-button>
    <scientilla-button type="cancel" click="vm.cancel()">Cancel</scientilla-button>
</form>