<div class="btn-group scientilla-dropdown-align-right" uib-dropdown>
    <button id="single-button" type="button" class="btn btn-link fa fa-plus" uib-dropdown-toggle ng-disabled="disabled">
    </button>
    <ul uib-dropdown-menu>
        <li>
            <a ng-click="vm.openScientillaDocumentSearch()" class="scientilla-clickable">
                Search and import
            </a>
        </li>
        <li class="divider"></li>
        <li ng-repeat="type in vm.types">
            <a ng-click="vm.createNewDocument(type)" class="scientilla-clickable">{{type.label}}</a>
        </li>
    </ul>
</div>