<scientilla-document-authors
    document="vm.document"
    collapsed="vm.collapsed"
></scientilla-document-authors>

<h3
    class="document-title"
    ng-bind-html='vm.document | title'
></h3>

<scientilla-document-affiliations
    document="vm.document"
    collapsed="vm.collapsed"
></scientilla-document-affiliations>

<scientilla-document-authors-legend document="vm.document"></scientilla-document-authors-legend>

<div
    ng-if="vm.document.abstract"
    class="document-details-abstract"
>
    <h4>Abstract</h4>
    <div>
        {{ vm.document.abstract }}
    </div>
</div>

<div class="document-details-source">
    <scientilla-document-source document="vm.document"></scientilla-document-source>

    <small ng-if="vm.bibliographicInformations">
        {{vm.bibliographicInformations.join(', ')}}
    </small>
    <small ng-if="vm.document.year">
        ({{vm.document.year}})
    </small>

    <div class="row">
        <div class="col-12 col-sm-6">
            <ul
                class="document-details-info"
                ng-if="vm.document.doi || vm.sourceType || vm.type"
            >
                <li ng-if="vm.document.doi">
                    <span ng-bind-html='vm.document | doi'></span>
                </li>
                <li ng-if="vm.document.handle && ['phd_thesis'].includes(vm.document.type)">
                    <label class="inline-block">Handle:</label> <a href="{{vm.document.handle}}" target="_blank">{{vm.document.handle}}</a>
                </li>
                <li ng-if="vm.sourceType && !['phd_thesis'].includes(vm.document.type)">
                    <label class="inline-block">Source type:</label> {{vm.sourceType}}
                </li>
                <li ng-if="vm.type">
                    <label class="inline-block">Document type:</label> {{vm.type}}
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-6">
            <ul
                ng-if="vm.document.openAccessLinks"
                class="document-details-info"
            >
                <li ng-repeat="link in vm.document.openAccessLinks">
                    <img
                        src="/images/icon-open-access.png"
                        class="icon-open-access ng-scope"
                        uib-tooltip-html="'Open access'"
                        tooltip-class="text-left"
                    />
                    <a
                        href="{{link.url}}"
                        target="_blank"
                    >{{link.collectedFrom}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<ul
    class="phd-thesis-extra"
    ng-if="['phd_thesis'].includes(vm.document.type)"
>
    <li>
        <label class="inline-block">Carried out at IIT:</label> {{vm.document.isPhdThesisInstitutional ? 'Yes' : 'No'}}
    </li>
    <li ng-if="vm.document.isPhdThesisInstitutional && vm.document.phdInstitute">
        <label class="inline-block">Academic institution:</label> {{vm.document.phdInstitute.name}}
    </li>
    <li ng-if="vm.document.academicInstitution">
        <label class="inline-block">Other academic institution:</label> {{vm.document.academicInstitution}}
    </li>
</ul>

<ul
    class="phd-thesis-extra"
    ng-if="['phd_thesis'].includes(vm.document.type) && (vm.document.supervisors || vm.document.otherSupervisors)"
>
    <li ng-if="vm.document.supervisors">
        <label class="inline-block">IIT Supervisors:</label> {{vm.document.supervisors}}
    </li>
    <li ng-if="vm.document.otherSupervisors">
        <label class="inline-block">Supervisors:</label> {{vm.document.otherSupervisors}}
    </li>
</ul>

<ul
    class="phd-thesis-extra"
    ng-if="['phd_thesis'].includes(vm.document.type) && vm.document.isPhdThesisInstitutional && (vm.document.phdCourse || vm.document.curriculum || vm.document.phdCycle)"
>
    <li ng-if="vm.document.isPhdThesisInstitutional && vm.document.phdCourse">
        <label class="inline-block">PhD course:</label> {{vm.document.phdCourse.name}}
    </li>
    <li ng-if="vm.document.isPhdThesisInstitutional && vm.document.curriculum">
        <label class="inline-block">Curriculum:</label> {{vm.document.curriculum}}
    </li>
    <li ng-if="vm.document.isPhdThesisInstitutional && vm.document.phdCycle">
        <label class="inline-block">Cycle:</label> {{vm.document.phdCycle.name}}
    </li>
</ul>

<div
    ng-if="vm.document.scopusId || vm.document.wosId || vm.document.language"
    class="document-details-ids"
>
    <div ng-if="vm.document.scopusId">
        <label class="inline-block">Scopus id:</label>
        <span ng-if="vm.document.hasValidScopusId()">
            <a
                href="https://www.scopus.com/record/display.uri?eid=2-s2.0-{{vm.document.scopusId}}&origin=inward"
                target="_blank"
            >{{vm.document.scopusId}}</a>
        </span>

        <span ng-if="!vm.document.hasValidScopusId()">
            <s class="text-danger">{{vm.document.scopusId}}</s>
            <span class="text-danger">- This ID is not available in Scopus</span>
        </span>
        <span
            ng-if="vm.document.isDeSynchronizedWith('scopus')"
            class="badge badge-warning"
        >
            {{vm.document.origin}} synchronization failed
        </span>
    </div>

    <div ng-if="vm.document.wosId">
        <label class="inline-block">WOS id:</label> {{vm.document.wosId}}
    </div>

    <div ng-if="vm.document.language">
        <label class="inline-block">Language:</label> {{vm.getLanguage(vm.document.language)}}
    </div>
</div>
