<scientilla-backend-layout>
    <h1>External documents</h1>
    <scientilla-filter
        search-form-structure="vm.searchForm"
        on-filter="vm.onFilter"
        elements="vm.documents"
        empty-list-message="No documents"
        filter-label="Search">

        <scientilla-multicheck>
            <buttons>
                <scientilla-multicheck-button
                    subject="Verify document"
                    on-click="vm.verifyDocuments">
                    <i class="fas fa-check fa-left"></i>Verify
                </scientilla-multicheck-button>

                <scientilla-multicheck-button
                    subject="Copy document"
                    on-click="vm.copyDocuments">
                    <i class="fa fa-copy fa-left"></i>Copy
                </scientilla-multicheck-button>

                <scientilla-multicheck-button
                    subject="Copy only new document"
                    on-click="vm.copyUncopiedDocuments">
                    <i class="fa fa-copy fa-left"></i>Copy only new
                </scientilla-multicheck-button>
            </buttons>

            <item-list>
                <scientilla-checkable
                    ng-repeat="d in vm.documents"
                    item="d"
                    class="scientilla-checkable">

                    <scientilla-document
                        document="d"
                        section="vm.documentListSections.EXTERNAL"></scientilla-document>

                    <div class="document-row-actions">
                        <div class="btn-group" uib-dropdown>
                            <button
                                ng-disabled="!d.isValid()"
                                ng-click="vm.verifyDocument(d)"
                                type="button"
                                class="btn btn-primary"
                                ng-if="!d.isComparable">
                                <i class="fas fa-check fa-left"></i>Verify
                            </button>

                            <button
                                ng-click="vm.compareDocuments(d, d.getComparisonDuplicates(), vm.documentCategories.EXTERNAL)"
                                type="button"
                                ng-if="d.isComparable"
                                class="btn btn-primary"
                                title="Already verified but comparable">
                                <i class="fas fa-exchange-alt fa-left"></i>Compare
                            </button>

                            <button
                                type="button"
                                class="btn dropdown-toggle btn-primary only-icon"
                                uib-dropdown-toggle>
                            </button>

                            <div
                                uib-dropdown-menu
                                class="dropdown-menu">
                                <button
                                    class="dropdown-item"
                                    ng-click="vm.copyDocument(d)">
                                    <i class="far fa-copy fa-left"></i>Copy to drafts
                                </button>
                            </div>
                        </div>
                    </div>
                </scientilla-checkable>
            </item-list>
        </scientilla-multicheck>
    </scientilla-filter>
</scientilla-backend-layout>
