<scientilla-backend-layout>
    <scientilla-filter
            search-form-structure="vm.searchForm"
            on-filter="vm.onFilter"
            elements="vm.drafts"
            empty-list-message="No drafts found">

        <scientilla-multicheck>
            <buttons>
                <scientilla-multicheck-button on-click="vm.verifyDrafts">
                    <span class="fa fa-check"></span>
                    Verify
                </scientilla-multicheck-button>
                <scientilla-multicheck-button on-click="vm.deleteDrafts">
                    <span class="fa fa-remove"></span>
                    Delete
                </scientilla-multicheck-button>
            </buttons>
            <item-list>
                <scientilla-checkable ng-repeat="d in vm.drafts" item="d">
                    <div class="row">
                        <div class="col-md-10">
                            <scientilla-document document="d" show-private-tags="true"></scientilla-document>
                        </div>
                        <div class="col-md-2 text-right">
                            <h3>
                                <div class="btn-group scientilla-dropdown-align-right" uib-dropdown>
                                    <button ng-click="vm.openEditPopup(d)" type="button" class=" btn btn-primary">
                                        <span class="fa fa-edit"></span>
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <button class="btn btn-link" ng-click="vm.openDocumentAffiliationForm(d)" href="javascript:void(0)">
                                                <span class="fa fa-edit"></span>
                                                Edit Affiliations
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-link" ng-disabled="!d.isValid()" ng-click="vm.verifyDraft(d)" href="javascript:void(0)">
                                                <span class="fa fa-check"></span>
                                                Verify
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-link" ng-click="vm.deleteDraft(d)" href="javascript:void(0)">
                                                <span class="fa fa-remove"></span>
                                                Delete
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </h3>
                        </div>
                    </div>
                </scientilla-checkable>
            </item-list>
        </scientilla-multicheck>

    </scientilla-filter>
</scientilla-backend-layout>