<h1>Document Verification</h1>
<div>
    <span class="scientilla-document-title" ng-bind-html='vm.document | title'></span>
</div>
<div>
    <small class="scientilla-document-authors">
        <span ng-bind-html='vm.document | linkableauthors'></span>
    </small>
</div>
<div>
    <small class="scientilla-document-source">
        <span ng-if="vm.document.sourceType === 'journal' ">
            {{vm.document.journal}}
        </span>
        <span ng-if="vm.document.sourceType === 'conference' ">
            {{vm.document.acronym}} {{vm.document.conferenceName}} {{vm.document.conferenceLocation}}
        </span>
        <span ng-if="vm.document.sourceType === 'book' ">
            {{vm.document.bookTitle}}
        </span>
    </small>
</div>
<form>
    <div class="form-group">
        <label for="position">Who are you?</label>
        <select class="form-control" id="position"
                ng-model="vm.verificationData.position"
                ng-options="+index as author for (index, author) in vm.document.getAuthors()">
        </select>
    </div>
    <div class="form-group">
        <scientilla-multicomplete
                items="vm.verificationData.affiliations"
                query="vm.getInstitutesQuery"
                filter="vm.getInstitutesFilter"
                title="What are your affiliations for this document?">
        </scientilla-multicomplete>
    </div>
    <div class="form-group">
        <label for="corresponding" ng-if="!vm.correspondingAlreadySet">
            Are you the corresponding author?
            <input id="corresponding"
                   type="checkbox"
                   style="display:block;"
                   ng-model="vm.verificationData.corresponding"/>
        </label>
    </div>
    <scientilla-button ng-click="vm.submit()">Verify</scientilla-button>
    <scientilla-button type="cancel" ng-click="vm.cancel()">Cancel</scientilla-button>
</form>