<div class="scientilla-document" ng-class="{disabled: vm.document.tags.indexOf('copied') >= 0}">
    <div class="scientilla-document-year">{{vm.document.year}}</div>
    <div>
        <small class="scientilla-document-authors">
            <span ng-bind-html='vm.document | linkableauthors'></span>
        </small>
    </div>
    <div>
        <scientilla-document-label ng-repeat="t in vm.document.tags" tag="t"></scientilla-document-label>
        <span class="scientilla-document-title" ng-bind-html='vm.document | title'></span>
    </div>
    <div ng-if="vm.document.journal">
        <!-- TODO add other types of source -->
        <small class="scientilla-document-source">
            {{vm.document.journal}}
        </small>
    </div>
    <div ng-if="vm.document.doi">
        <small class="scientilla-document-doi">
            <span ng-bind-html='vm.document | doi'></span>
        </small>
    </div>
</div>
