<scientilla-backend-layout>
    <h1>Suggested documents</h1>
    <scientilla-filter
        prefix="sg"
        category="suggested-document"
        on-filter="vm.onFilter"
        elements="vm.documents">

        <scientilla-multicheck>
            <buttons>
                <scientilla-multicheck-button
                    subject="Verify document"
                    on-click="vm.verifyDocuments">
                    <i class="fas fa-check fa-left"></i>Verify
                </scientilla-multicheck-button>
                <scientilla-multicheck-button
                    subject="Copy document"
                    on-click="vm.copyDocuments">
                    <i class="far fa-copy fa-left"></i>Copy
                </scientilla-multicheck-button>
                <scientilla-multicheck-button
                    subject="Discard document"
                    on-click="vm.discardDocuments">
                    <i class="fas fa-ban fa-left"></i>Discard
                </scientilla-multicheck-button>
            </buttons>
            <item-list>
                <scientilla-checkable
                    ng-repeat="document in vm.documents"
                    item="document"
                    class="scientilla-checkable">
                    
                    <scientilla-document
                        document="document"
                        section="vm.documentListSections.SUGGESTED"
                        class="document-container"></scientilla-document>
                    
                    <div class="document-row-actions">
                        <div class="btn-group" uib-dropdown>
                            <button
                                ng-disabled="!document.isValid()"
                                ng-click="vm.verifyDocument(document)"
                                type="button"
                                class="btn btn-primary"
                                ng-if="!document.isComparable">
                                <i class="fa fa-check fa-left"></i>Verify
                            </button>

                            <button
                                ng-click="vm.compareDocuments(document, document.getComparisonDuplicates(), vm.documentCategories.SUGGESTED)"
                                ng-disabled="!document.isValid()"
                                type="button"
                                ng-if="document.isComparable"
                                class="btn btn-warning">
                                <i class="fas fa-exchange-alt fa-left"></i>Compare
                            </button>

                            <button
                                type="button"
                                class="btn dropdown-toggle only-icon"
                                ng-class="{'btn-warning': document.isComparable, 'btn-primary': !document.isComparable}"
                                uib-dropdown-toggle>
                            </button>

                            <div
                                uib-dropdown-menu
                                class="dropdown-menu">
                                <a
                                    class="dropdown-item"
                                    ng-click="vm.copyDocument(document)"
                                    href="javascript:void(0)">
                                    <i class="far fa-copy fa-left"></i>Copy to drafts
                                </a>
                                <a
                                    class="dropdown-item"
                                    ng-click="vm.discardDocument(document)"
                                    ng-if="!document.isDiscarded()"
                                    href="javascript:void(0)">
                                    <i class="fas fa-ban fa-left"></i>Discard
                                </a>
                            </div>
                        </div>
                    </div>
                </scientilla-checkable>
            </item-list>
        </scientilla-multicheck>

    </scientilla-filter>
</scientilla-backend-layout>