<div
    class="btn-group btn-add-document"
    uib-dropdown>
    <button
        id="single-button"
        type="button"
        class="btn btn-light" uib-dropdown-toggle ng-disabled="disabled">
        <i class="fas fa-plus fa-left"></i>Add
    </button>
    <ul
        uib-dropdown-menu
        class="dropdown-menu dropdown-menu-right">
        <a
            ng-click="vm.openScientillaDocumentSearch()"
            ng-if="vm.showSearchAndImport"
            class="dropdown-item">
            <i class="fas fa-search fa-left"></i>Search and import
        </a>
        <div class="dropdown-divider" ng-if="vm.showSearchAndImport"></div>
        <a
            ng-repeat="type in vm.types"
            ng-click="vm.createNewDocument(type)"
            class="dropdown-item">{{type.label}}</a>
    </ul>
</div>