<scientilla-filter
    search-form-structure="vm.searchForm"
    on-filter="vm.onFilter"
    get-data="vm.getData">
    <div class="row">
        <div class="col-md-12">
            <div class="progress" ng-if="vm.status === vm.STATUS_LOADING">
                <div class="progress-bar progress-bar-striped active" 
                     role="progressbar"
                     style="width: 100%">
                    Loading
                </div>
            </div>

            <div ng-show="vm.status === vm.STATUS_ERROR">
                An error happened
            </div>

            <div ng-show="vm.status === vm.STATUS_READY">
                <div ng.if="vm.documents.lenght>0" ng-repeat="r in vm.documents">
                    <div class="row">
                        <div class="col-md-8">
                            <scientilla-document document="r"></scientilla-document>
                        </div>
                        <div class="col-md-4 text-right">
                            <h3>
                                <button class="btn btn-primary"  ng-click="vm.copyDocument(r, vm.researchEntity)" >
                                    <span class="fa fa-copy"></span>
                                    Copy
                                </button>
                            </h3>
                        </div>
                    </div>
                    <hr>
                </div>
                <div ng-if="vm.documents.length==0">
                    No documents
                </div>
            </div>
        </div>
    </div>
</scientilla-filter>