<div class="modal-header">
    <h3>{{ !!vm.document.id ? 'Edit' : 'Add a new' }} document</h3>
    <button
        type="button"
        class="close"
        ng-click="vm.cancel()"
    >
        <i class="fas fa-times"></i>
    </button>
</div>

<div class="modal-body">
    <form
        name="form"
        class="document-form {{vm.status.class}}"
        autocomplete="off"
    >
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label for="documentType">Document Type *</label>
                    <div class="select-wrapper">
                        <select
                            class="form-control"
                            id="documentType"
                            placeholder="Document Type"
                            ng-model="vm.document.type"
                            ng-options="option.key as option.label for option in vm.documentTypes"
                            ng-change="vm.resetErrors()"
                        >
                        </select>
                    </div>
                </div>
            </div>
            <div
                class="col-12 col-sm-6"
                ng-if="!['phd_thesis'].includes(vm.document.type)"
            >
                <div
                    class="form-group has-feedback"
                    ng-class="{
                        'has-error' : vm.errors.sourceType && vm.mode == 'verify',
                        'has-warning' : vm.errors.sourceType && vm.mode == 'draft'
                    }"
                >
                    <label for="sourceType">Source Type *</label>
                    <div
                        class="select-wrapper"
                        ng-class="{'is-invalid' : vm.errors.sourceType}"
                    >
                        <select
                            class="form-control"
                            id="sourceType"
                            name="sourceType"
                            required
                            placeholder="Source Type"
                            ng-model="vm.document.sourceType"
                            ng-model-options="{ allowInvalid: true }"
                            ng-options="option.id as option.label group by option.section for option in vm.sourceTypes"
                            ng-class="{'is-invalid' : vm.errors.sourceType}"
                            ng-blur="vm.checkValidation('sourceType')"
                            ng-change="vm.checkValidation('sourceType')"
                        >
                            <option disabled value="">Please select ...</option>
                        </select>
                    </div>
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.sourceType"
                    ></scientilla-error-messages>
                </div>
            </div>
        </div>

        <div
            class="form-group has-feedback"
            ng-class="{
                'has-error' : vm.errors.authorsStr && vm.mode == 'verify',
                'has-warning' : vm.errors.authorsStr && vm.mode == 'draft'
            }"
        >
            <label for="authors">Authors (must be in the form "Doe J., Smith Simpson J. V.") *</label>
            <input
                type="text"
                name="authors"
                class="form-control"
                id="authors"
                placeholder="Authors"
                ng-model="vm.document.authorsStr"
                data-ng-required="true"
                ng-model-options="{ allowInvalid: true }"
                ng-class="{'is-invalid' : vm.errors.authorsStr}"
                ng-blur="vm.checkValidation('authorsStr')"
                ng-change="vm.fieldValueHasChanged('authorsStr')"
            />
            <scientilla-error-messages
                class="error-messages"
                errors="vm.errors.authorsStr"
            ></scientilla-error-messages>
        </div>

        <div class="row">
            <div
                class="col-12 col-sm-12"
                ng-class="['invited_talk', 'phd_thesis'].includes(vm.document.type) ? 'col-md-7 col-lg-8' : ''"
            >
                <div
                    ng-class="{
                        'has-error' : vm.errors.title && vm.mode == 'verify',
                        'has-warning' : vm.errors.title && vm.mode == 'draft'
                    }"
                    class="form-group has-feedback"
                >
                    <label for="title">Title *</label>
                    <input
                        name="title"
                        type="text"
                        class="form-control"
                        id="title"
                        placeholder="Title"
                        ng-model="vm.document.title"
                        data-ng-required="true"
                        ng-class="{'is-invalid' : vm.errors.title}"
                        ng-blur="vm.checkValidation('title')"
                        ng-change="vm.fieldValueHasChanged('title')"
                    />
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.title"
                    ></scientilla-error-messages>
                </div>
            </div>

            <div
                class="col-12 col-sm-12 col-md-6"
                ng-if="vm.document.sourceType && !['invited_talk', 'phd_thesis'].includes(vm.document.type)"
            >
                <div
                    class="form-group has-feedback"
                    ng-class="{
                        'has-error': vm.errors.source && vm.mode == 'verify',
                        'has-warning': vm.errors.source && vm.mode == 'draft'
                    }"
                >
                    <label for="source">{{ vm.sourceLabel }} *</label>
                    <div
                        class="input-group"
                        ng-class="{'is-invalid' : vm.errors.source}"
                    >
                        <input
                            id="source"
                            name="source"
                            type="text"
                            ng-model="vm.document.source"
                            class="form-control"
                            uib-typeahead="source as source.title for source in vm.getSources($viewValue)"
                            typeahead-loading="searching"
                            typeahead-no-results="noResults"
                            data-ng-required="true"
                            placeholder="{{vm.sourceLabel}}"
                            ng-model-options="{ allowInvalid: true }"
                            typeahead-editable="false"
                            typeahead-select-on-blur="true"
                            ng-blur="vm.checkSource($event)"
                            ng-change="vm.fieldValueHasChanged('source')"
                            ng-class="{'is-invalid' : vm.errors.source}"
                        />
                        {{ $viewValue }}
                        <div class="input-group-append">
                            <button
                                ng-click="vm.openSourceTypeModal($event)"
                                type="button"
                                class="btn btn-outline-secondary"
                            >Add New</button>
                        </div>
                    </div>
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.source"
                    ></scientilla-error-messages>
                </div>
            </div>

            <div
                class="col-12 col-sm-12"
                ng-class="['invited_talk', 'phd_thesis'].includes(vm.document.type) ? 'col-md-5 col-lg-4' : 'col-md-6'"
            >
                <div
                    ng-class="{
                        'has-error' : vm.errors.year && vm.mode == 'verify',
                        'has-warning' : vm.errors.year && vm.mode == 'draft'
                    }"
                    class="form-group has-feedback"
                >
                    <label for="year">
                        {{ ['phd_thesis'].includes(vm.document.type) ? 'Year of discussion (YYYY format) *' : 'Year (YYYY format) *' }}
                    </label>
                    <input
                        type="text"
                        name="year"
                        class="form-control"
                        id="year"
                        placeholder="Year"
                        ng-model="vm.document.year"
                        data-ng-required="true"
                        ng-model-options="{ allowInvalid: true }"
                        ng-class="{'is-invalid' : vm.errors.year}"
                        ng-blur="vm.checkValidation('year')"
                        ng-change="vm.fieldValueHasChanged('year')"
                    />
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.year"
                    ></scientilla-error-messages>
                </div>
            </div>

            <div
                class="col-12 col-sm-12 col-md-6"
                ng-if="!['invited_talk'].includes(vm.document.type)"
            >
                <div
                    ng-class="vm.errors.doi ? 'has-error' : ''"
                    class="form-group has-feedback"
                >
                    <label for="doi">DOI</label>
                    <input
                        type="text"
                        class="form-control"
                        id="doi"
                        placeholder="DOI"
                        ng-model="vm.document.doi"
                        ng-blur="vm.checkValidation('doi')"
                        ng-change="vm.fieldValueHasChanged('doi')"
                        ng-class="{'is-invalid' : vm.errors.doi}"
                    />
                    <span ng-if="!vm.errors.doi">Example: <strong>10.1038/nnano.2013.238</strong></span>
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.doi"
                    ></scientilla-error-messages>
                </div>
            </div>

            <div
                class="col-12 col-sm-12 col-md-6"
                ng-if="['phd_thesis'].includes(vm.document.type)"
            >
                <div
                    ng-class="vm.errors.handle ? 'has-error' : ''"
                    class="form-group has-feedback"
                >
                    <label for="handle">Handle</label>
                    <input
                        type="text"
                        class="form-control"
                        id="handle"
                        placeholder="Handle"
                        ng-model="vm.document.handle"
                        ng-blur="vm.checkValidation('handle')"
                        ng-change="vm.fieldValueHasChanged('handle')"
                        ng-class="{'is-invalid' : vm.errors.handle}"
                    />
                    <span ng-if="!vm.errors.handle">Example: <strong>http://hdl.handle.net/11567/997118</strong></span>
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.handle"
                    ></scientilla-error-messages>
                </div>
            </div>

            <div
                class="col-12 col-sm-12 col-md-6"
                ng-if="['invited_talk'].includes(vm.document.type) && vm.sourceLabel">
                <div
                    class="form-group has-feedback"
                    ng-class="{
                        'has-error' : vm.errors.itSource && vm.mode == 'verify',
                        'has-warning' : vm.errors.itSource && vm.mode == 'draft'
                    }"
                >
                    <label for="source">{{vm.sourceLabel}} *</label>
                    <input
                        id="itSource"
                        name="itSource"
                        type="text"
                        ng-model="vm.document.itSource"
                        uib-typeahead="source.title || source.name for source in vm.getItSources($viewValue)"
                        typeahead-loading="searching"
                        typeahead-no-results="noResults"
                        class="form-control"
                        placeholder="{{vm.sourceLabel}}"
                        ng-model-options="{ allowInvalid: true }"
                        ng-class="{'is-invalid' : vm.errors.itSource}"
                        ng-blur="vm.checkValidation('itSource')"
                        ng-change="vm.fieldValueHasChanged('itSource')"
                    />
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.itSource"
                    ></scientilla-error-messages>
                </div>
            </div>
        </div>

        <div
            class="row"
            ng-if="['journal', 'conference'].includes(vm.document.sourceType) && !['invited_talk', 'phd_thesis'].includes(vm.document.type)"
        >
            <div class="col-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="volume">Volume</label>
                    <input
                        type="text"
                        class="form-control"
                        id="volume"
                        placeholder="Volume"
                        ng-model="vm.document.volume"
                    />
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="issue">Issue</label>
                    <input
                        type="text"
                        class="form-control"
                        id="issue"
                        placeholder="Issue"
                        ng-model="vm.document.issue"
                    />
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="pages">Pages</label>
                    <input
                        type="text"
                        class="form-control"
                        id="pages"
                        placeholder="Pages"
                        ng-model="vm.document.pages"
                    />
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="articleNumber">Article Number</label>
                    <input
                        type="text"
                        class="form-control"
                        id="articleNumber"
                        placeholder="Article Number"
                        ng-model="vm.document.articleNumber"
                    />
                </div>
            </div>
        </div>

        <div
            class="form-group"
            ng-if="!['invited_talk'].includes(vm.document.type)">
            <label for="abstract">Abstract</label>
            <textarea
                rows="6"
                class="form-control"
                id="abstract"
                placeholder="Abstract"
                ng-model="vm.document.abstract"
            ></textarea>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
                <div
                    class="form-group has-feedback"
                    ng-if="!['invited_talk'].includes(vm.document.type)"
                    ng-class="{
                        'has-error' : vm.errors.scopusId && vm.mode == 'verify',
                        'has-warning' : vm.errors.scopusId && vm.mode == 'draft'
                    }">
                    <label>Scopus ID</label>
                    <input
                        class="form-control"
                        name="scopusId"
                        placeholder="Scopus ID"
                        ng-model="vm.document.scopusId"
                        ng-class="{'is-invalid': vm.errors.scopusId}"
                        ng-blur="vm.checkValidation('scopusId')"
                        ng-change="vm.fieldValueHasChanged('scopusId')"
                    />
                    <div>(Numeric identifier in the scopus document URL: e.g., https://www.scopus.com/[..]eid=2-s2.0-<strong>84888368243</strong>[..])</div>
                    <scientilla-error-messages
                        ng-if="vm.document.id"
                        class="error-messages"
                        errors="vm.errors.scopusId"
                    ></scientilla-error-messages>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <div
                    class="form-group"
                    ng-if="!['invited_talk'].includes(vm.document.type)"
                >
                    <label>WoS ID</label>
                    <input
                        class="form-control"
                        placeholder="Wos ID"
                        ng-model="vm.document.wosId"
                    />
                </div>
            </div>
        </div>

        <ng-container ng-if="['phd_thesis'].includes(vm.document.type)">
            <div class="form-group realized-at-iit">
                <strong>Was the PhD program carried out at IIT?</strong>
                <label class="form-radio">
                    <input
                        type="radio"
                        placeholder="Yes"
                        ng-model="vm.document.isPhdThesisInstitutional"
                        ng-value="true"
                    >
                    <span>Yes</span>
                </label>
                <label class="form-radio">
                    <input
                        type="radio"
                        placeholder="No"
                        ng-model="vm.document.isPhdThesisInstitutional"
                        ng-value="false"
                    >
                    <span>No</span>
                </label>
            </div>

            <div class="row">
                <div
                    class="col-12 col-sm-6 col-md-6 col-lg-3"
                    ng-if="vm.document.isPhdThesisInstitutional"
                >
                    <div
                        class="form-group has-feedback"
                        ng-class="{
                            'has-error' : vm.errors.phdInstitute && vm.mode == 'verify',
                            'has-warning' : vm.errors.phdInstitute && vm.mode == 'draft'
                        }"
                    >
                        <label for="phd-institution">Academic institution *</label>
                        <div class="select-wrapper">
                            <select
                                class="form-control"
                                id="phd-institute"
                                name="phd-institute"
                                required
                                placeholder="Academic institution"
                                ng-model="vm.document.phdInstitute"
                                ng-options="institute.id as institute.name for institute in vm.institutes"
                                ng-class="{'is-invalid' : vm.errors.phdInstitute}"
                                ng-blur="vm.checkValidation('phdInstitute')"
                                ng-change="vm.fieldValueHasChanged('phdInstitute')"
                            >
                                <option disabled value="">Please select ...</option>
                            </select>
                        </div>
                        <scientilla-error-messages
                            class="error-messages"
                            errors="vm.errors.phdInstitute"
                        ></scientilla-error-messages>
                    </div>
                </div>
                <div
                    class="col-12 col-sm-6 col-md-6 col-lg-3"
                    ng-if="vm.document.isPhdThesisInstitutional"
                >
                    <div
                        class="form-group has-feedback"
                        ng-class="{
                            'has-error' : vm.errors.phdCourse && vm.mode == 'verify',
                            'has-warning' : vm.errors.phdCourse && vm.mode == 'draft'
                        }"
                    >
                        <label for="phd-course">PhD course *</label>
                        <div class="select-wrapper">
                            <select
                                class="form-control"
                                id="phd-course"
                                name="phd-course"
                                required
                                placeholder="PhD course"
                                ng-model="vm.document.phdCourse"
                                ng-options="course.id as course.name for course in vm.courses"
                                ng-disabled="!vm.document.phdInstitute"
                                ng-class="{'is-invalid' : vm.errors.phdCourse}"
                                ng-blur="vm.checkValidation('phdCourse')"
                                ng-change="vm.fieldValueHasChanged('phdCourse')"
                            >
                                <option disabled value="">Please select ...</option>
                            </select>
                        </div>
                        <scientilla-error-messages
                            class="error-messages"
                            errors="vm.errors.phdCourse"
                        ></scientilla-error-messages>
                    </div>
                </div>
                <div
                    class="col-12 col-sm-6 col-md-6 col-lg-3"
                    ng-if="vm.document.isPhdThesisInstitutional"
                >
                    <div
                        class="form-group has-feedback"
                        ng-class="{
                            'has-error' : vm.errors.phdCycle && vm.mode == 'verify',
                            'has-warning' : vm.errors.phdCycle && vm.mode == 'draft'
                        }"
                    >
                        <label for="phd-cycle">Cycle *</label>
                        <div class="select-wrapper">
                            <select
                                class="form-control"
                                id="phd-cycle"
                                name="phd-cycle"
                                required
                                placeholder="Cycle"
                                ng-model="vm.document.phdCycle"
                                ng-options="cycle.id as cycle.name for cycle in vm.cycles"
                                ng-disabled="!vm.document.phdCourse"
                                ng-class="{'is-invalid' : vm.errors.phdCycle}"
                                ng-blur="vm.checkValidation('phdCycle')"
                                ng-change="vm.fieldValueHasChanged('phdCycle')"
                            >
                                <option disabled value="">Please select ...</option>
                            </select>
                        </div>
                        <scientilla-error-messages
                            class="error-messages"
                            errors="vm.errors.phdCycle"
                        ></scientilla-error-messages>
                    </div>
                </div>
                <div
                    class="col-12 col-sm-6 col-md-6 col-lg-3"
                    ng-if="vm.document.isPhdThesisInstitutional"
                >
                    <div
                        class="form-group has-feedback"
                        ng-class="{
                            'has-error' : vm.errors.curriculum && vm.mode == 'verify',
                            'has-warning' : vm.errors.curriculum && vm.mode == 'draft'
                        }"
                    >
                        <label for="curriculum">Curriculum</label>
                        <input
                            name="curriculum"
                            type="text"
                            class="form-control"
                            id="curriculum"
                            placeholder="Curriculum"
                            ng-model="vm.document.curriculum"
                            ng-class="{'is-invalid' : vm.errors.curriculum}"
                            ng-blur="vm.checkValidation('curriculum')"
                            ng-change="vm.fieldValueHasChanged('curriculum')"
                            ng-disabled="!vm.document.phdCourse"
                        />
                        <scientilla-error-messages
                            class="error-messages"
                            errors="vm.errors.curriculum"
                        ></scientilla-error-messages>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-8">
                    <div
                        class="form-group"
                        ng-class="{
                            'has-error' : vm.errors.academicInstitution && vm.mode == 'verify',
                            'has-warning' : vm.errors.academicInstitution && vm.mode == 'draft'
                        }"
                    >
                        <label for="academic-institutiom">Other academic institution</label>
                        <input
                            type="text"
                            class="form-control"
                            id="academic-institution"
                            placeholder="Other academic institution"
                            ng-model="vm.document.academicInstitution"
                            ng-class="{'is-invalid' : vm.errors.academicInstitution}"
                            ng-blur="vm.checkValidation('academicInstitution')"
                            ng-change="vm.fieldValueHasChanged('academicInstitution')"
                        />
                        <scientilla-error-messages
                            class="error-messages"
                            errors="vm.errors.academicInstitution"
                        ></scientilla-error-messages>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div
                        class="form-group has-feedback"
                        ng-class="{
                            'has-error' : vm.errors.language && vm.mode == 'verify',
                            'has-warning' : vm.errors.language && vm.mode == 'draft'
                        }"
                    >
                        <label for="language">Language</label>
                        <div class="select-wrapper">
                            <select
                                class="form-control"
                                id="language"
                                name="language"
                                required
                                placeholder="Language"
                                ng-model="vm.document.language"
                                ng-options="option.value as option.label for option in vm.languageOptions"
                                ng-class="{'is-invalid' : vm.errors.language}"
                                ng-blur="vm.checkValidation('language')"
                                ng-change="vm.fieldValueHasChanged('language')"
                            >
                                <option disabled value="">Please select ...</option>
                            </select>
                        </div>
                        <scientilla-error-messages
                            class="error-messages"
                            errors="vm.errors.language"
                        ></scientilla-error-messages>
                    </div>
                </div>
            </div>

            <div
                class="form-group"
                ng-class="{
                    'has-error' : vm.errors.supervisors && vm.mode == 'verify',
                    'has-warning' : vm.errors.supervisors && vm.mode == 'draft'
                }"
            >
                <label for="iit-supervisors">IIT supervisors (must be in the form "Doe J., Smith Simpson J. V.") *</label>
                <input
                    type="text"
                    name="iit-supervisors"
                    class="form-control"
                    id="iit-supervisors"
                    placeholder="IIT supervisors"
                    ng-model="vm.document.supervisors"
                    data-ng-required="true"
                    ng-model-options="{ allowInvalid: true }"
                    ng-class="{'is-invalid' : vm.errors.supervisors}"
                    ng-blur="vm.checkValidation('supervisors')"
                    ng-change="vm.fieldValueHasChanged('supervisors')"
                />
                <scientilla-error-messages
                    class="error-messages"
                    errors="vm.errors.supervisors"
                ></scientilla-error-messages>
            </div>

            <div
                class="form-group"
                ng-class="{
                    'has-error' : vm.errors.otherSupervisors && vm.mode == 'verify',
                    'has-warning' : vm.errors.otherSupervisors && vm.mode == 'draft'
                }"
            >
                <label for="other-supervisors">Supervisors (must be in the form "Doe J., Smith Simpson J. V.") *</label>
                <input
                    type="text"
                    name="other-supervisors"
                    class="form-control"
                    id="other-supervisors"
                    placeholder="Supervisors"
                    ng-model="vm.document.otherSupervisors"
                    data-ng-required="true"
                    ng-model-options="{ allowInvalid: true }"
                    ng-class="{'is-invalid' : vm.errors.otherSupervisors}"
                    ng-blur="vm.checkValidation('otherSupervisors')"
                    ng-change="vm.fieldValueHasChanged('otherSupervisors')"
                />
                <scientilla-error-messages
                    class="error-messages"
                    errors="vm.errors.otherSupervisors"
                ></scientilla-error-messages>
            </div>
        </ng-container>

        <ul class="modal-buttons">
            <li>
                <scientilla-button
                    type="button"
                    click="vm.save"
                    ng-disabled="vm.saveStatus.state !== 'ready to save' || !vm.unsavedData"
                >{{ vm.saveStatus.message }}</scientilla-button>
            </li>
            <li>
                <scientilla-button
                    type="submit"
                    ng-disabled="vm.verifyStatus.state !== 'ready to verify'"
                    click="vm.verify"
                >{{ vm.verifyStatus.message }}</scientilla-button>
            </li>
            <li>
                <scientilla-button
                    type="cancel"
                    click="vm.cancel"
                >Close</scientilla-button>
            </li>
        </ul>

        <div
            ng-if="vm.errorText"
            class="modal-error"
            ng-class="{
                'text-danger' : vm.mode == 'verify',
                'text-warning': vm.mode == 'draft'
            }"
        >
            {{ vm.errorText }}
        </div>
    </form>
</div>
