<div class="modal-header">
    <h3>Authors affiliations</h3>
    <button
        type="button"
        class="close"
        ng-click="vm.cancel()">
        <i class="fas fa-times"></i>
    </button>
</div>

<div class="modal-body">
    <scientilla-document-authors document="vm.document"></scientilla-document-authors>

    <h2 class="document-title" ng-bind-html='vm.document | title'></h2>

    <scientilla-document-affiliations document="vm.document"></scientilla-document-affiliations>

    <scientilla-document-authors-legend document="vm.document"></scientilla-document-authors-legend>

    <small class="document-source">
        <span ng-if="vm.document.sourceType === 'journal' ">
            {{vm.document.journal}}
        </span>
        <span ng-if="vm.document.sourceType === 'conference' ">
            {{vm.document.acronym}} {{vm.document.conferenceName}} {{vm.document.conferenceLocation}}
        </span>
        <span ng-if="vm.document.sourceType === 'book' ">
            {{vm.document.bookTitle}}
        </span>
    </small>

    <form>
        <div class="form-group">
            <label for="position">Author</label>
            <div class="select-wrapper">
                <select
                    class="form-control"
                    id="position"
                    ng-model="vm.position"
                    ng-options="+index as author for (index, author) in vm.document.getAuthors()">
                </select>
            </div>
        </div>

        <div
            class="form-group"
            ng-if="vm.author">
            <scientilla-multicomplete
                items="vm.authorship.affiliations"
                query="vm.getInstitutesQuery"
                filter="vm.getInstitutesFilter"
                title="Affiliations of {{vm.author}}">
            </scientilla-multicomplete>
        </div>

        <div
            class="form-group"
            ng-hide="vm.authorship.position<0"
            ng-if="vm.author">
             <div class="form-checkbox">
                <input
                    type="checkbox"
                    ng-model="vm.authorship.corresponding"/>
                    <span>Corresponding author</span>
             </div>
        </div>

        <ul class="modal-buttons">
            <li>
                <scientilla-button
                    type="submit"
                    click="vm.submit">Save</scientilla-button>
            </li>
            <li>
                <scientilla-button
                    type="cancel"
                    click="vm.cancel">Close</scientilla-button>
            </li>
        </ul>
    </form>
</div>