<div class="scientilla-document">
    <div class="scientilla-document-year">{{vm.document.year}}</div>
    <div>
        <small class="scientilla-document-authors">
            <span ng-bind-html='vm.document | linkableauthors'></span>
        </small>
    </div>
    <div>
        <span ng-if="vm.document.isDiscarded()" class ="scientilla-document-discarded label label-danger">
            Discarded
        </span>
        <span class="scientilla-document-title" ng-bind-html='vm.document | title'></span>
    </div>
    <div ng-if="vm.document.journal">
        <!-- TODO add other types of source -->
        <small class="scientilla-document-source">
            {{vm.document.journal}}
        </small>
    </div>
    <div ng-if="vm.document.doi">
        <small class="scientilla-document-doi">
            <span ng-bind-html='vm.document | doi'></span>
        </small>
    </div>
</div>
