<h1>Document Verification</h1>
<div>
    <scientilla-document-authors document="vm.document"></scientilla-document-authors>
</div>
<div>
    <span class="scientilla-document-title" ng-bind-html='vm.document | title'></span>
</div>
<div>
    <scientilla-document-affiliations document="vm.document"></scientilla-document-affiliations>
</div>
<div>
    <scientilla-document-authors-legend document="vm.document"></scientilla-document-authors-legend>
</div>
<div>
    <small class="scientilla-document-source">
        <span ng-if="vm.document.sourceType === 'journal' ">
            {{vm.document.journal}}
        </span>
        <span ng-if="vm.document.sourceType === 'conference' ">
            {{vm.document.acronym}} {{vm.document.conferenceName}} {{vm.document.conferenceLocation}}
        </span>
        <span ng-if="vm.document.sourceType === 'book' ">
            {{vm.document.bookTitle}}
        </span>
    </small>
</div>
<form>
    <div class="form-group">
        <label for="position">Who are you?</label>
        <select class="form-control" id="position"
                ng-model="vm.verificationData.position"
                ng-options="+index as author for (index, author) in vm.document.getAuthors()">
        </select>
    </div>
    <div ng-if="vm.viewAuthorshipFields()"
         ng-hide="vm.verificationData.position<0">
        <div class="form-group">
            <scientilla-multicomplete
                    items="vm.verificationData.affiliations"
                    query="vm.getInstitutesQuery"
                    filter="vm.getInstitutesFilter"
                    title="What are your affiliations for this document?">
            </scientilla-multicomplete>
        </div>
        <div class="form-group"
             ng-hide="vm.verificationData.position<0">
            <label title="Are you the corresponding author?">
                <input type="checkbox"
                       ng-model="vm.verificationData.corresponding"/>
                Corresponding author
            </label>
        </div>
        <div class="form-group"
             ng-if="vm.viewFirstCoauthor()">
            <label title="Are you a first-coauthor?">
                <input type="checkbox"
                       ng-model="vm.verificationData.first_coauthor"/>
                Co-first author
            </label>
        </div>
        <div class="form-group"
             ng-if="vm.viewLastCoauthor()">
            <label title="Are you a last-coauthor?">
                <input type="checkbox"
                       ng-model="vm.verificationData.last_coauthor"/>
                Co-Last author
            </label>
        </div>
        <div class="form-group"
             ng-hide="vm.verificationData.position<0">
            <label title="Were you selected to give a talk about this work?">
                <input type="checkbox"
                       ng-model="vm.verificationData.oral_presentation"/>
                Oral presentation
            </label>
        </div>
    </div>
    <hr>
    <div ng-if="vm.document.kind === 'v'">
        <h4>Document properties</h4>
        <div class="form-group" ng-if="vm.viewSynchFields()">
            <label title="Keep the document synchronized with {{vm.document.origin}}?">
                <input type="checkbox" ng-model="vm.verificationData.synchronize"/>
                Synchronized with {{vm.document.origin}}
            </label>
        </div>
        <div class="form-group" ng-if="vm.viewSynchMessage()">
            This document is not synchronized
        </div>
    </div>
    <scientilla-button type="submit"
                       click="vm.submit"
                       ng-disabled="!vm.canBeSubmitted()">
        Verify
    </scientilla-button>
    <scientilla-button ng-if="vm.viewCopyToDraft()"
                       type="submit"
                       click="vm.copyToDraft">
        Copy to draft
    </scientilla-button>
    <scientilla-button type="cancel" click="vm.cancel()">Cancel</scientilla-button>
</form>