<div>
    <scientilla-filter
        search-form-structure="vm.searchForm"
        on-filter="vm.onFilter"
        get-data="vm.getData">
        <div ng-repeat="d in vm.documents">
            <div class="row">
                <div class="col-md-8">
                    <scientilla-document document="d"></scientilla-document>
                </div>
                <div class="col-md-4 text-right">
                    <h3>
                        <button class="btn btn-primary"  ng-click="vm.unverifyDocument(d)" >
                            <span class="fa fa-remove"></span>
                            Unverify
                        </button>
                    </h3>
                </div>
            </div>
            <hr>
        </div>
    </scientilla-filter>
    
    
    <div ng-if="!vm.documents.length">
        <h3>No documents found</h3>
    </div>
    
</div>