<div class="scientilla-document-details-authors">
    <small class="scientilla-document-authors">
        <span ng-bind-html='vm.document.authorsStr | authorsCorresponding:vm.document | authorsVerified:vm.document | authorsAffiliations:vm.document'></span>
    </small>
</div>
<div class="scientilla-document-details-title">
    <span class="scientilla-document-title" ng-bind-html='vm.document | title'></span>
</div>
<div>
    <small class="scientilla-document-institutes">
        <div ng-repeat='(i, institute) in vm.document.institutes'>{{vm.document.getInstituteIdentifier(i)}} -
            {{institute.name}}
        </div>
    </small>
</div>

<div ng-if="vm.document.abstract" class="scientilla-document-details-abstract">
    <hr>
    <h4>Abstract</h4>
    {{vm.document.abstract}}
</div>

<div class="scientilla-document-details-source">
    <hr>
    <scientilla-document-source document="vm.document"></scientilla-document-source>

    <small>
        {{vm.bibliographicInformations.join(', ')}}
    </small>
    <small>
        ({{vm.document.year}})
    </small>
    <div>
        <small ng-if="vm.document.doi" class="scientilla-document-doi">
            <span ng-bind-html='vm.document | doi'></span>
        </small>
    </div>
    <small ng-if="vm.sourceType">
        <label>Source type:</label> {{vm.sourceType}}
    </small>
    <small ng-if="vm.type">
        <label>Document type:</label> {{vm.type}}
    </small>

</div>

<hr>

<div class="scientilla-document-details-ids">
    <div ng-if="vm.document.scopusId">
        <small>
            <label>Scopus id:</label>
            {{vm.document.scopusId}}
            <a href="https://www.scopus.com/record/display.uri?eid=2-s2.0-{{vm.document.scopusId}}&origin=inward"
               target="_blank">[View at Scopus]</a>
        </small>
    </div>
    <div ng-if="vm.document.wosId">
        <small>
            <label>WOS id:</label> {{vm.document.wosId}}
        </small>
    </div>
</div>