<div class="scientilla-document" ng-class="{invalid: !vm.document.isValid()}">
    <div class="scientilla-document-left-col">
        <div class="scientilla-document-year">
            {{vm.document.year}}
        </div>
        <div class="scientilla-document-affiliations-icon">
            <div ng-if="vm.hasMainGroupAffiliation()" class="scientilla-document-icon-container">
                <span class="scientilla-icon scientilla-icon-iit"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 scientilla-document-metadata">
            <div>
                <scientilla-document-type document="vm.document"></scientilla-document-type>
                <small class="scientilla-document-authors">
                    <span ng-bind-html='vm.document.authorsStr | authorsCorresponding:vm.document | authorsVerified:vm.document | authorsMainGroup:vm.document'></span>
                </small>
            </div>
            <div>
                <scientilla-document-label ng-repeat="l in vm.document.labels" label="l"></scientilla-document-label>
                <span class="scientilla-document-title scientilla-clickable" ng-click="vm.openDetails()"
                      ng-bind-html='vm.document | title'></span>
            </div>
            <scientilla-document-source document="vm.document"></scientilla-document-source>
            <div ng-if="vm.document.doi">
                <small class="scientilla-document-doi">
                    <span ng-bind-html='vm.document | doi'></span>
                </small>
            </div>
            <div ng-if="vm.showPrivateTags">
                <span ng-click="vm.editTags()" class="fa fa-tags scientilla-clickable" title="Edit your tags"></span>
                <span ng-bind-html='vm.document | documentusertags'></span>
            </div>

            <div ng-if="vm.verifiedCount"
                 class="scientilla-document-icons-bottom"
                 uib-tooltip-html="vm.getVerifiedNamesHTML()"
                 tooltip-class="scientilla-tooltip">
                <span class="fa fa-check"></span> {{vm.verifiedCount}}
            </div>
            <div ng-if="vm.document.origin==='scopus'" class="scientilla-document-icons-bottom">
                <div class="scientilla-document-icon-container">
                    <span ng-if="!vm.document.scopus_id_deleted" class="scientilla-icon scientilla-icon-scopus"
                          title="This document has been imported from Scopus"></span>
                    <span ng-if="vm.document.scopus_id_deleted" class="scientilla-icon scientilla-icon-scopus-deleted"
                          title="This document has been imported from Scopus but is no longer available"></span>
                </div>
                <span class="fa fa-refresh"
                      ng-if="vm.isSynchronized()"
                      title="This document will update automatically from {{vm.document.origin}}"></span>
            </div>
            <div ng-if="vm.isPrivacyToShow()" class="scientilla-document-icons-bottom">
                <span ng-click="vm.changePrivacy()"
                      ng-if="vm.isPublic()"
                      class="fa fa-globe scientilla-icon-fa scientilla-clickable"
                      title="The document is visible to everyone, click to change it"></span>
                <span ng-click="vm.changePrivacy()"
                      ng-if="!vm.isPublic()"
                      class="fa fa-lock scientilla-icon-fa scientilla-clickable"
                      title="The document is visible only to scientilla users, click to change it"></span>
            </div>
            <div ng-if="vm.isFavoriteToShow()" class="scientilla-document-icons-bottom">
                <span ng-click="vm.changeFavorite()"
                      ng-if="vm.isFavorite()"
                      class="fa fa-star scientilla-icon-fa scientilla-clickable"
                      title="This document is one of your favorite"></span>
                <span ng-click="vm.changeFavorite()"
                      ng-if="!vm.isFavorite()"
                      class="fa fa-star-o scientilla-icon-fa scientilla-clickable"
                      title="Click here to make it favorite"></span>
            </div>
        </div>

        <div class="col-xs-1 scientilla-document-icons">

            <div ng-if="vm.showScopusMetrics()" class="scientilla-document-icons-extra">
                <div>
                <span class="scientilla-icon scientilla-icon-scopus"
                      title="Scopus metrics"></span>
                </div>

                <div ng-if="vm.hasMetric(vm.metrics.CITATIONS)" class="small"
                     title="Citations in scopus - {{vm.scopusCitationsYearStr}}">
                    Cit. {{ vm.getMetricValue(vm.metrics.CITATIONS) }}
                </div>
                <div ng-if="vm.hasMetric(vm.metrics.SNIP)" class="small" title="Source Normalized Impact per Paper">
                    SNIP {{ vm.getMetricValue(vm.metrics.SNIP) | number:1 }}
                </div>
                <div ng-if="vm.hasMetric(vm.metrics.SJR)" class="small" title="Scimago Journal Rank">
                    SJR {{ vm.getMetricValue(vm.metrics.SJR) | number:1 }}
                </div>
            </div>
            <div ng-if="vm.showWOSMetrics()" class="scientilla-document-icons-extra">
                <div>
                    <span class="scientilla-icon scientilla-icon-wos"
                          title="Web of Science metrics"></span>
                </div>
                <div ng-if="vm.hasMetric(vm.metrics.IF)" class="small" title="Impact factor">
                    IF {{ vm.getMetricValue(vm.metrics.IF) | number:1 }}
                </div>
            </div>

        </div>
    </div>
</div>
