<scientilla-filter
    search-form-structure="vm.searchForm"
    on-filter="vm.onFilter"
    elements="vm.documents"
    empty-list-message="No documents found">

    <scientilla-multicheck>
        <buttons>
            <scientilla-multicheck-button
                subject="Export as CSV"
                on-click="vm.exportCsvDocuments">
                <i class="fas fa-download fa-left"></i>Export as CSV
            </scientilla-multicheck-button>
            <scientilla-multicheck-button
                subject="Export as BibTeX"
                on-click="vm.exportBibtexDocuments">
                <i class="fas fa-download fa-left"></i>Export as BibTeX
            </scientilla-multicheck-button>
        </buttons>
        <item-list>
            <scientilla-checkable ng-repeat="d in vm.documents" item="d">
                <scientilla-document
                    document="d"
                    section="vm.section"
                    class="document-container"></scientilla-document>
                <div class="document-row-actions">
                    <button
                        class="btn btn-primary"
                        ng-click="vm.unverifyDocument(d)"
                        ng-disabled="d.isUnverifying()"
                        type="button"
                        uib-tooltip="Unlink the document from your profile"
                        tooltip-placement="top"
                        tooltip-class="scientilla-tooltip"
                        ng-if="!d.isComparable">
                        <i class="far fa-trash-alt fa-left"></i>
                        Unverify
                    </button>
                    <button
                        class="btn btn-compare"
                        ng-click="vm.compareDocuments(d, d.getComparisonDuplicate())"
                        type="button"
                        uib-tooltip="Open the comparison form"
                        tooltip-placement="top"
                        tooltip-class="scientilla-tooltip"
                        ng-if="d.isComparable">
                        Compare
                    </button>
                </div>
            </scientilla-checkable>
        </item-list>
    </scientilla-multicheck>

</scientilla-filter>