<h1>Authors affiliations</h1>
<div>
    <scientilla-document-authors document="vm.document"></scientilla-document-authors>
</div>
<div>
    <span class="scientilla-document-title" ng-bind-html='vm.document | title'></span>
</div>
<div>
    <scientilla-document-affiliations document="vm.document"></scientilla-document-affiliations>
</div>
<div>
    <small class="scientilla-document-source">
        <span ng-if="vm.document.sourceType === 'journal' ">
            {{vm.document.journal}}
        </span>
        <span ng-if="vm.document.sourceType === 'conference' ">
            {{vm.document.acronym}} {{vm.document.conferenceName}} {{vm.document.conferenceLocation}}
        </span>
        <span ng-if="vm.document.sourceType === 'book' ">
            {{vm.document.bookTitle}}
        </span>
    </small>
</div>
<form>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-group">
                <label for="position">Author</label>
                <select class="form-control" id="position"
                        ng-model="vm.position"
                        ng-options="+index as author for (index, author) in vm.document.getAuthors()">
                </select>
            </div>
        </div>
        <div class="panel-body" ng-if="vm.author">
            <div class="form-group">
                <label title="{{vm.document.synchronized ? 'The corresponding author cannot be modified if the document is synchronized with scopus' : 'Are you the corresponding author?'}}">
                    <input type="checkbox"
                           ng-model="vm.authorship.corresponding"
                           ng-disabled="vm.document.synchronized"/>
                    * - Corresponding author
                </label>
            </div>
            <div class="form-group"
                 ng-if="vm.viewFirstCoauthor()">
                <label title="Are you a first-coauthor?">
                    <input type="checkbox"
                           ng-model="vm.authorship.first_coauthor"/>
                    + - Co-first author
                </label>
            </div>
            <div class="form-group"
                 ng-if="vm.viewLastCoauthor()">
                <label title="Are you a last-coauthor?">
                    <input type="checkbox"
                           ng-model="vm.authorship.last_coauthor"/>
                    # - Co-Last author
                </label>
            </div>
            <div class="form-group"
                 ng-hide="vm.authorship.position<0">
                <label title="Was this author selected to give a talk about this work?">
                    <input type="checkbox"
                           ng-model="vm.authorship.oral_presentation"/>
                    <span class="fa fa-microphone"></span> - Oral presentation
                </label>
            </div>
        </div>
    </div>
    <scientilla-button type="submit" click="vm.submit">Save</scientilla-button>
    <scientilla-button type="cancel" click="vm.cancel">Close</scientilla-button>
</form>