<scientilla-research-item-authors
    research-item="vm.researchItem"
    collapsed="vm.collapsed"
    type="default"
></scientilla-research-item-authors>

<h3
    class="training-module-title"
    ng-bind-html='vm.researchItem | title'
></h3>

<scientilla-research-item-affiliations
    research-item="vm.researchItem"
    collapsed="vm.collapsed"
></scientilla-research-item-affiliations>

<hr />

<div
    ng-if="vm.researchItem.description"
    class="description-container"
>
    <div class="description-title">Description/Abstract:</div>
    <div>
        {{ vm.researchItem.description }}
    </div>
</div>

<div>
    <div ng-if="vm.researchItem.type">
        <label class="inline-block">Taught in a:</label> {{vm.researchItem.type.label}}
    </div>
    <div ng-if="vm.researchItem.referent">
        <label class="inline-block">IIT contact person:</label> {{vm.researchItem.referent.getDisplayName()}}
    </div>
    <div>
        <label class="inline-block">The lecture is a:</label> {{vm.researchItem.wholeModule ? vm.moduleTypes.WHOLE_MODULE : vm.moduleTypes.GENERAL_MODULE}}
    </div>
    <div ng-if="!vm.researchItem.wholeModule">
        <label class="inline-block">Title of the larger module:</label> {{vm.researchItem.generalModuleTitle}}
    </div>
    <div ng-if="vm.researchItem.institute">
        <label class="inline-block">Institution:</label> {{vm.researchItem.institute.name}}
    </div>
    <div ng-if="vm.researchItem.phdCourse">
        <label class="inline-block">PhD course:</label> {{vm.researchItem.phdCourse.name}}
    </div>
    <div ng-if="vm.researchItem.otherCourse">
        <label class="inline-block">Other course:</label> <i class="fas fa-check"></i>
    </div>
    <div ng-if="vm.researchItem.hours">
        <label class="inline-block">Hours:</label> {{vm.researchItem.hours}}
    </div>
    <div ng-if="vm.researchItem.lectures">
        <label class="inline-block">Number of sessions:</label> {{vm.researchItem.lectures}}
    </div>
    <div ng-if="vm.researchItem.year">
        <label class="inline-block">Academic year:</label> {{vm.researchItem.year}}/{{vm.getNextYear(vm.researchItem.year)}}
    </div>
    <div ng-if="vm.researchDomains.length > 0">
        <label class="inline-block">Area{{vm.researchDomains.length > 1 ? 's' : ''}}:</label>
        <ul class="research-domain-listing">
            <li ng-repeat="researchDomain in vm.researchDomains">
                {{researchDomain}}
            </li>
        </ul>
    </div>
    <div ng-if="vm.researchItem.location">
        <label class="inline-block">Location:</label> {{vm.researchItem.location}}
    </div>
    <div ng-if="vm.researchItem.delivery">
        <label class="inline-block">Delivery:</label> {{vm.researchItem.delivery}}
    </div>
</div>
