<div class="modal-header">
    <h3>{{ !!vm.trainingModule.id ? 'Edit' : 'New' }} {{ vm.trainingModule.type.label }}</h3>
    <button
        type="button"
        class="close"
        ng-click="vm.cancel()"
    >
        <i class="fas fa-times"></i>
    </button>
</div>

<div class="modal-body">
    <form
        name="form"
        class="{{vm.status.class}}"
        autocomplete="off"
    >
        <div
            ng-class="{
                'has-error' : vm.errors.authorsStr && vm.mode == 'verify',
                'has-warning' : vm.errors.authorsStr && vm.mode == 'draft'
            }"
            class="form-group has-feedback"
        >
            <label for="authorsStr">
                Lecturer(s) (must be in the form "Doe J., Smith Simpson J. V.") *
            </label>
            <input
                id="authorsStr"
                type="text"
                name="authors"
                class="form-control"
                placeholder="Lecturer(s)"
                ng-model="vm.trainingModule.authorsStr"
                ng-pattern="vm.fieldsRules.authorsStr.regex"
                data-ng-required="true"
                ng-model-options="{ allowInvalid: true }"
                ng-class="{'is-invalid' : vm.errors.authorsStr}"
                ng-blur="vm.checkValidation('authorsStr')"
                ng-change="vm.fieldValueHasChanged('authorsStr')"
            >
            <scientilla-error-messages
                class="error-messages"
                errors="vm.errors.authorsStr"
            ></scientilla-error-messages>
            <em>IIT lecturers will see this info among their suggested modules.</em>
        </div>

        <div
            class="form-group"
            ng-class="{
                'has-error' : vm.errors.referent && vm.mode == 'verify',
                'has-warning' : vm.errors.referent && vm.mode == 'draft'
            }"
        >
            <label for="referent">IIT contact person *</label>
            <input
                type="text"
                id="referent"
                name="referent"
                placeholder="Start typing to search"
                class="form-control"
                uib-typeahead="user as user.getDisplayName() for user in vm.getUsers($viewValue)"
                typeahead-loading="searching"
                typeahead-no-results="noResults"
                ng-model="vm.selectedReferent"
                data-ng-required="true"
                placeholder="Search User"
                ng-model-options="{ allowInvalid: true }"
                typeahead-editable="false"
                typeahead-select-on-blur="false"
                ng-class="{'is-invalid' : vm.errors.referent}"
                ng-blur="vm.checkValidation('referent')"
                ng-change="vm.fieldValueHasChanged('referent')"
                typeahead-wait-ms="200"
            >
            <scientilla-error-messages
                class="error-messages"
                errors="vm.errors.referent"
            ></scientilla-error-messages>
        </div>

        <div
            class="form-group"
            ng-class="{
                'has-error' : vm.errors.title && vm.mode == 'verify',
                'has-warning' : vm.errors.title && vm.mode == 'draft'
            }"
        >
            <label for="title">Title *</label>
            <input
                type="text"
                id="title"
                name="title"
                placeholder="Title"
                class="form-control"
                ng-model="vm.trainingModule.title"
                ng-class="{'is-invalid' : vm.errors.title}"
                ng-blur="vm.checkValidation('title')"
                ng-change="vm.fieldValueHasChanged('title')"
            >
            <scientilla-error-messages
                class="error-messages"
                errors="vm.errors.title"
            ></scientilla-error-messages>
        </div>

        <div
            class="form-group"
            ng-class="{
                'has-error' : vm.errors.description && vm.mode == 'verify',
                'has-warning' : vm.errors.description && vm.mode == 'draft'
            }"
        >
            <label for="description">Description/Abstract *</label>
            <textarea
                id="description"
                rows="6"
                class="form-control"
                placeholder="Description"
                ng-model="vm.trainingModule.description"
                ng-class="{'is-invalid' : vm.errors.description}"
                ng-blur="vm.checkValidation('description')"
            ></textarea>
            <scientilla-error-messages
                class="error-messages"
                errors="vm.errors.description"
            ></scientilla-error-messages>
        </div>

        <div ng-if="vm.trainingModule.type.key !== 'summer_winter_school_lecture'">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div
                        class="form-group has-feedback"
                        ng-class="{
                            'has-error' : vm.errors.institute && vm.mode == 'verify',
                            'has-warning' : vm.errors.institute && vm.mode == 'draft'
                        }"
                    >
                        <label for="phd-institution">Institution *</label>
                        <div class="select-wrapper">
                            <select
                                class="form-control"
                                id="institute"
                                name="institute"
                                required
                                placeholder="Institution"
                                ng-model="vm.trainingModule.institute"
                                ng-disabled="vm.trainingModule.otherCourse"
                                ng-options="institute.id as institute.name for institute in vm.institutes"
                                ng-class="{'is-invalid' : vm.errors.institute}"
                                ng-blur="vm.checkValidation('institute')"
                                ng-change="vm.fieldValueHasChanged('institute')"
                            >
                                <option disabled value="">Please select ...</option>
                            </select>
                        </div>
                        <scientilla-error-messages
                            class="error-messages"
                            errors="vm.errors.institute"
                        ></scientilla-error-messages>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div
                        class="form-group has-feedback"
                        ng-class="{
                            'has-error' : vm.errors.phdCourse && vm.mode == 'verify',
                            'has-warning' : vm.errors.phdCourse && vm.mode == 'draft'
                        }"
                    >
                        <label for="phd-course">PhD course *</label>
                        <div class="select-wrapper">
                            <select
                                class="form-control"
                                id="phd-course"
                                name="phd-course"
                                required
                                placeholder="PhD course"
                                ng-model="vm.trainingModule.phdCourse"
                                ng-options="course.id as course.name for course in vm.courses"
                                ng-disabled="!vm.trainingModule.institute || vm.trainingModule.otherCourse"
                                ng-class="{'is-invalid' : vm.errors.phdCourse}"
                                ng-blur="vm.checkValidation('phdCourse')"
                                ng-change="vm.fieldValueHasChanged('phdCourse')"
                            >
                                <option disabled value="">Please select ...</option>
                            </select>
                        </div>
                        <scientilla-error-messages
                            class="error-messages"
                            errors="vm.errors.phdCourse"
                        ></scientilla-error-messages>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-checkbox">
                    <input type="checkbox" ng-model="vm.trainingModule.otherCourse" />
                    <span></span>Other PhD course
                </label>
                <em>Please select this if you didn't find your PhD course in the list above.</em>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div
                    class="form-group"
                    ng-class="{
                        'has-error' : vm.errors.hours && vm.mode == 'verify',
                        'has-warning' : vm.errors.hours && vm.mode == 'draft'
                    }"
                >
                    <label for="hours">Total duration (hours) *</label>
                    <input
                        type="number"
                        id="hours"
                        name="hours"
                        min="0"
                        placeholder="Total duration (hours)"
                        class="form-control"
                        ng-model="vm.trainingModule.hours"
                        ng-class="{'is-invalid' : vm.errors.hours}"
                        ng-blur="vm.checkValidation('hours')"
                        ng-change="vm.fieldValueHasChanged('hours')"
                    >
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.hours"
                    ></scientilla-error-messages>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div
                    class="form-group"
                    ng-class="{
                        'has-error' : vm.errors.lectures && vm.mode == 'verify',
                        'has-warning' : vm.errors.lectures && vm.mode == 'draft'
                    }"
                >
                    <label for="lectures">Number of lectures *</label>
                    <input
                        type="number"
                        id="lectures"
                        name="lectures"
                        min="0"
                        placeholder="Number of lectures"
                        class="form-control"
                        ng-model="vm.trainingModule.lectures"
                        ng-class="{'is-invalid' : vm.errors.lectures}"
                        ng-blur="vm.checkValidation('lectures')"
                        ng-change="vm.fieldValueHasChanged('lectures')"
                    >
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.lectures"
                    ></scientilla-error-messages>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div
                    ng-class="{
                        'has-error' : vm.errors.year && vm.mode == 'verify',
                        'has-warning' : vm.errors.year && vm.mode == 'draft'
                    }"
                    class="form-group has-feedback"
                >
                    <label for="year">Academic year (YYYY format) *</label>
                    <div class="input-group">
                        <input
                            id="year"
                            type="number"
                            min="0"
                            name="year"
                            class="form-control"
                            placeholder="Year"
                            ng-model="vm.trainingModule.year"
                            data-ng-required="true"
                            ng-pattern="/^(19|20)\d{2}$/"
                            ng-model-options="{ allowInvalid: true }"
                            ng-class="{'is-invalid' : vm.errors.year}"
                            ng-blur="vm.checkValidation('year')"
                            ng-change="vm.fieldValueHasChanged('year')"
                        >
                        <div class="input-group-append">
                            <span class="input-group-text">/{{ vm.getNextYear(vm.trainingModule.year) }}</span>
                        </div>
                    </div>
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.year"
                    ></scientilla-error-messages>
                </div>
            </div>
        </div>

        <div
            class="form-group"
            ng-class="{
                'has-error' : vm.errors.researchDomains && vm.mode == 'verify',
                'has-warning' : vm.errors.researchDomains && vm.mode == 'draft'
            }"
        >
            <label>Research domains *</label>
            <ul class="research-domain-listing">
                <li ng-repeat="researchDomain in vm.researchDomains track by $index">
                    <label class="form-checkbox inline-block">
                        <input type="checkbox" ng-model="vm.trainingModuleResearchDomains[researchDomain.name]" ng-change="vm.onChangeResearchDomain()" />
                        <span></span>{{ researchDomain.name }}
                    </label>
                </li>
                <li>
                    <label class="form-checkbox inline-block">
                        <input type="checkbox" ng-model="vm.softSkillsCheckbox" ng-change="vm.onChangeResearchDomain()"/>
                        <span></span>Soft skills
                    </label>
                </li>
            </ul>
            <scientilla-error-messages
                class="error-messages"
                errors="vm.errors.researchDomains"
            ></scientilla-error-messages>
        </div>

        <div
            class="form-group"
            ng-class="{
                'has-error' : vm.errors.delivery && vm.mode == 'verify',
                'has-warning' : vm.errors.delivery && vm.mode == 'draft'
            }"
        >
            <label>Delivery *</label>
            <ul class="delivery-listing">
                <li>
                    <label class="form-checkbox inline-block">
                        <input type="checkbox" ng-model="vm.deliveryOnLine" />
                        <span></span>Online
                    </label>
                </li>
                <li>
                    <label class="form-checkbox inline-block">
                        <input type="checkbox" ng-model="vm.deliveryInPresence" />
                        <span></span>In presence
                    </label>
                </li>
            </ul>
            <scientilla-error-messages
                class="error-messages"
                errors="vm.errors.delivery"
            ></scientilla-error-messages>
        </div>

        <label for="location">Location *</label>
        <ul class="or-row">
            <li>
                <div
                    class="form-group has-feedback"
                    ng-class="{
                        'has-error' : vm.errors.location && vm.mode == 'verify',
                        'has-warning' : vm.errors.location && vm.mode == 'draft'
                    }"
                >
                    <div
                        class="select-wrapper"
                        ng-class="{'is-invalid' : vm.errors.location}"
                    >
                        <select
                            id="location"
                            class="form-control"
                            ng-class="{'is-invalid' : vm.location !== vm.otherOption && vm.errors.location}"
                            ng-model="vm.location"
                            ng-options="center.name as center.name for center in vm.centers"
                            ng-blur="vm.checkValidation('location')"
                            ng-change="vm.onChangeLocation()"
                        >
                            <option value="" disabled>Please select ...</option>
                        </select>
                    </div>
                    <scientilla-error-messages
                        ng-if="vm.location !== vm.otherOption"
                        class="error-messages"
                        errors="vm.errors.location"
                    ></scientilla-error-messages>
                </div>
            </li>
            <li>
                <div class="or-label">Or</div>
            </li>
            <li>
                <div
                    class="form-group"
                    ng-class="{
                        'has-error' : vm.errors.location && vm.mode == 'verify',
                        'has-warning' : vm.errors.location && vm.mode == 'draft'
                    }"
                >
                    <input
                        type="text"
                        id="otherLocation"
                        name="otherLocation"
                        placeholder="Other location"
                        class="form-control"
                        ng-disabled="vm.isLocationSelectDisabled()"
                        ng-model="vm.otherLocation"
                        ng-class="{'is-invalid' : vm.location === vm.otherOption && vm.errors.location}"
                        ng-blur="vm.checkValidation('location')"
                        ng-change="vm.onChangeOtherLocation()"
                    >
                    <em>Please select the option "Other" to manually type a location.</em>
                    <scientilla-error-messages
                        ng-if="vm.location === vm.otherOption"
                        class="error-messages"
                        errors="vm.errors.location"
                    ></scientilla-error-messages>
                </div>
            </li>
        </ul>

        <ul class="modal-buttons">
            <li>
                <scientilla-button
                    type="button"
                    click="vm.save"
                    ng-disabled="vm.formStatus.saveState !== 'ready to save' || !vm.unsavedData"
                >
                    {{ vm.formStatus.saveMessage }}
                </scientilla-button>
            </li>
            <li>
                <scientilla-button
                    type="submit"
                    ng-disabled="vm.formStatus.verifyState !== 'ready to verify'"
                    click="vm.verify"
                >{{ vm.formStatus.verifyMessage }}
                </scientilla-button>
            </li>
            <li>
                <scientilla-button
                    type="cancel"
                    click="vm.cancel"
                >Close
                </scientilla-button>
            </li>
        </ul>

        <div
            ng-if="vm.errorText"
            class="modal-error"
            ng-class="{
                'text-danger' : vm.formStatus.mode == 'verify',
                'text-warning': vm.formStatus.mode == 'draft'
            }"
        >
            {{ vm.errorText }}
        </div>
    </form>
</div>
