<div class="modal-header">
    <h3> {{vm.trainingModule.type.label}} Verification</h3>
    <button
        type="button"
        class="close"
        ng-click="vm.cancel()"
    >
        <i class="fas fa-times"></i>
    </button>
</div>

<div class="modal-body">
    <scientilla-research-item-authors
        research-item="vm.trainingModule"
        collapsed="vm.collapsed"
    ></scientilla-research-item-authors>

    <h4 class="document-title" ng-bind-html='vm.trainingModule | title'></h4>

    <scientilla-research-item-affiliations
        research-item="vm.trainingModule"
        collapsed="vm.collapsed"
    ></scientilla-research-item-affiliations>

    <research-item-affiliations
        document="vm.trainingModule"
        collapsed="vm.collapsed"
    ></research-item-affiliations>

    <form>
        <div class="form-group">
            <label for="position">Who are you?</label>
            <div class="select-wrapper">
                <select
                    class="form-control"
                    id="position"
                    ng-model="vm.position"
                    ng-options="+index as author for (index, author) in vm.authorsNames"
                ></select>
            </div>
        </div>

        <div ng-if="!Number.isInteger(vm.position)">
            <div class="form-group">
                <scientilla-multicomplete
                    items="vm.verificationData.affiliations"
                    query="vm.getInstitutesQuery"
                    filter="vm.getInstitutesFilter"
                    title="What are your affiliations for this training module?"
                ></scientilla-multicomplete>
            </div>
        </div>

        <ul class="modal-buttons">
            <li>
                <scientilla-button
                    type="submit"
                    click="vm.submit"
                    ng-disabled="!vm.canBeSubmitted()"
                >Verify</scientilla-button>
            </li>
            <li ng-if="vm.viewCopyToDraft()">
                <scientilla-button
                    type="submit"
                    click="vm.copyToDraft"
                >Copy to draft</scientilla-button>
            </li>
            <li>
                <scientilla-button
                    type="cancel"
                   click="vm.cancel()"
                >Cancel</scientilla-button>
            </li>
        </ul>
    </form>
</div>
