<div class="modal-header">
    <h3>{{ !!vm.trainingModule.id ? 'Edit' : 'New' }} training module</h3>
    <button
        type="button"
        class="close"
        ng-click="vm.cancel()"
    >
        <i class="fas fa-times"></i>
    </button>
</div>

<div class="modal-body">
    <form
        name="form"
        class="{{vm.status.class}}"
        autocomplete="off"
    >
        <div
            ng-class="{
                'has-error' : vm.errors.authorsStr && vm.mode == 'verify',
                'has-warning' : vm.errors.authorsStr && vm.mode == 'draft'
            }"
            class="form-group has-feedback"
        >
            <label for="authorsStr">
                Teachers (must be in the form "Doe J., Smith Simpson J. V.") *
            </label>
            <input
                id="authorsStr"
                type="text"
                name="authors"
                class="form-control"
                placeholder="Teachers"
                ng-model="vm.trainingModule.authorsStr"
                ng-pattern="vm.fieldsRules.authorsStr.regex"
                data-ng-required="true"
                ng-model-options="{ allowInvalid: true }"
                ng-class="{'is-invalid' : vm.errors.authorsStr}"
                ng-blur="vm.checkValidation('authorsStr')"
                ng-change="vm.fieldValueHasChanged('authorsStr')"
            >
            <scientilla-error-messages
                class="error-messages"
                errors="vm.errors.authorsStr"
            ></scientilla-error-messages>
        </div>

        <div class="form-group">
            <label for="referent">Referent *</label>
            <input
                type="text"
                id="referent"
                name="referent"
                placeholder="Referent"
                class="form-control"
                uib-typeahead="user as user.getDisplayName() for user in vm.getUsers($viewValue)"
                typeahead-loading="searching"
                typeahead-no-results="noResults"
                ng-model="vm.selectedReferent"
                data-ng-required="true"
                placeholder="Search User"
                ng-model-options="{ allowInvalid: true }"
                typeahead-editable="false"
                typeahead-select-on-blur="false"
                ng-class="{'is-invalid' : vm.errors.referent}"
                ng-blur="vm.checkValidation('referent')"
                ng-change="vm.fieldValueHasChanged('referent')"
            >
            <scientilla-error-messages
                class="error-messages"
                errors="vm.errors.referent"
            ></scientilla-error-messages>
        </div>

        <div class="form-group">
            <label for="title">Title *</label>
            <input
                type="text"
                id="title"
                name="title"
                placeholder="Title"
                class="form-control"
                ng-model="vm.trainingModule.title"
                ng-class="{'is-invalid' : vm.errors.title}"
                ng-blur="vm.checkValidation('title')"
                ng-change="vm.fieldValueHasChanged('title')"
            >
            <scientilla-error-messages
                class="error-messages"
                errors="vm.errors.title"
            ></scientilla-error-messages>
        </div>

        <div class="form-group">
            <label for="description">Description *</label>
            <textarea
                id="description"
                rows="6"
                class="form-control"
                placeholder="Description"
                ng-model="vm.trainingModule.description"
            ></textarea>
        </div>

        <label for="course">Course *</label>
        <ul class="or-row">
            <li>
                <div
                    class="form-group has-feedback"
                    ng-class="{
                        'has-error' : vm.errors.phdCourse && vm.mode == 'verify',
                        'has-warning' : vm.errors.phdCourse && vm.mode == 'draft'
                    }"
                >
                    <input
                        id="phdCourse"
                        name="phdCourse"
                        type="text"
                        ng-model="vm.trainingModule.phdCourse"
                        class="form-control"
                        uib-typeahead="course as course.title for course in vm.getCourses($viewValue)"
                        typeahead-loading="searching"
                        typeahead-no-results="noResults"
                        data-ng-required="true"
                        ng-model-options="{ allowInvalid: true }"
                        typeahead-editable="false"
                        typeahead-select-on-blur="true"
                        ng-blur="vm.checkValidation('phdCourse')"
                        ng-change="vm.fieldValueHasChanged('phdCourse')"
                        ng-class="{'is-invalid' : vm.errors.phdCourse}"
                    />
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.phdCourse"
                    ></scientilla-error-messages>
                </div>
            </li>
            <li>
                <div class="form-group">Or</div>
            </li>
            <li>
                <div class="form-group">
                    <label class="form-checkbox inline-block">
                        <input type="checkbox" ng-model="vm.trainingModule.otherCourse" />
                        <span></span>Other
                    </label>
                </div>
            </li>
        </ul>

        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="form-group">
                    <label for="hours">Number of hours *</label>
                    <input
                        type="number"
                        id="hours"
                        name="hours"
                        min="0"
                        placeholder="Number of hours"
                        class="form-control"
                        ng-model="vm.trainingModule.hours"
                        ng-class="{'is-invalid' : vm.errors.hours}"
                        ng-blur="vm.checkValidation('hours')"
                        ng-change="vm.fieldValueHasChanged('hours')"
                    >
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.hours"
                    ></scientilla-error-messages>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="form-group">
                    <label for="lectures">Number of lectures *</label>
                    <input
                        type="number"
                        id="lectures"
                        name="lectures"
                        min="0"
                        placeholder="Number of lectures"
                        class="form-control"
                        ng-model="vm.trainingModule.lectures"
                        ng-class="{'is-invalid' : vm.errors.lectures}"
                        ng-blur="vm.checkValidation('lectures')"
                        ng-change="vm.fieldValueHasChanged('lectures')"
                    >
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.lectures"
                    ></scientilla-error-messages>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div
                    ng-class="{
                        'has-error' : vm.errors.year && vm.mode == 'verify',
                        'has-warning' : vm.errors.year && vm.mode == 'draft'
                    }"
                    class="form-group has-feedback"
                >
                    <label for="year">Academic year (YYYY format) *</label>
                    <input
                        id="year"
                        type="text"
                        name="year"
                        class="form-control"
                        placeholder="Year"
                        ng-model="vm.trainingModule.year"
                        data-ng-required="true"
                        ng-pattern="/^(19|20)\d{2}$/"
                        ng-model-options="{ allowInvalid: true }"
                        ng-class="{'is-invalid' : vm.errors.year}"
                        ng-blur="vm.checkValidation('year')"
                        ng-change="vm.fieldValueHasChanged('year')"
                    >
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.year"
                    ></scientilla-error-messages>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Research domains *</label>
            <label class="form-checkbox inline-block" ng-repeat="researchDomain in vm.researchDomains">
                <input type="checkbox" ng-value="researchDomain" />
                <span></span>{{ researchDomain }}
            </label>
            <label class="form-checkbox inline-block">
                <input type="checkbox" value="Soft skills" />
                <span></span>Soft skills
            </label>
        </div>

        <label for="location">Location *</label>
        <ul class="or-row">
            <li>
                <div
                    ng-class="{
                        'has-error' : vm.errors.eventType && vm.mode == 'verify',
                        'has-warning' : vm.errors.eventType && vm.mode == 'draft'
                    }"
                    class="form-group has-feedback"
                >
                    <div
                        class="select-wrapper"
                        ng-class="{'is-invalid' : vm.errors.location}"
                    >
                        <select
                            id="location"
                            class="form-control"
                            ng-class="{'is-invalid' : vm.errors.location}"
                            ng-model="vm.trainingModule.location"
                            ng-init="vm.trainingModule.location = vm.trainingModule.location || vm.eventTypes[0].key"
                            ng-options="option.key as option.label for option in vm.centers"
                            ng-blur="vm.checkValidation('location')"
                            ng-change="vm.fieldValueHasChanged('location')"
                        >
                        </select>
                    </div>
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.location"
                    ></scientilla-error-messages>
                </div>
            </li>
            <li>
                <div class="form-group">Or</div>
            </li>
            <li>
                <div class="form-group">
                    <input
                        type="text"
                        id="otherLocation"
                        name="otherLocation"
                        placeholder="Other location"
                        class="form-control"
                        ng-model="vm.otherLocation"
                        ng-class="{'is-invalid' : vm.errors.otherLocation}"
                        ng-blur="vm.checkValidation('otherLocation')"
                        ng-change="vm.fieldValueHasChanged('otherLocation')"
                    >
                    <scientilla-error-messages
                        class="error-messages"
                        errors="vm.errors.otherLocation"
                    ></scientilla-error-messages>
                </div>
            </li>
        </ul>

        <div class="form-group">
            <label>Delivery *</label>
            <label class="form-checkbox inline-block">
                <input type="checkbox" />
                <span></span>Online
            </label>
            <label class="form-checkbox inline-block">
                <input type="checkbox" />
                <span></span>In presence
            </label>
        </div>

        <ul class="modal-buttons">
            <li>
                <scientilla-button
                    type="button"
                    click="vm.save"
                    ng-disabled="vm.formStatus.saveState !== 'ready to save' || !vm.unsavedData"
                >
                    {{ vm.formStatus.saveMessage }}
                </scientilla-button>
            </li>
            <li>
                <scientilla-button
                    type="submit"
                    ng-disabled="vm.formStatus.verifyState !== 'ready to verify'"
                    click="vm.verify"
                >{{ vm.formStatus.verifyMessage }}
                </scientilla-button>
            </li>
            <li>
                <scientilla-button
                    type="cancel"
                    click="vm.cancel"
                >Close
                </scientilla-button>
            </li>
        </ul>

        <div
            ng-if="vm.errorText"
            class="modal-error"
            ng-class="{
                'text-danger' : vm.formStatus.mode == 'verify',
                'text-warning': vm.formStatus.mode == 'draft'
            }"
        >
            {{ vm.errorText }}
        </div>
    </form>
</div>
