<scientilla-backend-layout>
    <h1>Suggested training modules</h1>
    <scientilla-filter
        category="training-module-suggested"
        on-filter="vm.onFilter"
        elements="vm.trainingModules"
        empty-list-message="No drafts found"
    >
        <scientilla-multicheck>
            <buttons>
                <scientilla-multicheck-button
                    subject="Verify PhD trainings"
                    on-click="vm.multipleVerify"
                >
                    <i class="fas fa-check fa-left"></i>Verify
                </scientilla-multicheck-button>
                <scientilla-multicheck-button
                    subject="Discard PhD trainings"
                    on-click="vm.multipleCopy"
                >
                    <i class="fas fa-copy fa-left"></i>Copy to draft
                </scientilla-multicheck-button>
                <scientilla-multicheck-button
                    subject="Discard PhD trainings"
                    on-click="vm.multipleDiscard"
                >
                    <i class="fas fa-ban fa-left"></i>Discard
                </scientilla-multicheck-button>
            </buttons>
            <item-list>
                <scientilla-checkable
                    ng-repeat="p in vm.trainingModules"
                    item="p"
                    class="scientilla-checkable"
                >

                    <training-module
                        training-module="p"
                        section="vm.trainingModuleListSections.SUGGESTED"
                        class="training-module-container"
                    ></training-module>

                    <div class="training-module-row-actions">
                        <div
                            class="btn-group"
                            uib-dropdown
                        >
                            <button
                                ng-click="vm.verify(p)"
                                ng-disabled="!vm.isValid(p)"
                                type="button"
                                class="btn btn-primary"
                                title="Verify the suggested PhD training"
                            >
                                <i class="fas fa-check fa-left"></i>Verify
                            </button>

                            <button
                                type="button"
                                class="btn btn-primary dropdown-toggle only-icon"
                                uib-dropdown-toggle
                            >
                            </button>

                            <div
                                uib-dropdown-menu
                                class="dropdown-menu"
                            >

                                <button
                                    ng-click="vm.copy(p)"
                                    class="dropdown-item"
                                >
                                    <i class="far fa-copy fa-left"></i>Copy to draft
                                </button>

                                <button
                                    ng-click="vm.discard(p)"
                                    class="dropdown-item"
                                >
                                    <i class="fas fa-ban fa-left"></i>Discard
                                </button>
                            </div>
                        </div>
                    </div>
                </scientilla-checkable>
            </item-list>
        </scientilla-multicheck>
    </scientilla-filter>
</scientilla-backend-layout>
