<div>
    <md-content>
        <h3><span ng-bind-html='vm.reference | title'></span></h3>
        <i><span ng-bind-html='vm.reference | linkableauthors'></span></i>
        <md-list>
            <md-subheader class="md-no-sticky">
                Collaborators
            </md-subheader>
            <md-list-item class="md-3-line scientilla-main-list" ng-repeat="c in vm.reference.getRealAuthors()">
                <md-divider class="top-divider"></md-divider>
                <div>
                    <h4>
                        <a ng-href="#/users/{{c.id}}" style="min-width: 80px">{{c.getDisplayName()}}</a>
                    </h4>
                </div>
            </md-list-item>
        </md-list>
        <md-list>
            <md-subheader class="md-no-sticky">
                Collaborations
            </md-subheader>
            <md-list-item class="md-3-line scientilla-main-list" ng-repeat="c in vm.reference.getCollaborations()">
                <md-divider class="top-divider"></md-divider>
                <div>
                    <h4>
                        <a ng-href="#/group/{{c.id}}" style="min-width: 80px">{{c.getDisplayName()}}</a>
                    </h4>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>
