<md-subheader class="md-no-sticky">
    <div layout="row">
        <h1 flex>
            {{vm.researchEntity.getDisplayName()}}
            <md-button class="md-fab md-raised md-icon-button scientilla-fab" ng-click="vm.editProfile($event)" aria-label="Edit">
                <ng-md-icon icon="settings"></ng-md-icon>
            </md-button>
            <md-menu flex="25" >
                <md-button ng-click="vm.openMenu($mdOpenMenu, $event)" class="md-primary">
                    Add new Document
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="type in vm.types">
                        <md-button md-focused ng-click="vm.createNewDocument($event, type)">
                            {{type.label}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </h1>
    </div>
</md-subheader>
<md-tabs md-dynamic-height md-border-bottom class='notifications' md-selected="vm.tab">
    <md-tab label="Documents">
        <scientilla-documents-list research-entity="vm.researchEntity"></scientilla-documents-list>
    </md-tab>
    <md-tab label="Drafts">
        <scientilla-drafts-list research-entity="vm.researchEntity"></scientilla-drafts-list>
    </md-tab>
    <md-tab label="External">
        <scientilla-external-documents research-entity="vm.researchEntity"></scientilla-external-documents>
    </md-tab>
</md-tabs>