<div>
    <!--<md-button ng-href="#{{vm.createNewUrl}}" class="md-primary">Add New Document</md-button>-->
    <md-list>
        <md-list-item class="md-3-line scientilla-main-list" ng-repeat="d in vm.documents">
            <scientilla-document document="d"></scientilla-document>
            <div class="md-secondary-container">
                <md-button class="list-elem-button md-icon-button" ng-href="#/references/{{d.id}}" aria-label="Details"><ng-md-icon icon="book"></ng-md-icon></md-button>
                <md-button ng-show="d.draft" class="list-elem-button md-icon-button"  ng-href="#/references/{{d.id}}/edit" aria-label="Edit"><ng-md-icon icon="edit"></ng-md-icon></md-button>
                <md-button ng-show="d.draft" class="list-elem-button md-icon-button" ng-click="vm.verifyDocument(d)" aria-label="Verify"><ng-md-icon icon="done"></ng-md-icon></md-button>
                <md-button class="list-elem-button md-icon-button" ng-click="vm.deleteDocument(d)" title="Delete" aria-label="Delete"><ng-md-icon icon="clear"></ng-md-icon></md-button>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</div>