<ul class="enable-listing">
    <li>
        <ul class="field-listing">
            <li>
                <ul class="experience-form">
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.profile.experiencesExternal[vm.key].errors.company}">
                            <label for="experience[{{ vm.key }}]-company">
                                Company
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="experience[{{ vm.key }}]-company"
                                placeholder="Company"
                                ng-model="vm.experience.company"
                                ng-class="{
                                    'is-invalid': vm.profile.experiencesExternal[vm.key].errors.company,
                                    'is-invisible' : vm.profile.experiencesExternal[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.profile.experiencesExternal[vm.key].errors.company"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.profile.experiencesExternal[vm.key].errors.jobTitle}">
                            <label for="experience[{{ vm.key }}]-job-title">
                                Job title
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="experience[{{ vm.key }}]-job-title"
                                placeholder="Job title"
                                ng-model="vm.experience.jobTitle"
                                ng-class="{
                                    'is-invalid': vm.profile.experiencesExternal[vm.key].errors.jobTitle,
                                    'is-invisible' : vm.profile.experiencesExternal[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.profile.experiencesExternal[vm.key].errors.jobTitle"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.profile.experiencesExternal[vm.key].errors.from}">
                            <label for="experience[{{ vm.key }}]-from">From</label>
                            <div class="date-picker-wrapper">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="experience[{{ vm.key }}]-from"
                                    datepickerMode="month"
                                    placeholder="mm/yyyy"
                                    datepicker-options="vm.datePickerOptions"
                                    ng-model="vm.dateFrom"
                                    ng-model-options="{allowInvalid: true, timezone: 'utc'}"
                                    uib-datepicker-popup="MM/yyyy"
                                    show-button-bar="false"
                                    is-open="vm.openFrom"
                                    ng-click="vm.openFrom = true"
                                    ng-change="vm.changeDateFrom()"
                                    ng-class="{
                                        'is-invalid': vm.profile.experiencesExternal[vm.key].errors.from,
                                        'is-invisible' : vm.profile.experiencesExternal[vm.key].privacy === 'invisible'
                                    }">
                            </div>
                            <scientilla-field-errors
                                errors=" vm.profile.experiencesExternal[vm.key].errors.from"></scientilla-field-errors>
                        </div>
                        <div class="form-group">
                            <label class="form-checkbox inline-block">
                                <input
                                    type="checkbox"
                                    ng-model="vm.currentExperience"
                                    ng-click="vm.checkboxClick()"
                                    ng-checked="vm.experience.to ? false : true">
                                <span></span>Current experience
                            </label>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.profile.experiencesExternal[vm.key].errors.to}">
                            <label for="experience[{{ vm.key }}]-to">To</label>
                            <div class="date-picker-wrapper">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="experience[{{ vm.key }}]-to"
                                    placeholder="mm/yyyy"
                                    datepicker-options="vm.datePickerOptions"
                                    ng-model="vm.dateTo"
                                    ng-model-options="{allowInvalid: true, timezone: 'utc'}"
                                    uib-datepicker-popup="MM/yyyy"
                                    show-button-bar="false"
                                    is-open="vm.openTo"
                                    ng-click="vm.openTo = true"
                                    ng-change="vm.changeDateTo()"
                                    ng-class="{
                                        'is-invalid': vm.profile.experiencesExternal[vm.key].errors.to,
                                        'is-invisible' : vm.profile.experiencesExternal[vm.key].privacy === 'invisible'
                                    }">
                            </div>
                            <scientilla-field-errors
                                errors="vm.profile.experiencesExternal[vm.key].errors.to"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.profile.experiencesExternal[vm.key].errors.location}">
                            <label for="experience[{{ vm.key }}]-location">
                                Location
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="experience[{{ vm.key }}]-location"
                                placeholder="Location"
                                ng-model="vm.experience.location"
                                ng-class="{
                                    'is-invalid': vm.profile.experiencesExternal[vm.key].errors.location,
                                    'is-invisible' : vm.profile.experiencesExternal[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.profile.experiencesExternal[vm.key].errors.location"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.profile.experiencesExternal[vm.key].errors.country}">
                            <label for="experience[{{ vm.key }}]-country">
                                Country
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="experience[{{ vm.key }}]-country"
                                placeholder="Country"
                                ng-model="vm.experience.country"
                                ng-class="{
                                    'is-invalid': vm.profile.experiencesExternal[vm.key].errors.country,
                                    'is-invisible' : vm.profile.experiencesExternal[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.profile.experiencesExternal[vm.key].errors.country"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.profile.experiencesExternal[vm.key].errors.jobDescription}">
                            <label for="experience[{{ vm.key }}]-job-description">
                                Job description
                            </label>
                            <textarea
                                name="experience[{{ vm.key }}]-job-description"
                                id="experience[{{ vm.key }}]-job-description"
                                cols="30"
                                rows="10"
                                class="form-control"
                                ng-model="vm.experience.jobDescription"
                                ng-class="{
                                    'is-invalid': vm.profile.experiencesExternal[vm.key].errors.jobDescription,
                                    'is-invisible' : vm.profile.experiencesExternal[vm.key].privacy === 'invisible'
                                }"></textarea>
                            <scientilla-field-errors
                                errors="vm.profile.experiencesExternal[vm.key].errors.jobDescription"></scientilla-field-errors>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="action-column desktop-actions">
                <div class="form-group">
                    <button
                        class="btn btn-outline-secondary"
                        ng-click="vm.removeItem({
                            property: vm.profile.experiencesExternal,
                            index: vm.key
                        })">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </li>
            <li class="mobile-actions">
                <ul>
                    <li>
                        <div class="form-group">
                            <button
                                class="btn btn-outline-secondary"
                                ng-click="vm.removeItem({
                                    property: vm.profile.experiencesExternal,
                                    index: vm.key
                                })">
                                <i class="fas fa-trash fa-left"></i>Delete
                            </button>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <scientilla-privacy-selector
            context-object="vm.context"
            profile="vm.profile"
            errors="vm.experience.errors.privacy"
            model="vm.experience.privacy"></scientilla-privacy-selector>
    </li>
</ul>