<ul class="enable-listing">
    <li>
        <ul class="field-listing">
            <li>
                <ul class="experience-form">
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.profile.experiences[vm.key].errors.company}">
                            <label for="experience[{{ vm.key }}]-company">
                                Company
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="experience[{{ vm.key }}]-company"
                                placeholder="Company"
                                ng-model="vm.experience.company"
                                ng-class="{
                                    'is-invalid': vm.profile.experiences[vm.key].errors.company,
                                    'is-invisible' : vm.profile.experiences[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.profile.experiences[vm.key].errors.company"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.profile.experiences[vm.key].errors.jobTitle}">
                            <label for="experience[{{ vm.key }}]-job-title">
                                Job title
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="experience[{{ vm.key }}]-job-title"
                                placeholder="Job title"
                                ng-model="vm.experience.jobTitle"
                                ng-class="{
                                    'is-invalid': vm.profile.experiences[vm.key].errors.jobTitle,
                                    'is-invisible' : vm.profile.experiences[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.profile.experiences[vm.key].errors.jobTitle"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.profile.experiences[vm.key].errors.from}">
                            <label for="experience[{{ vm.key }}]-from">From</label>
                            <input
                                type="text"
                                class="form-control"
                                id="experience[{{ vm.key }}]-from"
                                placeholder="From"
                                transform-date
                                ng-model="vm.experience.from"
                                ng-model-options="{allowInvalid: true}"
                                uib-datepicker-popup="dd/MM/yyyy"
                                show-button-bar="false"
                                on-open-focus="false"
                                datepicker-options="vm.datePickerOptions"
                                is-open="vm.dateExperienceFromPopups[vm.key]"
                                ng-focus="vm.dateExperienceFromPopups[vm.key] = true"
                                ng-blur="vm.dateExperienceFromPopups[vm.key] = false"
                                ng-class="{
                                    'is-invalid': vm.profile.experiences[vm.key].errors.from,
                                    'is-invisible' : vm.profile.experiences[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors=" vm.profile.experiences[vm.key].errors.from"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.profile.experiences[vm.key].errors.to}">
                            <label for="experience[{{ vm.key }}]-to">To</label>
                            <input
                                type="text"
                                class="form-control"
                                id="experience[{{ vm.key }}]-to"
                                placeholder="To"
                                transform-date
                                ng-model="vm.experience.to"
                                ng-model-options="{allowInvalid: true}"
                                uib-datepicker-popup="dd/MM/yyyy"
                                show-button-bar="false"
                                on-open-focus="false"
                                datepicker-options="vm.datePickerOptions"
                                is-open="vm.dateExperienceToPopups[vm.key]"
                                ng-focus="vm.dateExperienceToPopups[vm.key] = true"
                                ng-blur="vm.dateExperienceToPopups[vm.key] = false"
                                ng-class="{
                                    'is-invalid': vm.profile.experiences[vm.key].errors.to,
                                    'is-invisible' : vm.profile.experiences[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.profile.experiences[vm.key].errors.to"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.profile.experiences[vm.key].errors.location}">
                            <label for="experience[{{ vm.key }}]-location">
                                Location
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="experience[{{ vm.key }}]-location"
                                placeholder="Location"
                                ng-model="vm.experience.location"
                                ng-class="{
                                    'is-invalid': vm.profile.experiences[vm.key].errors.location,
                                    'is-invisible' : vm.profile.experiences[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.profile.experiences[vm.key].errors.location"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.profile.experiences[vm.key].errors.country}">
                            <label for="experience[{{ vm.key }}]-country">
                                Country
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="experience[{{ vm.key }}]-country"
                                placeholder="Country"
                                ng-model="vm.experience.country"
                                ng-class="{
                                    'is-invalid': vm.profile.experiences[vm.key].errors.country,
                                    'is-invisible' : vm.profile.experiences[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.profile.experiences[vm.key].errors.country"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.profile.experiences[vm.key].errors.jobDescription}">
                            <label for="experience[{{ vm.key }}]-job-description">
                                Job description
                            </label>
                            <textarea
                                name="experience[{{ vm.key }}]-job-description"
                                id="experience[{{ vm.key }}]-job-description"
                                cols="30"
                                rows="10"
                                class="form-control"
                                ng-model="vm.experience.jobDescription"
                                ng-class="{
                                    'is-invalid': vm.profile.experiences[vm.key].errors.jobDescription,
                                    'is-invisible' : vm.profile.experiences[vm.key].privacy === 'invisible'
                                }"></textarea>
                            <scientilla-field-errors
                                errors="vm.profile.experiences[vm.key].errors.jobDescription"></scientilla-field-errors>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="action-column desktop-actions">
                <div class="form-group">
                    <div class="btn btn-outline-secondary">
                        <i class="fas fa-arrows-alt"></i>
                    </div>
                </div>
            </li>
            <li class="action-column desktop-actions">
                <div class="form-group">
                    <button
                        class="btn btn-outline-secondary"
                        ng-click="vm.removeItem({
                            property: vm.profile.experiences,
                            index: vm.key
                        })">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </li>
            <li class="mobile-actions">
                <ul>
                    <li>
                        <div class="form-group">
                            <div
                                class="btn btn-outline-secondary"
                                ng-disabled="vm.index === 0"
                                ng-class="{'disabled': vm.index === 0}"
                                ng-click="vm.moveUp(vm.key, vm.experience)" >
                                <i class="fas fa-arrow-up fa-left"></i>Move up
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <div
                                class="btn btn-outline-secondary"
                                ng-class="{'disabled': vm.index === vm.profile.experiences.length -1}"
                                ng-disabled="vm.index === vm.profile.experiences.length -1"
                                ng-click="vm.moveDown(vm.key, vm.experience)">
                                <i class="fas fa-arrow-down fa-left"></i>Move down
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <button
                                class="btn btn-outline-secondary"
                                ng-click="vm.removeItem({
                                    property: vm.profile.experiences,
                                    index: vm.key
                                })">
                                <i class="fas fa-trash fa-left"></i>Delete
                            </button>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <scientilla-privacy-selector
            context-object="vm.context"
            profile="vm.profile"
            errors="vm.experience.errors.privacy"
            model="vm.experience.privacy"></scientilla-privacy-selector>
    </li>
</ul>