<ng-container ng-repeat="item in vm.basicInformation track by $index">
    <label>{{ item.title }}</label>
    <ng-container ng-if="item.type === 'array' && item.items && item.items.length > 0">
        <ul
            class="enable-listing"
            ng-repeat="(key, element) in item.items track by $index">
            <li>
                <scientilla-privacy-selector
                    context-object="element.context"
                    profile="vm.profile"
                    model="element.privacy"
                    errors="element.errors.privacy"></scientilla-privacy-selector>
            </li>
            <li>
                <div class="form-group">
                    <div class="form-control disabled">
                        {{ element.value }}
                    </div>
                </div>
            </li>
        </ul>
    </ng-container>

    <ng-container ng-if="item.type === undefined">
        <label>{{ item.label }}</label>
        <ul class="enable-listing">
            <li>
                <scientilla-privacy-selector
                    context-object="item.model"
                    profile="vm.profile"
                    model="vm.profile[item.model].privacy"
                    errors="vm.profile[item.model].errors.privacy"></scientilla-privacy-selector>
            </li>
            <li>
                <div class="form-group">
                    <div class="form-control disabled">
                        {{ item.value }}
                    </div>
                    <em ng-if="item.info">{{ item.info }}</em>
                </div>
            </li>
        </ul>
    </ng-container>
</ng-container>