<label for="skill[{{ vm.categoryKey }}][{{ vm.key }}]">Skill</label>
<ul class="enable-listing">
    <li>
        <scientilla-privacy-selector
            context-object="vm.context"
            profile="vm.profile"
            errors="vm.skill.errors.privacy"
            model="vm.skill.privacy"></scientilla-privacy-selector>
    </li>
    <li>
        <ul class="skill-field-listing">
            <li>
                <div
                    class="form-group"
                    ng-class="{'has-error': vm.profile.skillCategories[vm.categoryKey].skills[vm.key].errors.value}">
                    <input
                        type="text"
                        class="form-control"
                        id="skill[{{ vm.categoryKey }}][{{ vm.key }}]"
                        placeholder="Skill"
                        ng-model="vm.skill.value"
                        ng-class="{
                            'is-invalid': vm.profile.skillCategories[vm.categoryKey].skills[vm.key].errors.value,
                            'is-invisible' : vm.profile.skillCategories[vm.categoryKey].skills[vm.key].privacy === 'invisible'
                        }">
                    <scientilla-field-errors
                        errors="vm.profile.skillCategories[vm.categoryKey].skills[vm.key].errors.value"></scientilla-field-errors>
                </div>
            </li>
            <li class="desktop-actions">
                <div class="form-group">
                    <div class="btn btn-outline-secondary">
                        <i class="fas fa-arrows-alt"></i>
                    </div>
                </div>
            </li>
            <li class="desktop-actions">
                <div class="form-group">
                    <button
                        class="btn btn-outline-secondary"
                        ng-click="vm.removeItem({
                            property: vm.profile.skillCategories[vm.categoryKey].skills,
                            index: vm.key
                        })">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </li>
            <li class="desktop-actions">
                <div
                    class="checkbox-container"
                    uib-tooltip-html="vm.getTooltipText()"
                    tooltip-placement="top-right"
                    tooltip-class="tooltip-favorite">
                    <label
                        for="skill[{{ vm.categoryKey }}][{{ vm.key }}]-favorite"
                        class="form-favorite">
                        <input
                            type="checkbox"
                            id="skill[{{ vm.categoryKey }}][{{ vm.key }}]-favorite"
                            ng-model="vm.skill.favorite">
                        <span></span>
                    </label>
                </div>
            </li>
            <li class="mobile-actions has-4-actions">
                <ul>
                    <li>
                        <div class="form-group">
                            <div
                                class="btn btn-outline-secondary"
                                ng-disabled="vm.key === 0"
                                ng-class="{'disabled': vm.key === 0}"
                                ng-click="vm.moveUp(vm.key, vm.skill)" >
                                <i class="fas fa-arrow-up fa-left"></i>Move up
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <div
                                class="btn btn-outline-secondary"
                                ng-class="{'disabled': vm.key === vm.profile.skillCategories[vm.categoryKey].skills.length -1}"
                                ng-disabled="vm.key === vm.profile.skillCategories[vm.categoryKey].skills.length -1"
                                ng-click="vm.moveDown(vm.key, vm.skill)">
                                <i class="fas fa-arrow-down fa-left"></i>Move down
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <button
                                class="btn btn-outline-secondary"
                                ng-click="vm.removeItem({
                                    property: vm.profile.skillCategories[vm.categoryKey].skills,
                                    index: vm.key
                                })">
                                <i class="fas fa-trash fa-left"></i>Delete
                            </button>
                        </div>
                    </li>
                    <li>
                        <div
                            class="checkbox-container"
                            uib-tooltip-html="vm.getTooltipText()"
                            tooltip-placement="top-right"
                            tooltip-class="tooltip-favorite">
                            <label
                                for="skill[{{ vm.categoryKey }}][{{ vm.key }}]-favorite-mobile"
                                class="form-favorite">
                                <input
                                    type="checkbox"
                                    id="skill[{{ vm.categoryKey }}][{{ vm.key }}]-favorite-mobile"
                                    ng-model="vm.skill.favorite">
                                <span class="fa-left"></span>Favorite
                            </label>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>