<div class="agreement-partner-editor">
    <ul class="partner-listing">
        <li>
            <div class="form-group">
                <label>Counterparts *</label>
                <ul class="partner-fields">
                    <li>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Institute *"
                            ng-model="vm.institute"
                            ng-class="{'is-invalid' : vm.errors.partners}"
                            uib-typeahead="institute as institute for institute in vm.getInstitutes($viewValue)"
                            typeahead-loading="searching"
                            typeahead-no-results="noResults"
                            typeahead-editable="true"
                            typeahead-select-on-blur="false"
                        />
                    </li>
                    <li>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Department"
                            ng-model="vm.department"
                        />
                    </li>
                </ul>
                <div
                    ng-if="vm.isDuplicate"
                    class="invalid-feedback"
                >
                    This counterpart is already been added.
                </div>
                <scientilla-error-messages
                    class="error-messages"
                    errors="vm.errors.partners"
                ></scientilla-error-messages>
            </div>
        </li>
        <li>
            <div class="form-group">
                <button
                    type="button"
                    class="btn btn-primary btn-form-no-label"
                    ng-click="vm.addPartner()"
                    ng-blur="vm.checkValidation({field: 'partners'})"
                    ng-disabled="vm.institute.length === 0">
                    <i class="fas fa-plus fa-left"></i>Add
                </button>
            </div>
        </li>
    </ul>

    <div
        ng-if="vm.partners.length > 0"
        class="form-group">
        <ul class="multiselect-list">
            <li class="list-group-item" ng-repeat="partner in vm.partners">
                {{ partner.institute }}
                <ng-container ng-if="partner.department">
                    - {{ partner.department }}
                </ng-container>
                <a
                    href=""
                    ng-click="vm.removePartner(partner)"
                    class="badge badge-primary">
                    <i class="fas fa-times"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
