<div>
    <scientilla-agreement-type-badge type="vm.agreement.type"></scientilla-agreement-type-badge>
    <scientilla-agreement-pis agreement="vm.agreement"></scientilla-agreement-pis>
</div>
<h3 class="agreement-title" ng-bind-html='vm.agreement | title'></h3>

<ng-container ng-if="vm.agreement.subject">
    <strong>Subject:</strong><br>
    {{ vm.agreement.subject }}<br><br>
</ng-container>

<ng-container ng-if="vm.agreement.type">
    <strong>Type:</strong>
    {{ vm.agreement.type }}<br>
</ng-container>

<ng-container ng-if="vm.agreement.budget">
    <strong>Budget:</strong>
    {{ vm.agreement.budget }}<br>
</ng-container>

<ng-container ng-if="vm.agreement.contribution">
    <strong>Contribution:</strong>
    {{ vm.agreement.contribution }}<br>
</ng-container>

<ng-container ng-if="vm.agreement.startDate">
    <strong>Start date:</strong>
    {{ vm.agreement.startDate }}<br>
</ng-container>

<ng-container ng-if="vm.agreement.endDate">
    <strong>End date:</strong>
    {{ vm.agreement.endDate }}<br>
</ng-container>

<ng-container ng-if="vm.agreement.partners">
    <ng-container ng-if="vm.agreement.partners.length > 1">
        <strong>Partners:</strong>
        <ul>
            <li ng-repeat="partner in vm.agreement.partners">
                {{ partner.surname + ' ' + partner.name }}
            </li>
        </ul>
    </ng-container>
    <ng-container ng-if="vm.agreement.partners.length === 1">
        <strong>Partner:</strong>
        <ng-container ng-repeat="partner in vm.agreement.partners">
            {{ partner.surname + ' ' + partner.name }}<br>
        </ng-container>
    </ng-container>
</ng-container>