<div class="modal-header">
    <h3>{{ !!vm.agreement.id ? 'Edit' : 'New' }} agreement</h3>
    <button
            type="button"
            class="close"
            ng-click="vm.cancel()">
        <i class="fas fa-times"></i>
    </button>
</div>

<div class="modal-body">
    <form
            name="form"
            class="{{vm.status.class}}"
            autocomplete="off">

        <div class="form-group">
            <label for="title">Title *</label>
            <input
                    type="text"
                    id="title"
                    name="title"
                    placeholder="Title"
                    class="form-control"
                    ng-model="vm.agreementData.title"
                    ng-class="{'is-invalid' : vm.errors.title}"
                    ng-blur="vm.checkValidation('title')"
                    ng-change="vm.fieldValueHasChanged('title')"
            >
            <scientilla-error-messages
                    class="error-messages"
                    errors="vm.errors.title"
            ></scientilla-error-messages>
        </div>

        <div class="form-group">
            <label for="subject">Subject</label>
            <textarea
                    name="subject"
                    id="subject"
                    class="form-control"
                    cols="30"
                    rows="3"
                    ng-model="vm.agreementData.subject"
            ></textarea>
            <scientilla-error-messages
                    class="error-messages"
                    errors="vm.errors.subject"
            ></scientilla-error-messages>
        </div>

        <div class="form-group">
            <label for="type">Type *</label>
            <div class="select-wrapper" ng-class="{'is-invalid' : vm.errors.agreementType}">
                <select
                        class="form-control"
                        id="agreementType"
                        name="agreementType"
                        placeholder="Type"
                        ng-model="vm.agreementData.agreementType"
                        ng-model-options="{ allowInvalid: true }"
                        ng-options="option.key as option.label for option in vm.agreementTypes"
                        ng-class="{'is-invalid' : vm.errors.agreementType}"
                        ng-blur="vm.checkValidation('agreementType')"
                        ng-change="vm.checkValidation('agreementType')">
                    <option value="" disabled class="hidden">Type</option>
                </select>
            </div>
            <scientilla-error-messages
                    class="error-messages"
                    errors="vm.errors.agreementType"
            ></scientilla-error-messages>
        </div>

        <agreement-partner-editor
                partners="vm.agreementData.partners"
                unsaved-data="vm.unsavedData"
                errors="vm.errors"
                check-validation="vm.checkValidation(field)"
                field-value-has-changed="vm.fieldValueHasChanged(field)"
        ></agreement-partner-editor>

        <div class="form-group">
            <label for="title">Partners institute</label>
            <input type="text"
                   placeholder="Add institute"
                   class="form-control">
        </div>

        <agreement-referrer-editor
                referrers="vm.agreementData.pis"
                unsaved-data="vm.unsavedData"
                authors-str="vm.agreementData.authorsStr"
                errors="vm.errors"
                check-validation="vm.checkValidation(field)"
                field-value-has-changed="vm.fieldValueHasChanged(field)"
        ></agreement-referrer-editor>

        <div class="form-group">
            <label for="subject">Author string * <em>(will be generated automatically from referrers.)</em></label>
            <input
                    id="authorsStr"
                    type="text"
                    name="authorsStr"
                    class="form-control"
                    placeholder="Referrers string"
                    ng-disabled="true"
                    ng-model="vm.agreementData.authorsStr"
                    ng-class="{'is-invalid' : vm.errors.authorsStr}"
            >
            <scientilla-error-messages
                    class="error-messages"
                    errors="vm.errors.authorsStr"
            ></scientilla-error-messages>
        </div>

        <div class="form-group">
            <label for="subject">Start date *</label>
            <input
                    id="start-date"
                    type="text"
                    name="start-date"
                    class="form-control"
                    placeholder="Start date"
                    datepickerMode="month"
                    placeholder="dd/mm/yyyy"
                    transform-date
                    datepicker-options="vm.datePickerOptions"
                    uib-datepicker-popup="dd/MM/yyyy"
                    show-button-bar="false"
                    is-open="vm.openStartDate"
                    ng-click="vm.openStartDate = true"
                    ng-model="vm.agreementData.startDate"
                    ng-class="{'is-invalid' : vm.errors.startDate}"
                    ng-blur="vm.checkValidation('startDate')"
                    ng-change="vm.fieldValueHasChanged('startDate')"
            >
            <scientilla-error-messages
                    class="error-messages"
                    errors="vm.errors.startDate"
            ></scientilla-error-messages>
        </div>

        <div class="form-group">
            <label for="end-date">End date</label>
            <input
                    id="end-date"
                    type="text"
                    name="end-date"
                    class="form-control"
                    placeholder="End date"
                    datepickerMode="month"
                    placeholder="dd/mm/yyyy"
                    transform-date
                    datepicker-options="vm.datePickerOptions"
                    uib-datepicker-popup="dd/MM/yyyy"
                    show-button-bar="false"
                    is-open="vm.openEndDate"
                    ng-click="vm.openEndDate = true"
                    ng-model="vm.agreementData.endDate"
                    ng-class="{'is-invalid' : vm.errors.endDate}"
                    ng-blur="vm.checkValidation('endDate')"
                    ng-change="vm.fieldValueHasChanged('endDate')"
            >
            <scientilla-error-messages
                    class="error-messages"
                    errors="vm.errors.endDate"
            ></scientilla-error-messages>
        </div>

        <ul class="modal-buttons">
            <li>
                <scientilla-button
                        type="button"
                        click="vm.save"
                        ng-disabled="vm.formStatus.saveState !== 'ready to save' || !vm.unsavedData">
                    {{ vm.formStatus.saveMessage }}
                </scientilla-button>
            </li>
            <li>
                <scientilla-button
                        type="submit"
                        ng-disabled="vm.formStatus.verifyState !== 'ready to verify'"
                        click="vm.verify">{{ vm.formStatus.verifyMessage }}
                </scientilla-button>
            </li>
            <li>
                <scientilla-button
                        type="cancel"
                        click="vm.cancel">Close
                </scientilla-button>
            </li>
        </ul>

        <div
                ng-if="vm.errorText"
                class="modal-error"
                ng-class="{
                'text-danger' : vm.formStatus.mode == 'verify',
                'text-warning': vm.formStatus.mode == 'draft'
            }">
            {{ vm.errorText }}
        </div>
    </form>
</div>
