<div class="modal-header">
    <h3>{{ !!vm.agreement.id ? 'Edit' : 'New' }} agreement</h3>
    <button
        type="button"
        class="close"
        ng-click="vm.cancel()">
        <i class="fas fa-times"></i>
    </button>
</div>

<div class="modal-body">
    <form
        name="form"
        class="{{vm.status.class}}"
        autocomplete="off">

        <div class="form-group">
            <label for="title">Title *</label>
            <input
                type="text"
                id="title"
                name="title"
                placeholder="Title"
                class="form-control"
                ng-model="vm.agreement.title">
        </div>

        <div class="form-group">
            <label for="subject">Subject</label>
            <textarea
                name="subject"
                id="subject"
                class="form-control"
                cols="30"
                rows="3"
                ng-model="vm.agreement.subject"></textarea>
        </div>

        <div class="form-group">
            <label for="type">Type *</label>
            <input
                type="text"
                id="type"
                name="type"
                placeholder="Type"
                class="form-control"
                ng-model="vm.agreement.agreementType">
        </div>

        <agreement-partner-editor partners="vm.agreement.partners"></agreement-partner-editor>

        <agreement-referrer-editor
            referrers="vm.agreement.pis"
            author-str="vm.agreement.authorStr"
        ></agreement-referrer-editor>

        <div class="form-group">
            <label for="subject">Author string * <em>(will be generated automatically from referrers.)</em></label>
            <input
                id="authorStr"
                type="text"
                name="authorStr"
                class="form-control"
                placeholder="Author string"
                ng-disabled="true"
                ng-model="vm.agreement.authorStr">
        </div>

        <div class="form-group">
            <label for="subject">Start date *</label>
            <input
                id="start-date"
                type="text"
                name="start-date"
                class="form-control"
                placeholder="Start date"
                datepickerMode="month"
                placeholder="dd/mm/yyyy"
                transform-date
                datepicker-options="vm.datePickerOptions"
                uib-datepicker-popup="dd/MM/yyyy"
                show-button-bar="false"
                is-open="vm.openStartDate"
                ng-click="vm.openStartDate = true"
                ng-model="vm.agreement.startDate">
        </div>

        <div class="form-group">
            <label for="end-date">End date *</label>
            <input
                id="end-date"
                type="text"
                name="end-date"
                class="form-control"
                placeholder="End date"
                datepickerMode="month"
                placeholder="dd/mm/yyyy"
                transform-date
                datepicker-options="vm.datePickerOptions"
                uib-datepicker-popup="dd/MM/yyyy"
                show-button-bar="false"
                is-open="vm.openEndDate"
                ng-click="vm.openEndDate = true"
                ng-model="vm.agreement.endDate">
        </div>

        <div class="form-group">
            <label for="subject">Total budget *</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">€</span>
                </div>
                <input
                    type="number"
                    class="form-control"
                    placeholder="Total budget"
                    ng-model="vm.agreement.budget">
            </div>
        </div>

        <div class="form-group">
            <label for="subject">Institute budget *</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">€</span>
                </div>
                <input
                    type="number"
                    class="form-control"
                    placeholder="Institute budget"
                    ng-model="vm.agreement.contribution">
            </div>
        </div>

        <ul class="modal-buttons">
            <li>
                <scientilla-button
                    type="button"
                    click="vm.save"
                    ng-disabled="vm.saveStatus.state !== 'ready to save' || !vm.unsavedData">
                    {{ vm.saveStatus.message }}
                </scientilla-button>
            </li>
            <li>
                <scientilla-button
                    type="submit"
                    ng-disabled="vm.verifyStatus.state !== 'ready to verify'"
                    click="vm.verify">{{ vm.verifyStatus.message }}
                </scientilla-button>
            </li>
            <li>
                <scientilla-button
                    type="cancel"
                    click="vm.cancel">Close
                </scientilla-button>
            </li>
        </ul>

        <div
            ng-if="vm.errorText"
            class="modal-error"
            ng-class="{
                'text-danger' : vm.mode == 'verify',
                'text-warning': vm.mode == 'draft'
            }">
            {{ vm.errorText }}
        </div>
    </form>
</div>