<% layout('/layouts/master') -%>

<p>Scientilla is not running, it has to be configured before! You are seeing this page because you don't have access to the configuration page.</p>

<p>If you want access to the configuration page, please contact us <a href="mailto:data.analysis@iit.it?Subject=Scientilla%20Installer%20access" target="_blank">data.analysis@iit.it</a></p>