<div ng-show="vm.isLogged">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" style="position: absolute; top:64px; bottom:0">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">
                <md-button ng-href="#/users/{{vm.user.idd}}/notifications">Notifications</md-button>
            </h1>
        </md-toolbar>
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">
                <md-button ng-href="#/users/{{vm.user.id}}/references">Personal References</md-button>
            </h1>
        </md-toolbar>
        <md-toolbar class="md-theme-indigo" ng-repeat="group in vm.user.admininstratedGroups">
            <h1 class="md-toolbar-tools">
                <md-button ng-href="#/groups/{{group.id}}/references">{{group.getDisplayName()}} References</md-button>
            </h1>
        </md-toolbar>
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">
                <md-button ng-href="#/users">Users</md-button>
            </h1>
        </md-toolbar>
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">
                <md-button ng-href="#/groups">Groups</md-button>
            </h1>
        </md-toolbar>
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">
                <md-button ng-href="#/users/{{vm.user.id}}/edit">Profile</md-button>
            </h1>
        </md-toolbar>
    </md-sidenav>
</div>