<div ng-show="vm.isLogged" class="sidebar-menu">
    <ul class="sidebar-listing">
        <li ng-if="!vm.user.isViewOnly()">
            <a class="btn btn-dashboard"
               ng-href="{{ vm.getDashboardUrl() }}"
               ng-class="{ 'btn-primary' : vm.isActive('/', true),  'btn-light' : !vm.isActive('/', true) }">
                <i class="fas fa-tachometer-alt fa-left"></i>
                Dashboard</a>
        </li>
        <li ng-if="!vm.user.isViewOnly()">
            <label class="label-add-document">
                Documents
                <scientilla-button-new-document ng-if="!vm.user.isViewOnly()"
                                                class="button-new-document-container"></scientilla-button-new-document>
            </label>
            <div class="list-group">
                <a ng-href="{{ vm.getUrl('documents/suggested') }}"
                   ng-class="{active: vm.isActive('/documents/suggested', true)}"
                   class="list-group-item list-group-item-action">Suggested</a>
                <a ng-href="{{ vm.getUrl('documents/verified') }}"
                   ng-class="{active: vm.isActive('/documents/verified', true)}"
                   class="list-group-item list-group-item-action">Verified</a>
                <a ng-href="{{ vm.getUrl('documents/drafts') }}"
                   ng-class="{active: vm.isActive('/documents/drafts', true)}"
                   class="list-group-item list-group-item-action">Drafts</a>
                <a ng-href="{{ vm.getUrl('documents/external') }}"
                   ng-class="{active: vm.isActive('/documents/external', true)}"
                   class="list-group-item list-group-item-action">External</a>
            </div>
        </li>
        <li>
            <label>Explore</label>
            <div class="list-group">
                <a ng-href="#/users"
                   ng-class="{active: vm.isActive('/users')}"
                   class="list-group-item list-group-item-action">People</a>
                <a ng-href="#/groups"
                   ng-class="{active: vm.isActive('/groups')}"
                   class="list-group-item list-group-item-action">Groups</a>
            </div>
        </li>
        <li ng-if="vm.isAdmin()">
            <label>Admin</label>
            <div class="list-group">
                <a ng-href="#/sources"
                   ng-class="{active: vm.isActive('/sources')}"
                   class="list-group-item list-group-item-action">Sources</a>
                <a ng-href="#/tools"
                   ng-class="{active: vm.isActive('/tools')}"
                   class="list-group-item list-group-item-action">Tools</a>
            </div>
        </li>
        <li>
            <label class="label-add-accomplishment">
                Accomplishments
                <scientilla-button-new-accomplishment
                    ng-if="vm.user.isInternal()"
                    class="button-new-accomplishment-container"></scientilla-button-new-accomplishment>
            </label>
            <div class="list-group">
                <a
                    ng-href="#/suggested"
                    ng-class="{active: vm.isActive('/suggested')}"
                    ng-if="vm.user.isInternal()"
                    class="list-group-item list-group-item-action">Suggested</a>
                <a
                    ng-href="#/verified"
                    ng-class="{active: vm.isActive('/verified')}"
                    class="list-group-item list-group-item-action">Verified</a>
                <a
                    ng-href="#/drafts"
                    ng-class="{active: vm.isActive('/drafts')}"
                    ng-if="vm.user.isInternal()"
                    class="list-group-item list-group-item-action">Drafts</a>
            </div>
        </li>
    </ul>
</div>
