<div >
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-if="!vm.isLogged" ng-href="#/login" aria-label="Login">
                    Login
                </md-button>
                <md-button ng-if="!vm.isLogged" ng-href="#/register" aria-label="Register">
                    Register
                </md-button>
                <md-button ng-if="vm.isLogged" ng-href="#/logout" aria-label="Logout">
                    Logout
                </md-button>
                <span flex></span>
                <md-button ng-if="vm.isLogged" class="md-icon-button" aria-label="Notifications" ng-href="#/users/{{vm.userId}}/notifications">
                    <ng-md-icon icon="email" style="fill: white;"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </md-content>
</div>
