<div class="scientilla-filter-form well">
    <form form-for="vm.searchValues"
          validation-rules="vm.searchFormStructure"
          form-for-builder
          class="form-group-sm">
        <br>
        <scientilla-button size="small" ng-click="vm.search()">{{vm.filterLabel}}</scientilla-button>
        <scientilla-button size="small" ng-click="vm.reset()">Reset</scientilla-button>
        <!-- <scientilla-button size="small" type="link" ng-click="vm.toggleAdvanced()">{{vm.advancedText}}</scientilla-button> -->
        <div class="scientilla-filter-config form-inline">
            <label>Items per page: </label>
            <select class="form-control" ng-model="vm.itemsPerPage" ng-change="vm.search()" ng-options="s * 1 as s for s in vm.pageSizes"></select>
        </div>
    </form>
</div>

<div class="scientilla-filter-results">    
    <div ng-if="vm.onStatus(vm.STATUS_LOADING)"
         class="progress-bar progress-bar-striped active" 
         role="progressbar"
         style="width: 100%">
        Loading
    </div>

    <div ng-if="vm.onStatus(vm.STATUS_WAITING)">
        <h3 ng-if="vm.elements.length === 0">{{vm.emptyListMessage}}</h3>
        <div ng-if="vm.elements.length > 0">
            <uib-pager
                total-items="vm.totalItems"
                items-per-page="vm.itemsPerPage"
                ng-model="vm.currentPage"
                ng-change="vm.onPageChange()">
            </uib-pager>
            <div ng-transclude></div>
            <uib-pager
                total-items="vm.totalItems"
                items-per-page="vm.itemsPerPage"
                ng-model="vm.currentPage"
                ng-change="vm.onPageChange()">
            </uib-pager>
        </div>

    </div>

    <div ng-if="vm.onStatus(vm.STATUS_ERROR)">
        <h3>An error happened</h3>
    </div>
</div>