<div class="alias-editor">
    <ul class="alias-form-listing">
        <li>
            <div
                class="form-group"
                ng-class="{'has-error': !vm.newAliasIsCorrect}">
                <label>Alias</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Add alias and press Enter"
                    ng-model="vm.newAlias"
                    ng-class="{'is-invalid':!vm.newAliasIsCorrect}"
                    ng-keydown="$event.keyCode === 13 && vm.addAlias($event)"/>
                <div
                    ng-if="!vm.newAliasIsCorrect && !vm.newAliasIsDuplicate"
                    class="invalid-feedback">
                    Alias string is not valid. It should be in the form 'Molinari E.'.
                </div>
                <div
                    ng-if="!vm.newAliasIsCorrect && vm.newAliasIsDuplicate"
                    class="invalid-feedback">
                    This alias string is already been used.
                </div>
            </div>
        </li>
        <li>
            <div class="form-group">
                <button
                    type="button"
                    class="btn btn-primary btn-form-no-label"
                    ng-click="vm.addAlias()"
                    ng-disabled="vm.newAlias.length === 0">
                    <i class="fas fa-plus fa-left"></i>Add
                </button>
            </div>
        </li>
    </ul>

    <div
        ng-if="vm.aliases.length > 0"
        class="form-group">
        <ul class="alias-edit-list">
            <li ng-repeat="alias in vm.aliases">
                <ul class="alias-edit-list-item">
                    <li>
                        <div class="form-control disabled">
                            <i class="fas fa-bookmark fa-left" ng-if="alias.main"></i>
                            {{ alias.str }}
                        </div>
                    </li>
                    <li>
                        <button
                            href="#"
                            ng-click="vm.removeAlias(alias)"
                            ng-disabled="alias.main"
                            class="btn btn-outline-secondary"
                            ng-title="alias.main ? 'You cannot remove your main alias!' : 'Remove alias'"
                        >
                            <i class="fas fa-trash"></i>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <ul class="alias-legend">
        <li>
            <p>The Main Alias is been generated automatically and cannot be deleted.</p>
        </li>
        <li>
            <i class="fas fa-bookmark"></i>: Main Alias.
        </li>
    </ul>
</div>