<div class="scientilla-filter-form well">
    <form form-for="vm.searchValues"
          validation-rules="vm.searchFormStructure"
          form-for-builder
          class="form-group-sm"
          ng-if="vm.formVisible">
        <br>
        <scientilla-button size="small" ng-click="vm.search()">{{vm.filterLabel}}</scientilla-button>
        <scientilla-button size="small" ng-click="vm.reset()">Reset</scientilla-button>
        <!-- <scientilla-button size="small" type="link" ng-click="vm.toggleAdvanced()">{{vm.advancedText}}</scientilla-button> -->
        <div class="scientilla-filter-config form-inline">
            <label>Items per page: </label>
            <select class="form-control" ng-model="vm.itemsPerPage" ng-change="vm.search()"
                    ng-options="s * 1 as s for s in vm.pageSizes"></select>
        </div>
    </form>
</div>

<div class="scientilla-filter-results">
    <div ng-if="vm.onStatus(vm.STATUS_LOADING)"
         class="progress-bar progress-bar-striped active"
         role="progressbar"
         style="width: 100%">
        Loading
    </div>

    <div ng-if="vm.onStatus(vm.STATUS_WAITING)">
        <h3 ng-if="vm.elements.length === 0">{{vm.emptyListMessage}}</h3>
        <div ng-if="vm.elements.length > 0">


            <div class="row">
                <div class="col-md-2">
                    <label class="scientilla-items-found label label-default">{{vm.totalItems}} items found</label>
                </div>
                <div class="col-md-4 col-md-offset-2 text-center">
                    <ul uib-pagination
                        ng-change="vm.onPageChange()"
                        total-items="vm.totalItems"
                        ng-model="vm.currentPage"
                        items-per-page="vm.itemsPerPage"
                        max-size="5"
                        class="pagination-sm"
                        boundary-link-numbers="true"></ul>
                </div>
            </div>

            <div ng-transclude></div>


            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <ul uib-pagination
                        ng-change="vm.onPageChange()"
                        total-items="vm.totalItems"
                        ng-model="vm.currentPage"
                        items-per-page="vm.itemsPerPage"
                        max-size="5"
                        class="pagination-sm"
                        boundary-link-numbers="true"></ul>
                </div>
            </div>

        </div>

    </div>

    <div ng-if="vm.onStatus(vm.STATUS_ERROR)">
        <h3>An error happened</h3>
    </div>
</div>