<div class="row scientila-multicheck-commands-row">
    <div class="col-md-6">
        <input id="selectAll" title="Select all" type="checkbox" ng-model="vm.allSelected" ng-change="vm.selectAll()"/> 
    </div>
    <div class="col-md-6 text-right">

        <div ng-show="vm.areButtonsRegistered()" class="btn-group scientilla-dropdown-align-right" uib-dropdown>
            <button ng-disabled="!vm.areElementsSelected()" type="button" class="btn btn-primary" uib-dropdown-toggle>
                On selected
            </button>
            <ul uib-dropdown-menu ng-transclude="buttons"></ul>
        </div>
    </div>
</div>
<hr/>
<div ng-transclude="item-list"></div>