<footer class="footer js-footer" sticky-footer>
    <div class="container-fluid">
        <ul class="footer-listing">
            <li>&copy; {{ vm.customizations.institute.name }} | {{ vm.customizations.footer.text }}
                <a href="mailto:{{ vm.customizations.footer.email }}?Subject=Scientilla%20request"
                   target="_top">{{ vm.customizations.footer.email }}</a>
            </li>
            <li>
                <img src="{{ vm.customizations.header.logo.src }}" alt="{{ vm.customizations.header.logo.name }}">
            </li>
        </ul>
    </div>
</footer>