<div class="scientilla-toolbar">
    <div class="row">
        <div class="col-xs-3">
            <a href="#/">
                <img class="scientilla-small-logo" src="/images/scientilla-logo-white-40.png">
            </a>
        </div>
        <div class="col-xs-6 text-center">
            <div>
                <div class="btn-group scientilla-toolbar-name">
                    {{vm.researchEntity.getDisplayName()}}
                </div>
                <div uib-dropdown class="btn-group" is-open="status.isopen" ng-if="vm.user.administratedGroups.length">
                    <button id="single-button" type="button" class="btn btn-link" uib-dropdown-toggle
                            ng-disabled="disabled">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem">
                            <a ng-click="vm.changeContextToUser(vm.user)">{{vm.user.getDisplayName()}}</a>
                        </li>
                        <li role="menuitem" ng-repeat="g in vm.user.administratedGroups">
                            <a ng-click="vm.changeContextToGroup(g)">{{g.getDisplayName()}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-3 text-right">
            <div ng-if="!vm.isLogged">
                <a class="btn btn-link" ng-href="#/register" aria-label="Register" ng-if="vm.isRegisterEnabled">
                    Register
                </a>
                <a class="btn btn-link" ng-href="#/login" aria-label="Login">
                    Login
                </a>
            </div>
            <div ng-if="vm.isLogged" class="dropdown">
                <button ng-if="vm.showWizardVisible()"
                        class="btn btn-link dropdown-toggle"
                        data-toggle="dropdown"
                        uib-dropdown>
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <button ng-click="vm.openWizard()" class="btn btn-link">
                            Main features
                        </button>
                    </li>
                    <li>
                        <button ng-click="vm.openSuggestedWizard()" class="btn btn-link">
                            Suggested/Alias
                        </button>
                    </li>
                </ul>
                <button class="btn btn-link" ng-click="vm.editProfile()">
                    <span class="fa fa-gear"></span>
                </button>
                <a class="btn btn-link" ng-href="#/logout">
                    Logout
                </a>
            </div>
        </div>
    </div>
</div>