<div ng-show="vm.areCheckablesRegistered()" class="row scientila-multicheck-commands-row">
    <div class="col-md-6">
        <label>
            <input ng-if="vm.areButtonsRegistered()" id="selectAll" title="Select all" type="checkbox"
                   ng-model="vm.allSelected" ng-change="vm.selectAll()"/>
            Select all
        </label>
    </div>
    <div class="col-md-6 text-right">

        <div ng-show="vm.areButtonsRegistered()" class="btn-group">
            <button ng-disabled="!vm.areElementsSelected()" type="button" class="btn btn-primary dropdown-toggle"
                    data-toggle="dropdown">
                On selected
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" ng-transclude="buttons"></ul>
        </div>
    </div>
</div>
<hr/>
<div ng-transclude="item-list"></div>