<scientilla-search
    ng-if="!!vm.searchFormStructure"
    form-structure="vm.searchFormStructure"
    on-search="vm.onSearch">
</scientilla-search>



<uib-pager
    ng-if="vm.totalItems"
    total-items="vm.totalItems"
    items-per-page="vm.itemsPerPage"
    ng-model="vm.currentPage"
    ng-change="vm.onPageChange()">
</uib-pager>

<div ng-transclude></div>

<uib-pager
    ng-if="vm.totalItems"
    total-items="vm.totalItems"
    items-per-page="vm.itemsPerPage"
    ng-model="vm.currentPage"
    ng-change="vm.onPageChange()">
</uib-pager>