<md-list>
    <collection-label attribute="{{vm.title}}"
                          label="{{vm.title}}"
                          help="{{vm.title}}">
    </collection-label>
    <md-list-item class="md-1-line scientilla-secondary-list" ng-repeat="item in vm.items">
        <div class="md-list-item-text">
            <i>{{ item.getDisplayName()}}</i>
        </div>
        <ng-md-icon icon="clear" ng-click="vm.removeItem(item)" class="md-primary" ng-aria="delete"></ng-md-icon>
    </md-list-item>
</md-list>
<md-autocomplete
    md-items="item in vm.search(vm.searchText)"
    md-selected-item-change="vm.addItem(item)"
    md-search-text="vm.searchText"
    md-item-text="item.display"
    md-no-cache="true"
    placeholder="Type here"
    >
    <md-item-template>
        <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.getDisplayName()}}</span>
    </md-item-template>
</md-autocomplete>
<md-list>
    <md-list-item class="md-1-line scientilla-secondary-list" ng-repeat="item in vm.suggestedItems">
        <div>
            <i>{{ item.getDisplayName() }} </i>
        </div>
        <ng-md-icon icon="group_add" ng-click="vm.addItem(item)" class="md-primary"></ng-md-icon>
    </md-list-item>
</md-list>