<ul
    class="multi-check"
    ng-show="vm.areCheckablesRegistered()">
    <li>
        <label
            class="form-checkbox"
            ng-if="vm.areButtonsRegistered()">
            <input
                id="selectAll"
                title="Select all"
                type="checkbox"
                ng-model="vm.allSelected"
                ng-change="vm.selectAll()"/>
            <span>Select all</span>
        </label>
    </li>
    <li>
         <div
            ng-show="vm.areButtonsRegistered()"
            class="btn-group"
            uib-dropdown>
            <button
                ng-disabled="!vm.areElementsSelected()"
                type="button"
                class="btn btn-primary dropdown-toggle only-icon"
                uib-dropdown-toggle>On selected
            </button>
            <ul
                class="dropdown-menu dropdown-menu-right"
                ng-transclude="buttons"
                uib-dropdown-menu></ul>
        </div>
    </li>
</ul>

<div ng-transclude="item-list"></div>