<div class="filter-form-container">
    <div class="card">
        <div class="card-body">
            <a
                href=""
                class="filter-mobile-title"
                ng-click="vm.filterIsCollapsed = !vm.filterIsCollapsed"
                ng-class="vm.filterIsCollapsed ? 'is-collapsed' : ''"
                >Filter
                <small class="open-collapse">(open)</small>
                <small class="close-collapse">(close)</small>
            </a>
            <scientilla-component-form
                structure="vm.filterSearchFormStructure"
                css-class="form-group-sm"
                ng-if="vm.formVisible"
                on-submit="vm.onSubmit"
                on-reset="vm.onReset"
                uib-collapse="vm.filterIsCollapsed"
                values="vm.values">
            </scientilla-component-form>
        </div>
    </div>
</div>

<div class="filter-results">

    <ul class="filter-result-actions">
        <li>
            <label ng-if="!vm.onStatus(vm.STATUS_INITIAL_LOADING)">
                {{vm.totalItems}} items found
            </label>
        </li>
        <li>
            <div
                ng-if="vm.onStatus(vm.STATUS_LOADING) || vm.onStatus(vm.STATUS_INITIAL_LOADING)"
                class="progress-bar progress-bar-striped active progress-bar-animated"
                role="progressbar">Loading</div>
            <ul
                ng-if="vm.onStatus(vm.STATUS_WAITING) && vm.totalItems > vm.itemsPerPage"
                uib-pagination
                ng-change="vm.onPageChange()"
                total-items="vm.totalItems"
                ng-model="vm.currentPage"
                items-per-page="vm.itemsPerPage"
                max-size="5"
                boundary-link-numbers="true"></ul>
        </li>
    </ul>

    <div ng-transclude></div>

    <ul
        class="filter-result-actions"
        ng-if="vm.onStatus(vm.STATUS_WAITING) && vm.totalItems > vm.itemsPerPage">
        <li>
            <label
                ng-if="!vm.onStatus(vm.STATUS_INITIAL_LOADING)"
                class="label">{{vm.totalItems}} items found</label>
        </li>
        <li>
            <ul
                uib-pagination
                ng-change="vm.onPageChange()"
                total-items="vm.totalItems"
                ng-model="vm.currentPage"
                items-per-page="vm.itemsPerPage"
                max-size="5"
                class=""
                boundary-link-numbers="true"></ul>
        </li>
    </ul>

    <div ng-if="vm.onStatus(vm.STATUS_ERROR)">
        <h3>An error happened</h3>
    </div>
</div>