<div ng-show="vm.isLogged" class="sidebar-menu">
    <ul class="sidebar-listing">
        <li ng-if="!vm.user.isViewOnly()">
            <a class="btn btn-dashboard"
               ng-href="#/"
               ng-class="{ 'btn-primary' : vm.isActive('/'),  'btn-light' : !vm.isActive('/') }">
                <i class="fas fa-tachometer-alt fa-left"></i>
                Dashboard</a>
        </li>
        <li ng-if="!vm.user.isViewOnly()">
            <label class="label-add-document">
                Documents
                <scientilla-button-new-document
                        ng-if="!vm.user.isViewOnly()"
                        class="button-new-document-container"></scientilla-button-new-document>
            </label>
            <div class="list-group">
                <a ng-href="#/suggested"
                   ng-class="{active: vm.isActive('/suggested')}"
                   class="list-group-item list-group-item-action">Suggested</a>
                <a ng-href="#/verified"
                   ng-class="{active: vm.isActive('/verified')}"
                   class="list-group-item list-group-item-action">Verified</a>
                <a ng-href="#/drafts"
                   ng-class="{active: vm.isActive('/drafts')}"
                   class="list-group-item list-group-item-action">Drafts</a>
                <a ng-href="#/external"
                   ng-class="{active: vm.isActive('/external')}"
                   class="list-group-item list-group-item-action">External</a>
            </div>
        </li>
        <li>
            <label>Explore</label>
            <div class="list-group">
                <a ng-href="#/users"
                   ng-class="{active: vm.isActive('/users')}"
                   class="list-group-item list-group-item-action">People</a>
                <a ng-href="#/groups"
                   ng-class="{active: vm.isActive('/groups')}"
                   class="list-group-item list-group-item-action">Groups</a>
            </div>
        </li>
        <li ng-if="vm.isAdmin()">
            <label>Admin</label>
            <div class="list-group">
                <a ng-href="#/sources"
                   ng-class="{active: vm.isActive('/sources')}"
                   class="list-group-item list-group-item-action">Sources</a>
                <a ng-href="#/tools"
                   ng-class="{active: vm.isActive('/tools')}"
                   class="list-group-item list-group-item-action">Tools</a>
            </div>
        </li>
    </ul>
</div>
