<md-list>
    <md-subheader class="md-no-sticky" >{{title}}</md-subheader>
    <md-list-item class="md-1-line scientilla-secondary-list" ng-repeat="item in items">
        <div class="md-list-item-text">
            <i>{{ item.getDisplayName()}}</i>
        </div>
        <ng-md-icon icon="delete" ng-click="removeItem(item)" class="md-primary" ng-aria="delete"></ng-md-icon>
    </md-list-item>
</md-list>
<md-autocomplete
    md-items="item in search(searchText)"
    md-selected-item="selectedItem"
    md-selected-item-change="selectedItemChange(item)"
    md-search-text="searchText"
    md-item-text="item.display"
    md-no-cache="true"
    placeholder="Type here"
    >
    <md-item-template>
        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.getDisplayName()}}</span>
    </md-item-template>
</md-autocomplete>