<scientilla-print-header class="d-none d-print-block"></scientilla-print-header>

<div class="main-container js-main-container">
    <header class="header" fixed-header>
        <div class="container-fluid">
            <ul class="header-listing">
                <li>
                    <a href="#/login" class="login-link">Login</a>
                </li>
                <li>
                    <a href="https://iit.it" class="iit-link">Istituto Italiano di Tecnologia</a>
                </li>
            </ul>
        </div>
    </header>

    <div class="main-view" ng-transclude></div>
</div>

<scientilla-footer class="footer-container"></scientilla-footer>