

<script type="text/ng-template" id="customTemplate.html">
    <a>{{match.model.getDisplayName()}}</a>
</script>



<label>{{vm.title}}</label>

<input type="text"
       ng-model="vm.searchValue"
       placeholder="Search"
       typeahead-template-url="customTemplate.html"
       uib-typeahead="item as item.getDisplayName() for item in vm.search($viewValue)"
       typeahead-on-select="vm.onSelect($item, $model, $label)"
       typeahead-loading="loadingLocations"
       typeahead-no-results="noResults"
       class="form-control">
<!--<div ng-show="loadingLocations">Loading</div>
<div ng-show="noResults">No Results Found</div>-->


<ul class="list-group scientilla-multiselect-list">
    <li ng-repeat="item in vm.items" class="list-group-item">
        <button ng-click="vm.removeItem(item)" class="badge btn-primary" >
            <span class="fa fa-remove"></span>
        </button>
        {{item.getDisplayName()}}
    </li>
</ul>