<header class="toolbar-header" fixed-header>
    <div class="top-toolbar">
        <div class="container-fluid">
            <ul class="top-toolbar-listing">
                <li>
                     <a href="#/profile" class="logo-link">
                        <img class="logo" src="/images/scientilla-logo-white-40.png">
                    </a>

                    <div class="mobile-menu-button-container" mobile-menu>
                        <div class="mobile-menu-button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        Menu
                    </div>
                </li>
                <li>
                    <div uib-dropdown class="btn-group" is-open="status.isopen">
                        <span
                            ng-if="!vm.user.administratedGroups.length"
                            class="btn btn-link">
                            {{vm.subResearchEntity.getDisplayName()}}
                        </span>
                        <button
                            ng-if="vm.user.administratedGroups.length"
                            id="single-button"
                            type="button"
                            class="btn btn-link"
                            uib-dropdown-toggle
                            ng-disabled="disabled">
                            <i class="fas fa-user fa-left"></i>
                            {{ vm.subResearchEntity.getDisplayName() }}
                        </button>
                        <ul
                            uib-dropdown-menu
                            class="dropdown-menu"
                            role="menu"
                            aria-labelledby="single-button">
                            <li role="menuitem">
                                <a class="dropdown-item"
                                   ng-click="vm.changeContextToUser(vm.user)">
                                    {{vm.user.getDisplayName()}}
                                </a>
                            </li>
                            <li ng-repeat="g in vm.user.administratedGroups"
                                role="menuitem">
                                <a class="dropdown-item"
                                   ng-click="vm.changeContextToGroup(g)">
                                    {{g.getDisplayName()}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <ul class="toolbar-right-menu">
                        <li ng-if="!vm.isLogged">
                            <a
                                class="btn btn-link"
                                ng-href="#/register"
                                aria-label="Register"
                                ng-if="vm.isRegisterEnabled">
                                Register
                            </a>
                        </li>

                        <li ng-if="!vm.isLogged">
                            <a
                                class="btn btn-link"
                                ng-href="#/login"
                                aria-label="Login">
                                Login
                            </a>
                        </li>

                        <li ng-if="vm.isLogged">
                            <div uib-dropdown class="dropdown">
                                <button
                                    ng-if="vm.researchEntityIsUser() && !vm.user.isViewOnly()"
                                    class="btn btn-link btn-expand"
                                    uib-dropdown-toggle>
                                    <i class="fas fa-question-circle fa-left" aria-hidden="true"></i>
                                    <span class="expand-content">Info</span>
                                </button>
                                <ul
                                    uib-dropdown-menu
                                    class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <button
                                            ng-click="vm.openWizard()"
                                            class="dropdown-item">
                                            Main features
                                        </button>
                                    </li>
                                    <li>
                                        <button
                                            ng-click="vm.openSuggestedWizard()"
                                            class="dropdown-item">
                                            Suggested/Alias
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li ng-if="vm.isLogged && !vm.user.isViewOnly()">
                            <div uib-dropdown class="dropdown">
                                <button
                                    class="btn btn-link btn-expand"
                                    uib-dropdown-toggle>
                                    <i class="fas fa-chart-line fa-left" aria-hidden="true"></i>
                                    <span class="expand-content">My charts</span>
                                </button>
                                <ul
                                    uib-dropdown-menu
                                    class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            ng-href="{{ vm.getUrl('charts/documents-overview') }}">
                                            Documents overview
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            ng-href="{{ vm.getUrl('charts/bibliometric-charts') }}">
                                            Bibliometrics charts
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li ng-if="vm.isLogged && !vm.user.isViewOnly() && vm.researchEntityIsUser()">
                            <div uib-dropdown class="dropdown">
                                <button
                                    class="btn btn-link btn-expand"
                                    uib-dropdown-toggle>
                                    <i class="fas fa-user fa-left" aria-hidden="true"></i>
                                    <span class="expand-content">My profile</span>
                                </button>
                                <ul
                                    uib-dropdown-menu
                                    class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            ng-href="{{ vm.getUrl('profile') }}"
                                            ng-if="vm.profile && vm.profile.name && vm.profile.surname">
                                            View profile
                                        </a>
                                    </li>
                                    <li>
                                        <button
                                            class="dropdown-item"
                                            ng-click="vm.editUserProfile()"
                                            ng-if="vm.profile && vm.profile.name && vm.profile.surname">
                                            Edit profile
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li ng-if="vm.isLogged && !vm.user.isViewOnly()">
                            <button
                                class="btn btn-link btn-expand"
                                ng-click="vm.editUserSettings()">
                                <i class="fas fa-cogs fa-left"></i>
                                <span class="expand-content">Settings</span>
                            </button>
                        </li>

                        <li ng-if="vm.isLogged">
                            <a class="btn btn-link btn-expand" ng-href="#/logout">
                                <i class="fas fa-sign-out-alt fa-left"></i>
                                <span class="expand-content">Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>