.agreement-details{
    .agreement-subject,
    .agreement-type{
        display: block;
        margin-bottom: 1rem;
    }

    .agreement-partners{
        @include normalize-listing;
        @include clearfix;
        margin-top: 1rem;

        & > li{
            display: inline-block;

            & + li{
                &:before{
                    content: ', '
                }
            }
        }
    }

    .agreement-pis {
        @include clearfix;

        .agreement-pi {
            display: block;
            float: left;

            & + .agreement-pi {
                &:before {
                    display: inline-block;
                    vertical-align: top;
                    content: ',';
                }
            }
        }
    }
}