.agreement-details{
    .agreement-subject,
    .agreement-type{
        display: block;
        margin-bottom: 1rem;
    }

    .agreement-partners{
        @include clearfix;
        margin-bottom: 1rem;
    }

    .agreement-pis {
        @include normalize-listing;
        @include clearfix;
        display: inline-block;
        vertical-align: top;

        .agreement-pi {
            display: block;
            float: left;
            text-transform: capitalize;

            & + .agreement-pi {
                &:before {
                    display: inline-block;
                    vertical-align: top;
                    content: ',';
                }
            }
        }
    }

    .agreement-link{
        display: block;
    }
}
