.checkable-row{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    padding: 3rem 0px;
    border-bottom: 1px solid $gray-300;
}
@include media-breakpoint-up(md) {
    .checkable-inner-row{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr auto;
    }
}
