.collaborator-modal{
    .selected-user {
        @include normalize-listing;
        display: grid;
        margin: 2rem -1rem 0px -1rem;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        align-items: center;

        & > li {
            padding: 1rem;
        }

        .form-checkbox {
            margin: 0px;
        }
    }
}