.document-row{
    .accomplishment-row-actions{
        .dropdown-menu{
            right: 0px;
            left: auto;
        }
    }
}

@include media-breakpoint-up(md) {
    .document-row{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr auto;
    }
}