.document-source{

    .far,
    .fas{
        margin-right: .25rem;
        font-size: 1.6rem;
    }

    .document-in-press{
        margin-right: .25rem;
        color: $error-color;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
    }
}