.document-comparison-modal-title{
    margin-right: 2rem;
}

.document-comparison-badge{
    margin: 1.1rem 2rem 1.1rem 0px;
}

.document-compare-form{
    @include clearfix;
}

.document-comparison-listing{
    @include normalize-listing;
    margin-top: 3rem;

    .column-icon{
        width: 7rem;
    }

    .column-duplicates,
    .column-original-document{
        .title-container {
            @include clearfix;
            min-height: 30px;
            padding-bottom: 2rem;

            .title {
                margin-bottom: 0px;
            }
        }
    }

    .column-duplicates {
        .title-container {
            .btn-action {
                display: inline-block;
                margin-top: 1rem;
            }
        }
    }

    .original-document-container{
        position: relative;
        padding: 1.5rem;
        margin-bottom: 3rem;
        border: 1px solid $gray-400;
        border-radius: $border-radius;
        transition: margin-top .5s;

        .button-replace-container{
            position: absolute;
            top: 50%;
            right: -7rem;
            bottom: auto;
            left: auto;
            display: none;
            margin-top: -1.5rem;
            margin-left: 0px;
            text-align: center;
            transform: rotate(0deg);
            
            span{
                display: block;
                margin-bottom: .5rem;
                color: $gray;
                font-weight: bold;
            }

            .btn{
                padding: 1rem 0;
                font-size: 1.8rem;

                i{
                    margin-right: 1.5rem;
                    margin-left: 1.5rem;
                }

                &:hover{
                    i{
                        opacity: 0;
                        -webkit-animation: arrow-right 1.5s ease-in-out infinite;
                        -moz-animation:    arrow-right 1.5s ease-in-out infinite;
                        -o-animation:      arrow-right 1.5s ease-in-out infinite;
                        animation:         arrow-right 1.5s ease-in-out infinite;
                    }
                }
            }
        }
    }

    .document-duplicates-listing{
        @include normalize-listing;
        position: relative;

        & > li{
            padding: 1.5rem;
            border: 1px solid $gray-400;
            border-radius: $border-radius;
            cursor: pointer;

            & + li{
                margin-top: 3rem;
            }
        }
    }

    .document-kind{
        margin-bottom: 2rem;

        span{
            display: block;
        }
    }

    .document-details-authors{
        display: block;
        margin-bottom: .5rem;
    }

    .document-details-title{
        @include h2;
        margin-bottom: 1rem;
    }

    .document-institutes{
        margin: 0px;
    }

    .document-details-source{
        @include normalize-listing;
        @include clearfix;
        margin-bottom: 1rem;

        & > li{
            display: bock;
            float: left;

            & + li{
                &:before{
                    content: ',';
                }
            }
        }
    }

    .document-details-ids,
    .document-details-year{
        @include normalize-listing;
    }

    .document-details-year{
        &.highlight-text{
            display: inline-block;
        }
    }

    .source-actions,
    .duplicate-actions{
        @include normalize-listing;
        @include clearfix;
        margin: 2rem -1rem -2rem -1rem;

        & > li{
            display: block;
            float: left;
            padding: 0px 1rem 2rem 1rem;
        }
    }
}

@include media-breakpoint-down(sm) {
    .document-comparison-listing{
        .original-document-container {
            margin-top: 0px !important;
        }
    }
}

@include media-breakpoint-up(sm) {
    .document-comparison-listing {
        .column-duplicates {
            .title-container {
                position: relative;

                .btn-action {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    margin-top: 0px;
                }
            }
        }

        .document-kind{
            @include clearfix;

            .document-type{
                float: left;
            }

            .document-verified-description{
                float: right;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .document-comparison-listing{
        @include normalize-listing;
        display: grid;
        margin-top: 3rem;
        margin-left: -1rem;
        margin-right: -1rem;
        grid-template-rows: auto;
        grid-template-columns: 1fr auto 1fr;

        & > li{
            padding: 0px 1rem;
            &:nth-child(1){
                @include set-grid(1,1,1,1);
            }
            &:nth-child(2){
                @include set-grid(1,2,1,1);
            }
            &:nth-child(3){
                @include set-grid(1,3,1,1);
            }
        }

        .document-duplicates-listing {
            & > li {
                padding: 3rem;
            }
        }

        .original-document-container{
            margin-bottom: 0px;
            padding: 3rem;

            .button-replace-container{
                display: block;
            }
        }
        
        .duplicate-actions{
            display: none;
        }
    }
}

// Keyframes
@-webkit-keyframes arrow-right {
    0%   { margin-left: 1.5rem; margin-right: 1.5rem; opacity: 0; }
    5%   { margin-left: .5rem; margin-right: 2.5rem; opacity: 0; }
    10%  { margin-left: .5rem; margin-right: 2.5rem; opacity: 1; }
    90%  { margin-left: 2.5rem; margin-right: .5rem; opacity: 1; }
    95%  { margin-left: 2.5rem; margin-right: .5rem; opacity: 0; }
    100% { margin-left: 1.5rem; margin-right: 1.5rem; opacity: 0; }
}
@-moz-keyframes arrow-right {
    0%   { margin-left: 1.5rem; margin-right: 1.5rem; opacity: 0; }
    5%   { margin-left: .5rem; margin-right: 2.5rem; opacity: 0; }
    10%  { margin-left: .5rem; margin-right: 2.5rem; opacity: 1; }
    90%  { margin-left: 2.5rem; margin-right: .5rem; opacity: 1; }
    95%  { margin-left: 2.5rem; margin-right: .5rem; opacity: 0; }
    100% { margin-left: 1.5rem; margin-right: 1.5rem; opacity: 0; }
}
@-o-keyframes arrow-right {
    0%   { margin-left: 1.5rem; margin-right: 1.5rem; opacity: 0; }
    5%   { margin-left: .5rem; margin-right: 2.5rem; opacity: 0; }
    10%  { margin-left: .5rem; margin-right: 2.5rem; opacity: 1; }
    90%  { margin-left: 2.5rem; margin-right: .5rem; opacity: 1; }
    95%  { margin-left: 2.5rem; margin-right: .5rem; opacity: 0; }
    100% { margin-left: 1.5rem; margin-right: 1.5rem; opacity: 0; }
}
@keyframes arrow-right {
    0%   { margin-left: 1.5rem; margin-right: 1.5rem; opacity: 0; }
    5%   { margin-left: .5rem; margin-right: 2.5rem; opacity: 0; }
    10%  { margin-left: .5rem; margin-right: 2.5rem; opacity: 1; }
    90%  { margin-left: 2.5rem; margin-right: .5rem; opacity: 1; }
    95%  { margin-left: 2.5rem; margin-right: .5rem; opacity: 0; }
    100% { margin-left: 1.5rem; margin-right: 1.5rem; opacity: 0; }
}