.filter-form-container{
    .filter-connector-listing,
    .filter-field-listing,
    .filter-action-listing{
        @include normalize-listing;
        margin: 0px -1rem;

        & > li{
            display: block;
            padding: 0px 1rem;
        }
    }

    .items-per-page{
        label{
            font-weight: normal;
            margin-right: 1rem;
        }
    }
}

.filter-results{
    //margin: 2rem 0px;
}

.filter-result-actions{
    @include normalize-listing;
    margin: 1rem -1rem;

    & > li{
        display: block;
        padding: 0px 1rem;
        text-align: center;
    }
}

@include media-breakpoint-up(sm) {
    .filter-form-container{
        .filter-field-listing{
            display: grid;
            grid-template-rows: auto;
        }

        .filter-action-listing{
            display: grid;
            margin-bottom: -2rem;
            grid-template-rows: auto;
            grid-template-columns: auto 1fr auto auto;
            justify-items: end;

            &.actions-3{
                grid-template-columns: 1fr auto auto;
            }

            &.actions-4{
                grid-template-columns: auto 1fr auto auto;
            }
        }

        .filter-connector-listing{
            display: grid;
            grid-template-rows: auto;
        }
    }

    .filter-result-actions{
        display: grid;
        margin: 2rem -1rem;
        grid-template-rows: auto;
        grid-template-columns: auto 1fr;
    }
}

@include media-breakpoint-between(sm, xl) {
    .filter-form-container{
        .filter-field-listing{
            &.fields-2,
            &.fields-3,
            &.fields-5,
            &.fields-6{
                grid-template-columns: 1fr 1fr;
            }
        }

        .filter-connector-listing{
            &.connectors-1{
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .filter-form-container{
        .filter-field-listing{
            &.fields-2{
                grid-template-columns: 1fr 1fr;
            }

            &.fields-3{
                grid-template-columns: 1fr 200px 1fr;
            }

            &.fields-5{
                grid-template-columns: 3fr 3fr 100px 100px 2fr;
            }

            &.fields-6{
                grid-template-columns: 3fr 3fr 100px 100px 2fr 2fr;
            }
        }

        .filter-connector-listing{
            &.connectors-1{
                grid-template-columns: 3fr 3fr 100px 100px 2fr 2fr;
            }
        }
    }
}