.footer-container{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 7;
    width: 100%;
}

.footer{
    padding: 1rem 0px;
    background: $footer-background-color;
    color: color-yiq($footer-background-color);

    a{
        color: color-yiq($footer-background-color);
    }

    a[href^="mailto:"]{
        text-decoration: underline;
    }

    img{
        height: 40px;
        width: auto;
        margin-left: -5px;
    }

    .footer-listing{
        @include normalize-listing;
    }
}

@include media-breakpoint-up(sm) {
    .footer{
        .footer-listing{
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: auto;
            align-items: center;
        }
    }
}