.patent-family {
    @include normalize-listing;
    font-size: 1.2rem;
    border-left: 2px solid $primary-color;

    & > li {
        padding: 0px 1rem;
    }

    .patent-family-dock{
        margin: 1rem 0px;
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .patent-family-info{
        position: relative;

        &.add-year-postfix{
            min-height: 120px;
        }
    }

    .patent-family-actions{
        @include normalize-listing;
        @include clearfix;
        margin: 1rem -.5rem 0px -.5rem;

        & > li{
            display: block;
            padding: 0px .5rem;
            float: left;
            font-size: 1.4rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    .patent-family{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto 1fr auto;
        border-left: 0px;

        .patent-family-info{
            border-right: 2px solid $primary-color;

            .patent-year{
                position: absolute;
                top: -16px;
                right: 2px;
                display: block;
                font-weight: bold;
                transform-origin: bottom right;
                transform: rotate(-90deg);
                white-space: nowrap;
            }

            .icon-iit{
                position: absolute;
                bottom: 0px;
                right: 1rem;
            }
        }
    }
}