.phd-training-form{
    .or-row{
        @include normalize-listing;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto;
        align-items: center;

        & > li{
            &:nth-child(2) {
                padding-right: 2rem;
                padding-left: 2rem;
                font-weight: bold;
            }
        }
    }
}
