.scientific-production-chart{
    .chart-title-container{
        margin-bottom: 2rem;

        .chart-title{
            display: inline-block;
            vertical-align: middle;
            margin-right: 1rem;
        }
    }
}
