.sidebar-container{
    padding-right: 3rem;
}

@include media-breakpoint-down(sm){
    .sidebar-container{
        position: fixed;
        top: 0px;
        left: -300px;
        z-index: 10;
        width: 300px;
        height: 100vh;
        overflow: auto;
        transition: .2s left;
    }

    .sidebar{
        position: relative;
        z-index: 3;
        min-height: 100%;
        padding: 8.5rem 1.5rem 1.5rem 1.5rem;
        background: $white;
    }

    .mobile-menu-background{
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        visibility: hidden;
        transition: .2s opacity;
    }

    .mobile-menu-is-open{
        overflow: hidden;

        .sidebar-container{
            left: 0px;
        }

        .mobile-menu-background{
            opacity: 1;
            visibility: visible;
        }
    }
}