.summary-overview-container{
    @include clearfix;

    .info-button-container{
        @include clearfix;

        .info-button{
            float: right;
        }
    }

    .summary-charts{
        @include normalize-listing;
        margin: 0px -1.5rem;
        text-align: center;
        overflow: none;

        & > li{
            margin-bottom: 5rem;
            padding: 0px 1.5rem;
        }

        .chart-outer-container{
            border: 1px solid $gray-300;
            border-radius: .25rem;
        }

        .chart{
            position: relative;
            display: block;
            padding-bottom: 65.925%;
        }

        svg{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100% !important;
            height: 100% !important;
        }

        .chart-title{
            margin-bottom: 1rem;
        }

        .main-chart-container{
            display: none;
        }

        .preview-chart-container{
            text{
                display: none;
            }

            .nv-axisMaxMin{
                text{
                    display: block;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .summary-overview-container{
        .summary-charts{
            display: grid;
            grid-template-rows: auto;

            .preview-chart-container{
                .chart-outer-container{
                    position: relative;
                    z-index: 1;
                    cursor: pointer;

                    &:before{
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        background: $gray-200;
                        opacity: .5;
                        content: '';
                        transition: .2s all;
                    }

                    &:after{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 3;
                        display: block;
                        margin-top: -10px;
                        margin-left: -10px;
                        font-family: $font-awesome;
                        font-size: 2rem;
                        font-weight: 900;
                        color: $gray-300;
                        content: '\f06e';
                        transition: .2s all;
                    }
                }

                .chart-preview{
                    &.chart-selected{
                        .chart-outer-container{
                            cursor: default;

                            &:before,
                            &:after{
                                opacity: 0;
                                visiblity: hidden;
                            }
                        }
                    }
                }
            }

            .main-chart-container{
                display: block;

                .chart-container{
                    padding: 5rem 15rem;
                }
            }
        }
    }
}

@include media-breakpoint-between(lg, xl) {
    .summary-overview-container{
        .summary-charts{
            grid-template-columns: 1fr 1fr 1fr;

            .main-chart-container{
                @include set-grid(1,1,1,3);
            }

            .preview-chart-container{
                &:nth-child(2){
                    @include set-grid(2,1,1,1);
                }

                &:nth-child(3){
                    @include set-grid(2,2,1,1);
                }

                &:nth-child(3){
                    @include set-grid(2,3,1,1);
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .summary-overview-container{
        .summary-charts{
            grid-template-columns: 4fr 1fr;

            & > li{
                margin-bottom: 0px;
            }

            .main-chart-container{
                @include set-grid(1,1,3,1);

                .chart-container{
                    padding: 4rem 15rem;
                }
            }

            .chart{
                padding-bottom: 50%;
            }

            .preview-chart-container{
                &:nth-child(2){
                    @include set-grid(1,2,1,1);
                    padding-top: 0.6rem;
                }

                &:nth-child(3){
                    @include set-grid(2,2,1,1);
                    align-self: center;
                }

                &:nth-child(3){
                    @include set-grid(3,2,1,1);
                    align-self: end;
                }

                .chart-title{
                    @include h6;
                }
            }
        }
    }
}