<scientilla-backend-layout>
    <div class="admin admin-customize">
        <h1>Customize</h1>
        <form enctype="multipart/form-data">
            <h2>Institute</h2>
            <div
                class="form-group"
                ng-class="vm.errors.name ? 'has-error' : ''">
                <label for="name">Name *</label>
                <input
                    id="name"
                    name="name"
                    type="text"
                    class="form-control"
                    ng-model="vm.customizations.institute.name"
                    ng-class="vm.errors.name ? 'is-invalid' : ''">
                <scientilla-error-messages
                    class="error-messages"
                    errors="vm.errors.name"></scientilla-error-messages>
            </div>

            <div
                class="form-group"
                ng-class="vm.errors.shortname ? 'has-error' : ''">
                <label for="shortname">Short name *</label>
                <input
                    id="shortname"
                    name="shortname"
                    type="text"
                    class="form-control"
                    ng-model="vm.customizations.institute.shortname"
                    ng-class="vm.errors.shortname ? 'is-invalid' : ''">
                <scientilla-error-messages
                    class="error-messages"
                    errors="vm.errors.shortname"></scientilla-error-messages>
            </div>

            <div
                class="form-group"
                ng-class="vm.errors.scopusId ? 'has-error' : ''">
                <label for="scopusId">Scopus ID</label>
                <input
                    id="scopusId"
                    name="scopusId"
                    type="text"
                    class="form-control"
                    ng-model="vm.customizations.institute.scopusId"
                    ng-class="vm.errors.scopusId ? 'is-invalid' : ''">
                <scientilla-error-messages
                    class="error-messages"
                    errors="vm.errors.scopusId"></scientilla-error-messages>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <div
                        ng-if="vm.customizations.header.logo.src"
                        class="header-logo-container">
                        <img ng-src="{{ vm.customizations.header.logo.src }}" alt="" class="header-logo">
                    </div>
                    <div
                        class="form-group"
                        ng-class="vm.errors.header.logo ? 'has-error' : ''">
                        <label for="headerLogo">Header logo</label>
                        <input
                            id="headerLogo"
                            name="headerLogo"
                            type="file"
                            class="form-control"
                            file="vm.customizations.logo"
                            ng-class="vm.errors.header.logo ? 'is-invalid' : ''">
                        <scientilla-error-messages
                            class="error-messages"
                            errors="vm.errors.header.logo"></scientilla-error-messages>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <div
                        class="form-group"
                        ng-class="vm.errors.footer.text ? 'has-error' : ''">
                        <label for="footerText">Footer text</label>
                        <input
                            id="footerText"
                            name="footerText"
                            type="text"
                            class="form-control"
                            ng-model="vm.customizations.footer.text"
                            ng-class="vm.errors.footer.text ? 'is-invalid' : ''">
                        <scientilla-error-messages
                            class="error-messages"
                            errors="vm.errors.footer.text"></scientilla-error-messages>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div
                        class="form-group"
                        ng-class="vm.errors.footer.email ? 'has-error' : ''">
                        <label for="footerEmail">Footer email</label>
                        <input
                            id="footerEmail"
                            name="footerEmail"
                            type="email"
                            class="form-control"
                            ng-model="vm.customizations.footer.email"
                            ng-class="vm.errors.footer.email ? 'is-invalid' : ''">
                        <scientilla-error-messages
                            class="error-messages"
                            errors="vm.errors.footer.email"></scientilla-error-messages>
                    </div>
                </div>
            </div>

            <scientilla-button
                type="submit"
                click="vm.save()">Save
            </scientilla-button>
        </form>
    </div>
</scientilla-backend-layout>