<h2>Backup management</h2>

<div class="backup-table-container table-responsive">
    <table class="backup-table table table-striped">
        <thead>
            <tr>
                <th scope="col">Filename</th>
                <th scope="col">Extension</th>
                <th scope="col">Size</th>
                <th scope="col">Created on</th>
                <th scope="col">Auto-backup *</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dump in vm.dumps">
                <td>{{ dump.filename }}</td>
                <td>{{ dump.extension }}</td>
                <td>{{ dump.size }}</td>
                <td>{{ dump.created }}</td>
                <td>
                    <i class="fa fa-check" ng-if="dump.autoBackup"></i>
                </td>
                <td class="action-column">
                    <ul class="backup-table-actions">
                        <li>
                            <scientilla-button
                                click="vm.downloadBackup(dump)"
                                type="secondary"
                                title="Download backup">
                                <i class="fas fa-download"></i>
                            </scientilla-button>
                        </li>
                        <li>
                            <scientilla-button
                                ng-disabled="vm.makingBackup || vm.restoringBackup"
                                ng-click="vm.restoreBackup(dump)"
                                type="danger"
                                title="Restore backup">
                                <i class="fas fa-angle-double-right"></i>
                                <i class="fas fa-database"></i>
                            </scientilla-button>
                        </li>
                        <li ng-if="!dump.autoBackup">
                            <scientilla-button
                                ng-click="vm.removeBackup(dump)"
                                type="danger"
                                title="Remove backup">
                                <i class="fas fa-trash"></i>
                            </scientilla-button>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<em>* <strong>Auto-backups</strong> are backups that are being created automatically. Therefore they cannot be deleted.</em>

<br>
<br>
<br>

<form enctype="multipart/form-data">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <div
                class="form-group"
                ng-class="vm.errors.backupUpload ? 'has-error' : ''">
                <label for="backupUpload">Upload backup file</label>
                <input
                    id="backupUpload"
                    name="backupUpload"
                    type="file"
                    class="form-control"
                    file="vm.backupUpload">
            </div>
            <div class="form-group">
                <scientilla-button
                    ng-disabled="!vm.backupUpload"
                    ng-click="vm.uploadBackup()"
                    title="Upload backup">
                    <span ng-if="!vm.uploadingBackup">Upload backup</span>
                    <span ng-if="vm.uploadingBackup">Uploading backup ...</span>
                </scientilla-button>
            </div>
        </div>
    </div>
</form>

<br>
<br>
<br>

<form enctype="multipart/form-data">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="form-group">
                <label>Make backup file</label>
                <scientilla-button
                    ng-disabled="vm.makingBackup || vm.restoringBackup"
                    ng-click="vm.makeBackup()"
                    title="Make backup">
                    <span ng-if="!vm.makingBackup">Make backup</span>
                    <span ng-if="vm.makingBackup">Creating backup ...</span>
                </scientilla-button>
            </div>
        </div>
    </div>
</form>