<h3>Backup Management</h3>
<ul class="list-group" id="dump-list">
    <li class="list-group-item"
        ng-repeat="dump in vm.dumps"
        ng-class="{active: dump.selected}"
        ng-click="vm.toggleDump(dump.filename)">
        {{dump.filename}}
    </li>
</ul>
<br>
<scientilla-button ng-disabled="vm.loading" ng-click="vm.makeBackup()">Make Backup</scientilla-button>
<scientilla-button ng-disabled="!vm.dumpSelected || vm.loading" ng-click="vm.restoreBackup()">Restore Backup
</scientilla-button>
<br>
<span ng-show="vm.loading">Loading...</span>