<ul class="metrics-content-container">
    <li>
        <h2 class="h3">Import source metrics</h2>
        <form enctype="multipart/form-data" class="import-form">
            <div
                class="form-group"
                ng-class="vm.errors.file ? 'has-error' : ''">
                <input
                    id="sourceMetricsFile"
                    name="sourceMetricsFile"
                    type="file"
                    class="form-control import-metrics-file"
                    file="vm.sourceMetricsFile"
                    ng-class="vm.errors.file ? 'is-invalid' : ''">
                <scientilla-error-messages
                    class="error-messages"
                    errors="vm.errors.file"></scientilla-error-messages>
                <em>Please select a proper formatted .xlsx file!</em>
            </div>

            <div class="form-group">
                <button
                    class="btn btn-primary"
                    type="submit"
                    ng-click="vm.importMetrics()"
                    ng-disabled="!vm.sourceMetricsFile">
                    Import source metrics
                </button>
            </div>
        </form>

        <div class="row">
            <div class="col-12 col-lg-6">
                <label>Log output</label>
                <div class="log-output-container">
                    <div ng-bind-html="vm.types['import'].logs" id="log-viewer-import" class="log-output"></div>
                </div>

                <div class="form-group">
                    <button
                        class="btn btn-primary btn-refresh"
                        type="submit"
                        ng-click="vm.getLogs('import')"
                        ng-disabled="vm.types['import'].refreshingLogs">
                        <span ng-if="!vm.types['import'].refreshingLogs">
                            <i class="fas fa-sync fa-left"></i>Refresh
                        </span>
                        <span ng-if="vm.types['import'].refreshingLogs">
                            <i class="fas fa-sync fa-left fa-spin"></i>Refreshing
                        </span>
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <label>Source metrics by year</label>

                <div class="source-metrics-table-container">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Year</th>
                            <th scope="col">Name</th>
                            <th scope="col">Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="metric in vm.types['import'].metrics">
                            <td>{{ metric.year }}</td>
                            <td>{{ metric.name }}</td>
                            <td>{{ metric.count  }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                    <button
                        class="btn btn-primary btn-refresh"
                        type="submit"
                        ng-click="vm.getMetrics('import')"
                        ng-disabled="vm.types['import'].refreshingMetrics">
                        <span ng-if="!vm.types['import'].refreshingMetrics">
                            <i class="fas fa-sync fa-left"></i>Refresh
                        </span>
                        <span ng-if="vm.types['import'].refreshingMetrics">
                            <i class="fas fa-sync fa-left fa-spin"></i>Refreshing
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </li>
    <li>
        <h2 class="h3">Assign source metrics</h2>
        <form class="assign-metrics-form">
            <div
                class="form-group"
                ng-class="vm.errors.year ? 'has-error' : ''">
                <label for="year">Year</label>
                <div class="select-wrapper assign-metrics-select">
                    <select
                        name="year"
                        id="year"
                        class="form-control"
                        ng-model="vm.year"
                        ng-options="year for year in vm.years">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <button
                    class="btn btn-primary"
                    type="submit"
                    ng-click="vm.assignMetrics()">
                    Assign source metrics
                </button>

                <div ng-if="vm.assigning">
                    <em>Please note that this can take some time!</em>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-12 col-lg-6">
                <label>Log output</label>
                <div class="log-output-container">
                    <div ng-bind-html="vm.types['assign'].logs" id="log-viewer-assign" class="log-output"></div>
                </div>

                <div class="form-group">
                    <button
                        class="btn btn-primary btn-refresh"
                        type="submit"
                        ng-click="vm.getLogs('assign')"
                        ng-disabled="vm.types['assign'].refreshingLogs">
                        <span ng-if="!vm.types['assign'].refreshingLogs">
                            <i class="fas fa-sync fa-left"></i>Refresh
                        </span>
                        <span ng-if="vm.types['assign'].refreshingLogs">
                            <i class="fas fa-sync fa-left fa-spin"></i>Refreshing
                        </span>
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <label>Assigned source metrics by year</label>

                <div class="source-metrics-table-container">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Year</th>
                            <th scope="col">Name</th>
                            <th scope="col">Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="metric in vm.types['assign'].metrics">
                            <td>{{ metric.year }}</td>
                            <td>{{ metric.name }}</td>
                            <td>{{ metric.count  }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                    <button
                        class="btn btn-primary btn-refresh"
                        type="submit"
                        ng-click="vm.getMetrics('assign')"
                        ng-disabled="vm.types['assign'].refreshingMetrics">
                        <span ng-if="!vm.types['assign'].refreshingMetrics">
                            <i class="fas fa-sync fa-left"></i>Refresh
                        </span>
                        <span ng-if="vm.types['assign'].refreshingMetrics">
                            <i class="fas fa-sync fa-left fa-spin"></i>Refreshing
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </li>
</ul>