<div class="admin-group-overview">
    <h2>Group overview</h2>

    <ul
        ng-if="vm.institute"
        class="group-listing">
        <li>
            <strong>Institute:</strong>
            {{ vm.institute.name }}
            <ul>
                <li
                    ng-repeat="(type, groups) in vm.types"
                    class="main-group">
                    <strong>{{ vm.getTypeTitle(type, groups) }} ({{ groups.length }})</strong>
                    <ul>
                        <li
                            ng-repeat="group in groups"
                            ng-init="subtypes = vm.getGroupTypes(group)">
                            {{ group.name }}
                            <ul>
                                <li ng-repeat="(subtype, subgroups) in subtypes">
                                    <strong>{{ vm.getTypeTitle(subtype, subgroups) }} ({{ subgroups.length }})</strong>
                                    <ul class="subgroup-listing">
                                        <li ng-repeat="subgroup in subgroups">
                                            {{ subgroup.name }}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <p ng-if="!vm.institute">No membership-group records found!</p>
</div>