module.exports.scientilla = {
    ldap: {
        connection: {
            url: '',
            bindDn: "",
            bindCredentials: "",
            searchBase: "",
            searchFilter: "",
            cache: true
        },
        domain: 'iit.it'
    },
    scopus: {
        apiKey: '',
        token: ''
    },
    institute: {
        name: "Istituto Italiano di Tecnologia",
        shortname: "IIT",
        country: "Italy",
        city: "Genoa",
        scopusId: "60102151"
    },
    mainInstituteImport: {
        enabled: false,
        startingYear: 1970
    },
    registerEnabled: true
};
