<scientilla-filter
    category="accomplishment"
    on-filter="vm.onFilter"
    elements="vm.accomplishments"
    empty-list-message="No accomplishments found"
    filter-on-init="vm.loadAccomplishments"
>

    <scientilla-multicheck>
        <buttons>
            <scientilla-multicheck-button
                    ng-disabled="true"
                    subject="Export as CSV"
                    on-click="vm.exportDownload">
                <i class="fas fa-download fa-left"></i>Export as CSV
            </scientilla-multicheck-button>
        </buttons>
        <item-list>
            <scientilla-checkable ng-repeat="a in vm.accomplishments" item="a" class="scientilla-checkable">
                <scientilla-accomplishment accomplishment="a"
                                           section="vm.section"
                                           class="accomplishment-container"></scientilla-accomplishment>
                <div class="accomplishment-row-actions" ng-if="vm.editable">
                    <button class="btn btn-primary"
                            ng-click="vm.unverify(vm.researchEntity, a)"
                            ng-disabled="vm.isUnverifying(a)"
                            type="button"
                            uib-tooltip="Unlink the accomplishment from your profile"
                            tooltip-placement="top"
                            tooltip-class="text-left">
                        <i class="fas fa-times fa-left"></i>
                        Unverify
                    </button>
                </div>
            </scientilla-checkable>
        </item-list>
    </scientilla-multicheck>

</scientilla-filter>