@import "iit-colors";

body{
  color: @main-text-color;
}

.main-view {
  width: 100%;
}

.nopadding {
  padding: 0 !important;
}

.scrollable {
  overflow-y: auto;
}

.scientilla-multiselect-list {
  max-height: 100px;
  overflow-y: scroll;
}

/*****************************************/

.scientilla-document-form-message {
  font-size: 24px;
}

i {
  font-style: italic;
}

/*Fix for form-for default button*/
[form-for] submit-button[label="Submit"] {
  display: none;
}

.scientilla-filter-config {
  display: inline-block;
}

.advanced-open-false.scientilla-filter-config {
  visibility: hidden;
}

.btn.btn-link:focus {
  outline: none;
  outline-offset: unset;
  text-decoration: none;
}

.btn.btn-link:hover {
  text-decoration: none;
}

.verification-form {
  margin-top: 20px;
}

[uib-popover-template-popup] {
  width: 400px;
}

/********************************************/

.scientilla-dropdown-align-right li button {
  width: 100%;
  text-align: left;
}