.main-view {
    width: 100%;
}

/*****************************************/

.scientilla-clickable {
    cursor: pointer;
    color: #337ab7;
}

.scientilla-clickable:hover {
    text-decoration: underline;
}

.scientilla-toolbar {
    height: 50px;
    color: #337ab7;

    border-bottom: 1px solid #337ab7;
    margin-bottom: 20px;

    padding-top: 0.75em;
}

.scientilla-toolbar a,
.scientilla-toolbar a:visited,
.scientilla-toolbar a:hover {
    color: rgb(51, 122, 183);
    text-decoration: none;
    margin-right: 20px;

    font-size: 1.5em;
}

.scientilla-login-form {
    width: 40%;
    margin: 0 15%;
}

.scientilla-register-form {
    width: 40%;
    margin: 0 15%;
}

.scientilla-document {
    margin-left: 20px;
    padding-left: 10px;

    border-left: 3px solid #337ab7;
}

.scientilla-document-year {
    position: absolute;
    top: 10px;
    left: 0px;
    font-size: 16px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.scientilla-document-title {
    font-size: 20px;
    margin-top: 5px;
}

.scientilla-document-discarded {
    margin-right: 5px;
}

.scientilla-document-source {
    font-style: italic;
}

.scientilla-document-authors {
    font-weight: bold;
}

.scientilla-document-doi {
}

.scientilla-right-menu {
    font-size: 1.2em;
}

.nopadding {
    padding: 0 !important;
}

.scrollable {
    overflow-y: auto;
}

.scientilla-multiselect-list {
    max-height: 100px;
    overflow-y: scroll;
}

/*bootstrap*/
.btn-primary {
    background-color: #337ab7;
}

.divider,
.divider:hover {
    background-color: inherit !important;
}

.tab-content {
    /*height: 820px;*/
    /*overflow-y: scroll;*/

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    padding: 15px;
}

.modal-content {
    padding: 15px;
}

.scientilla-dropdown-align-right {
}

.scientilla-dropdown-align-right > .dropdown-menu {

    right: 0;
    left: auto;
}

.scientilla-filter-results {
    min-height: 20px;
}

/*****************************************/


form.autosave {
    padding-left: 5px;
}

form.autosave.unsaved {
    border-left: 2px red solid;
}

form.autosave.saved {
    border-left: 2px green solid;
}

form.autosave.default {
    border-left: 2px white solid;
}

.scientilla-document-form-message {
    font-size: 24px;
}

i {
    font-style: italic;
}

.documents-header > div > * {
    margin-top: 20px;
    margin-bottom: 10px;
}


/******************************************************************************/
/*Scientilla filter*/
/******************************************************************************/
.scientilla-filter-form > form > * > div.form-group {
    display: inline-block;
}

.scientilla-filter-form > form > text-field > div.form-group {
    width: 300px;
}

.scientilla-filter-form > form > select-field > div.form-group {
    min-width: 80px;
}
/******************************************************************************/

.tooltip.scientilla-tooltip .tooltip-inner {
    color: #ffffff;
    background-color: #4e4e4e;
}

.tooltip.scientilla-tooltip.top .tooltip-arrow {
    border-top-color: #4e4e4e;
}

.tooltip.right.scientilla-tooltip .tooltip-arrow {
    border-right-color: #4e4e4e;
}

.tooltip.left.scientilla-tooltip .tooltip-arrow {
    border-left-color: #4e4e4e;
}

.tooltip.scientilla-tooltip.bottom .tooltip-arrow {
    border-bottom-color: #4e4e4e;
}

scientilla-multicheck .scientila-multicheck-commands-row {
    height: 38px;
    line-height: 38px;
}

scientilla-external-documents .row {
    margin-top: 10px;
}

.scientilla-modal .btn {
    margin-right: 5px;
}

/******************************************************************************/
/*Bootstrap dropdown fix*/
.dropdown-menu li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.dropdown-menu li > a:focus, .dropdown-menu li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5
}

/*Bootstrap dropdown fix*/

/******************************************************************************/
/*Scientilla document labels*/

scientilla-document-label {
    display: inline-block;
    vertical-align: super;
}

.scientilla-document-label-copied {
    background-color: #ff9933;
}

.scientilla-document-label-discarded {
    background-color: #d9534f;
}

/******************************************************************************/

/******************************************************************************/
/*Scientilla buttons*/

scientilla-button > button.btn-cancel {
    background-color: #f4f4f4;
}

/******************************************************************************/

/*Fix for form-for default button*/
[form-for] submit-button[label="Submit"] {
    display: none;
}

.scientilla-filter-config {
    display: inline-block;
}

.advanced-open-false.scientilla-filter-config {
    visibility: hidden;
}

.btn.btn-link:focus {
    outline: none;
    outline: none;
    outline-offset: none;
    text-decoration: none;
}

.btn.btn-link:hover {
    text-decoration: none;
}
