@mixin normalize-listing($inline-block: 'false') {
    @if $inline-block == 'true' {
        display: inline-block;
    } @else {
        display: block;
    }
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    @if $inline-block == 'true' {
        vertical-align: top;
    }
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin set-grid($row: 1, $column: 1, $rowSpan: 1, $colSpan: 1) {
    /* autoprefixer: off */
    @if $colSpan > 1 {
        -ms-grid-column-span: $colSpan;
    }
    @else {
        grid-column: $column;
    }

    grid-column-start: $column;
    grid-column-end: $column + $colSpan;

    @if $rowSpan > 1 {
        -ms-grid-row-span: $rowSpan;
    }

    grid-row-start: $row;
    grid-row-end: $row + $rowSpan;

    -ms-grid-row: $row;
    -ms-grid-column: $column;
}

@mixin gradient-background-image($direction, $list) {
    background-image: -webkit-linear-gradient($direction, $list);
    background-image: -moz-linear-gradient($direction, $list);
    background-image: -o-linear-gradient($direction, $list);
    background-image: linear-gradient($direction, $list);
}