.fa-left{
    margin-right: 5px;
}

.fa-right{
    margin-left: 5px;
}

.inline-block{
    display: inline-block;
}

.underline{
    text-decoration: underline;
}

.highlight-text{
    display: inline;
    background: lighten($warning-color, 25%);
    vertical-align: top;
    box-shadow: .2rem 0 0 lighten($warning-color, 25%), -.2rem 0 0 lighten($warning-color, 25%);

    &.block{
        display: block;
    }

    &.inline-block{
        display: inline-block;
    }
}

label{
    &.inline-block{
        margin: 0px;
    }
}