// Colors
$mine-shaft:             rgb(51,51,51);    // #333333
$curious-blue:           rgb(44,145,194);  // #2C91C2
$neon-carrot:            rgb(255,153,51);  // #ff9933
$forrest-green:          rgb(44,160,44);   // #2ca02c
$apple-blossom:          rgb(169,68,66);   // #a94442
$cornflower-blue:        rgb(97,149,237);  // #17a2b8
$persimmon:              rgb(255,85,85);   // #ff5555
$wisteria:               rgb(148,103,189); // #9467bd
$blue-chill:             rgb(17,135,152);  // #118798
$scarpa-flow:            rgb(87,87,91);    // #57575B
$abbey:                  rgb(77,79,83);    // #4D4F53
$pale-sky:               rgb(108,117,125); // #6c757d
$gray:                   rgb(132,132,132); // #848484
$silver:                 rgb(193,193,193); // #c1c1c1

$white:                  rgb(255,255,255); // #ffffff
$black:                  rgb(0,0,0);       // #000000

// Fonts
$open-sans:              'Open Sans', sans-serif;
$roboto-slab:            'Roboto Slab', serif;

$font-awesome-brands:    'Font Awesome 5 Brands';
$font-awesome:           'Font Awesome 5 Free';

$base-gray:               $mine-shaft;

$gray-100:                lighten($base-gray, 70%);
$gray-200:                lighten($base-gray, 60%);
$gray-300:                lighten($base-gray, 50%);
$gray-400:                lighten($base-gray, 40%);
$gray-500:                lighten($base-gray, 30%);
$gray-600:                lighten($base-gray, 20%);
$gray-700:                lighten($base-gray, 10%);
$gray-800:                $base-gray;
$gray-900:                darken($base-gray, 10%);

$primary-color:           $curious-blue;
$secondary-color:         $gray-200;

$header-background-color: $mine-shaft;
$footer-background-color: $gray-600;

$link-text-color:         $curious-blue;

$warning-color:           $neon-carrot;
$success-color:           $forrest-green;
$error-color:             $apple-blossom;
$info-color:              $cornflower-blue;