// Colors
$mine-shaft:            rgb(51,51,51);    // #333333
$scarpa-flow:           rgb(87,87,91);    // #57575B
$abbey:                 rgb(77,79,83);    // #4D4F53
$pale-sky:              rgb(108,117,125); // #6c757d
$gray:                  rgb(132,132,132); // #848484
$silver:                rgb(193,193,193); // #c1c1c1

$half-baked:            rgb(147,189,209); // #93BDD1
$curious-blue:          rgb(44,145,194);  // #2C91C2
$deep-cerulean:         rgb(0,114,175);   // #0072AF
$bahama-blue:           rgb(0,89,150);    // #005996
$midnight-blue:         rgb(0,38,99);     // #002663

$neon-carrot:           rgb(255,153,51);  // #ff9933

$forrest-green:         rgb(44,160,44);   // #2ca02c
$forrest-green-dark:    rgb(60,119,31);   // #3c771f
$green:                 rgb(0,255,0);     // #00FF00

$white:                 rgb(255,255,255); // #ffffff
$black:                 rgb(0,0,0);       // #000000

$apple-blossom:         rgb(169,68,66);   // #a94442
$persimmon:             rgb(255,85,85);   // #ff5555

$wisteria:              rgb(148,103,189); // #9467bd
$blue-chill:            rgb(17,135,152);  // #118798

// Fonts
$open-sans:             'Open Sans', sans-serif;
$roboto-slab:           'Roboto Slab', serif;

$font-awesome-brands:   'Font Awesome 5 Brands';
$font-awesome:          'Font Awesome 5 Free';