<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/scientilla.css" />
</head>
<body class="installer-view">
    <div class="main-container js-main-container">
        <header class="header">
            <div class="container-fluid">
                <ul class="header-listing">
                    <li>
                        <a href="/" class="login-link">Login</a>
                    </li>
                    <li>
                        <a href="https://iit.it" class="iit-link">Istituto Italiano di Tecnologia</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="main-view">
            <div class="container">
                <h1>Scientilla Installer</h1>

                <%-body -%>
            </div>
        </div>
    </div>

    <div class="footer-container">
        <footer class="footer js-footer">
            <div class="container-fluid">
                <ul class="footer-listing">
                    <li>© Istituto Italiano di Tecnologia | Data Analysis Office - Need help? Write to
                        <a href="mailto:data.analysis@iit.it?Subject=Scientilla%20request" target="_blank">data.analysis@iit.it</a>
                    </li>
                    <li>
                        <img src="/images/iit-logo-40.png">
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>