<div class="profile-card">
    <div class="content-container">
        <span class="amount">{{ vm.profile.accomplishments.length }}</span>
        <i class="fas fa-trophy title-icon"></i>
        <h2 class="block-title">Accomplishments</h2>
    </div>
    <div
        class="content-container last-item-container"
        ng-if="vm.favoriteAccomplishments.length > 0">
        <span>My favorite accomplishment{{ vm.favoriteAccomplishments.length > 1 ? 's' : '' }}:</span>
        <ul class="favorite-listing">
            <li ng-repeat="accomplishment in vm.favoriteAccomplishments track by $index">
                <a href="/#/accomplishments/verified?favorites=true&title={{ accomplishment.title }}">
                    {{ accomplishment.title }}
                </a>
            </li>
        </ul>
    </div>
    <ul class="block-links">
        <li>
            <a
                href="/#/accomplishments/verified?favorites"
                class="show-more has-action">Show only favorite accomplishments</a>
        </li>
        <li>
            <a
                href="/#/accomplishments/verified"
                class="show-more has-action">Show all accomplishments</a>
        </li>
    </ul>
</div>