<ul class="card-container">
    <li ng-if="vm.former" class="former-employee">
        <div class="ribbon">
            Former employee
        </div>
    </li>
    <li ng-class="vm.former ? '' : 'main-card'">
        <div class="profile-card">
            <img
                ng-if="vm.profile.image"
                ng-src="{{ vm.pathProfileImages }}/{{ vm.profile.image }}"
                alt=""
                class="img-fluid rounded-circle profile-image">
            <h2 class="name" ng-if="vm.profile.name || vm.profile.surname">
                {{ vm.profile.name }} {{ vm.profile.surname }}
            </h2>
            <p class="job-title" ng-if="vm.profile.jobTitle || vm.profile.role">
                {{ vm.joinStrings([vm.profile.jobTitle, vm.profile.role], ' - ') }}
            </p>

            <ul class="institutes" ng-if="vm.institutes.length > 0">
                <li class="institute" ng-repeat="institute in vm.institutes track by $index">
                    <span class="group-name">{{ institute.name }}</span>
                </li>
            </ul>

            <ul class="directorates" ng-if="vm.directorates.length > 0">
                <li class="directorate" ng-repeat="directorate in vm.directorates track by $index">
                    <ul class="offices" ng-if="directorate.offices.length > 0">
                        <li ng-repeat="office in directorate.offices track by $index">{{ office }}</li>
                    </ul>
                    <span class="group-name">{{ directorate.name }}</span>
                </li>
            </ul>

            <strong ng-if="vm.researchLines.length === 1">Research line:</strong>
            <strong ng-if="vm.researchLines.length > 1">Research lines:</strong>
            <ul class="research-lines" ng-if="vm.researchLines.length > 0">
                <li class="research-line" ng-repeat="researchLine in vm.researchLines track by $index">
                    <ul class="offices" ng-if="researchLine.offices.length > 0">
                        <li ng-repeat="office in researchLine.offices track by $index">{{ office }}</li>
                    </ul>
                    <span class="group-name">{{ researchLine.name }}</span>
                    <span ng-if="researchLine.center" class="center-name">
                        {{ researchLine.center.name }}
                    </span>
                </li>
            </ul>

            <strong ng-if="vm.facilities.length === 1">Facility:</strong>
            <strong ng-if="vm.facilities.length > 1">Facilities:</strong>
            <ul class="facilities" ng-if="vm.facilities.length > 0">
                <li class="facility" ng-repeat="facility in vm.facilities track by $index">
                    <ul class="offices" ng-if="facility.offices.length > 0">
                        <li ng-repeat="office in facility.offices track by $index">{{ office }}</li>
                    </ul>
                    <span class="group-name">{{ facility.name }}</span>
                    <span ng-if="facility.center" class="center-name">
                        {{ facility.center.name }}
                    </span>
                </li>
            </ul>

            <ul class="titles" ng-if="vm.profile.titles.length > 0">
                <li ng-repeat="title in vm.profile.titles track by $index">{{ title }}</li>
            </ul>
        </div>
    </li>
    <li class="contact-card" ng-if="!vm.former">
        <div class="profile-card">
            <profile-contact-listing
                user="vm.user"
                profile="vm.profile"></profile-contact-listing>
        </div>
    </li>
</ul>