<div class="profile-card">
    <h2 class="block-title">Export</h2>

    <ul class="export-options">
        <li>
            <label class="form-checkbox">
                <input
                    type="checkbox"
                    ng-model="vm.exportOptions.basic">
                <span>Basic information *</span>
            </label>
        </li>
        <li>
            <label class="form-checkbox">
                <input
                    type="checkbox"
                    ng-model="vm.exportOptions.socials">
                <span>Socials</span>
            </label>
        </li>
        <li>
            <label class="form-checkbox">
                <input
                    type="checkbox"
                    ng-model="vm.exportOptions.about">
                <span>About me</span>
            </label>
        </li>
        <li>
            <label class="form-checkbox">
                <input
                    type="checkbox"
                    ng-model="vm.exportOptions.experiences">
                <span>Experiences</span>
            </label>
        </li>
        <li>
            <label class="form-checkbox">
                <input
                    type="checkbox"
                    ng-model="vm.exportOptions.education">
                <span>Education</span>
            </label>
        </li>
        <li>
            <label class="form-checkbox">
                <input
                    type="checkbox"
                    ng-model="vm.exportOptions.certificates">
                <span>Certificates</span>
            </label>
        </li>
        <li>
            <label class="form-checkbox">
                <input
                    type="checkbox"
                    ng-model="vm.exportOptions.skills">
                <span>Skills</span>
            </label>
        </li>
        <li ng-if="vm.user.isScientific()">
            <label class="form-checkbox">
                <input
                    type="checkbox"
                    ng-model="vm.exportOptions.documents">
                <span>Documents</span>
            </label>
        </li>
        <li ng-if="vm.user.isScientific()">
            <label class="form-checkbox">
                <input
                    type="checkbox"
                    ng-model="vm.exportOptions.accomplishments">
                <span>Accomplishments</span>
            </label>
        </li>
    </ul>

    <p>* You can override the basic information with just text, therefore you have to go to
        <strong>"Edit profile"</strong> via "<i class="fas fa-user-edit"></i>"<i class="fas fa-arrow-right fa-right fa-left"></i>
        <strong>"My profile"</strong><i class="fas fa-arrow-right fa-right fa-left"></i><strong>"Export only"</strong>.
    </p>

    <p>Export your profile to:</p>
    <ul>
        <li>
            <button
                class="btn btn-outline-primary"
                ng-click="vm.exportProfile('doc')">
                <i class="far fa-file-word fa-left"></i>DOCX
            </button>
        </li>
        <li>
            <button
                class="btn btn-outline-primary"
                ng-click="vm.exportProfile('pdf')">
                <i class="far fa-file-pdf fa-left"></i>PDF
            </button>
        </li>
    </ul>
</div>