<div class="profile-card">
    <div class="content-container">
        <span class="amount">{{ vm.documents.length }}</span>
        <i class="fas fa-file title-icon"></i>
        <h2 class="block-title">Documents</h2>
    </div>
    <div
        class="content-container last-item-container"
        ng-if="vm.favoriteDocuments.length > 0">
        <span>My favorite document{{ vm.favoriteDocuments.length > 1 ? 's' : '' }}:</span>
        <ul class="favorite-listing">
            <li ng-repeat="document in vm.favoriteDocuments track by $index">
                <a
                    href="{{ vm.urlAllDocuments }}?title={{ document.title }}"
                    ng-if="vm.urlAllDocuments">
                    {{ document.title }}
                </a>
                <span ng-if="!vm.urlAllDocuments">{{ document.title }}</span>
            </li>
        </ul>
    </div>

    <ul class="block-links">
        <li ng-if="vm.urlFavoriteDocuments">
            <a
                href="{{ vm.urlFavoriteDocuments }}"
                class="show-more has-action">Show only favorite documents</a>
        </li>
        <li ng-if="vm.urlAllDocuments">
            <a
                href=" {{ vm.urlAllDocuments }}"
                class="show-more has-action">Show all documents</a>
        </li>
    </ul>
</div>
