<form class="{{vm.cssClass}}" ng-submit="vm.submit()">
    <ul
        class="filter-field-listing fields-{{ vm.getObjectSize(vm.fields) }}"
        ng-if="vm.getObjectSize(vm.fields) > 0"
        >
        <li ng-repeat="(name, struct) in vm.fields">
            <scientilla-field
                structure="struct"
                name="name"
                reset="vm.reset"
                values="vm.values"></scientilla-field>
        </li>
    </ul>

    <ul
        class="filter-action-listing actions-{{ vm.getObjectSize(vm.actions) }}"
        ng-if="vm.getObjectSize(vm.actions) > 0">
        <li
            ng-repeat="(name, struct) in vm.actions"
            >
            <scientilla-field
                structure="struct"
                name="name"
                reset="vm.reset"
                values="vm.values"></scientilla-field>
        </li>
    </ul>
    <div ng-transclude></div>
</form>