<label>
    <span ng-bind-html="vm.structure.label"></span>
    <span ng-if="vm.structure.required">*</span>
</label>
<input
    type="text"
    class="{{vm.cssClass}}"
    placeholder="{{vm.structure.placeholder}}"
    ng-model="vm.model"
    ng-disabled="vm.structure.disabled"
    ng-class="{'is-invalid' : vm.errors}"
    ng-blur="vm.structure.required && vm.validate(vm.name)"
    ng-change="vm.structure.required && vm.valueChanged(vm.name)">
<scientilla-error-messages
    class="error-messages"
    errors="vm.errors"></scientilla-error-messages>