<form class="{{vm.cssClass}}" ng-submit="vm.submit()">
    <ul
        class="filter-connector-listing"
        ng-if="vm.getObjectSize(vm.connectors) > 0">
        <li ng-repeat="(name, struct) in vm.connectors">
            <scientilla-field
                structure="struct"
                name="name"
                reset="vm.reset"
                values="vm.values"
                errors="vm.errors[name]"></scientilla-field>
        </li>
    </ul>

    <ul
        class="filter-option-listing"
        ng-if="vm.getObjectSize(vm.options) > 0">
        <li ng-repeat="(name, struct) in vm.options">
            <scientilla-field
                structure="struct"
                name="name"
                reset="vm.reset"
                values="vm.values"
                errors="vm.errors[name]"
                on-change="vm.onChange({name})"></scientilla-field>
        </li>
    </ul>

    <ul
        class="filter-field-listing fields-{{ vm.getObjectSize(vm.fields) }} {{ vm.category }}"
        ng-if="vm.getObjectSize(vm.fields) > 0">
        <li ng-repeat="(name, struct) in vm.fields">
            <scientilla-field
                structure="struct"
                name="name"
                reset="vm.reset"
                values="vm.values"
                errors="vm.errors[name]"
                on-validate="vm.onValidate({name})"
                on-change="vm.onChange({name})"></scientilla-field>
        </li>
    </ul>

    <ul
        class="filter-action-listing actions-{{ vm.getObjectSize(vm.actions) }}"
        ng-if="vm.getObjectSize(vm.actions) > 0">
        <li
            ng-repeat="(name, struct) in vm.actions"
            >
            <scientilla-field
                structure="struct"
                name="name"
                reset="vm.reset"
                values="vm.values"></scientilla-field>
        </li>
    </ul>
    <div ng-transclude></div>
</form>