<div
    ng-if="vm.ngIf()"
    class="form-group"
    ng-class="vm.errors ? 'has-error' : ''">
    <scientilla-text-field
        ng-if="vm.structure.inputType==='text'"
        name="vm.name"
        model="vm.values[vm.name]"
        field-id="vm.id"
        structure="vm.fieldStructure"
        errors="vm.errors"
        on-validate="vm.onValidate({name})"
        on-change="vm.onChange({name})">
    </scientilla-text-field>
    <scientilla-autocomplete-group-field
        ng-if="vm.structure.inputType==='autocomplete-group'"
        name="vm.name"
        model="vm.values[vm.name]"
        field-id="vm.id"
        structure="vm.fieldStructure"
        errors="vm.errors"
        on-validate="vm.onValidate({name})"
        on-change="vm.onChange({name})">
    </scientilla-autocomplete-group-field>
    <scientilla-range-field
        ng-if="vm.structure.inputType==='range'"
        name="vm.name"
        model="vm.values[vm.name]"
        field-id="vm.id"
        field="vm.fieldStructure"
        errors="vm.errors"
        on-validate="vm.onValidate({name})"
        on-change="vm.onChange({name})">
    </scientilla-range-field>
    <scientilla-select-field
        ng-if="vm.structure.inputType==='select'"
        model="vm.values[vm.name]"
        field-id="vm.id"
        structure="vm.fieldStructure"
        errors="vm.errors">
    </scientilla-select-field>
    <scientilla-date-field
        ng-if="vm.structure.inputType==='year'"
        model="vm.values[vm.name]"
        field-id="vm.id"
        structure="vm.fieldStructure"
        errors="vm.errors">
    </scientilla-date-field>
    <scientilla-checkbox-field
        ng-if="vm.structure.inputType==='checkbox'"
        model="vm.values[vm.name]"
        field-id="vm.id"
        structure="vm.fieldStructure"
        errors="vm.errors">
    </scientilla-checkbox-field>
    <scientilla-radio-field
        ng-if="vm.structure.inputType==='radio'"
        model="vm.values[vm.name]"
        field-id="vm.id"
        structure="vm.fieldStructure"
        errors="vm.errors">
    </scientilla-radio-field>
    <scientilla-button
        ng-if="vm.isButton()"
        type="{{vm.structure.inputType}}"
        click="vm.onClick()"
        class="button-container">
        {{vm.structure.label}}
    </scientilla-button>
</div>
