<label>
    <span ng-bind-html="vm.field.label"></span>
    <span ng-if="vm.field.required">*</span>
</label>
<span
    class="sub-label"
    ng-if="vm.field.subLabel"
    ng-bind-html="vm.field.subLabel"></span>
<rzslider
    rz-slider-model="vm.min"
    rz-slider-high="vm.max"
    rz-slider-options="vm.options"
    placeholder="{{vm.field.placeholder}}"
    ng-class="{'is-invalid' : vm.errors}"
    ng-disabled="vm.field.disabled || vm.options.disabled"
    ng-blur="vm.field.required && vm.validate(vm.name)"></rzslider>
<scientilla-error-messages
    class="error-messages"
    errors="vm.errors"></scientilla-error-messages>