<ul class="enable-listing">
    <li>
        <ul class="skill-category-field-listing">
            <li>
                <div
                    class="form-group"
                    ng-class="{'has-error': vm.profile.skillCategories[vm.key].errors.value}">
                    <label for="skill-category">Category</label>
                    <input
                        type="text"
                        class="form-control"
                        id="skill-category"
                        placeholder="Category"
                        ng-model="vm.category.value"
                        ng-class="{
                            'is-invalid': vm.profile.skillCategories[vm.key].errors.value,
                            'is-invisible' : vm.profile.skillCategories[vm.key].privacy === 'invisible'
                        }">
                    <scientilla-field-errors
                        errors="vm.profile.skillCategories[vm.key].errors.value"></scientilla-field-errors>
                </div>
            </li>
            <li class="action-column">
                <div class="form-group">
                    <div class="btn btn-outline-secondary">
                        <i class="fas fa-arrows-alt"></i>
                    </div>
                </div>
            </li>
            <li class="action-column">
                <div class="form-group">
                    <button
                        class="btn btn-outline-secondary"
                        ng-click="vm.removeItem({
                            property: vm.profile.skillCategories,
                            index: vm.key
                        })">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </li>
            <li class="action-column">
                <button
                    class="btn btn-link"
                    ng-click="vm.addItem({
                        property: vm.profile.skillCategories[vm.key].skills
                    })">
                    <i class="fas fa-plus fa-left"></i>Add skill
                </button>
            </li>
        </ul>
    </li>
    <li>
        <scientilla-privacy-selector
            context-object="vm.context"
            model="vm.category.privacy"></scientilla-privacy-selector>
    </li>
</ul>