<div class="profile-block">
    <div class="content-container">
        <span class="amount">{{ vm.profile.documents.length }}</span>
        <i class="fas fa-file title-icon"></i>
        <h2 class="block-title">Documents</h2>
    </div>
    <div
        class="content-container last-item-container"
        ng-if="vm.favoriteDocuments.length > 0">
        <span>My favorite document{{ vm.favoriteDocuments.length > 1 ? 's' : '' }}:</span>
        <ul class="favorite-listing">
            <li ng-repeat="document in vm.favoriteDocuments track by $index">
                <a href="/#/documents/verified?favorites=true&title={{ document.title }}">
                    {{ document.title }}
                </a>
            </li>
        </ul>
    </div>
    <div class="button-container">
        <ul>
            <li>
                <a
                    href="/#/documents/verified?favorites"
                    class="show-more has-action">Show only favorite documents</a>
            </li>
            <li>
                <a
                    href="/#/documents/verified"
                    class="show-more has-action">Show all documents</a>
            </li>
        </ul>
    </div>
</div>
