<div class="profile-block">
    <div class="content-container">
        <span class="amount">{{ vm.profile.accomplishments.length }}</span>
        <i class="fas fa-trophy title-icon"></i>
        <h2 class="block-title">Accomplishments</h2>
    </div>
    <div
        class="content-container last-item-container"
        ng-if="vm.favoriteAccomplishments.length > 0">
        <span>My favorite accomplishments:</span>
        <ul class="favorite-listing">
            <li ng-repeat="accomplishment in vm.favoriteAccomplishments track by $index">
                <h2 class="block-title">{{ accomplishment.title }}</h2>
            </li>
        </ul>
    </div>
    <div class="button-container">
        <button
            class="show-more has-action"
            ng-click="vm.showAccomplishmentsModal()">Show all accomplishments</button>
    </div>
</div>