<ul class="enable-listing">
    <li>
        <ul class="field-listing">
            <li>
                <ul class="education-form">
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.errors.education[vm.key].institute}">
                            <label for="education[{{ vm.key }}]-institute">
                                University/Institute
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="education[{{ vm.key }}]-institute"
                                placeholder="University/Institute"
                                ng-model="vm.education.institute"
                                ng-class="{
                                    'is-invalid': vm.errors.education[vm.key].institute,
                                    'is-invisible' : vm.profile.education[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.errors.education[vm.key].institute"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.errors.education[vm.key].title}">
                            <label for="education[{{ vm.key }}]-title">Title</label>
                            <input
                                type="text"
                                class="form-control"
                                id="education[{{ vm.key }}]-title"
                                placeholder="Title"
                                ng-model="vm.education.title"
                                ng-class="{
                                    'is-invalid': vm.errors.education[vm.key].title,
                                    'is-invisible' : vm.profile.education[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.errors.education[vm.key].title"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.errors.education[vm.key].from}">
                            <label for="education[{{ vm.key }}]-from">From</label>
                            <input
                                type="text"
                                class="form-control"
                                id="education[{{ vm.key }}]-from"
                                placeholder="From"
                                transform-date
                                ng-model="vm.education.from"
                                ng-model-options="{allowInvalid: true}"
                                uib-datepicker-popup="dd/MM/yyyy"
                                show-button-bar="false"
                                datepicker-options="vm.datePickerOptions"
                                is-open="vm.dateEducationFromPopups[vm.key]"
                                ng-click="vm.dateEducationFromPopups[vm.key] = true"
                                ng-class="{
                                    'is-invalid': vm.errors.education[vm.key].from,
                                    'is-invisible' : vm.profile.education[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.errors.education[vm.key].from"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.errors.education[vm.key].to}">
                            <label for="education[{{ vm.key }}]-to">To</label>
                            <input
                                type="text"
                                class="form-control"
                                id="education[{{ vm.key }}]-to"
                                placeholder="To"
                                transform-date
                                ng-model="vm.education.to"
                                ng-model-options="{allowInvalid: true}"
                                uib-datepicker-popup="dd/MM/yyyy"
                                show-button-bar="false"
                                datepicker-options="vm.datePickerOptions"
                                is-open="vm.dateEducationToPopups[vm.key]"
                                ng-click="vm.dateEducationToPopups[vm.key] = true"
                                ng-class="{
                                    'is-invalid': vm.errors.education[vm.key].to,
                                    'is-invisible' : vm.profile.education[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.errors.education[vm.key].to"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.errors.education[vm.key].location}">
                            <label for="education[{{ vm.key }}]-location">
                                Location
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="education[{{ vm.key }}]-location"
                                placeholder="Location"
                                ng-model="vm.education.location"
                                ng-class="{
                                    'is-invalid': vm.errors.education[vm.key].location,
                                    'is-invisible' : vm.profile.education[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.errors.education[vm.key].location"></scientilla-field-errors>
                        </div>
                    </li>
                    <li>
                        <div
                            class="form-group"
                            ng-class="{'has-error': vm.errors.education[vm.key].country}">
                            <label for="education[{{ vm.key }}]-country">
                                Country
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="education[{{ vm.key }}]-country"
                                placeholder="Country"
                                ng-model="vm.education.country"
                                ng-class="{
                                    'is-invalid': vm.errors.education[vm.key].country,
                                    'is-invisible' : vm.profile.education[vm.key].privacy === 'invisible'
                                }">
                            <scientilla-field-errors
                                errors="vm.errors.education[vm.key].country"></scientilla-field-errors>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="action-column">
                <div class="form-group">
                    <div class="btn btn-outline-secondary">
                        <i class="fas fa-arrows-alt"></i>
                    </div>
                </div>
            </li>
            <li class="action-column">
                <div class="form-group">
                    <button
                        class="btn btn-outline-secondary"
                        ng-click="vm.removeItem({
                            property: vm.profile.education,
                            index: vm.key
                        })">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <scientilla-privacy-selector
            context-object="vm.context"
            model="vm.education.privacy"></scientilla-privacy-selector>
    </li>
</ul>