<div class="modal-header">
    <h3>Edit profile</h3>

    <button
        type="button"
        class="close"
        ng-click="vm.cancel()">
        <i class="fas fa-times"></i>
    </button>
</div>

<div class="modal-body edit-profile">
    <uib-tabset active="vm.active" class="profile-tabs js-profile-tabs" ng-if="vm.profileIsLoaded">
        <uib-tab
            index="0"
            heading="Basic information">
            <profile-privacy-legend></profile-privacy-legend>

            <profile-basic-information-form
                profile="vm.profile"></profile-basic-information-form>

            <em>The above information has been obtained from HR. If something is incorrect please contact HR.</em>

            <profile-legend public="true"></profile-legend>
        </uib-tab>

        <uib-tab
            index="1"
            heading="About me"
            ng-class="{'has-error' : vm.hasAboutMeErrors, 'changed' : vm.changed['about-me']}">
            <profile-privacy-legend></profile-privacy-legend>

            <profile-about-me-form
                profile="vm.profile"
                errors="vm.errors"></profile-about-me-form>

            <profile-legend
                public="true"
                locked="true"
                invisible="true"></profile-legend>
        </uib-tab>

        <uib-tab
            index="2"
            heading="Socials"
            ng-class="{'has-error' : vm.errors['socials'], 'changed' : vm.changed['socials']}">
            <profile-privacy-legend></profile-privacy-legend>

            <profile-socials-form
                profile="vm.profile"
                errors="vm.errors"></profile-socials-form>

            <profile-legend
                public="true"
                locked="true"
                invisible="true"></profile-legend>
        </uib-tab>

        <uib-tab
            index="3"
            heading="Experiences"
            ng-class="{'has-error' : vm.errors['experiences'], 'changed' : vm.changed['experiences']}">
            <profile-privacy-legend
                show="vm.profile.experiences.length > 0"></profile-privacy-legend>

            <ul class="item-listing add-lines" ui-sortable ng-model="vm.profile.experiences">
                <li ng-repeat="(key, experience) in vm.profile.experiences">
                    <profile-experience-form
                        profile="vm.profile"
                        errors="vm.errors"
                        experience="experience"
                        key="key"></profile-experience-form>
                </li>
            </ul>

            <button
                class="btn btn-link btn-inline"
                ng-click="vm.addItem({
                    property: vm.profile.experiences
                })">
                <i class="fas fa-plus fa-left"></i>Add experience
            </button>

            <profile-legend
                public="true"
                locked="true"
                invisible="true"></profile-legend>
        </uib-tab>

        <uib-tab
            index="4"
            heading="Education"
            ng-class="{'has-error' : vm.errors['education'], 'changed' : vm.changed['education']}">
            <profile-privacy-legend
                show="vm.profile.education.length > 0"></profile-privacy-legend>

            <ul class="item-listing add-lines" ui-sortable ng-model="vm.profile.education">
                <li ng-repeat="(key, education) in vm.profile.education">
                    <profile-education-form
                        profile="vm.profile"
                        errors="vm.errors"
                        education="education"
                        key="key"></profile-education-form>
                </li>
            </ul>

            <button
                class="btn btn-link btn-inline"
                ng-click="vm.addItem({
                    property: vm.profile.education
                })">
                <i class="fas fa-plus fa-left"></i>Add education
            </button>

            <profile-legend
                public="true"
                locked="true"
                invisible="true"></profile-legend>
        </uib-tab>

        <uib-tab
            index="5"
            heading="Certificates"
            ng-class="{'has-error' : vm.errors['certificates'], 'changed' : vm.changed['certificates']}">
            <profile-privacy-legend
                show="vm.profile.certificates.length > 0"></profile-privacy-legend>

            <ul class="item-listing add-lines" ui-sortable ng-model="vm.profile.certificates">
                <li ng-repeat="(key, certificate) in vm.profile.certificates">
                    <profile-certificate-form
                        profile="vm.profile"
                        errors="vm.errors"
                        key="key"
                        certificate="certificate"></profile-certificate-form>
                </li>
            </ul>

            <button
                class="btn btn-link btn-inline"
                ng-click="vm.addItem({
                    property: vm.profile.certificates
                })">
                <i class="fas fa-plus fa-left"></i>Add certificate
            </button>

            <profile-legend
                public="true"
                locked="true"
                invisible="true"></profile-legend>
        </uib-tab>

        <uib-tab
            index="6"
            heading="Skills"
            ng-class="{'has-error' : vm.errors['skillCategories'], 'changed' : vm.changed['skills']}">
            <profile-privacy-legend
                show="vm.profile.skillCategories.length > 0"></profile-privacy-legend>

            <ul class="item-listing" ui-sortable ng-model="vm.profile.skillCategories">
                <li ng-repeat="(categoryKey, category) in vm.profile.skillCategories">
                    <profile-skill-category-form
                        profile="vm.profile"
                        errors="vm.errors"
                        key="categoryKey"
                        category="category"></profile-skill-category-form>

                    <ul class="category-skills" ui-sortable ng-model="category.skills">
                        <li ng-repeat="(skillKey, skill) in category.skills">
                            <profile-skill-form
                                profile="vm.profile"
                                errors="vm.errors"
                                category-key="categoryKey"
                                key="skillKey"
                                skill="skill"></profile-skill-form>
                        </li>
                    </ul>
                </li>
            </ul>

            <button
                class="btn btn-link btn-inline"
                ng-click="vm.addItem({
                    property: vm.profile.skillCategories,
                    item: {skills: []}
                })">
                <i class="fas fa-plus fa-left"></i>Add category
            </button>

            <profile-legend
                public="true"
                locked="true"
                invisible="true"></profile-legend>
        </uib-tab>

        <uib-tab
            index="7"
            heading="Documents & accomplishments"
            ng-class="{
                'has-error' : vm.errors['documents'] || vm.errors['accomplishments'],
                'changed' : vm.changed['documents-accomplishments']
            }">
            <profile-privacy-legend></profile-privacy-legend>

            <ul class="enable-listing no-labels">
                <li>
                    <label>Documents</label>
                </li>
                <li>
                    <scientilla-privacy-selector
                        context-string="documents"
                        model="vm.profile.documents.privacy"
                        disable-public="true"
                        css-class="no-label"></scientilla-privacy-selector>
                </li>
            </ul>

            <ul class="enable-listing no-labels">
                <li>
                    <label>Accomplishments</label>
                </li>
                <li>
                    <scientilla-privacy-selector
                        context-string="accomplishments"
                        model="vm.profile.accomplishments.privacy"
                        disable-public="true"
                        css-class="no-label"></scientilla-privacy-selector>
                </li>
            </ul>

            <profile-legend
                public="false"
                locked="true"
                invisible="true"></profile-legend>
        </uib-tab>

        <uib-tab
            index="8"
            heading="IIT website"
            ng-class="{
                'changed' : vm.changed['public-website']
            }">
            <ul class="iit-website-options">
                <li>Show <strong>"Favorite Publications"</strong> section on the IIT website:
                    <label class="form-checkbox inline-block">
                        <input
                            type="checkbox"
                            ng-model="vm.profile.publicWebsite.favoritePublications">
                        <span></span>
                    </label>
                </li>
                <li>Show all <strong>"Publications"</strong> section on the IIT website:
                    <label class="form-checkbox inline-block">
                        <input
                            type="checkbox"
                            ng-model="vm.profile.publicWebsite.allPublications">
                        <span></span>
                    </label>
                </li>
                <li>
                    Show <strong>"Dissemination Talks"</strong> section on the IIT website:
                    <label class="form-checkbox inline-block">
                        <input
                            type="checkbox"
                            ng-model="vm.profile.publicWebsite.disseminationTalks">
                        <span></span>
                    </label>
                </li>
                <li>
                    Show <strong>"Scientific Talks"</strong> section on the IIT website:
                    <label class="form-checkbox inline-block">
                        <input
                            type="checkbox"
                            ng-model="vm.profile.publicWebsite.scientificTalks">
                        <span></span>
                    </label>
                </li>
                <li>
                    Show <strong>"Oral Presentations"</strong> section on the IIT website:
                    <label class="form-checkbox inline-block">
                        <input
                            type="checkbox"
                            ng-model="vm.profile.publicWebsite.oralPresentations">
                        <span></span>
                    </label>
                </li>
            </ul>
        </uib-tab>
    </uib-tabset>

    <ul class="form-actions">
        <li>
            <button class="btn btn-primary" ng-click="vm.save()">
                <i class="fas fa-save fa-left"></i>Save
            </button>
        </li>
        <li>
            <scientilla-button
                type="cancel"
                click="vm.cancel()">Close</scientilla-button>
        </li>
    </ul>
</div>