<legend class="profile-legend" ng-show="vm.showLegend">
    <label>Legend</label>
    <ul>
        <li ng-if="vm.showPublic">
            <i class="fas fa-globe-africa fa-left"></i>Public: visible on Scientilla and public website.
        </li>
        <li ng-if="vm.showHidden">
            <i class="fas fa-lock fa-left"></i>Locked: only visible on Scientilla.
        </li>
        <li ng-if="vm.showInvisible">
            <i class="fas fa-eye-slash fa-left"></i>Hidden: <strong>only</strong> visible for myself during editing.
        </li>
    </ul>
</legend>