<scientilla-loading is-loading="vm.loading"></scientilla-loading>

<ul
    ng-if="vm.mainMembership"
    class="group-detail-listing">
    <li>
        <strong>Institute:</strong>
        <a ng-href="#{{ vm.mainMembership.group.getProfileUrl() }}">
            {{ vm.mainMembership.group.name }}
        </a>
        <ul ng-if="vm.mainMembership.types">
            <li ng-repeat="(type, memberships) in vm.mainMembership.types track by $index">
                <strong>{{ vm.getTypeTitle(type, memberships) }}:</strong>
                <ul>
                    <li ng-repeat="membership in memberships track by $index">
                        <a ng-href="#{{ membership.group.getProfileUrl() }}">
                            {{ membership.group.name }}
                        </a>
                        <ul ng-if="membership.types">
                            <li ng-repeat="(type, memberships) in membership.types track by $index">
                                <strong>{{ vm.getTypeTitle(type, memberships) }}:</strong>
                                <ul class="subgroup-listing">
                                    <li ng-repeat="membership in memberships track by $index" ng-if="membership.group">
                                        <a ng-href="#{{ membership.group.getProfileUrl() }}">
                                            {{ membership.group.name }}
                                        </a>
                                        <span ng-if="!vm.isActiveMember(vm.user, membership.group)">(Former member)</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<div ng-if="!vm.mainMembership && !vm.loading">
    <p>No related groups found.</p>
</div>
