<scientilla-backend-layout>
    <div class="users users-detail">
        <h1 class="user-fullname">{{vm.user.getDisplayName()}}</h1>
        <a
            ng-if="vm.user.active"
            href="mailto:{{vm.user.username}}"
            class="user-email">{{vm.user.username}}</a>

        <uib-tabset
            active="vm.activeTabIndex"
            class="user-information">
            <uib-tab
                index="0"
                heading="Profile">
                <user-profile
                    ng-if="vm.user"
                    user="vm.user"
                    active="vm.activeTabIndex === 0"
                ></user-profile>
            </uib-tab>
            <uib-tab
                index="1"
                heading="Groups">
                <group-tree
                    user="vm.user"
                    active="vm.activeTabIndex === 1"
                ></group-tree>
            </uib-tab>
            <uib-tab
                index="2"
                heading="Documents"
                ng-if="vm.user.isScientific()">
                <scientilla-documents-list
                    ng-if="vm.user"
                    research-entity="vm.user"
                    section="vm.documentListSections.USER"
                    active="vm.activeTabIndex === 2"></scientilla-documents-list>
            </uib-tab>
            <uib-tab
                index="3"
                heading="Accomplishments"
                ng-if="vm.user.isScientific()">
                <scientilla-accomplishments-list
                    ng-if="vm.researchEntity"
                    research-entity="vm.researchEntity"
                    section="vm.accomplishmentListSections.USER"
                    active="vm.activeTabIndex === 3"></scientilla-accomplishments-list>
            </uib-tab>
            <uib-tab
                index="4"
                heading="Projects"
                ng-if="vm.user.isScientific()">
                <scientilla-projects-list
                    ng-if="vm.researchEntity"
                    research-entity="vm.researchEntity"
                    section="vm.projectListSections.USER"
                    active="vm.activeTabIndex === 4"></scientilla-projects-list>
            </uib-tab>
            <uib-tab
                index="5"
                heading="Patents"
                ng-if="vm.user.isScientific()">
                <scientilla-patents-list
                    ng-if="vm.researchEntity"
                    research-entity="vm.researchEntity"
                    section="vm.patentListSections.USER"
                    active="vm.activeTabIndex === 5"></scientilla-patents-list>
            </uib-tab>
            <uib-tab
                index="6"
                heading="Documents Overview"
                ng-if="vm.loggedUser.isSuperViewer() && vm.user.isScientific()">
                <overview-tab research-entity="vm.user"></overview-tab>
            </uib-tab>
            <uib-tab
                index="7"
                heading="Bibliometric Charts"
                ng-if="vm.loggedUser.isSuperViewer() && vm.user.isScientific()">
                <metrics-tab research-entity="vm.user"></metrics-tab>
            </uib-tab>
        </uib-tabset>
    </div>
</scientilla-backend-layout>
