<scientilla-backend-layout>
    <div class="users users-detail">
        <h1 class="user-fullname">{{vm.user.getDisplayName()}}</h1>
        <a
            href="mailto:{{vm.user.username}}"
            class="user-email">{{vm.user.username}}</a>

        <uib-tabset active="vm.activeTabIndex" class="user-information">
            <uib-tab
                index="0"
                heading="Profile">
                <user-profile
                    ng-if="vm.user"
                    user="vm.user"></user-profile>
            </uib-tab>
            <uib-tab
                index="1"
                heading="Groups">
                <ul>
                    <li ng-repeat="g in vm.user.memberships">
                        <a ng-href="#{{g.getProfileUrl()}}">
                            {{g.getDisplayName()}}
                        </a>
                    </li>
                    <li ng-if="vm.user.memberships.length === 0">No groups</li>
                </ul>
            </uib-tab>
            <uib-tab
                index="2"
                heading="Documents">
                <scientilla-documents-list
                    ng-if="vm.user"
                    research-entity="vm.user"
                    section="vm.documentListSections.USER"></scientilla-documents-list>
            </uib-tab>
            <uib-tab
                index="3"
                heading="Accomplishments">
                <scientilla-accomplishments-list
                    ng-if="vm.researchEntity"
                    research-entity="vm.researchEntity"
                    section="vm.accomplishmentListSections.USER"></scientilla-accomplishments-list>
            </uib-tab>
            <uib-tab
                index="4"
                heading="Documents Overview"
                ng-if="vm.loggedUser.isSuperViewer()">
                <summary-overview charts-data="vm.chartsData"></summary-overview>
            </uib-tab>
            <uib-tab
                index="5"
                heading="Bibliometric Charts"
                ng-if="vm.loggedUser.isSuperViewer()">
                <summary-metrics charts-data="vm.chartsData"></summary-metrics>
            </uib-tab>
        </uib-tabset>
    </div>
</scientilla-backend-layout>