<scientilla-backend-layout>
    <div class="users users-detail">
        <h1 class="user-fullname">{{vm.user.getDisplayName()}}</h1>
        <a
            href="mailto:{{vm.user.username}}"
            class="user-email">{{vm.user.username}}</a>

        <uib-tabset
            active="vm.activeTabIndex"
            class="user-information">
            <uib-tab
                index="0"
                heading="Profile">
                <user-profile
                    ng-if="vm.user"
                    user="vm.user"></user-profile>
            </uib-tab>
            <uib-tab
                index="1"
                heading="Groups">
                <ul
                    ng-if="vm.institute"
                    class="group-detail-listing">
                    <li>
                        <strong>Institute:</strong>
                        <a ng-href="#{{ vm.institute.getProfileUrl() }}">
                            {{ vm.institute.name }}
                        </a>
                        <ul ng-if="vm.hasTypes">
                            <li ng-repeat="(type, groups) in vm.types">
                                <strong>{{ vm.getTypeTitle(type, groups) }}:</strong>
                                <ul>
                                    <li
                                        ng-repeat="group in groups"
                                        ng-init="subtypes = vm.getGroupTypes(group)">
                                        <a ng-href="#{{ group.getProfileUrl() }}">
                                            {{ group.name }}
                                        </a>
                                        <ul>
                                            <li ng-repeat="(subtype, subgroups) in subtypes">
                                                <strong>{{ vm.getTypeTitle(subtype, subgroups) }}:</strong>
                                                <ul class="subgroup-listing">
                                                    <li ng-repeat="subgroup in subgroups">
                                                        <a ng-href="#{{ subgroup.getProfileUrl() }}">
                                                            {{ subgroup.name }}
                                                        </a>
                                                        <span ng-if="!vm.isActiveMember(vm.user, subgroup)">(Former member)</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div ng-if="!vm.hasTypes">
                    <p>No related groups found.</p>
                </div>
            </uib-tab>
            <uib-tab
                index="2"
                heading="Documents"
                ng-if="vm.user.isScientific()">
                <scientilla-documents-list
                    ng-if="vm.user"
                    research-entity="vm.user"
                    section="vm.documentListSections.USER"></scientilla-documents-list>
            </uib-tab>
            <uib-tab
                index="3"
                heading="Accomplishments"
                ng-if="vm.user.isScientific()">
                <scientilla-accomplishments-list
                    ng-if="vm.researchEntity"
                    research-entity="vm.researchEntity"
                    section="vm.accomplishmentListSections.USER"></scientilla-accomplishments-list>
            </uib-tab>
            <uib-tab
                index="4"
                heading="Projects"
                ng-if="vm.user.isScientific() && vm.isAdmin()">
                <scientilla-projects-list
                    ng-if="vm.researchEntity"
                    research-entity="vm.researchEntity"
                    section="vm.projectListSections.USER"></scientilla-projects-list>
            </uib-tab>
            <uib-tab
                index="5"
                heading="Documents Overview"
                ng-if="vm.loggedUser.isSuperViewer() && vm.user.isScientific()">
                <summary-overview charts-data="vm.chartsData"></summary-overview>
            </uib-tab>
            <uib-tab
                index="6"
                heading="Bibliometric Charts"
                ng-if="vm.loggedUser.isSuperViewer() && vm.user.isScientific()">
                <summary-metrics charts-data="vm.chartsData"></summary-metrics>
            </uib-tab>
        </uib-tabset>
    </div>
</scientilla-backend-layout>