<div>
    <h1>{{vm.user.getDisplayName()}}</h1>
    <small>{{vm.user.username}}</small>

    <hr>

    <div ng-if="vm.user.collaborations.length">
        <h2>Career</h2>
        <div ng-repeat="c in vm.user.collaborations">
            <h4>
                {{c.getDisplayName()}}
            </h4>
            <hr>
        </div>
    </div>
    <div ng-if="vm.references.length">
        <h2>
            References List
        </h2>
        <div ng-repeat="r in vm.references">
            <div class="row">
                <div class="col-md-8">
                    <scientilla-document document="r"></scientilla-document>
                </div>
                <div  class="col-md-4 text-right">
                    <h3>
                        <!-- buttons -->
                    </h3>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
