<div class="user-profile">
    <scientilla-loading is-loading="vm.loading"></scientilla-loading>
    <div
        class="profile-blocks"
        ng-class="{
            'has-1-block': vm.numberOfItems === 1,
            'has-2-blocks': vm.numberOfItems === 2,
            'has-3-blocks': vm.numberOfItems === 3,
            'has-4-blocks': vm.numberOfItems === 4,
            'has-5-blocks': vm.numberOfItems === 5,
            'has-6-blocks': vm.numberOfItems === 6,
            'has-7-blocks': vm.numberOfItems === 7,
            'has-8-blocks': vm.numberOfItems === 8,
        }"
        ng-if="!vm.loading && vm.numberOfItems > 0">
        <profile-basic-info-block
            profile="vm.profile"
            ng-if="vm.profile"
            class="profile-block basic-info"></profile-basic-info-block>

        <profile-about-block
            profile="vm.profile"
            class="profile-block about"
            ng-if="vm.profile.description || vm.profile.interests"></profile-about-block>

        <profile-experiences-block
            profile="vm.profile"
            class="profile-block experiences"
            ng-if="vm.profile.experiences && vm.profile.experiences.length > 0">
        </profile-experiences-block>

        <profile-education-block
            profile="vm.profile"
            class="profile-block education"
            ng-if="vm.profile.education && vm.profile.education.length > 0">
        </profile-education-block>

        <profile-certificates-block
            profile="vm.profile"
            class="profile-block certificates"
            ng-if="vm.profile.certificates && vm.profile.certificates.length > 0">
        </profile-certificates-block>

        <profile-skills-block
            profile="vm.profile"
            class="profile-block skills"
            ng-if="vm.profile.skillCategories && vm.profile.skillCategories.length > 0">
        </profile-skills-block>

        <profile-documents-block
            profile="vm.profile"
            url-favorite-documents="vm.urlFavoriteDocuments"
            url-all-documents="vm.urlAllDocuments"
            class="profile-block documents"
            ng-if="vm.profile.documents && vm.profile.documents.length > 0 && vm.numberOfItems < 8">
        </profile-documents-block>

        <profile-accomplishments-block
            profile="vm.profile"
            url-favorite-accomplishments="vm.urlFavoriteAccomplishments"
            url-all-accomplishments="vm.urlAllAccomplishments"
            class="profile-block accomplishments"
            ng-if="vm.profile.accomplishments && vm.profile.accomplishments.length > 0 && vm.numberOfItems < 8">
        </profile-accomplishments-block>

        <div
            class="profile-block"
            ng-if="vm.numberOfItems === 8 && (
                            (vm.profile.documents && vm.profile.documents.length > 0) ||
                            (vm.profile.accomplishments && vm.profile.accomplishments.length > 0)
                        )">
            <div class="profile-blocks bottom has-2-blocks">
                <profile-documents-block
                    profile="vm.profile"
                    url-favorite-documents="vm.urlFavoriteDocuments"
                    url-all-documents="vm.urlAllDocuments"
                    class="profile-block documents"
                    ng-if="vm.profile.documents && vm.profile.documents.length > 0">
                </profile-documents-block>

                <profile-accomplishments-block
                    profile="vm.profile"
                    url-favorite-accomplishments="vm.urlFavoriteAccomplishments"
                    url-all-accomplishments="vm.urlAllAccomplishments"
                    class="profile-block accomplishments"
                    ng-if="vm.profile.accomplishments && vm.profile.accomplishments.length > 0">
                </profile-accomplishments-block>
            </div>
        </div>
    </div>

    <div
        ng-if="!vm.profile && !vm.loading"
        class="table-responsive">
        <table class="table table-striped table-condensed">
            <tr>
                <td><strong>Name:</strong></td>
                <td>{{vm.user.name}}</td>
            </tr>
            <tr>
                <td><strong>Surname:</strong></td>
                <td>{{vm.user.surname}}</td>
            </tr>
            <tr>
                <td><strong>E&#8209;mail:</strong></td>
                <td><a href="mailto:{{vm.user.username}}" title="Contact {{vm.user.name}}">{{vm.user.username}}</a>
                </td>
            </tr>
            <tr>
                <td><strong>Job Title:</strong></td>
                <td>{{vm.user.jobTitle}}</td>
            </tr>
            <tr ng-if="vm.user.scopusId">
                <td><strong>Scopus:</strong></td>
                <td>
                    <a ng-href="https://www.scopus.com/authid/detail.uri?origin=resultslist&authorId={{vm.user.scopusId}}&zone="
                       target="_blank">
                        View profile
                    </a>
                </td>
            </tr>
            <tr ng-if="vm.user.orcidId">
                <td><strong>ORCID:</strong></td>
                <td>
                    <a ng-href="http://orcid.org/{{vm.user.orcidId}}"
                       target="_blank">
                        View profile
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>