<scientilla-backend-layout>
    <div class="edit-profile">
        <h1>Edit profile</h1>
        <div class="form-group text-danger" role="alert" ng-if="vm.count > 0">
            {{ vm.count > 1 ? 'Please correct the ' + vm.count + ' errors below.' : 'Please correct the error below.' }}
        </div>
        <form>
            <ul class="card-listing">
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="h4">Basic information</h2>

                            <profile-privacy-legend></profile-privacy-legend>

                            <profile-basic-information-form></profile-basic-information-form>

                            <em>The above information has been obtained from HR. If something is incorrect please contact HR.</em>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="h4">Socials</h2>

                            <profile-privacy-legend></profile-privacy-legend>

                            <profile-socials-form
                                profile="vm.profile"
                                errors="vm.errors"></profile-socials-form>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="h4">About me</h2>

                            <profile-privacy-legend></profile-privacy-legend>

                            <profile-about-me-form
                                profile="vm.profile"
                                errors="vm.errors"></profile-about-me-form>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="listing-title">Experiences</h2>

                            <profile-privacy-legend
                                show="vm.profile.experiences.length > 0"></profile-privacy-legend>

                            <ul class="item-listing add-lines" ui-sortable ng-model="vm.profile.experiences">
                                <li ng-repeat="(key, experience) in vm.profile.experiences">
                                    <profile-experience-form
                                        profile="vm.profile"
                                        errors="vm.errors"
                                        experience="experience"
                                        key="key"></profile-experience-form>
                                </li>

                                <li>
                                    <button
                                        class="btn btn-link btn-inline"
                                        ng-click="vm.addItem({
                                            property: vm.profile.experiences
                                        })">
                                        <i class="fas fa-plus fa-left"></i>Add experience
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="listing-title">Education</h2>

                            <profile-privacy-legend
                                show="vm.profile.education.length > 0"></profile-privacy-legend>

                            <ul class="item-listing add-lines" ui-sortable ng-model="vm.profile.education">
                                <li ng-repeat="(key, education) in vm.profile.education">
                                    <profile-education-form
                                        profile="vm.profile"
                                        errors="vm.errors"
                                        education="education"
                                        key="key"></profile-education-form>
                                </li>
                                <li>
                                    <button
                                        class="btn btn-link btn-inline"
                                        ng-click="vm.addItem({
                                            property: vm.profile.education
                                        })">
                                        <i class="fas fa-plus fa-left"></i>Add education
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="listing-title">Certificates</h2>

                            <profile-privacy-legend
                                show="vm.profile.certificates.length > 0"></profile-privacy-legend>

                            <ul class="item-listing add-lines" ui-sortable ng-model="vm.profile.certificates">
                                <li ng-repeat="(key, certificate) in vm.profile.certificates">
                                    <profile-certificate-form
                                        profile="vm.profile"
                                        errors="vm.errors"
                                        key="key"
                                        certificate="certificate"></profile-certificate-form>
                                </li>
                                <li>
                                    <button
                                        class="btn btn-link btn-inline"
                                        ng-click="vm.addItem({
                                            property: vm.profile.certificates
                                        })">
                                        <i class="fas fa-plus fa-left"></i>Add certificate
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="listing-title">Skills</h2>

                            <profile-privacy-legend
                                show="vm.profile.skillCategories.length > 0"></profile-privacy-legend>

                            <ul class="item-listing" ui-sortable ng-model="vm.profile.skillCategories">
                                <li ng-repeat="(categoryKey, category) in vm.profile.skillCategories">
                                    <profile-skill-category-form
                                        profile="vm.profile"
                                        errors="vm.errors"
                                        key="categoryKey"
                                        category="category"></profile-skill-category-form>

                                    <ul class="category-skills" ui-sortable ng-model="category.skills">
                                        <li ng-repeat="(skillKey, skill) in category.skills">
                                            <profile-skill-form
                                                profile="vm.profile"
                                                errors="vm.errors"
                                                category-key="categoryKey"
                                                key="skillKey"
                                                skill="skill"></profile-skill-form>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <button
                                        class="btn btn-link btn-inline"
                                        ng-click="vm.addItem({
                                            property: vm.profile.skillCategories,
                                            item: {skills: []}
                                        })">
                                        <i class="fas fa-plus fa-left"></i>Add category
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="listing-title">Documents</h2>

                            <profile-privacy-legend></profile-privacy-legend>

                            <ul class="enable-listing no-labels">
                                <li class="center">
                                    <em>Documents are been automatically taken from Scientilla, you can choose to hide or show this in your profile here on the Scientilla website and on the IIT website.</em>
                                </li>
                                <li>
                                    <scientilla-privacy-selector
                                        context-string="documents"
                                        model="vm.profile.documents.privacy"></scientilla-privacy-selector>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="listing-title">Accomplishments</h2>

                            <profile-privacy-legend></profile-privacy-legend>

                            <ul class="enable-listing no-labels">
                                <li class="center">
                                    <em>Accomplisments are been automatically taken from Scientilla, you can choose to hide or show this in your profile here on the Scientilla website and on the IIT website.</em>
                                </li>
                                <li>
                                    <scientilla-privacy-selector
                                        context-string="accomplishments"
                                        model="vm.profile.accomplishments.privacy"></scientilla-privacy-selector>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="form-actions">
                <li>
                    <button class="btn btn-primary" ng-click="vm.save()">
                        <i class="fas fa-save fa-left"></i>Save
                    </button>
                </li>
                <li>
                    <button class="btn btn-outline-secondary">
                        <i class="fas fa-eye fa-left"></i>Preview
                    </button>
                </li>
            </ul>
        </form>
    </div>
</scientilla-backend-layout>