<scientilla-backend-layout>
    <div class="users users-browsing">
        <div class="title-container">
            <h1 class="title">People</h1>

            <button ng-if="vm.user.isAdmin()"
                    ng-click="vm.createNew()"
                    class="btn btn-primary btn-add-user">
                Create New User<i class="fas fa-plus fa-right"></i>
            </button>
        </div>

        <scientilla-filter
            category="user"
            on-filter="vm.onFilter"
            elements="vm.users">

            <ul class="user-listing">
                <li ng-repeat="u in vm.users" ng-class="u.cssClass">
                    <img src="{{ u.image }}" alt="{{ u | fullname }}" class="img-fluid">

                    <div class="user-content">
                        <div class="user-fullname">
                            {{ u | fullname }}
                        </div>
                        <div class="job-title">
                             {{ u.jobTitle }}
                        </div>
                        <div
                            class="socials-container"
                            ng-if="u.username || u.socials.length > 0 || u.phone">
                            <ul
                                class="socials">
                                <li ng-if="u.username && u.active">
                                    <a
                                        target="_blank"
                                        href="mailto:{{ u.username }}">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </li>
                                <li ng-if="u.phone && u.active">
                                    <a
                                        target="_blank"
                                        href="tel:{{ u.phone }}">
                                        <i class="fas fa-phone"></i>
                                    </a>
                                </li>
                                <li ng-repeat="(social, url) in u.socials">
                                    <a
                                        target="_blank"
                                        href="{{ url }}">
                                        <i class="{{ vm.socialClass(social) }}"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <ul
                            class="badges"
                            ng-if="!u.active"
                        >
                            <li ng-if="!u.active || u.membership && u.membership.type && !u.membership.isMember">
                                <div>
                                    Former employee
                                </div>
                            </li>
                            <li ng-if="u.membership && u.membership.type && !u.membership.isMember">
                                <div>
                                    {{ u.membership.type.label }}
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="memberships-container">
                        <ul
                            ng-if="u"
                            class="memberships">
                            <li ng-repeat="center in u.centers">
                                <a
                                    title="Center: {{ center.getDisplayName() }}"
                                    ng-href="#{{ center.getProfileUrl() }}">{{ center.getDisplayName() }}</a>
                            </li>
                            <li ng-repeat="group in u.groups">
                                <a
                                    title="{{ group.type }}: {{ group.getDisplayName() }}"
                                    ng-href="#{{ group.getProfileUrl() }}">{{ group.getDisplayName() }}</a>
                            </li>
                            <li ng-repeat="office in u.offices">
                                <div title="Office: {{ office }}">{{ office }}</div>
                            </li>
                        </ul>
                    </div>

                    <div class="dropdown-container">
                        <div class="btn-group"
                             uib-dropdown>
                            <button ng-click="vm.viewUser(u)"
                                    type="button"
                                    class="btn btn-primary">
                                <i class="fas fa-user fa-left"></i>View profile
                            </button>

                            <button ng-if="vm.user.isAdmin()"
                                    type="button"
                                    class="btn btn-primary only-icon"
                                    uib-dropdown-toggle>
                            </button>

                            <div
                                ng-if="vm.user.isAdmin()"
                                uib-dropdown-menu
                                class="right"
                            >
                                <button class="dropdown-item"
                                        ng-click="vm.loginAs(u)"
                                        href="javascript:void(0)">
                                    <i class="fas fa-user fa-left"></i>Login as
                                </button>

                                <button class="dropdown-item"
                                        ng-click="vm.editUser(u)"
                                        href="javascript:void(0)">
                                    <i class="fas fa-edit fa-left"></i>Edit
                                </button>

                                <button class="dropdown-item"
                                        scientilla-click-confirm="Are you sure?"
                                        ng-click="vm.deleteUser(u)"
                                        href="javascript:void(0)">
                                    <i class="fas fa-trash fa-left"></i>Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </scientilla-filter>
    </div>
</scientilla-backend-layout>