<div>
    <h1>{{vm.user.getDisplayName()}}</h1>
    <small>{{vm.user.username}}</small>
</div>
<br/>
<div>
    <uib-tabset active="active">
        <uib-tab index="0">
            <uib-tab-heading>Personal info</uib-tab-heading>

            <table class="table-striped table-condensed">
                <tr>
                    <td>Name:</td>
                    <td>{{vm.user.name}}</td>
                </tr>
                <tr>
                    <td>Surname:</td>
                    <td>{{vm.user.surname}}</td>
                </tr>
                <tr>
                    <td>E&#8209;mail:</td>
                    <td>{{vm.user.username}}</td>
                </tr>
                <tr ng-if="vm.user.scopusId">
                    <td>Scopus</td>
                    <td>
                        <a ng-href="https://www.scopus.com/authid/detail.uri?origin=resultslist&authorId={{vm.user.scopusId}}&zone=" target="_blank" >
                            profile
                        </a>
                    </td>
                </tr>
                <tr ng-if="vm.user.orcidId">
                    <td>ORCID</td>
                    <td>
                        <a ng-href="http://orcid.org/{{vm.user.orcidId}}" target="_blank" >
                            profile
                        </a>
                    </td>
                </tr>
            </table>

        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>Collaborations</uib-tab-heading>
            <h3>Groups</h3>
            <div ng-repeat="c in vm.user.collaborations">
                <a ng-href="{{c.group.link}}">
                    {{c.getDisplayName()}}
                </a>
            </div>
            <div ng-if="vm.user.collaborations.length === 0">No groups</div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>Documents</uib-tab-heading>
            <scientilla-documents-list research-entity="vm.user" editable="true" ></scientilla-documents-list>
        </uib-tab>
    </uib-tabset>
</div>