<div>
    <md-content>
        <md-list>
            <md-subheader class="md-no-sticky">
                <h3>Users</h3>
            </md-subheader>
            <md-button ng-show="vm.user.isAdmin()" ng-href="#/users/new" class="md-primary">Create New User</md-button>
            <md-list-item class="md-2-line contact-item scientilla-main-list" ng-repeat="u in vm.users">
                <md-divider class="top-divider"></md-divider> 
                <div>
                    <h3>{{ u | fullname}}</h3>
                    <i>{{u.username}}</i>
                </div>
                <md-button class="list-elem-button md-icon-button" ng-href="#/users/{{u.id}}" aria-label="Profile"><ng-md-icon icon="book"></ng-md-icon></md-button>
                <md-button class="list-elem-button md-icon-button" ng-show="vm.user.isAdmin()" ng-href="#/users/{{u.id}}/edit" aria-label="Edit"><ng-md-icon icon="edit"></ng-md-icon></md-button>
                <md-button class="list-elem-button md-icon-button" ng-show="vm.user.isAdmin()" ng-click="vm.deleteUser(u)" aria-label="Delete"><ng-md-icon icon="clear"></ng-md-icon></md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>
